<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path class="st0" d="M526,73.1c-1.9,1.7-4.4,2.7-7,2.7c-5.9,0-8.9-5.9-8.9-22.7c0-17.6,3.9-24.2,9.8-24.2c1.4,0,2.7,0.2,4.1,0.5 v-1.7c-4.1-2-8.7-3-13.3-3c-15.8,0-24.8,10.6-24.8,31.9c0,18.9,7.1,29.5,21.1,29.5c2.9,0.1,5.8-0.5,8.4-1.8L525.8,74h0.2l0.6,11H556 v-1.2c-6-3.5-6-8.3-6-11.8V0h-30v1.2c6,3.5,6,8.3,6,11.8V73.1z"/>
        <path class="st0" d="M483.4,47.6c0-17.6-15-22.4-25.5-22.4c-23.9,0-34.1,16.5-34.1,30.7c0,18.8,11.3,30.7,32.5,30.7 c13,0,22.4-7.7,24.8-17.1v-1.2c-3.8,2.4-8.4,4.7-14.8,4.7c-11.5,0-17-8.1-18.1-18l34.5,0.2C483.1,52.7,483.3,50.1,483.4,47.6z M461.9,52.6l-13.7,1.1c-0.1-0.9-0.1-1.9-0.1-2.8c0-16.5,3-24.8,8.9-24.8c5.1,0,6.5,4.4,6.5,12.8C463.5,43.4,463,48,461.9,52.6z"/>
        <path class="st0" d="M404,46V26h-30v1.2c6,3.5,6,8.3,6,11.8v36.6c0,2.4,0,4.7-6,8.3V85h38v-1.2c-8-3.5-8-5.9-8-8.3V47.2 c3.4-0.8,6.8-1.2,10.3-1.2c2.5,0.1,4.9,0.4,7.3,0.8l5.8-20.9c-2.4-0.8-4.9-1.2-7.4-1.2c-3.3-0.1-6.5,0.9-9.1,2.8L404.2,46H404z"/>
        <path class="st0" d="M349,46V26h-30v1.2c6,3.5,6,8.3,6,11.8v36.6c0,2.4,0,4.7-6,8.3V85h38v-1.2c-8-3.5-8-5.9-8-8.3V47.2 c3.4-0.8,6.8-1.2,10.3-1.2c2.5,0.1,4.9,0.4,7.3,0.8l5.8-20.9c-2.4-0.8-4.9-1.2-7.4-1.2c-3.3-0.1-6.5,0.9-9.1,2.8L349.2,46H349z"/>
        <path class="st0" d="M320.4,47.6c0-17.6-15-22.4-25.5-22.4c-23.9,0-34.1,16.5-34.1,30.7c0,18.8,11.3,30.7,32.5,30.7 c13,0,22.4-7.7,24.8-17.1v-1.2c-3.8,2.4-8.4,4.7-14.8,4.7c-11.5,0-17-8.1-18.1-18l34.5,0.2C320.1,52.7,320.3,50.1,320.4,47.6z M298.4,52.6l-13.7,1.1c-0.1-0.9-0.1-1.9-0.1-2.8c0-16.5,3-24.8,8.9-24.8c5.1,0,6.5,4.4,6.5,12.8C299.9,43.4,299.4,48,298.4,52.6 L298.4,52.6z"/>
        <path class="st0" d="M218,39V0h-29v1.2c6,3.5,6,8.3,6,11.8v62.6c0,2.4,0,4.7-6,8.3V85h35v-1.2c-6-3.5-6-5.9-6-8.3V40.2 c2.4-1.5,5.3-2.4,8.2-2.3c4.7,0,5.8,2.3,5.8,6.4v31.3c0.1,3.3-1.4,6.4-4,8.3V85h34v-1.2c-6-3.5-6-5.9-6-8.3v-33 c0-11.8-6.5-17.7-17.2-17.7c-3.6,0.1-7,1-10.1,2.8L218.2,39H218z"/>
        <path class="st0" d="M143,39V26h-30v1.2c6,3.5,6,8.3,6,11.8v36.6c0,2.4,0,4.7-6,8.3V85h36v-1.2c-6-3.5-6-5.9-6-8.3V40.2 c2.4-1.5,5.3-2.4,8.2-2.3c4.7,0,5.8,2.3,5.8,6.4v31.3c0,2.4,0,4.7-5,8.3V85h35v-1.2c-6-3.5-6-5.9-6-8.3v-33 c0-11.8-6.5-17.7-17.2-17.7c-3.6,0.1-7,1-10.1,2.8L143.2,39H143z"/>
        <path class="st0" d="M67,39V26H38v1.2c6,3.5,6,8.3,6,11.8v36.6c0,2.4,0,4.7-6,8.3V85h35v-1.2c-6-3.5-6-5.9-6-8.3V40.2 c2.4-1.5,5.3-2.4,8.2-2.3c4.7,0,5.8,2.3,5.8,6.4v31.3c0,2.4,0,4.7-5,8.3V85h35v-1.2c-6-3.5-6-5.9-6-8.3v-33 c0-11.8-6.5-17.7-17.2-17.7c-3.6,0.1-7,1-10.1,2.8L67.2,39H67z"/>
        <path class="st0" d="M31,9.4c0-2.4,0-4.7,6-8.3V0H0v1.2c6,3.5,6,5.9,6,8.3v66.1c0,2.4,0,4.7-6,8.3V85h37v-1.2c-6-3.5-6-5.9-6-8.3 V9.4z"/>
    </symbol>
</svg>
