<svg style="display:none;">
	<symbol id="ygg-logo">
		<style>
			.st0 { fill: #ffffff; }
		</style>

		<path class="st0" d="M65.4,18.5V0H0v18.5h1.1C14.2,2.2,15.9,1.1,20.2,1.1h1.1v68.7c0,2.2,0,4.4-5.4,7.6v1.1h33.8v-1.1 c-5.5-3.3-5.5-5.4-5.5-7.6V1.1h1.1c4.3,0,6,1.1,19.1,17.4H65.4L65.4,18.5z"/>
		<path class="st0" d="M82.3,42.5V24H55v1.1c5.5,3.3,5.5,7.6,5.5,10.9v33.8c0,2.2,0,4.4-5.5,7.6v1.1h34.9v-1.1 c-7.6-3.3-7.6-5.4-7.6-7.6V43.6c3.1-0.7,5.4-1.1,9.8-1.1c2.3,0,6,0.5,7,0.8l5.6-19.3c-1.6-0.7-4.9-1.1-7.1-1.1 c-3.4,0-6.1,0.9-8.7,2.6l-6.3,17H82.3L82.3,42.5z"/>
		<path class="st0" d="M148,25.9l3.5-5.2h-1.2l-3.2,4.9c-4.1-1.7-9.2-2.7-14.7-2.7c-19.4,0-30.5,11.2-30.5,28.3 c0,10.8,4.5,19.3,12.5,24l-4.3,6.5h1.1l4-6.1c4.6,2.5,10.4,3.9,17.1,3.9c19.4,0,30.5-11.2,30.5-28.3C163,39.5,157.7,30.4,148,25.9z M124.3,51.2c0-21.6,1.9-27.3,8.2-27.3c4.5,0,6.8,2.8,7.6,12.3l-15.7,23.9C124.3,57.4,124.3,54.5,124.3,51.2z M132.4,78.5 c-5.1,0-7.3-4.4-8-16.8l15.7-23.9c0.3,3.6,0.4,8,0.4,13.4C140.6,71.7,138.8,78.5,132.4,78.5z"/>
		<path class="st0" d="M189.7,36V24h-27.3v1.1c5.4,3.3,5.4,7.6,5.4,10.9v33.8c0,2.2,0,4.4-5.4,7.6v1.1h32.7v-1.1 c-5.4-3.3-5.4-5.4-5.4-7.6V37.1c2-1.2,4.4-2.2,7.6-2.2c4.4,0,5.4,2.2,5.4,6v28.9c0,2.2,0,4.4-4.4,7.6v1.1H230v-1.1 c-5.4-3.3-5.4-5.4-5.4-7.6V39.2c0-10.9-6-16.4-15.8-16.4c-3.9,0-7.2,1.4-9.3,2.6L189.9,36H189.7L189.7,36z"/>
		<path class="st0" d="M265.4,67.5c-2.2,1.6-4,2.5-6.5,2.5c-5.5,0-8.2-5.5-8.2-20.9c0-16.2,3.6-22.3,9-22.3c1.5,0,2.6,0.2,3.5,0.4 v-1.5c-3.2-1.6-7.1-2.7-12-2.7c-14.6,0-22.9,9.8-22.9,29.4c0,17.4,6.5,27.3,19.5,27.3c3.9,0,6.2-0.9,7.7-1.6l9.6-9.3h0.2l0.5,9.8 h26.7v-1.1c-5.4-3.3-5.4-7.6-5.4-10.9V0H260v1.1c5.4,3.3,5.4,7.6,5.4,10.9V67.5L265.4,67.5z"/>
		<path class="st0" d="M345,43.6c0-16.2-13.8-20.7-23.5-20.7c-22,0-31.5,15.3-31.5,28.3c0,17.3,10.5,28.3,30,28.3 c12,0,20.7-7.1,22.9-15.8v-1.1c-3.5,2.2-7.7,4.4-13.6,4.4c-10.6,0-15.7-7.5-16.7-16.6l31.8,0.2C344.8,48.1,345,45.7,345,43.6z M325,48.5l-12.6,1c-0.1-0.9-0.1-1.7-0.1-2.6c0-15.3,2.7-22.9,8.2-22.9c4.7,0,6,4,6,11.8C326.5,40.8,325.9,45,325,48.5z"/>
		<path class="st0" d="M370.6,42.5V24h-27.3v1.1c5.5,3.3,5.5,7.6,5.5,10.9v33.8c0,2.2,0,4.4-5.5,7.6v1.1h34.9v-1.1 c-7.6-3.3-7.6-5.4-7.6-7.6V43.6c3.1-0.7,5.5-1.1,9.8-1.1c2.3,0,6,0.5,7,0.8l5.6-19.3c-1.6-0.7-4.9-1.1-7.1-1.1 c-3.4,0-6.1,0.9-8.7,2.6l-6.3,17H370.6L370.6,42.5z"/>
		<path class="st0" d="M435,22.9c-3.9,0-6.2,0.9-7.7,1.6l-9.6,9.3h-0.2V0h-27.2v1.1c5.5,3.3,5.5,7.6,5.5,10.9v67.6h1.1l20.7-3.8 c3.6,2.1,8.1,3.8,14.2,3.8c14.6,0,22.9-9.8,22.9-29.4C454.5,32.7,448,22.9,435,22.9z M423.1,75.8c-2.7,0-3.8-0.5-5.7-1.2V35 c2.2-1.6,4-2.5,6.5-2.5c5.4,0,8.2,5.4,8.2,20.9C432.2,69.7,428.6,75.8,423.1,75.8z"/>
		<path class="st0" d="M480.1,0h-27.2v1.1c5.4,3.3,5.4,7.6,5.4,10.9v57.8c0,2.2,0,4.4-5.4,7.6v1.1h32.7v-1.1c-5.5-3.3-5.5-5.4-5.5-7.6 V0L480.1,0z"/>
		<path class="st0" d="M538.5,69.8v-24c0.7-15.2-4.4-22.9-26.2-22.9c-9.8,0-18.1,2.5-22.9,4.4L487.2,42l0.5,0.5c8-3.1,14-4.4,20.2-4.4 c7.5,0,8.7,2.4,8.7,6.5v2.2l-17.8,3.8c-13,2.8-14.9,9.4-14.9,15.8c0,8.7,7,13.1,15.3,13.1c5.3,0,9-1.4,10.8-2.6l6.4-7.6h0.2l0.5,9.2 h26.7v-1.1C538.5,74.1,538.5,71.9,538.5,69.8z M516.7,68.2c-1.3,0.8-2.5,1.5-4.7,1.5c-4,0-6.2-3.4-6.2-8.7c0-5.6,1.7-8.8,6-10.8 l4.9-2.3V68.2z"/>
		<path class="st0" d="M580.4,67.5c-2.2,1.6-4,2.5-6.5,2.5c-5.5,0-8.2-5.5-8.2-20.9c0-16.2,3.6-22.3,9-22.3c1.5,0,2.6,0.2,3.5,0.4 v-1.5c-3.2-1.6-7.1-2.7-12-2.7c-14.6,0-22.9,9.8-22.9,29.4c0,17.4,6.5,27.3,19.5,27.3c3.9,0,6.2-0.9,7.7-1.6l9.6-9.3h0.2l0.5,9.8 h26.7v-1.1c-5.5-3.3-5.5-7.6-5.5-10.9V0H575v1.1c5.5,3.3,5.5,7.6,5.5,10.9V67.5L580.4,67.5z"/>
		<path class="st0" d="M660,43.6c0-16.2-13.8-20.7-23.5-20.7c-22,0-31.5,15.3-31.5,28.3c0,17.3,10.5,28.3,30,28.3 c12,0,20.7-7.1,22.9-15.8v-1.1c-3.5,2.2-7.7,4.4-13.6,4.4c-10.6,0-15.7-7.5-16.7-16.6l31.8,0.2C659.8,48.1,660,45.7,660,43.6z M640,48.5l-12.6,1c-0.1-0.9-0.1-1.7-0.1-2.6c0-15.3,2.7-22.9,8.2-22.9c4.7,0,6,4,6,11.8C641.5,40.8,640.9,45,640,48.5z"/>
		<path class="st0" d="M686,25.1h10.5V24H686V13.1h-1.1l-20.7,9.8l-4.8,1.1v1.1h4.8v41.4c0,9.3,5,13.1,13.7,13.1 c5.8,0,13.1-1.6,18.5-4.4v-1.1c-7.4,0.2-10.5-0.3-10.5-7.6V25.1L686,25.1z"/>
	</symbol>
</svg>
