<svg style="display:none;">
	<symbol id="ygg-logo">
		<style>
			/* 0 0 334.45 96.85 */
			.st0 {
			fill: #282525;
			}
			.st1 {
			fill: #ffffff;
			stroke: #282525;
			}
		</style>

		<polygon class="st0" points="266.72,4.16 240.13,4.16 230.79,55.3 221.46,4.09 193.94,4.09 217.01,96.8 244.59,96.8 "/>
		<path class="st0" d="M0.03,4.11h52.86c0,0,16.14-0.04,16.22,15.96c0.08,16.01,0.08,60.41,0.08,60.41s-0.11,16.37-16.33,16.37 C38.12,96.85,0,96.81,0,96.81L0.03,4.11z M26.88,89.94c0,0,1.51,0.05,8.32,0.03c6.73-0.02,6.89-6.79,6.89-6.79 s-0.08-58.55-0.06-65.54c0.02-6.99-6.76-6.72-6.76-6.72l-8.39-0.03V89.94z"/>
		<path class="st0" d="M108.53,10.8l8.72,0.02c0,0,6.76-0.01,6.78,6.88c0.03,6.89,0.05,18.72,0.05,18.72s0.06,6.74-6.88,6.74 c-6.91,0-8.68,0.02-8.68,0.02V10.8z M149.76,19.92c0-15.83-16.22-15.81-16.22-15.81H82.38l-0.19,92.73h26.35V50.41 c0,0,6.78-0.01,10.34,0.02c4.55,0.03,5.24,4.19,5.24,4.19l9.38,42.2h27.09c0,0-8.86-39.12-9.69-42.29 c-2.01-7.72-9.67-8.17-9.67-8.17l-0.05-0.06c0.01,0.01,8.61,0.31,8.71-12.92C149.94,29.15,149.76,30.8,149.76,19.92z"/>
		<path class="st0" d="M189.59,19.67c0-9.13-7.4-16.54-16.54-16.54c-9.13,0-16.54,7.4-16.54,16.54c0,9.13,7.4,16.54,16.54,16.54 C182.19,36.2,189.59,28.8,189.59,19.67z"/>
		<path class="st0" d="M188.05,38.16l14.14,58.67H175.6l-13.26-55.5c0,0,7.67,4.06,14.45,2.83C183.82,42.89,188.05,38.16,188.05,38.16 z"/>
		<path class="st0" d="M302.68,96.83h27.53L307.12,4.13h-27.58l-22.13,92.64h26.59l2.81-15.38h13.05L302.68,96.83z M288.15,74.06 l5.19-28.44l5.18,28.44H288.15z"/>
		<polygon class="st1" points="270.33,1.53 243.73,1.53 234.4,52.68 225.06,1.46 197.54,1.46 220.62,94.17 248.2,94.17 "/>
		<path class="st1" d="M3.63,1.48H56.5c0,0,16.14-0.04,16.22,15.96c0.08,16.01,0.08,60.41,0.08,60.41s-0.11,16.37-16.33,16.37 c-14.73,0-52.86-0.05-52.86-0.05L3.63,1.48z M30.48,87.31c0,0,1.51,0.05,8.32,0.03c6.73-0.02,6.89-6.79,6.89-6.79 S45.62,22,45.64,15.01c0.02-6.99-6.76-6.72-6.76-6.72l-8.39-0.03V87.31z"/>
		<path class="st1" d="M112.14,8.18l8.72,0.02c0,0,6.76-0.01,6.78,6.88c0.03,6.89,0.05,18.72,0.05,18.72s0.06,6.74-6.88,6.74 c-6.91,0-8.68,0.02-8.68,0.02V8.18z M153.36,17.29c0-15.83-16.22-15.81-16.22-15.81H85.99L85.8,94.21h26.35V47.78 c0,0,6.78-0.01,10.34,0.02c4.55,0.03,5.24,4.19,5.24,4.19l9.38,42.2h27.09c0,0-8.86-39.12-9.69-42.29 c-2.01-7.72-9.67-8.17-9.67-8.17l-0.05-0.06c0.01,0.01,8.61,0.31,8.71-12.92C153.54,26.52,153.36,28.17,153.36,17.29z"/>
		<path class="st1" d="M193.19,17.04c0-9.13-7.4-16.54-16.54-16.54c-9.13,0-16.54,7.4-16.54,16.54c0,9.13,7.4,16.54,16.54,16.54 C185.79,33.57,193.19,26.17,193.19,17.04z"/>
		<path class="st1" d="M191.66,35.53L205.8,94.2h-26.59l-13.26-55.5c0,0,7.67,4.06,14.45,2.83 C187.43,40.26,191.66,35.53,191.66,35.53z"/>
		<path class="st1" d="M306.28,94.21h27.52L310.73,1.5h-27.58l-22.13,92.63h26.59l2.81-15.38h13.04L306.28,94.21z M291.76,71.43 l5.19-28.44l5.18,28.44H291.76z"/>
	</symbol>
</svg>
