<svg style="display:none;">
	<symbol id="ygg-logo">
		<style type="text/css">
			.st0 { fill: #ffffff; }
		</style>

		<path class="st0" d="M67,51.7c0-3.1,0-7.2-2.7-7.2c-1.3,0-2.5,0.4-2.9,0.5v-2.6c6.7-2.2,11.4-3,16.1-3.2v5.2c2.2-2,6.5-5.2,14.1-5.2 c8,0,13.5,3.8,13.5,15.9v17.6c0,4.7,0.4,5.7,3.7,6l1.9,0.2v2.3H88.9V79l1.9-0.2c3.2-0.3,3.7-1.3,3.7-6V60.1c0-7.1,0-15.6-9.3-15.6 c-3.7,0-6,1.9-7.4,3.4v25c0,4.7,0.4,5.7,3.7,6l1.9,0.2v2.3H61.6V79l1.9-0.2c3-0.3,3.5-1.3,3.5-6V51.7z"/>
		<path class="st0" d="M143.4,32.5c0-7.9,0-11.4-3-11.4c-1.1,0-2.1,0.2-2.5,0.2V19c7.4-1.5,11.4-2.1,16.3-2.1v50.3c0,7.2,0,8.9,4,9.2 h1.9l0.3,2.4c-4.5,1.8-9.4,2.9-14.1,3.8l-2.3-4.1c-2.2,1.3-6.5,4.1-12.3,4.1c-9.9,0-19.8-6.3-19.8-19.9c0-20.5,18.2-23.4,25.7-23.4 c2.6,0,4.2,0.3,5.9,0.5V32.5z M143.4,45.8c-1.7-1.5-3.4-3.1-7.7-3.1c-7.9,0-12.4,6.7-12.4,15.7c0,12.1,7.8,19,14.9,19 c2.3,0,4.2-0.8,5.2-1.6V45.8z"/>
		<path class="st0" d="M203,80.4c-1.2,0.6-3.8,2.2-7.7,2.2c-5.7,0-7.3-2.3-8.8-4.6c-2.5,1.8-6.2,4.6-12.4,4.6c-7,0-11.7-4-11.7-9.7 c0-11.3,15.7-14.3,23.2-16.3v-2.1c0-5.3-1.4-10-7.8-10c-6.9,0-9.5,6.2-10.6,8.9h-0.9c-1.3-1.7-1.7-2.4-2.4-4.6 c4-4.4,10.2-9.5,19.2-9.5c11.3,0,13.2,5.8,13.2,16v11c0,6.4,0,13.1,5.7,13.1c0.3,0,0.4,0,0.7-0.1L203,80.4z M185.5,60.7 c-0.4,0-0.6-0.1-1-0.1c-5.1,0-10.7,2.7-10.7,9.3c0,4.3,2.6,7.5,6.6,7.5c3,0,4.7-1.6,5.5-2.1c-0.1-0.9-0.4-3.1-0.4-4.8V60.7z"/>
		<path class="st0" d="M203.9,79l1.9-0.2c3.2-0.4,3.7-1.3,3.7-6V32.5c0-7.9,0-11.4-3-11.4c-1.1,0-2.1,0.2-2.5,0.2V19 c7.4-1.5,11.4-2.1,16.3-2.1v55.9c0,4.7,0.4,5.6,3.7,6l1.9,0.2v2.3h-21.8V79z"/>
		<path class="st0" d="M254,52.9c-0.3-3-2.2-10.2-8.9-10.2c-2.8,0-5,2.4-5,5.5c0,9.4,20.1,7.9,20.1,21.6c0,6.9-4.9,12.9-17,12.9 c-5.3,0-9.1-1.2-12.3-2.8c-0.9-3.6-1.6-7.3-1.6-12.7h3.6c0.5,4.9,4.6,12.1,11.3,12.1c3.8,0,5.9-2.7,5.9-5.9c0-10.6-20.1-8-20.1-22.4 c0-0.7,0-11.7,15.9-11.7c4.7,0,8.6,1.3,10.7,2.5c0.9,3.5,1,7.4,1,11.1H254z"/>
		<path class="st0" d="M21,8.5C21,3,25.3,0,30,0c5,0,9,2.9,9,8.5c0,4.6-4.4,8.2-9,8.2C25.4,16.7,21,13.1,21,8.5z M30,13.7 c3.3,0,4.6-2.8,4.6-5.1C34.5,5.5,33.3,3,30,3c-3.3,0-4.5,2.4-4.5,5.5C25.5,10.9,26.7,13.7,30,13.7z M0,79l2.2-0.5 c2.1-0.6,3.3-1.7,5.8-7.9l19.1-48.3c2.2-0.7,3.6-0.9,5.4-1.1l19,50.4c1.4,3.8,2.5,6.2,5.6,6.9l2.2,0.4v2.3H34.1V79l3.6-0.5 c1.8-0.3,3-0.8,3-2.1c0-0.9-0.3-1.8-0.7-3l-4.9-13.5c-2-0.7-6.3-1.1-8.9-1.1c-2.1,0-6.7,0.4-8.4,1.2l-3.5,9.7 c-1,2.8-1.8,5.7-1.8,6.3c0,1.3,0.8,1.8,2.3,2.1l4.8,0.9v2.3H0V79z M18.9,55.9c2.2-0.4,5.4-0.5,7.3-0.5c1.9,0,5,0.2,7.5,0.4 l-7.4-20.6h-0.2L18.9,55.9z"/>
		<path class="st0" d="M268.6,51.7c0-3.1,0-7.2-2.7-7.2c-1.3,0-2.5,0.4-2.9,0.5v-2.6c6.7-2.2,11.4-3,16.1-3.2v5.2 c2.2-2,6.5-5.2,14.1-5.2c8,0,13.5,3.8,13.5,15.9v17.6c0,4.7,0.4,5.7,3.7,6l1.9,0.2v2.3h-21.8V79l1.9-0.2c3.2-0.3,3.7-1.3,3.7-6V60.1 c0-7.1,0-15.6-9.3-15.6c-3.7,0-6,1.9-7.4,3.4v25c0,4.7,0.4,5.7,3.7,6l1.9,0.2v2.3h-21.6V79l1.9-0.2c3-0.3,3.5-1.3,3.5-6V51.7z"/>
		<path class="st0" d="M350.3,76.9c-2.3,1.9-8,5.7-17,5.7c-10.6,0-20.9-6.7-20.9-21.1c0-14.2,10.3-22.3,20.5-22.3 c14.4,0,16.7,9.4,17.7,14.6c-7.7,3.6-17.6,6.4-26.9,8.6c1,5.4,3.7,15,15.9,15c4.8,0,8.6-2,9.8-2.6L350.3,76.9z M339.8,54.4 c-0.6-6.4-3.3-11.7-8.9-11.7c-7.8,0-7.8,14-7.8,15.6C328.7,57.3,334.3,56.2,339.8,54.4z"/>
		<path class="st0" d="M377.7,52.9c-0.3-3-2.2-10.2-8.9-10.2c-2.8,0-5,2.4-5,5.5c0,9.4,20.1,7.9,20.1,21.6c0,6.9-4.9,12.9-17,12.9 c-5.3,0-9.1-1.2-12.3-2.8c-0.9-3.6-1.6-7.3-1.6-12.7h3.6c0.5,4.9,4.6,12.1,11.3,12.1c3.8,0,5.9-2.7,5.9-5.9c0-10.6-20.1-8-20.1-22.4 c0-0.7,0-11.7,15.9-11.7c4.7,0,8.6,1.3,10.7,2.5c0.9,3.5,1,7.4,1,11.1H377.7z"/>
		<path class="st0" d="M396.6,79l2.2-0.5c2.1-0.6,3.3-1.7,5.8-7.9l19.1-48.3c2.2-0.7,3.6-0.9,5.4-1.1l19,50.4c1.4,3.8,2.5,6.2,5.6,6.9 L456,79v2.3h-25.3V79l3.6-0.5c1.8-0.3,3-0.8,3-2.1c0-0.9-0.3-1.8-0.7-3l-4.9-13.5c-2-0.7-6.3-1.1-8.9-1.1c-2.1,0-6.7,0.4-8.4,1.2 l-3.5,9.7c-1,2.8-1.8,5.7-1.8,6.3c0,1.3,0.8,1.8,2.3,2.1l4.8,0.9v2.3h-19.6V79z M415.5,55.9c2.2-0.4,5.4-0.5,7.3-0.5 c1.9,0,5,0.2,7.5,0.4l-7.4-20.6h-0.2L415.5,55.9z"/>
		<path class="st0" d="M452,48.1c-1.7-4.1-2.3-3.7-4.7-4.7l-1.7-0.5v-2.3h23.9v2.3l-3.7,0.7c-1.4,0.4-2.8,0.4-2.8,1.5 c0,1,0.5,2.1,0.8,3l8.7,22.6l8-22c0.5-1.4,0.9-3,0.9-3.8c0-1-1.3-1.1-2.8-1.4l-3.7-0.7v-2.3h17.8v2.3l-1.7,0.5 c-2.3,0.8-3,0.5-4.7,4.7l-14.1,32.6c-1.7,1.1-3,1.5-5.5,1.9L452,48.1z"/>
		<path class="st0" d="M492.2,79l1.9-0.2c3.2-0.4,3.7-1.3,3.7-6V51.7c0-3.1,0-7.2-2.7-7.2c-1.3,0-2.5,0.4-2.9,0.5v-2.6 c6.7-2.2,11.6-3,16.3-3.2v33.5c0,4.7,0.4,5.6,3.7,6L514,79v2.3h-21.8V79z M496.2,25.5c0-3.4,2.7-6.2,6.3-6.2c3.4,0,6.3,2.8,6.3,6.2 c0,3.8-2.9,6.3-6.3,6.3C498.9,31.8,496.2,29.2,496.2,25.5z"/>
		<path class="st0" d="M542.7,52.9c-0.3-3-2.2-10.2-8.9-10.2c-2.8,0-5,2.4-5,5.5c0,9.4,20.1,7.9,20.1,21.6c0,6.9-4.9,12.9-17,12.9 c-5.3,0-9.1-1.2-12.3-2.8c-0.9-3.6-1.6-7.3-1.6-12.7h3.6c0.5,4.9,4.6,12.1,11.3,12.1c3.8,0,5.9-2.7,5.9-5.9c0-10.6-20.1-8-20.1-22.4 c0-0.7,0-11.7,15.9-11.7c4.7,0,8.6,1.3,10.7,2.5c0.9,3.5,1,7.4,1,11.1H542.7z"/>
	</symbol>
</svg>
