// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #1b71ae,
	);

// Local settings
$pub-settings: (
	ygg-fonts-enabled: false,
	);

// Local article heading overrides
$pub-headings: (
	mobile:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	desktop:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	);

// Local fonts
$pub-fonts: (
	headline: #{"Droid Serif", serif},
	copy:     #{"Droid Serif", serif},
	);


// Local teaser styles
$pub-teasers:(
	"rbnettMfk":(
		background:       #15629f,
		header:           scale-color(#15629f, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettJul":(
		background:       #9f1f15,
		header:           scale-color(#9f1f15, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettAktiv":(
		background:       #e97300,
		header:           scale-color(#e97300, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettForbruker":(
		background:       #40742d,
		header:           scale-color(#40742d, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettMote":(
		background:       #9e63e0,
		header:           scale-color(#9e63e0, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettGull":(
		// background:       linear-gradient(#ffd537, #d6b32b),
		background:       url("https://static.polarismedia.no/skins/prod/publication/rbnett/gfx/gold-texture-3-prod.jpg") no-repeat center center,
		header: 		  #b98e44,
		background-size:  cover,
		header-text:      rgb(70, 67, 67),
		headline:         #000,
		kicker:           #fff,
		),
	"rbnettKultur":(
		background:       #4688a3,
		header:           scale-color(#4688a3, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"rbnettSommer":(
		background:       #ffde00,
		header:           scale-color(#ffde00, $lightness: -10%),
		header-text:      #000,
		headline:         #000,
		kicker:           #000,
		lead:             #000,
		),
	"nvfarge":(
		background:       #23a599,
		header:           scale-color(#23a599, $lightness: -10%),
		header-text:      #000,
		headline:         #000,
		kicker:           #000,
		lead:             #000,
		),
	);

	.headline span.stikktittel {
		&::before {
			content: "SISTE:";
			background: #f90002;
			color: #FFF;
			margin-right: 5px;
			text-transform: uppercase;
		}
	}

	.headline span.naa {
		&::before {
			content: "NÅ:";
			background: #FFF;
			color: #f90002;
			margin-right: 0.5em;
			text-transform: uppercase;
		}
	}