<svg style="display:none;">
    <symbol id="ygg-logo">
        <style>
            /* 0 0 96.4 20.4 */
            .st0 { fill: #c9252c; }
            .st1 { fill: #ffffff; }
        </style>

        <rect class="st0" width="6.8" height="4.9"/>
        <rect y="6.1" class="st0" width="6.8" height="13.5"/>
        <path class="st1" d="M48,7.7c-1.1-1.2-2.8-1.9-4.9-1.9c-2.1,0-3.8,0.7-4.9,1.9c-1.1,1.2-1.7,2.8-1.7,4.7c0,1.9,0.6,3.5,1.7,4.7 c1.1,1.2,2.8,1.9,4.9,1.9h0c2.1,0,3.8-0.7,4.9-1.9c1.1-1.2,1.7-2.8,1.7-4.7C49.7,10.5,49.1,8.9,48,7.7z M44.9,15.1 c-0.4,0.7-0.9,1.1-1.8,1.1c-0.9,0-1.4-0.4-1.8-1.1c-0.4-0.7-0.5-1.7-0.5-2.8c0-1.1,0.1-2.1,0.5-2.8c0.4-0.7,0.9-1.1,1.8-1.1 c0.9,0,1.4,0.4,1.8,1.1c0.4,0.7,0.5,1.7,0.5,2.8C45.4,13.4,45.2,14.4,44.9,15.1z"/>
        <path class="st1" d="M36.6,6c0-0.1-0.1-0.1-0.2-0.1c-0.4,0-1.1-0.1-1.7-0.1c-2.7,0-4.5,0.3-6,0.9c-0.1,0-0.1,0.1-0.1,0.2v11.5 c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h3.8c0.1,0,0.1,0,0.2-0.1c0,0,0.1-0.1,0.1-0.2V8.6c0.3-0.1,0.7-0.2,1.1-0.1 c0.6,0,1.2,0.1,1.7,0.3c0.1,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.1-0.1l0.7-2.3C36.7,6.2,36.7,6.1,36.6,6"/>
        <path class="st1" d="M94.6,7.6L95.8,6c0.1-0.1,0.1-0.2,0-0.3l-0.7-0.6C95,5,95,5,94.9,5c-0.1,0-0.1,0-0.2,0.1l-1.3,1.6 c-1-0.6-2.2-0.9-3.7-0.9c-2.1,0-3.8,0.7-4.9,1.9c-1.1,1.2-1.7,2.8-1.7,4.7c0,2,0.6,3.7,1.8,4.8l-1.3,1.6c-0.1,0.1-0.1,0.2,0,0.3 l0.7,0.6c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c0.1,0,0.1,0,0.2-0.1l1.3-1.6c1,0.6,2.2,0.9,3.7,0.9c2.1,0,3.8-0.7,4.9-1.9 c1.1-1.2,1.7-2.8,1.7-4.7C96.4,10.4,95.8,8.8,94.6,7.6z M87.2,12.4c0-1.2,0.2-2.2,0.6-3c0.4-0.8,1-1.2,2-1.2 c0.8,0,1.4,0.3,1.8,0.9l-4.2,5.2C87.3,13.7,87.2,13,87.2,12.4z M91.8,15.3c-0.4,0.7-1,1.2-2,1.2c-0.8,0-1.3-0.3-1.7-0.7l4.2-5.2 c0.1,0.6,0.2,1.2,0.2,1.8C92.4,13.5,92.2,14.6,91.8,15.3z"/>
        <path class="st1" d="M81.4,12.6c-0.8-0.8-2-1.1-3-1.5c-0.5-0.2-0.9-0.4-1.2-0.6c-0.3-0.2-0.4-0.5-0.4-0.8c0-0.3,0.1-0.6,0.4-0.8 c0.3-0.2,0.7-0.4,1.3-0.4c0.9,0,1.8,0.4,2.2,0.6c0.1,0,0.1,0,0.2,0C81,9.1,81,9,81.1,9L82,7.1c0.1-0.1,0-0.2-0.1-0.3 c-1.1-0.6-2.4-0.9-4.2-0.9c-1.5,0-2.8,0.5-3.6,1.2c-0.9,0.7-1.4,1.7-1.4,2.8c0,1,0.4,1.7,0.9,2.2c0.8,0.8,2,1.1,2.9,1.4 c0.5,0.2,0.9,0.4,1.1,0.6c0.3,0.2,0.4,0.5,0.4,0.9c0,0.3-0.2,0.6-0.5,0.9c-0.3,0.2-0.8,0.4-1.3,0.4c-1,0-2.1-0.4-2.6-0.7 c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0.1-0.1,0.1l-0.9,2.1c0,0.1,0,0.2,0.1,0.3c0.9,0.5,2.5,0.9,4.3,0.9c1.7,0,3.1-0.5,4.1-1.2 c1-0.7,1.6-1.8,1.6-2.9C82.4,13.8,82,13.1,81.4,12.6"/>
        <path class="st1" d="M69.9,7c-0.9-0.7-2.2-1.2-3.9-1.2c-2.2,0-3.6,0.5-4.6,1.2c-0.9-0.7-2.2-1.2-4.5-1.2c-2.3,0-4.2,0.3-5.7,0.9 C51.1,6.8,51,6.9,51,7v11.5c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1H55c0.1,0,0.1,0,0.2-0.1c0,0,0.1-0.1,0.1-0.2V8.6 c0.4-0.1,0.9-0.2,1.6-0.2c0.7,0,1.3,0.2,1.6,0.4c0.3,0.3,0.5,0.6,0.5,1v8.5c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1H63 c0.1,0,0.1,0,0.2-0.1c0,0,0.1-0.1,0.1-0.2V8.9c0.5-0.3,1.1-0.6,1.8-0.6c0.7,0,1.2,0.2,1.5,0.5C66.8,9.1,67,9.5,67,9.9v8.5 c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1H71c0.1,0,0.1,0,0.2-0.1c0,0,0.1-0.1,0.1-0.2V9.9C71.2,8.8,70.8,7.8,69.9,7"/>
        <path class="st1" d="M28,0.1H10.9c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0,0,0.1l0,0.1c0,0,0,0.1,0,0L11.8,6c0,0,0,0,0,0c0,0,0,0,0,0 l0.1,0.2c0.1,0.2,0.3,0.3,0.5,0.3c0.1,0,0.2,0,0.3-0.1c0,0,0,0,0,0c1-0.8,2.2-1.5,3.6-1.9c0.1,0,0.3,0.1,0.3,0.3 c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0.1,0c-2.1,1.6-3.6,4-3.9,6.8c-0.5,4.8,2.7,8.7,7.2,8.7c1.9,0,3.6-0.7,5.1-1.8c1-1,1.6-2.5,1.6-4 c0-0.4,0-0.8-0.1-1.2c0,0,0,0,0,0c-0.1-0.2-0.3-0.4-0.5-0.4c-0.1,0-0.3,0.1-0.4,0.2c0,0,0,0,0,0c-1.1,1.2-2.7,2-4.3,2 c-3,0-5.1-2.5-4.7-5.7c0.2-2,1.4-3.8,3-4.8c0.6-0.3,1.6-0.6,2.3-0.6c1.2,0,2.4,0.6,3.4,1.1c0.1,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0.1 c0,0,0.1,0,0.1,0c0.2,0,0.3-0.1,0.4-0.2c0,0,0,0,0,0l2.6-4.6c0,0,0-0.1,0-0.2C28.6,0.3,28.3,0.1,28,0.1"/>
    </symbol>
</svg>
