@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Thin-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Thin-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Thin-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Thin-Web.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Light-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Light-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Light-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Light-Web.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Regular-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Regular-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Regular-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Regular-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Regular-Web.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Medium-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Medium-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Medium-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Medium-Web.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Bold-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Bold-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Bold-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Bold-Web.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Black-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Black-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Black-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Black-Web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: GuardianSans;
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Ultra-Web.eot");
    src: url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Ultra-Web.eot?#iefix") format("embedded-opentype"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Ultra-Web.eot?#iefix") format("eot"),url("https://static.polarismedia.no/skins/prod/publication/tronderavisa/gfx/fonts/GuardianSans-Ultra-Web.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
}
