// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #0071bc,
	);

// Local settings
$pub-settings: (
	ygg-fonts-enabled: false,
	ygg-lead-front-enabled: true,
	ygg-lead-section-enabled: true
	);

// Local article heading overrides
$pub-headings: (
	mobile:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	desktop:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	);

// Local fonts
$pub-fonts: (
	headline: #{GuardianSans, serif},
	copy:     #{Georgia, "Times New Roman", Times, serif},
	);

// Override of pluss-badge vs different font - Because of the use of GuardianSans the plus sign doesnt align with the text.

.payed .headline>span[class^=t]:after {
	@include only(mobile) {
	margin-top: -4px;
	}
}
