<!-- 0 0 268.88 161.08 -->
<svg style="display:none;">
    <symbol id="ygg-logo">
        <rect x="0.42" y="150.93" width="21.09" height="4.28" fill="#d1352e"/>
        <rect x="247.37" y="150.93" width="21.09" height="4.28" fill="#d1352e"/>
        <path d="M43.67,155a4.18,4.18,0,0,1-.54,2.42,2.89,2.89,0,0,1-4.54,0,4.27,4.27,0,0,1-.54-2.42V147.3H36.12v8.25a4.75,4.75,0,1,0,9.49,0V147.3H43.67Z" fill="#d1352e"/>
        <polygon points="58.02 156.21 48.67 146.43 48.67 160.12 50.61 160.12 50.61 151.15 59.95 160.89 59.95 147.3 58.02 147.3 58.02 156.21" fill="#d1352e"/>
        <rect x="63.02" y="147.3" width="1.93" height="12.81" fill="#d1352e"/>
        <polygon points="72.22 156.18 68.68 147.3 66.56 147.3 72.18 161.08 77.93 147.3 75.81 147.3 72.22 156.18" fill="#d1352e"/>
        <polygon points="79.52 160.12 86.59 160.12 86.59 158.3 81.46 158.3 81.46 154.02 86.44 154.02 86.44 152.2 81.46 152.2 81.46 149.12 86.59 149.12 86.59 147.3 79.52 147.3 79.52 160.12" fill="#d1352e"/>
        <path d="M95.53,153.4a3.63,3.63,0,0,0,.78-2.34,3.51,3.51,0,0,0-1.25-2.8,5.61,5.61,0,0,0-3.66-1H89.13v12.81h1.93v-5.24h.35l3.66,5.24h2.37l-4-5.45A3.55,3.55,0,0,0,95.53,153.4Zm-4.47-.21v-4.07h.69c1.78,0,2.67.66,2.67,2s-.91,2.1-2.74,2.1Z" fill="#d1352e"/>
        <path d="M103.93,152.49l-1.28-.52c-.92-.38-1.39-.89-1.39-1.51a1.42,1.42,0,0,1,.53-1.13,2.21,2.21,0,0,1,2.41-.19,2.73,2.73,0,0,1,.84,1l1.56-.93a3.83,3.83,0,0,0-3.46-2.14,4,4,0,0,0-2.74,1,3.08,3.08,0,0,0-1.11,2.42c0,1.42.88,2.51,2.63,3.25l1.24.51a4.91,4.91,0,0,1,.83.44,2.78,2.78,0,0,1,.57.48,1.75,1.75,0,0,1,.32.58,2.06,2.06,0,0,1,.11.68,2.11,2.11,0,0,1-.6,1.54,2.22,2.22,0,0,1-3.25-.23,3.39,3.39,0,0,1-.46-1.56l-2,.43a4.58,4.58,0,0,0,1.34,2.79,3.92,3.92,0,0,0,2.75,1,4,4,0,0,0,3-1.17,3.93,3.93,0,0,0,1.18-2.92,3.44,3.44,0,0,0-.73-2.23A5.49,5.49,0,0,0,103.93,152.49Z" fill="#d1352e"/>
        <rect x="109.27" y="147.3" width="1.93" height="12.81" fill="#d1352e"/>
        <polygon points="112.94 149.12 115.88 149.12 115.88 160.12 117.81 160.12 117.81 149.12 120.75 149.12 120.75 147.3 112.94 147.3 112.94 149.12" fill="#d1352e"/>
        <polygon points="122.48 160.12 129.54 160.12 129.54 158.3 124.41 158.3 124.41 154.02 129.4 154.02 129.4 152.2 124.41 152.2 124.41 149.12 129.54 149.12 129.54 147.3 122.48 147.3 122.48 160.12" fill="#d1352e"/>
        <polygon points="130.74 149.12 133.69 149.12 133.69 160.12 135.62 160.12 135.62 149.12 138.56 149.12 138.56 147.3 130.74 147.3 130.74 149.12" fill="#d1352e"/>
        <path d="M144.84,152.49l-1.28-.52c-.93-.38-1.4-.89-1.4-1.51a1.4,1.4,0,0,1,.54-1.13,2.2,2.2,0,0,1,2.4-.19,2.55,2.55,0,0,1,.84,1l1.57-.93a3.84,3.84,0,0,0-3.46-2.14,4,4,0,0,0-2.75,1,3.1,3.1,0,0,0-1.1,2.42c0,1.42.87,2.51,2.63,3.25l1.23.51a4.55,4.55,0,0,1,.83.44,2.33,2.33,0,0,1,.57.48,1.77,1.77,0,0,1,.33.58,2.07,2.07,0,0,1,.1.68,2.11,2.11,0,0,1-.6,1.54,2.21,2.21,0,0,1-3.24-.23,3.37,3.37,0,0,1-.47-1.56l-2,.43a4.57,4.57,0,0,0,1.33,2.79,3.94,3.94,0,0,0,2.76,1,4,4,0,0,0,2.94-1.17,3.9,3.9,0,0,0,1.18-2.92,3.49,3.49,0,0,0-.72-2.23A5.49,5.49,0,0,0,144.84,152.49Z" fill="#d1352e"/>
        <path d="M148.57,160.11h2.08l1.43-3.11h5.48l1.35,3.11H161l-6.11-13.61Zm4.31-4.92,2-4.36,1.9,4.36Z" fill="#d1352e"/>
        <polygon points="165.81 156.18 162.27 147.3 160.15 147.3 165.77 161.08 171.52 147.3 169.4 147.3 165.81 156.18" fill="#d1352e"/>
        <rect x="173.11" y="147.3" width="1.93" height="12.81" fill="#d1352e"/>
        <path d="M182.7,152.49l-1.28-.52c-.93-.38-1.4-.89-1.4-1.51a1.42,1.42,0,0,1,.53-1.13,2,2,0,0,1,1.34-.46,1.93,1.93,0,0,1,1.07.27,2.55,2.55,0,0,1,.84,1l1.57-.93a3.84,3.84,0,0,0-3.46-2.14,4,4,0,0,0-2.75,1,3.07,3.07,0,0,0-1.1,2.42c0,1.42.87,2.51,2.63,3.25l1.23.51a4.91,4.91,0,0,1,.83.44,2.53,2.53,0,0,1,.57.48,1.77,1.77,0,0,1,.33.58,2.37,2.37,0,0,1,.1.68,2.11,2.11,0,0,1-.6,1.54,2.21,2.21,0,0,1-3.24-.23,3.37,3.37,0,0,1-.47-1.56l-2,.43a4.63,4.63,0,0,0,1.34,2.79,3.92,3.92,0,0,0,2.75,1,4,4,0,0,0,3-1.17,3.9,3.9,0,0,0,1.18-2.92A3.49,3.49,0,0,0,185,154,5.56,5.56,0,0,0,182.7,152.49Z" fill="#d1352e"/>
        <path d="M186.43,160.11h2.08l1.43-3.11h5.48l1.35,3.11h2.11l-6.11-13.61Zm4.31-4.92,2-4.36,1.9,4.36Z" fill="#d1352e"/>
        <path d="M202.2,158a1.09,1.09,0,0,0-.81.34,1.16,1.16,0,0,0,0,1.63,1.15,1.15,0,0,0,1.63,0,1.15,1.15,0,0,0,0-1.63A1.07,1.07,0,0,0,202.2,158Z" fill="#d1352e"/>
        <polygon points="215.7 156.21 206.36 146.43 206.36 160.12 208.29 160.12 208.29 151.15 217.63 160.89 217.63 147.3 215.7 147.3 215.7 156.21" fill="#d1352e"/>
        <path d="M226.91,147.06a6.55,6.55,0,0,0-4.75,1.94,6.63,6.63,0,0,0,.19,9.63,6.77,6.77,0,0,0,9.25-.22,6.3,6.3,0,0,0,2-4.68,6.69,6.69,0,0,0-6.66-6.67Zm3.33,10.08a4.81,4.81,0,0,1-6.73-6.87,4.55,4.55,0,0,1,3.37-1.39,4.5,4.5,0,0,1,3.37,1.39,4.68,4.68,0,0,1,1.37,3.44A4.73,4.73,0,0,1,230.24,157.14Z" fill="#d1352e"/>
        <path d="M268.14,131c-6.43-1.7-11-8-17-23.39L218.45,23.77c-2.21-5.61-4.25-11.45-6.09-17.44q-.83-2.72-1.61-5.47L210.51,0l-.89.15a122.43,122.43,0,0,1-21.45,2c-2.35,0-3.53,0-6.67-.2l-1.07-.07V8l1,0c10,.43,11.93,2.94,11.93,7.13,0,3.24-.22,4.83-4.89,16.69L172.32,73.55l-9.66,25C155.47,117.05,149.5,129,141.91,131l-.74.2v5.25l1.11-.12a152.2,152.2,0,0,1,20.12-1.18,121.2,121.2,0,0,1,18.71,1.18l1.13.14v-6.41l-.92-.08c-8.78-.75-12.37-4.37-12.37-12.49a37,37,0,0,1,2.71-13.12L177,90.56h50.38l4.7,12.06c2.53,6.41,4.1,12.65,4.1,16.29,0,8.18-4.83,10.27-13.18,11.1l-.9.09v6.37l1.1-.11a186.6,186.6,0,0,1,22.51-1.18,175.63,175.63,0,0,1,22.1,1.18l1.1.11v-5.24ZM180.91,80.24l21-54.72L223.2,80.24Z" fill="#2a2b2a"/>
        <path d="M100.92,136.5l1.13-.14c3-.37,9.67-.79,14.55-.79a124,124,0,0,1,14.36.79l1.11.12v-6.4l-.92-.07c-10.92-.91-13.75-7.27-13.75-30.93V38.21c0-23.17,3-29.81,14.17-30.93l.9-.09V.82l-1.11.11a187.46,187.46,0,0,1-22.5,1.19A169.42,169.42,0,0,1,87,.93L85.85.81V7.19l.9.09C97.88,8.4,100.92,15,100.92,38.21V92.07c-15,25.93-33.77,29.81-43.61,29.81-19,0-25.77-10-25.77-38.06V38.21C31.54,15,34.59,8.4,45.71,7.28l.9-.09V.82l-1.1.11A187.46,187.46,0,0,1,23,2.12,169.23,169.23,0,0,1,1.11.93L0,.81V7.19l.9.09C12,8.4,15.07,15,15.07,38.21v51c0,23.51,3,48.58,38.47,48.58,21,0,35.77-10.09,47.38-32.6Z" fill="#2a2b2a"/>
    </symbol>
</svg>
