<svg style="display:none;">
	<symbol id="ygg-logo">
		<style>
			/* 0 0 236.7 103.9 */
			.st0 {
				fill: #ffffff;
			}
		</style>

		<path class="st0" d="M222,84.4L202,20.2h9.1V0h-79.3v20.2h9.1l-20.8,64.2h-15.5V20.2h10.1V0H64.5v20.2h11.8v35.3L41.7,0H0v20.2h12.3 v64.2H0v19.5h52.5V84.4H40.7V46.1l35.9,57.8h9h19.1h57.1V84.4h-11.2l4.5-13.9h30.2l4.5,13.9h-11.1v19.5h58.1V84.4H222z M160.9,52.6 l9.4-31.5h0.3l9.1,31.5H160.9z"/>
	</symbol>
</svg>
