<svg style="display:none;">
	<symbol id="ygg-logo">
		<style type="text/css">
			.st0 { fill: #ffffff; }
		</style>

		<path class="st0" d="M24,9.3H1.7H0v6.3c0,0,4.8,0,6.6,0c0,3.1,0,81.5,0,84.6c-1.9,0-6.6,0-6.6,0v6.3h24c29.1,0,44.5-16.8,44.5-48.6 C68.5,26.2,53.1,9.3,24,9.3z M19.2,15.7c1.8,0,4.6,0,4.6,0c22.3,0,32.2,13,32.2,42.3c0,29.3-9.9,42.3-32.2,42.3c0,0-2.8,0-4.6,0 C19.2,97.1,19.2,18.8,19.2,15.7z"/>
		<path class="st0" d="M151.3,100.3c0-3.2,0-90.9,0-90.9h-1.7h-17.5v6.3c0,0,5.6,0,7.7,0c0,3.1,0,81.5,0,84.6c-1.7,0-5.9,0-5.9,0v6.3 h23.5v-6.3C157.4,100.3,153.1,100.3,151.3,100.3z"/>
		<path class="st0" d="M205.7,75.9l-0.1,1.6c-0.3,6.4-1.5,11.6-3.6,15.3c-3.2,5.6-7.7,8.4-13.4,8.4c-2.8,0-5.2-1.1-7.3-3.1 c-4.7-4.7-7.3-14.7-7.3-28c0-0.2,0-0.4,0-0.6c0,0,0.1-2.8,0.1-4.6c3,0,36.3,0,36.3,0v-5.6c0-20.9-11.6-28.4-22.5-28.4 c-17.1,0-26.1,19.3-26.1,38.3c0,24,9.7,38.3,26.1,38.3c8.7,0,15.5-4.1,19.7-11.9c2.7-5,4-10.9,4-18v-1.7H205.7z M174.6,58.5 c0.5-9.2,4.1-21.4,12.9-21.4c4.7,0,11,2.2,11,21.4C195.8,58.5,177.5,58.5,174.6,58.5z"/>
		<path class="st0" d="M265.4,100.5c0-2.7,0-46.3,0-46.3c0-14.1-6.5-21.8-18.4-21.8c-5.3,0-9.9,2.5-13.3,7.1c0-1.7,0-4.9,0-4.9h-16.9 v5.8c0,0,4.2,0,5.9,0c0,2.7,0,57.5,0,60.1c-1.6,0-5.9,0-5.9,0v5.8h24.1v-5.8c0,0-5.3,0-7.2,0c0-2.7,0-42.7,0-42.7 c0-8.7,5.1-18.5,11.9-18.5c3.8,0,8.8,1.3,8.8,12.4c0,0,0,46.1,0,48.8c-1.8,0-6.6,0-6.6,0v5.8h23.6v-5.8 C271.3,100.5,267.1,100.5,265.4,100.5z"/>
		<path class="st0" d="M124.9,3.7l-0.2,0.3C125,3.7,125.1,3.6,124.9,3.7z"/>
		<path class="st0" d="M230.8,127c-35.6,0.7-80.7-10-116.7-16.3c-13.4-2.3-26.5-1.8-37.9-0.2c4.3-3,8-6.2,11.3-9.5 c3.7,3.4,8.5,5.6,14.5,5.6c18.7,0,25.4-20.5,25.4-38c0-13-3.6-27.5-13.1-34.2c0.8-4.6,1.6-9.2,2.5-13.9c2-10.2,7.3-16,8.1-16.8 l2.5-3.7c-5.7,1.8-10.5,11.6-12.2,16.4c-1.7,4.6-3.4,9.9-5.3,15.6c-2.3-0.9-5-1.4-7.9-1.4c-18.7,0-25.4,20.5-25.4,38 c0,9.7,2,20.3,7,27.8c-6.3,8.6-12.8,12.5-22.4,17.1c-9.3,2.3-16.2,5-19.4,6.4l2.8,7.1c2-1.3,6.8-2.7,12.3-4.7 c15.6-5.7,38.2-9.3,65.9-3.8c50.7,10.1,107.2,18.4,147.4,5.4L230.8,127z M112.9,41.3c2.9,5.3,4.2,14,4.2,26.4 c0,22.9-4.5,33-14.7,33c-4.3,0-7.5-1.8-9.9-5.6C104.6,80,109.1,61.6,112.9,41.3z M89.5,86.9c-1.1-5-1.6-11.3-1.6-19.1 c0-22.9,4.5-33,14.7-33c2.3,0,4.2,0.5,6,1.6C102.8,53.6,96.4,73.4,89.5,86.9z"/>
	</symbol>
</svg>
