.ygg-header {

	.navbar {
		// Default header (primary background)
		@if map-get($ygg-settings, ygg-header-default) == true {
			background-color: ygg-color(primary);
		}

		// Custom header (white background)
		@else {
			background-color: ygg-color(white);
		}

		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
		z-index: 1001;

		@include only(mobile) {
			margin-bottom: ygg-space(stack); // If you want elements to hug the header, use negative top margin
			position: relative;
		}

		// Sticky header on desktop
		@include only(desktop) {
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
		}
	}

	// Enable flexbox for logo and menu button
	.header-top {
		display: flex;
		align-items: center; // Vertical align

		@include only(mobile) {
			justify-content: space-between; // Hug the sides
			padding: ygg-space(y) ygg-space(gutter);
		}

		// Fixed width and centered
		@include only(desktop) {
			height: 64px;
			justify-content: flex-start;
			margin-right: auto;
			margin-left: auto;
			padding: ygg-space(y) 0;
			width: 980px;
		}
	}

	// Negotiate space for logo
	.branding {
		@include only(mobile) {
			flex: 1 0 auto;
		}

		@include only(desktop) {
			flex: 0 0 auto;
			margin-right: u(1);
		}

		// Link surrounding the logo
		a {
			display: inline-block;
			height: auto;
			width: 100%;
		}
	}

	// Logo
	.logo {
		display: inline-block;

		@include only(mobile) {
			max-height: u(2);
		}

		@include only(desktop) {
			@if map-get($ygg-settings, ygg-header-logo-enlarge) == true {
				height: 44px;
			}

			@else {
				height: 32px;
			}
		}
	}

	// Hello SPiD user (desktop only)
	@include only(desktop) {
		[id="hello-spid-user"] {
			padding: 0 ygg-space(x);

			a {
				display: inline-block;
			}

			a:hover {
				text-decoration: underline;
			}

			// White text on default colored background
			@if map-get($ygg-settings, ygg-header-default) == true {
				&,
				a {
					color: ygg-color(white);
				}
			}

			// Or dark text on white background
			@else {
				&,
				a {
					color: ygg-color(black);
				}
			}
		}
	}

	.menu-trigger {
		font-family: ygg-font(system);
		font-size: u(7/8);
		text-transform: uppercase;

		&:focus {
			outline: none;
		}

		@include only(mobile) {
			margin-left: ygg-space(x);
		}

		@include only(desktop) {
			border: none;
			font-size: u(1);
			flex: 0 0 auto;
			margin-left: auto;
		}

		.label {
			display: inline-block;
			min-width: 3em; // To avoid button jumping size when changing text from "Meny" to "Lukk"
		}

		// Default header (primary background)
		@if map-get($ygg-settings, ygg-header-default) == true {
			@include ygg-button(outline, white);

			&[aria-pressed="false"] .icon-menu {
				@include ygg-icon(menu-neg, 1rem);
				margin-left: ygg-space(x-small);
			}

			&[aria-pressed="true"] .icon-menu {
				@include ygg-icon(close-neg, 1rem);
				margin-left: ygg-space(x-small);
			}
		}

		// Custom header (white background)
		@else {
			@include ygg-button(outline, black);

			&[aria-pressed="false"] .icon-menu {
				@include ygg-icon(menu, 1rem);
				margin-left: ygg-space(x-small);
			}

			&[aria-pressed="true"] .icon-menu {
				@include ygg-icon(close, 1rem);
				margin-left: ygg-space(x-small);
			}
		}
	}


	// Primary nav (mobile)
	@include only(mobile) {
		// Scrollable menu below header
		.menu-primary {
			background-color: ygg-color(gray-light);

			.menu {
				display: flex;
				flex-flow: row nowrap;
				overflow-x: scroll;
				padding-right: ygg-space(gutter);
				padding-left: ygg-space(gutter);
				-webkit-overflow-scrolling: touch; // On iOS devices, this makes scroll areas have momentum and ease of use.
				white-space: nowrap;
			}

			// Hide titles in this nav
			.menu-title {
				display: none !important;
			}

			// Hide all submenus initially
			.nested {
				display: none;
			}

			.menu-item {
				flex: 0 1 auto;
				font-size: u(1);
				line-height: 3;
				margin-left: u(1.5);
			}

			// No left margin on:
			// - First menu item
			// - First item after a hidden item,
			// - Ancestor item with visible submenu,
			// - Active top level item with submenu
			// - Item succeeding a menu title
			.menu-item:first-child,
			.hidden + .menu-item,
			.is-ancestor:not(:first-child),
			.menu:not(.nested) > .active.is-parent,
			.menu-item:first-child + .menu-title:not(:first-child) + .menu-item { // TODO buggy class name
				margin-left: 0;
			}

			// Nicely align last menu item with right gutter when swiping to the end
			.menu-item:last-child {
				padding-right: ygg-space(gutter);
			}

			.menu-link {
				color: ygg-color(gray);
				display: inline-block;
				position: relative;
				text-decoration: none;
			}

			// But not in submenu
			.nested .active,
			.active .nested {
				font-weight: normal;
				text-transform: none;
			}

			// Active indicator
			// Unless an active parent with visible submenus to the right
			.active:not(.is-parent) > .menu-link::before {
				content: "";
				background-color: ygg-color(primary);
				display: block;
				height: 2px;
				position: absolute;
				bottom: 0.5em;
				left: 0;
				right: 0;
			}

			// Show submenus if active item has one,
			// or if active item is inside a submenu
			.active .nested,
			.is-ancestor .nested {
				display: flex;
				font-weight: normal;
			}

			// Hide top level menu items that are not active if a menu item with descendants is active
			.has-active-tree > .menu-item:not(.active) {
				display: none;
			}

			// ...but show top level menu items that are ancestors of the active menu item
			.has-active-tree > .menu-item.is-ancestor,
			.has-active-tree > .menu-item.active.is-parent {
				font-weight: bold;
				display: flex;
			}

			.has-active-tree > .is-parent > .menu-link::after {
				content: "→";
			}
		}
	}

	// Primary nav (desktop)
	@include only(desktop) {
		.menu-primary {
			flex-grow: 1;
			min-width: 0;

			.menu {
				display: flex;
				flex-flow: row nowrap;
				margin-right: u(3);
				min-width: 0;
				overflow: hidden;
				position: relative;

				// Make overflow: hidden a bit less ugly
				&::after {
					content: "";
					display: block;
					width: u(1.5);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;

					@if map-get($ygg-settings, ygg-header-default) == true {
						// Weird transparent syntax because iOS/Safari
						background-image: linear-gradient(to left, ygg-color(primary), rgba(ygg-color(primary), 0));
					}

					@else {
						// Weird transparent syntax because iOS/Safari
						background-image: linear-gradient(to left, ygg-color(white), rgba(ygg-color(white), 0));
					}
				}
			}

			// Hide titles in this nav
			.menu-title {
				display: none !important;
			}

			// Hide all submenus initially
			.nested {
				display: none;
			}

			.menu-item {
				flex: 0 0 auto;
				font-size: u(1);
				font-weight: 700;
				line-height: 1.5;

				& + .menu-item {
					margin-left: ygg-space(x);
				}
			}

			.menu-title:not(:nth-child(2)) + .menu-item {
				margin-left: ygg-space(x);
			}

			.menu-link {
				display: block;

				// When the header background is primary color
				@if map-get($ygg-settings, ygg-header-default) == true {
					color: ygg-color(white);
				}

				// When the header background is white
				@else {
					color: ygg-color(black);
				}

				&:hover {
					text-decoration: underline;
				}
			}

			.active .menu-link {
				text-decoration: underline;
			}
		}
	}
}

// Submenu on desktop (below header)
@include only(desktop, root) {

	[id="outer"] .menu-primary.sub {
		min-width: 0;
		margin-top: -#{u(1.5)};
		padding-bottom: u(1.5);
		max-width: 980px;
		margin-right: auto;
		margin-left: auto;

		> .menu:not(.has-active-tree) {
			display: none;
		}

		> .menu {
			display: flex;
			flex-flow: row nowrap;
			min-width: 0;
			overflow: hidden;
			padding-top: ygg-space(y);
			padding-bottom: ygg-space(y);

			.nested {
				padding-left: ygg-space(x);
			}
		}

		// Hide all level 1 menu items except active
		> .menu > *:not(.active):not(.is-ancestor) {
			display: none;
		}

		.menu-item {
			flex: 0 0 auto;
			font-size: u(1);
			font-weight: 700;
			line-height: 1.5;

			& + .menu-item {
				margin-left: ygg-space(x);
			}
		}

		// Show submenus if active item has one,
		// or if active item is inside a submenu
		.active .nested,
		.is-ancestor .nested {
			display: flex;

			.menu-item {
				font-weight: normal;
			}
		}

		.menu-link {
			display: inline-block;
			color: ygg-color(gray);

			&:hover {
				text-decoration: underline;
			}
		}

		// Hide top level menu items that are not active if a menu item with descendants is active
		.has-active-tree > .menu-item:not(.active) {
			display: none;
		}

		// ...but show top level menu items that are ancestors of the active menu item
		.has-active-tree > .menu-item.is-ancestor,
		.has-active-tree > .menu-item.active.is-parent {
			font-weight: bold;
			display: flex;
		}

		.has-active-tree > .is-parent > .menu-link::after {
			content: "→";
		}
	}

}
