// A black veil omg the mysterious
// Show this when the modal is active
.ygg-modal-background {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.65);
	margin: 0;
	opacity: 0;
	transition: opacity 360ms;
	transition-timing-function: $cubic-bezier;
	visibility: hidden;

	@include only(mobile) {
		width: 100%;
		height: 100%;
	}

	@include only(desktop) {
		max-width: none;
		margin-right: 0;
		margin-left: 0;
	}
}


// The modal container and content
.ygg-modal {
	position: absolute;
	z-index: -1;
	width: 100%;
	transition: transform 180ms;
	transition-timing-function: $cubic-bezier;

	@include only(mobile) {
		background-color: ygg-color(black);
		transform: translate3d(100%, 0, 0);
	}

	@include only(desktop) {
		background-color: ygg-color(gray-light);
		opacity: 0;
		padding-top: u(2);
		padding-bottom: u(2);
		transform: translateY(64px);
		transform-origin: 50% 0;
		transition: all 180ms $cubic-bezier;
		visibility: hidden;

		// Wrapper for left/right area
		.modal-inner {
			display: flex;
			flex-flow: row nowrap;
			margin-right: auto;
			margin-left: auto;
			width: 980px;
		}

		// Right side (reordered)
		.modal-primary {
			order: 2;
			flex: 0 0 percentage(1/3);
		}

		// Left side (reordered)
		.modal-secondary {
			order: 1;
			flex: 0 0 percentage(2/3);
		}
	}

	.modal-block {
		padding: u(1.5) ygg-space(gutter);
		transition: transform 180ms;
		transition-timing-function: $cubic-bezier;

		// Travelling distance when blocks slide up from below the screen
		@include only(mobile) {
			&:nth-child(1) { transform: translate3d(0, 250px, 0);  }
			&:nth-child(2) { transform: translate3d(0, 500px, 0);  }
			&:nth-child(3) { transform: translate3d(0, 750px, 0);  }
			&:nth-child(4) { transform: translate3d(0, 1000px, 0); }
			&:nth-child(5) { transform: translate3d(0, 1250px, 0); }
		}
	}


	// Search block
	.search {
		background-color: ygg-color(background);
		text-align: center;

		.ygg-search-link {
			max-width: 12em;
			margin-right: auto;
			margin-left: auto;

			a {
				color: ygg-color(gray);
				display: block;
				line-height: 1.25;
			}

			a::before {
				content: "";
				@include ygg-icon(search, u(1.5));
				display: block;
				margin-right: auto;
				margin-bottom: ygg-space(y-small);
				margin-left: auto;
			}

			@include only(desktop) {
				a::before {
					transition: ygg-transition(short);
				}

				a:hover::before {
					transform: scale(1.5);
				}
			}

			a::after {
				content: " →";
			}
		}
	}


	// SPiD block
	.user {
		background-color: ygg-color(background);
		text-align: center;

		// Login (user is logged out)
		[id*="notLoggedState"] {
			[id="spidBtn-login"] {
				@include ygg-button(default, success);
			}

			.options {
				margin-top: ygg-space(stack);
				border-top: 1px solid ygg-color(gray);
				padding-top: ygg-space(y);
				padding-left: ygg-space(x);
				padding-right: ygg-space(x);
				text-align: left;
			}

			li a {
				color: ygg-color(gray);
				display: block;
				line-height: 1.5;
				padding: ygg-space(y-small) 0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		// Error (something went wrong)
		[id*="error"] {
			line-height: 1.5;

			.login {
				@include ygg-alert(error);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		// Options (user is logged in and has a subscription)
		[id*="loggedState"] {
			// cursor: pointer;
			text-align: left;

			// Greetings, Logged-in Person
			.loggedIn {
				color: ygg-color(gray);
				display: block;
				font-weight: bold;
				padding-top: u(1/4);
				padding-bottom: u(1/4);
				position: relative;
			}

			.prefix {
				margin-left: ygg-space(x-small);
			}

			.prefix,
			.name {
				display: inline-block;
				vertical-align: middle;
			}

			// Options
			.options {
				margin-top: ygg-space(y);
				border-top: 1px solid ygg-color(gray);
				padding-top: ygg-space(y);
				padding-left: ygg-space(x);
				padding-right: ygg-space(x);
				text-align: left;

				// Always show meny (override)
				// TODO: Remove hidden class from widget
				.modal-active &.hidden {
					display: block !important;
					visibility: visible !important;
				}
			}

			.logout,
			li a {
				color: ygg-color(gray);
				display: block;
				line-height: 1.5;
				padding: ygg-space(y-small) 0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		// Logged in, but without a product
		// TODO: Use proper class selectors
		[id="spidBtn-loggedState-noAccess"] {
			color: ygg-color(gray);
			line-height: 1.5;

			> [id="spidBtn-loggedIn-noAccess"]:first-child {
				display: none;
			}

			.options {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}

			// Display name from SPiD
			[id="spidBtn-name-noAccess"] {
				display: block;
				font-weight: 700;

				&:empty::before {
					content: "(Schibsted-konto uten navn)";
				}
			}

			// Options
			[id="spidBtn-options-noAccess"] > p:first-child {
				padding-bottom: ygg-space(stack);
				border-bottom: 1px solid ygg-color(gray);
				margin-bottom: ygg-space(stack);
			}

			a {
				cursor: pointer;
			}

			ul a,
			ul a.logout {
				padding-left: ygg-space(x);
				padding-right: ygg-space(x);

				&::before {
					content: "";
					@include ygg-icon(caret, 10px);
					transform: rotate(-90deg);
					margin-right: 4px;
				}
			}

			ul + div {
				font-size: u(7/8);
				font-style: italic;
				margin-top: ygg-space(stack);
			}

			ul + div > * + * {
				margin-top: 1em;
			}

			ul + div a {
				color: inherit;
				text-decoration: underline;
			}
		}
	}


	// Secondary menu block
	.menu-secondary {

		.menu {
			display: flex;
			flex-wrap: wrap;
		}

		// 2 column rows (mobile)
		@include only(mobile) {
			.menu-item {
				flex: 0 1 calc(50% - #{ygg-space(x)});
				line-height: 1.1;
				margin: 0 ygg-space(x) ygg-space(stack) 0;

				// In case of überlöng menu names
				max-width: 50%;
				@include ygg-word-wrap;
			}
		}

		// Full rows (desktop)
		@include only(desktop) {
			padding-top: 0;

			.menu-item {
				flex: 0 1 auto;
				line-height: 1.5;
				margin-right: ygg-space(x);
				margin-bottom: u(1/2);
			}
		}

		.menu-title {
			display: block;
			flex: none;
			width: 100%;
			font-weight: 700;
			padding-bottom: ygg-space(y);
			text-transform: uppercase;

			@include only(mobile) {
				border-bottom: 1px solid ygg-color(gray-light);
				color: ygg-color(gray-light);
				margin-top: u(1.5);
				margin-bottom: u(1.5);
			}

			@include only(desktop) {
				border-bottom: 2px solid ygg-color(gray);
				color: ygg-color(black);
				font-size: u(1.125);
				margin-bottom: u(1/2);
			}
		}

		// Title stacking on desktop (hackish)
		// TODO Solve unhackish
		@include only(desktop) {
			.menu-item:not(.hidden):not(:first-child) + .menu-title {
				margin-top: u(2);
			}
		}

		// Show only top level menu items
		.nested {
			display: none; // TODO: Hide in widget? OR SHOULD THEY BE VISIBLE???
		}

		.menu-link {
			text-decoration: none;

			@include only(mobile) {
				color: ygg-color(gray);

				&:hover {
					color: ygg-color(white);
					text-decoration: underline;
				}
			}

			@include only(desktop) {
				color: ygg-color(black);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


	// Channels block
	.channels {
		.ygg-channels {
			display: flex;
			flex-wrap: wrap;
		}

		.channel {
			position: relative; // For positioning the icons
			flex: 1 0 15%;
			max-width: 3em;
			margin-left: ygg-space(x-small); // Grid-like margins
			margin-bottom: ygg-space(x-small); // Grid-like margins

			@include only(mobile) {
				background-color: ygg-color(gray-light);
			}

			@include only(desktop) {
				background-color: ygg-color(white);
				transition: all 90ms ease-in-out;

				&:hover {
					@include ygg-card;
					transform: scale(1.1);
				}
			}

			&:first-child,
			&:nth-child(6n) {
				margin-left: 0;
			}
		}

		a {
			display: block;
			font-size: 0;
			padding-top: 100%;
		}

		// Define the icons
		.icon-facebook   { @include ygg-icon(facebook);   }
		.icon-twitter    { @include ygg-icon(twitter);    }
		.icon-instagram  { @include ygg-icon(instagram);  }
		.icon-youtube    { @include ygg-icon(youtube);    }
		.icon-linkedin   { @include ygg-icon(linkedin);   }
		.icon-googleplus { @include ygg-icon(googleplus); }
		.icon-rss        { @include ygg-icon(rss);        }
		.icon-email      { @include ygg-icon(email);      }

		[class^="icon-"] {
			width: 100%;
			height: 0;
			padding-top: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}


	// Beam me up, Scotty! ...block
	.scroll-to-top {
		text-align: center;

		.scroll-trigger {
			@include ygg-button(link, gray);
			font-size: 10px;
			text-transform: uppercase;
		}
	}
}


// When the shit gets for reals
// Aka modal is active
.modal-active {
	.ygg-modal-background {
		opacity: 1;
		transition-timing-function: $cubic-bezier;
		visibility: visible;
	}

	.ygg-modal {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: all 360ms;
		transition-timing-function: $cubic-bezier;
		visibility: visible;
		z-index: 30;

		.modal-block {
			transform: translate3d(0, 0, 0);
			transition-duration: 440ms;
			transition-timing-function: $cubic-bezier;
		}
	}
}


// Remove offset on modal when active
@include only(desktop, root) {
	&.modal-active .ygg-modal {
		transform: translate3d(0, 0, 0);
	}
}
