/// Mixin a card
/// @author Jonas Nilsson
/// @param {String} $modifier - for additional styling.
/// @param {String} $context - full (if the element has full bleed) or null.
/// @group cards
/// @example
/// .mah-widget {
///	  @include ygg-card(padding);
/// }
@mixin ygg-card($modifier:null, $context:null) {
	background: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);

	@if $modifier == padding {
		@if $context == full {
			padding: ygg-space(y) ygg-space(gutter);
		} @else {
			padding: ygg-space(y) ygg-space(x);
		}
	}
	@if $modifier == padding-small {
		@if $context == full {
			padding: ygg-space(y-small) ygg-space(gutter);
		} @else {
			padding: ygg-space(y-small) ygg-space(x);
		}
	}
}


/// Mixin a card-block (nested inside card)
/// @author Jonas Nilsson
/// @param {String} $modifier - padding or padding-small.
/// @param {String} $context - full (if the element has full bleed) or null.
/// @group cards
/// @example
/// .relatedArticles ul a {
///	  @include ygg-card-block(padding, full);
/// }
@mixin ygg-card-block($modifier:null, $context:null) {
	border-top: 1px solid rgba(0, 0, 0, 0.1);

	@if $modifier == padding {
		@if $context == full {
			padding: ygg-space(y) ygg-space(gutter);
		} @else if $context == nogutter {
			padding: ygg-space(y) 0;
		} @else {
			padding: ygg-space(y) ygg-space(x);
		}
	}
	@if $modifier == padding-small {
		@if $context == full {
			padding: ygg-space(y-small) ygg-space(gutter);
		} @else if $context == nogutter {
			padding: ygg-space(y-small) 0;
		} @else {
			padding: ygg-space(y-small) ygg-space(x);
		}
	}
}


/// Mixin a card-header
/// @author Jonas Nilsson
/// @param {String} $modifier - for additional styling.
/// @group cards
/// @example
/// .mah-widget {
///	  @include ygg-card-header(nested);
/// }
@mixin ygg-card-header($type:default, $context: null) {

	@if $type == default {
		@include ygg-heading(card);
		background-color: ygg-color(primary);
		color: #fff;
		font-family: ygg-font(system);
		padding: ygg-space(y-small) ygg-space(x);
		text-transform: uppercase;

	} @else if $type == big {
		@include ygg-heading(card);
		color: ygg-color(black);
		font-family: ygg-font(system);
		padding: ygg-space(y) ygg-space(x);
		text-transform: uppercase;
		border-top: 4px solid ygg-color(primary);
	}

	@if $context == nested {
		margin-left: -(ygg-space(x));
		margin-right: -(ygg-space(x));
		margin-top: -(ygg-space(x));
		padding-left: ygg-space(x);
		padding-right: ygg-space(x);
	}
}


/// Mixin a card-image
/// @author Jonas Nilsson
/// @param {String} $modifier - for additional styling.
/// @group cards
/// @example
/// .config .media {
///	  @include ygg-card-image(medium, left);
/// }
@mixin ygg-card-image($position:top, $size:full) {
	@if $size == full {
		// flex-basis: 100%; // TODO: Breaks in IE, remove?
		width: 100%; // Imager JS needs this, flex-basis is not enough
	}
	@if $size == big {
		flex: 0 0 ygg-image-width(big);

		@if $position == right {
			order: 2;
		}
	}
	@if $size == medium {
		flex: 0 0 ygg-image-width(medium);

		@if $position == right {
			order: 2;
		}
	}
	@if $size == small {
		flex: 0 0 ygg-image-width(small);

		@if $position == right {
			order: 2;
		}
	}
}


/// Mixin a card-text-container
/// @author Jonas Nilsson
/// @param {String} $modifier - for additional styling.
/// @group cards
/// @example
/// .front .media {
///	  @include ygg-card-image(medium, left);
/// }
@mixin ygg-card-text-container($position:top, $size:full, $modifier:null) {
	@if $position == left or right {
		@if $modifier == null {
			@if $position == left {
				padding: ygg-space(y) ygg-space(x) ygg-space(y) ygg-space(x-small);
			}
			@if $position == right {
				padding: ygg-space(y) ygg-space(x-small) ygg-space(y) ygg-space(x);
			}
		}
		@if $modifier == full {
			@if $position == left {
				padding: ygg-space(y) ygg-space(x) ygg-space(gutter) ygg-space(x-small);
			}
			@if $position == right {
				padding: ygg-space(y) ygg-space(gutter) ygg-space(y) ygg-space(x);
			}
		}
		@if $modifier == nested {
			@if $position == left {
				padding: 0 0 0 ygg-space(x-small);
			}
			@if $position == right {
				padding: 0 ygg-space(x-small) 0 0;
			}
		}

	}
	@if $position == top {
		@if $modifier == null {
			padding: ygg-space(y) ygg-space(x);
		}
		@if $modifier == full {
			padding: ygg-space(y) ygg-space(gutter);
		}
		@if $modifier == none {
			padding: ygg-space(y) 0;
		}
	}
	@if $size == big {
		flex: 0 0 calc(100% - #{ygg-image-width(big)} );
	}
	@if $size == medium {
		flex: 0 0 calc(100% - #{ygg-image-width(medium)} );
	}
	@if $size == small {
		flex: 0 0 calc(100% - #{ygg-image-width(small)} );
	}
}
