/// Buttönz for everyone!
/// @author Ørjan Aare Jørgensen
/// @param {Map} $button-color [primary] From $ygg-colors (primary, success, black, white...)
/// @param {string} $modifier outline, link
/// @group form-control
/// @example
/// .awesome-preorder-link {
///	  @include ygg-button(outline, success);
/// }
@mixin ygg-button($type: default, $button-color: primary) {

	@if map-has-key($ygg-colors, $button-color) {
		cursor: pointer;
		display: inline-block;
		line-height: 1;

		&[disabled] {
			background-color: ygg-color(white) !important;
			border-color: ygg-color(gray-light) !important;
			color: ygg-color(gray-light) !important;
		}

		@if $type == default {
			background-color: ygg-color($button-color);
			border: 2px solid ygg-color($button-color);
			font-family: ygg-font(system);
			font-weight: bold;
			padding: ygg-space(y) ygg-space(x);

			@include only(mobile) {
				font-size: u(7/8);
			}

			@include only(desktop) {
				font-size: u(1);
			}

			// TODO
			// http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass
			@if ($button-color == white) or ($button-color == gray-light) or ($button-color == background) {
				&,
				a {
					color: ygg-color(black);
				}
			} @else {
				&,
				a {
					color: ygg-color(white);
				}
			}
		}

		@if $type == outline {
			font-size: u(7/8);
			font-weight: bold;
			padding: ygg-space(y) ygg-space(x);
			background-color: transparent;
			border: 2px solid ygg-color($button-color);
			color: ygg-color($button-color);
		}

		@if $type == link {
			font-size: u(7/8);
			color: ygg-color($button-color);
			font-weight: bold;
			padding: ygg-space(y) ygg-space(x);
		}

		@if $type == pill {
			color: ygg-color($button-color);
			background: #fff;
			font-family: ygg-font(system);
			border-radius: 2px;
			padding: ygg-space(y-small) ygg-space(x-small);
			box-shadow: 1px 1px 0 ygg-color(gray-light);

			@include only(mobile) {
				font-size: u(6/8);
			}

			@include only(desktop) {
				font-size: u(1);
			}
		}

		@if $type == small-text {
			@include ygg-small-text();
			color: ygg-color($button-color);
			font-weight: bold;
		}

	} @else {
		@warn "Unknown '#{$button-color}' in $ygg-colors.";
	}
}


/// Form fields
/// @author Ørjan Aare Jørgensen
/// @param {string} $type text, textarea
/// @group form-control
/// @example
/// .write-here {
///  @include ygg-input();
/// }
@mixin ygg-input($type: text) {

	@if ($type == text) or ($type == textarea) {
		background-color: ygg-color(background);
		border-bottom: 2px solid ygg-color(gray-dark);
		color: ygg-color(black);
		padding: ygg-space(y-small) ygg-space(x-small);
		// transition: ygg-transition(short);
		width: 100%;

		@if $type == textarea {
			min-height: 7em;
			resize: none;
		}

		&:focus {
			background-color: ygg-color(white);
			border-color: ygg-color(primary);
			outline: 0;
		}
	}

	@if ($type == radio) {
		display: inline-block;
		border-radius: 50%;
		width: u(7/8);
		height: u(7/8);
		border: 1px solid ygg-color(gray-light);
		background: #fff;
		box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
		margin-right: u(1/2);
		position: relative;

		// TODO Bestill checked state fra Odla
		&[checked] {
			background: radial-gradient(ellipse at center, ygg-color(primary) 0%, ygg-color(primary) 35%, #fff 45%, #fff 100%);
		}
	}

	@if ($type == radio-buttonify) {
		@include ygg-button(outline, gray);
		display: block;
		line-height: 1.25;
		text-align: center;
	}

	@if ($type == select) {
		border: 1px solid ygg-color(gray-light);
		background: #fff;
		padding: ygg-space(y-small) ygg-space(x-small);
		display: block;
		width: 100%;
		// TODO: Arrow indicator for select boxes
	}
}
