/// Mixin an icon
/// @author Han Örjan og Han Jönas
/// @param {Map} $icon-name menu, search, score5, facebook etc.
/// @param {Map} $icon-width px or rem
/// @example
/// .score5 {
///	  @include ygg-icon(score5, 32px);
///	  background-color: red;
/// }
@mixin ygg-icon($icon-name, $icon-width:null) {

	@if map-has-key($ygg-icons, $icon-name) {
		$icon-offset:       100% / (length($ygg-icons) - 1);
		$icon-index:        map-deep-get($ygg-icons, $icon-name, position) - 1; // TODO: Use index() instead of hard values when possible (https://github.com/zellwk/typi/issues/17)
		$icon-position:     $icon-offset * $icon-index;

		background-image: url(ygg-path(gfx) + "ygg-sprite-icons.svg");
		background-size: length($ygg-icons) * 100% auto;
		background-position: $icon-position 0;

		@if $icon-width != null {
			display: inline-block;
			width: $icon-width;
			height: $icon-width * (map-deep-get($ygg-icons, $icon-name, height) / map-deep-get($ygg-icons, $icon-name, width));
		}

	} @else {
		@warn "Unknown '#{$icon-name}' in $ygg-icons.";
	}
}


/// Alert messages for various mööds
/// @author Ørjan Aare Jørgensen
/// @param {Map} $mood-color [info] info, warning, error, success
/// @example
/// .error {
///	  @include ygg-alert(error);
/// }
@mixin ygg-alert($mood-color: info) {

	@if map-has-key($ygg-colors, $mood-color) {
		background-color: scale-color(ygg-color($mood-color), $lightness: 90%);
		border: 1px solid ygg-color($mood-color);
		color: ygg-color($mood-color);
		display: block;
		padding: ygg-space(y) ygg-space(x);

		a {
			text-decoration: underline;
			color: inherit;
		}

	} @else {
		@warn "Unknown '#{$mood-color}' in $ygg-colors.";
	}
}


/// Mark content as paid (+)
/// @author Ørjan Aare Jørgensen
/// @param {String} $type [stories], list, body-relations
/// @example
/// .payed {
///	  @include ygg-paywall(list);
/// }
@mixin ygg-paywall($type: stories) {

	// Stories content
	@if $type == stories {

		// Icon after title
		@include only(mobile) {
			.headline > span[class^="t"]::after {
				content: "";
				@include ygg-icon(paywall, 1em);
				background-color: ygg-color(primary);
				margin-left: u(1/4);
				transform: scale(0.65);
				transform-origin: bottom left;
				vertical-align: text-top;
			}
		}

		// Icon on teaser image
		@include only(desktop) {
			.headline > span[class^="t"]::after {
				content: "";
				@include ygg-icon(paywall, 20px);
				background-color: ygg-color(primary);
				margin-right: u(1/4);
				margin-left: u(1/4);
				vertical-align: middle;
			}
        }

        // Avoid inherited paid icon (complex)
        .article:not(.payed) .headline > span[class^="t"]::after {
            content: none;
        }
	}

	// List content
	// Adapted to markup from .polarisList and related articles as list
	@if $type == list {
		a::after {
			content: "";
			@include ygg-icon(paywall, 1em);
			background-color: ygg-color(primary);
			margin-left: 0.5em;
			vertical-align: text-top;
		}
	}
}


/// Mark element as advertisement
/// @author Ørjan Aare Jørgensen
/// @param {string} $margin [null] compact
/// @example
/// .polarisMarketing {
///	  @include ygg-ad; // Normal spacing above and below
///	  @include ygg-ad(compact); // Minimal spacing above and below
/// }
@mixin ygg-ad($margin: null) {
	position: relative;

	@if $margin != compact {
		@include only(mobile) {
			margin-top: u(3);
			margin-bottom: u(3);
		}
	}

	&:not(:empty)::before {
		content: "▼ ANNONSE";
		@include ygg-small-text;
		font-size: u(5/8) !important;
		position: absolute;
		top: -(u(1));

		@include only(mobile) {
			left: ygg-space(gutter);

			@include breakpoint(340px) {
				left: 50% !important;
				transform: translateX(-160px);
			}
		}

		@include only(desktop) {
			left: 0;
		}
	}
}
