/// Teaser styles
/// @author Ørjan Aare Jørgensen
/// @param {Map} $key Use values from $ygg-teasers, i.e. "svart"
/// @param {Map} $context article, floor
/// @group colors-and-styles
/// @example
/// .article-of-death {
///	  @include ygg-teaser(svart, article);
/// }
@mixin ygg-teaser($style, $context: null) {

	// Context: article
	@if ($context == article) {

		@if map-has-key($ygg-teasers, $style) {
			@at-root :not(.masterTheme) & {

				// Article background
				@if map-has-nested-keys($ygg-teasers, $style, background) {
					&.article { background-color: map-deep-get($ygg-teasers, $style, background); }
				}

				// Force side padding on teaser styles with background color
				@if map-has-nested-keys($ygg-teasers, $style, background) {
					&.article .text {
						@include ygg-card-text-container(top, full);
					}
				}

				// Breaking title background
				@if map-has-nested-keys($ygg-teasers, $style, breaking) {
					.breakingTitle { background-color: map-deep-get($ygg-teasers, $style, breaking) !important; }
				}

				// Kicker color
				@if map-has-nested-keys($ygg-teasers, $style, kicker) {
					.kicker { color: map-deep-get($ygg-teasers, $style, kicker) !important; }
				}

				// Headline (incl. prefix) color
				@if map-has-nested-keys($ygg-teasers, $style, headline) {
					.prefix,
					.headline,
					.relatedArticles a {
						color: map-deep-get($ygg-teasers, $style, headline) !important;
					}
				}

				// Lead color
				@if map-has-nested-keys($ygg-teasers, $style, lead) {
					.lead { color: map-deep-get($ygg-teasers, $style, lead) !important; }
				}

				// Custom tip text
				@if map-has-nested-keys($ygg-teasers, $style, tip) {
					.tip { color: map-deep-get($ygg-teasers, $style, tip) !important; }
				}

				// Borders color (between articles)
				@if map-has-nested-keys($ygg-teasers, $style, border) {
					.article > a,
					.relatedArticles .article,
					.relatedArticles ul a {
						border-top-color: map-deep-get($ygg-teasers, $style, border) !important;
					}
				}

				// Bullets color (related article dots)
				@if map-has-nested-keys($ygg-teasers, $style, bullet) {
					.relatedArticles ul a::before {
						background-color: map-deep-get($ygg-teasers, $style, bullet) !important;
					}
				}
			}
		}
	}

	// Context: master floor
	@if ($context == master) {

		// Master floor background
		@if map-has-key($ygg-teasers, $style) {
			@if map-has-nested-keys($ygg-teasers, $style, background) {
				background: map-deep-get($ygg-teasers, $style, background);
				background-size: map-deep-get($ygg-teasers, $style, background-size);
			}


			// Master floor header
			.sectionHeader {
				@if map-has-nested-keys($ygg-teasers, $style, header) {
					background-color: map-deep-get($ygg-teasers, $style, header);
					border-bottom-color: map-deep-get($ygg-teasers, $style, header);
				}

				@if map-has-nested-keys($ygg-teasers, $style, header-text) {
					color: map-deep-get($ygg-teasers, $style, header-text);
				}
			}

			// Borders color (between articles)
			@if map-has-nested-keys($ygg-teasers, $style, border) {
				.article > a,
				.relatedArticles .article,
				.relatedArticles ul a {
					border-top-color: map-deep-get($ygg-teasers, $style, border) !important;
				}
			}

			// Bullets color (related article dots)
			@if map-has-nested-keys($ygg-teasers, $style, bullet) {
				.relatedArticles ul a::before {
					background-color: map-deep-get($ygg-teasers, $style, bullet) !important;
				}
			}

			// Use container background color instead of article backgrounds
			.article { background-color: transparent !important; }

			// Breaking title background
			@if map-has-nested-keys($ygg-teasers, $style, breaking) {
				.breakingTitle { background-color: map-deep-get($ygg-teasers, $style, breaking) !important; }
			}

			// Kicker color
			@if map-has-nested-keys($ygg-teasers, $style, kicker) {
				.kicker { color: map-deep-get($ygg-teasers, $style, kicker) !important; }
			}

			// Headline (incl. prefix) color
			@if map-has-nested-keys($ygg-teasers, $style, headline) {
				.prefix,
				.headline,
				.relatedArticles a {
					color: map-deep-get($ygg-teasers, $style, headline) !important;
				}
			}

			// Lead color
			@if map-has-nested-keys($ygg-teasers, $style, lead) {
				.lead { color: map-deep-get($ygg-teasers, $style, lead) !important; }
			}

			// Custom tip text
			@if map-has-nested-keys($ygg-teasers, $style, tip) {
				.tip { color: map-deep-get($ygg-teasers, $style, tip) !important; }
			}
		}
	}
}
