/// Mixin a heading.
/// @author Jonas Nilsson
/// @param {Map} $key - Use values from $ygg-headings. Title, box, big, medium, small etc
/// @group typography
/// @example
/// .headline {
///	  @include ygg-heading(medium);
/// }
@mixin ygg-heading($key) {

	font-family: ygg-font(headline);
	font-weight: bold;

	@if map-has-nested-keys($ygg-headings, $ygg-device, $key) {
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, font-family) {
			font-family: map-deep-get($ygg-headings, $ygg-device, $key, font-family);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, font-size) {
			font-size: map-deep-get($ygg-headings, $ygg-device, $key, font-size);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, line-height) {
			line-height: map-deep-get($ygg-headings, $ygg-device, $key, line-height);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, letter-spacing) {
			letter-spacing: map-deep-get($ygg-headings, $ygg-device, $key, letter-spacing);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, margin-top) {
			margin-top: map-deep-get($ygg-headings, $ygg-device, $key, margin-top);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, margin-bottom) {
			margin-bottom: map-deep-get($ygg-headings, $ygg-device, $key, margin-bottom);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, font-weight) {
			font-weight: map-deep-get($ygg-headings, $ygg-device, $key, font-weight);
		}
		@if map-has-nested-keys($ygg-headings, $ygg-device, $key, font-style) {
			font-style: map-deep-get($ygg-headings, $ygg-device, $key, font-style);
        }
        @if map-has-nested-keys($ygg-headings, $ygg-device, $key, text-align) {
			text-align: map-deep-get($ygg-headings, $ygg-device, $key, text-align);
		}
	} @else {
		@warn "Unknown '#{$key}' in $ygg-headings.";
	}
}


/// Mixin a kicker.
/// @author Jonas Nilsson
/// @param {Map} $key - Use values from $ygg-kickers. article, big, medium, small etc
/// @group typography
/// @example
/// .kicker {
///	  @include ygg-heading(medium);
/// }
@mixin ygg-kicker($key) {
	font-family: ygg-font(headline);
	font-weight: bold;
	color: ygg-color(gray);

	@if map-has-nested-keys($ygg-kickers, $ygg-device, $key) {
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, font-size) {
			font-size: map-deep-get($ygg-kickers, $ygg-device, $key, font-size);
		}
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, line-height) {
			line-height: map-deep-get($ygg-kickers, $ygg-device, $key, line-height);
		}
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, letter-spacing) {
			letter-spacing: map-deep-get($ygg-kickers, $ygg-device, $key, letter-spacing);
		}
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, margin-top) {
			margin-top: map-deep-get($ygg-kickers, $ygg-device, $key, margin-top);
		}
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, margin-bottom) {
			margin-bottom: map-deep-get($ygg-kickers, $ygg-device, $key, margin-bottom);
		}
		@if map-has-nested-keys($ygg-kickers, $ygg-device, $key, display) {
			display: map-deep-get($ygg-kickers, $ygg-device, $key, display);
		}
	} @else {
		@warn "Unknown '#{$key}' in $ygg-kickers.";
	}
}


/// Mixin a lead text.
/// @author Jonas Nilsson
/// @group typography
/// @param {Map} $key - Use values from $ygg-leads. article, big, medium, small etc
/// @example
/// p {
///	  @include ygg-lead(medium);
/// }
@mixin ygg-lead($key) {
	font-family: ygg-font(headline);

	@if map-has-nested-keys($ygg-leads, $ygg-device, $key) {
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, font-size) {
			font-size: map-deep-get($ygg-leads, $ygg-device, $key, font-size);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, line-height) {
			line-height: map-deep-get($ygg-leads, $ygg-device, $key, line-height);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, margin-top) {
			margin-top: map-deep-get($ygg-leads, $ygg-device, $key, margin-top);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, margin-bottom) {
			margin-bottom: map-deep-get($ygg-leads, $ygg-device, $key, margin-bottom);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, color) {
			color: map-deep-get($ygg-leads, $ygg-device, $key, color);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, display) {
			display: map-deep-get($ygg-leads, $ygg-device, $key, display);
		}
		@if map-has-nested-keys($ygg-leads, $ygg-device, $key, font-style) {
			font-style: map-deep-get($ygg-leads, $ygg-device, $key, font-style);
        }
        @if map-has-nested-keys($ygg-leads, $ygg-device, $key, font-weight) {
			font-weight: map-deep-get($ygg-leads, $ygg-device, $key, font-weight);
        }
        @if map-has-nested-keys($ygg-leads, $ygg-device, $key, font-family) {
			font-family: map-deep-get($ygg-leads, $ygg-device, $key, font-family);
		}
	} @else {
		@warn "Unknown '#{$key}' in $ygg-kickers.";
	}
}


/// Mixin breaking news (oh snap!).
/// @author Jonas Nilsson
/// @param {Map} $key - Use values from $ygg-breakings. article, big, medium, small etc
/// @group typography
/// @example
/// p {
///	  @include ygg-lead(medium);
/// }
@mixin ygg-breaking($key) {
	background-color: ygg-color(gray);
	font-family: ygg-font(system);
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: ygg-space(y-small) ygg-space(x);
	width: 100%;

	@if map-has-nested-keys($ygg-breakings, $ygg-device, $key) {
		@if map-has-nested-keys($ygg-breakings, $ygg-device, $key, font-size) {
			font-size: map-deep-get($ygg-breakings, $ygg-device, $key, font-size);
		}
		@if map-has-nested-keys($ygg-breakings, $ygg-device, $key, line-height) {
			line-height: map-deep-get($ygg-breakings, $ygg-device, $key, line-height);
		}
		@if map-has-nested-keys($ygg-breakings, $ygg-device, $key, display) {
			display: map-deep-get($ygg-breakings, $ygg-device, $key, display);
		}
	} @else {
		@warn "Unknown '#{$key}' in $ygg-breakings.";
	}
}


/// Mixin a small heading type
/// @author Jonas Nilsson
/// @group typography
/// @example
/// .profileData .name {
///	  @include ygg-small-heading;
/// }
@mixin ygg-small-heading($margin: null) {
	font-family: ygg-font(headline);
	font-weight: bold;
	line-height: 1.25;

	@include only(mobile) {
		font-size: u(7/8);
	}

	@include only(desktop) {
		font-size: u(1.25);
	}

	@if $margin == both {
		margin-top: u(7/8);
		margin-bottom: u(7/8);
	} @else if $margin == top {
		margin-top: u(7/8);
	} @else if $margin == bottom {
		margin-bottom: u(7/8);
	}
}


/// Mixin some small text
/// @author Jonas Nilsson
/// @group typography
/// @example
/// .polarisMarketing::before {
///	  @include ygg-small-text;
///   content: "Annonse";
/// }
@mixin ygg-small-text($margin: null) {
	color: ygg-color(grey);
	font-family: ygg-font(system);
	line-height: 1.5;
	text-transform: uppercase;

	@include only(mobile) {
		font-size: u(5/8);
	}

	@include only(desktop) {
		font-size: u(3/4);
	}

	@if $margin == both {
		margin-top: u(5/8);
		margin-bottom: u(5/8);
	} @else if $margin == top {
		margin-top: u(5/8);
	} @else if $margin == bottom {
		margin-bottom: u(5/8);
	}
}


/// Underline McBorderface
/// @author Han Örjan & Han Jönas
/// @param {string} $shadow-color Text outline, must match background color
/// @param {string} $border-color Underline color
/// @param {string} $border-width Underline thickness
/// @group typography
/// @example
/// .hipster-link {
///	  @include ygg-underline(ygg-color(background));
/// }
@mixin ygg-underline($shadow-color: ygg-color(background), $border-color: currentColor, $border-width: 1px) {
	text-decoration: none;
	padding: 0.5em 0;
	background: linear-gradient($border-color, $border-color) no-repeat;
	background-size: 100% $border-width;
	background-position: center bottom 25%;
	text-shadow: 3px 0 $shadow-color, 2px 0 $shadow-color, 1px 0 $shadow-color, -1px 0 $shadow-color, -2px 0 $shadow-color, -3px 0 $shadow-color;
	// transition: ygg-transition(short);
}


/// Word-wrap
/// @author Han onkel Chris (https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/)
/// @group typography
/// @example
/// .uncontrollable-headline {
///	  @include ygg-word-wrap;
///	  @include ygg-word-wrap(reset); // No breaks
/// }
@mixin ygg-word-wrap($mode: null) {
	@if $mode == "reset" {
		hyphens: manual !important;
		overflow-wrap: normal !important;
		word-break: normal !important;
	} @else {
		hyphens: auto;
		overflow-wrap: break-word;
		word-break: break-word;
	}
}
