/// Add a screen based breakpoint.
/// @author Jonas Nilsson
/// @param {Num} $point - Media width breakpoint for all $typs.
/// @param {String} $type - Default "min", can be "max" or "minmax".
/// @param {Num} $point2 - The endpoint when using "minmax".
/// @example
/// .submit {
///   width: 100%;
///	  @include breakpoint(20rem) {
///     display: inline-block;
///     width: 128px;
///   }
/// }
@mixin breakpoint($point: 0, $type: min, $point2: 0) {
	@if ( $type == min ) {
		@media screen and (min-width: $point) { @content; }
	}
	@else if ( $type == max ) {
		@media screen and (max-width: $point) { @content; }
	}
	@else if ( $type == minmax ) {
		@media screen and (min-width: $point) and (max-width: $point2) { @content; }
	}
	@else {
		/* ERROR. "#{$type}" is not a valid $type. */
		/* Breakpoint second value must be "min", "max", or "minmax" */
	}
}


/// Prefix selector scope for desktop/tablet screens.
/// @author Ørjan Aare Jørgensen
/// @param {string} $device [null] desktop, tablet, mobile
/// @param {string} $nesting [null] root
/// @example
///  $device: "desktop"; /* Assign variable in desktop stylesheet */
///  $device: "tablet";  /* Assign variable in tablet stylesheet */
///  $device: "mobile";  /* Assign variable in mobile stylesheet */
///
///  .deathstar {
///     width: 320px; /* .deathstar { width: 320px; } */
///
///     /* Must be used inside a selector, since we are prepending the "&" value */
///	    @include only(desktop) {
///       width: 980px; /* .device_classic .deathstar { width: 980px; } */
///    }
///
///  }
///
///  /* Use the $nesting param to apply class to root element (html tag) */
///  @include only(mobile, root) {
///    &.html-class .deathstar {
///      color: #C0FFEE; /* .device_mobile.html-class .deathstar { color: #C0FFEE; } */
///    }
///  }

@mixin only($device: null, $nesting: null) {
	@if (global-variable-exists(ygg-device)) {

		// @mixin is at root-level
		@if ( $nesting == root ) {

			// Desktop
			@if ( $device == desktop and $ygg-device == desktop ) {
				@content;

				// Tablet
			} @if ( $device == tablet and $ygg-device == tablet ) {
				@content;

				// Mobile
			} @if ( $device == mobile and $ygg-device == mobile ) {
				@content;
			}

		}

		// @mixin is inside a selector
		@else if ( $nesting != root ) {

			// Desktop
			@if ( $device == desktop and $ygg-device == desktop ) {
				@content;

				// Tablet
			} @if ( $device == tablet and $ygg-device == tablet ) {
				@content;

				// Mobile
			} @if ( $device == mobile and $ygg-device == mobile ) {
				@content;

			}
		}

	} @else {
		@warn "$ygg-device variable does not seem to exist at the moment. Please fix this before using this mixin, mkay?";
	}
}

@mixin editor() {
	@if variable-exists(editor) {
		@if ($editor == true) {
			@content;
		}
	}
}
