<svg style="display:none;">
	<symbol id="ygg-logo">
		<style type="text/css">
		.st0 { fill-rule: evenodd; clip-rule: evenodd; fill: #ffffff; }
	</style>

	<path class="st0" d="M157.4,36.6c-0.5,0.5-0.7,1.2-0.3,1.6l1.2,1.4c0.3,0.4,1.1,0.4,1.6-0.1l4-3.4c1.5,2.5,4.2,4.2,8.6,4.2 c8.2,0,16.8-7.1,19-15.1c3.1-11.2-0.9-17.4-8.6-17.4c-9,0-17.4,7.4-20,16.9c-0.6,2.3-0.9,5-0.4,7.6L157.4,36.6z M175.5,36 c-2,0-4-6.8-1.6-15.2c1.3-4.5,3.3-7.6,4.6-7.6c2.8,0,3.7,8.6,1.7,15.6C178.7,34.5,176.6,36,175.5,36z"/>
	<path class="st0" d="M123.6,42.8c0.6,0,1,0.5,0.8,1.1l-0.6,2.3c-0.2,0.6-0.8,1.1-1.4,1.1H0.9c-0.6,0-1-0.5-0.8-1.1l0.6-2.3 c0.2-0.6,0.8-1.1,1.4-1.1H123.6z"/>
	<path class="st0" d="M156.1,7.8c-2.5,0-6.6,1.2-10,5.8l1.2-4.2c0.2-0.6-0.2-1.1-0.8-1.1h-8.1c-0.6,0-1.2,0.5-1.4,1.1l-5.8,20.7 c-1.2,3-2.6,4.6-3.9,4.6c-1.3,0-1.7-1.2-1.2-2.8l6.3-22.3c0.2-0.6-0.2-1.1-0.8-1.1h-8.1c-0.6,0-1.2,0.5-1.4,1.1l-0.7,2.5 c-1.1-2.1-3.3-4-6.8-4c-6.8,0-12.9,7.3-15.4,16.2c-1,3.6-1.3,7-0.7,9.7c-0.9,0.6-1.9,1.1-2.8,1.1c-2.2,0-3.7-1.2-2.9-4.4l4.9-17.6h4 c0.6,0,1.2-0.5,1.4-1.1l0.7-2.3c0.2-0.6-0.2-1.1-0.8-1.1h-4l2-7.1C101,0.5,100.6,0,100,0h-8.1c-0.6,0-1.2,0.5-1.4,1.1l-2,7.2H85 c-0.6,0-1.2,0.5-1.4,1.1L83,11.7c-0.2,0.6,0.2,1.1,0.8,1.1h3.3l-4.6,16.3c-2,2.6-4.3,4.3-6.1,4.3c-1.1,0-2.1-0.4-1.4-3l8.2-29.3 C83.5,0.5,83.1,0,82.5,0h-8.1c-0.6,0-1.2,0.5-1.4,1.1l-8.9,31.7c-1.1,4,0.5,7.5,6.3,7.5c3.7,0,8.2-2.3,11.9-5.6c0.6,3.2,3,5.6,8,5.6 c3.3,0,6.5-1,9.5-3c1.2,1.9,3.2,3,5.8,3c3.7,0,7.2-1,10.1-3.9c0.6,2.7,2.7,3.9,5.8,3.9c3.1,0,5.7-1.2,7.7-2.9l-4.2,14.8 c-0.2,0.6,0.2,1.1,0.8,1.1h8.1c0.6,0,1.2-0.5,1.4-1.1l3.8-13.6c1.1,1.2,2.7,1.6,3.9,1.6c5.7,0,15.3-6.7,18.4-17.6 C163.8,13.7,160.8,7.8,156.1,7.8z M119.7,17.3L116,30.4c0,0.1-0.1,0.3-0.1,0.4l0,0c-0.7,2.3-2.3,3.1-3.5,3.1c-3.1,0-3.9-3.9-2.2-9.8 c1.7-5.9,4.6-9.8,7.7-9.8C119.1,14.2,120.3,15,119.7,17.3z M149.7,24.1c-1.6,5.8-5.6,10.4-8,10.4c-1,0-1.4-0.7-1-1.9l2.7-9.6 c0.5-1.7,3.2-6.1,5.8-6.1C150.9,16.9,151.2,19.1,149.7,24.1z"/>
	<path class="st0" d="M50,27h-5.9C35.4,37.5,27,41.8,17.5,41.8c-15.7,0-16.8-9.8-15-16c2.3-8.1,12.1-15.7,24.1-15.7 c3.9,0,7.7,0.9,9.6,3.6C38,16.1,38.5,20,37.6,24H42c4.8-6.7,8.8-15.2,12.4-22.9C54.7,0.5,55.4,0,56,0h11c0.6,0,1,0.5,0.8,1.1 L57.2,38.8c-0.2,0.6-0.8,1.1-1.4,1.1h-8.3c-0.6,0-1-0.5-0.8-1.1L50,27z M39.7,27c-4.7,5.6-10,9.4-16.4,9.4 c-8.5,0-12.3-5.1-10.8-10.7c1.1-4,5.5-11.2,14.6-11.2c4,0,8.2,2,5.1,11.4C32.1,26.5,32.4,27,33,27H39.7z M50.9,24h-4.3 c2.4-3.2,4.9-7,7.5-11.2L50.9,24z"/>
	<path class="st0" d="M188.9,34.2c1.6,3,4.3,6.1,10.5,6.1c7.5,0,15.3-4.6,16.8-10.1c1.4-5.1-1.2-8.1-5.9-9.9c-1-0.4-3.9-1.5-4.9-1.9 c-1.1-0.4-2.4-1.4-1.9-3.1c0.3-1.2,1.6-1.9,2.8-1.9c1.4,0,2.7,0.7,3.4,4c0.1,0.6,0.7,0.9,1.3,0.6l7-2.6c0.6-0.2,1-0.8,0.9-1.4 c-1.3-4.9-5.4-6.2-7.9-6.2c-7.8,0-14.4,6.1-16.2,12.7c-1.6,5.8,1.2,7.8,4.3,8.9c0.9,0.3,3.8,1.3,4.7,1.6c1.5,0.5,2.4,1.2,2.1,2.5 c-0.3,1.1-1.4,2.4-3.4,2.4c-2.3,0-3.7-2.3-3.9-5.4c0-0.6-0.6-0.9-1.2-0.6l-7.6,2.9C189,33.1,188.6,33.7,188.9,34.2z"/>
	<path class="st0" d="M292.8,42.8h-6.5l7.8-27.7c1.4-5-0.4-7.3-3.7-7.3c-4.1,0-9.6,3.6-13.4,8.3l1.9-6.8c0.2-0.6-0.2-1.1-0.8-1.1 h-8.1c-0.6,0-1.2,0.5-1.4,1.1l-3.3,11.8c-5.2,8.2-11.5,13-15.5,13c-1.5,0-2.7-1.1-3.4-3.1c6-2.7,13.7-7.8,15.3-13.7 c1.5-5.5-1.7-9.4-6.2-9.4c-8.5,0-17.9,10.3-20.6,20.1c-0.2,0.8-0.4,1.6-0.4,2.5c-1,1.5-2.1,2.5-3.2,2.5c-1.8,0-1.8-0.9-1.3-2.6 l4.9-17.6h5.2c0.6,0,1.2-0.5,1.4-1.1l0.6-2.3c0.2-0.6-0.2-1.1-0.8-1.1h-5.2l2-7.1c0.2-0.6-0.2-1.1-0.8-1.1h-8.1 c-0.6,0-1.2,0.5-1.4,1.1l-2,7.1h-4.1c-0.6,0-1.2,0.5-1.4,1.1l-0.6,2.3c-0.2,0.6,0.2,1.1,0.8,1.1h4l-5.8,20.5c-1.2,4.4,0.7,7,4.7,7 c3.9,0,8.6-2.2,11.6-5.1c1.1,2.9,3.6,5.1,7.8,5.1c6.3,0,13.7-3.4,19.3-8.3l-1.9,6.8c-0.2,0.6,0.2,1.1,0.8,1.1h8.1 c0.6,0,1.2-0.5,1.4-1.1l3.7-13.1c2.1-4,5.9-7.6,7.4-7.6c0.8,0,1,0.6,0.7,1.8L276,42.8H141.8c-0.6,0-1.2,0.5-1.4,1.1l-0.6,2.3 c-0.2,0.6,0.2,1.1,0.8,1.1h135.1c0.8,5.3,5.9,8.7,12.2,8.7c6.8,0,11.4-2.8,12.4-6.5C301.3,45.8,299,42.8,292.8,42.8z M247,21.6 c1.2-4.1,3.1-7.2,3.9-7.2c0.6,0,1,1.3,0,4.8c-0.8,2.8-2.8,5.6-4.8,7.1C246.2,24.9,246.5,23.4,247,21.6z M295.1,50.5 c-0.3,0.9-1.2,1.8-3.1,1.8c-3.1,0-4.8-2.4-5.5-5h5.5C294.2,47.3,295.5,48.8,295.1,50.5z"/>
</symbol>
</svg>
