<svg style="display:none;">
    <symbol id="ygg-logo">

        <style type="text/css">
            .st0 { fill: #1faae3; }
            .st1 { fill: #7dc2eb; }
            .st2 { fill: #ffffff; }
        </style>

        <path class="st0" d="M84.1,31.3c2.8,5.5,4.4,11.7,4.4,18.3c0,21.9-17.8,39.7-39.7,39.7c-21.9,0-39.7-17.8-39.7-39.7c0-6.6,1.6-12.7,4.4-18.2c-6.1-3-10.8-6.8-13.6-11v70.1c0,4.4,3.6,8,8,8h81.3c4.4,0,8-3.6,8-8V20.8C94.5,24.8,90,28.4,84.1,31.3z"/>
        <path class="st1" d="M89.3,1.2H8c-4.4,0-8,3.6-8,8v11.1c2.8,4.2,7.5,8,13.6,11C20.2,18.6,33.5,9.9,48.9,9.9c15.3,0,28.6,8.7,35.2,21.4c5.9-2.9,10.4-6.5,13.2-10.5V9.2C97.3,4.8,93.7,1.2,89.3,1.2z"/>
        <path class="st2" d="M48.9,89.2c21.9,0,39.7-17.8,39.7-39.7c0-6.6-1.6-12.8-4.4-18.3C77.5,18.6,64.2,9.9,48.9,9.9c-15.4,0-28.7,8.7-35.3,21.5C10.8,36.8,9.2,43,9.2,49.5C9.2,71.5,26.9,89.2,48.9,89.2z M77.1,65.4l-9.5,2.6l-11.5,3.2l-5.6-0.2l-0.9-0.7l-11.7,3l-5.6,3.5l-10.2-1.1l-3.2-6.6l-1.9-3.9l8.2-7.8l7.6-2.2l4,1.5l6.7-1.7l6,2.1l0.1-0.8l-6.8-3.8l-5.5-2.3l4.4-2.9 l9.2-1.2L60,45l-0.2,4.3l2.8-0.5l-0.7-4.1L65,43l5.1,0.8l0,2.9l-2.7,8l2,0.4l1.7-2.1l3,0.6l1.9-0.1l3.4,3.6c0,0-1.2,3.8-1.6,3.9 c-0.5,0.1,0.5,0.4,0.5,0.4l3.7-2.5l0.6,2.2L77.1,65.4z M33,53.6l3-2.5l5.5,2.9l-4.6,1.7L33,53.6z M46.3,43.5c0,0,9.5-2.2,9.6-2.6 s3.7,0.9,4.1,1c0.4,0.1-0.4,1.8-0.4,1.8l-12.5,1.6L46.3,43.5z M73,42.8l4.8-0.5l0.2,2.6l4,2.1l-2,1.8l-1.6-0.1l-1.9,1.9l-5.2-2.1 l2.3-4.5L73,42.8z M72.8,41.7l0.2-2.5l4,1.2l1,1l-2.9,0.3L72.8,41.7z M65.4,32.9l0.1-2.5l2.7,1.4L65.4,32.9z M65.7,27.2l0.9-2.4 l1.9,1.8l-0.1,2.5l-3.9-1.2L65.7,27.2z M52.8,12.9l-0.1,1.7l-1.2-0.6l-1.2-0.1L52.8,12.9z M47.2,14.5l0.7-1.5l1.2,0.8l-1.4,1.8 l-1.3,0.5L47.2,14.5z M49.5,29.6L49.2,27l5-2.6l-0.1-0.1l-3.5-0.3l-1.7-1.1l7.3-3.9l1,3.4l2.6-2.5l2.7,0.6l-2,6.5l1,2.4l-1.4,7.7 l-3.3,1.8c0,0-4.3-0.5-9.3-0.2C41.3,39,34,40.2,34,40.2l-1.9-2.8l-9.3,2.2L20.6,36l22.1-4.3l3.2-2.4L49.5,29.6z M42.6,14l0.9-1.1 L43.5,14l-0.1,1.1l-1.6-0.1L42.6,14z"/>
        <polygon class="st0" points="76.4,50.6 78.3,48.7 79.9,48.8 81.9,47 77.9,44.9 77.7,42.3 73,42.8 73.6,44.1 71.2,48.5 "/>
        <path class="st0" d="M78.5,61.3c0,0-1-0.3-0.5-0.4c0.5-0.1,1.6-3.9,1.6-3.9l-3.4-3.6l-1.9,0.1l-3-0.6L69.5,55l-2-0.4l2.7-8l0-2.9 L65,43l-3.1,1.7l0.7,4.1l-2.8,0.5L60,45l-9.2,1.2l-9.2,1.2l-4.4,2.9l5.5,2.3l6.8,3.8l-0.1,0.8l-6-2.1l-6.7,1.7l-4-1.5l-7.6,2.2 l-8.2,7.8l1.9,3.9l3.2,6.6l10.2,1.1l5.6-3.5l11.7-3l0.9,0.7l5.6,0.2l11.5-3.2l9.5-2.6l5.7-4.4l-0.6-2.2L78.5,61.3z"/>
        <path class="st0" d="M60,42c-0.4-0.1-3.9-1.4-4.1-1s-9.6,2.6-9.6,2.6l0.8,1.8l12.5-1.6C59.6,43.7,60.4,42.1,60,42z"/>
        <polygon class="st0" points="41.5,53.9 36,51 33,53.6 36.9,55.6 "/>
        <path class="st0" d="M20.6,36l2.2,3.6l9.3-2.2l1.9,2.8c0,0,7.3-1.2,13.6-1.6c5-0.3,9.3,0.1,9.3,0.2l3.3-1.8l1.4-7.7l-1-2.4l2-6.5 l-2.7-0.6l-2.6,2.5l-1-3.4l-7.3,3.9l1.7,1.1l3.5,0.3l0.1,0.1l-5,2.6l0.2,2.6l-3.6-0.4l-3.2,2.4L20.6,36z"/>
        <polygon class="st0" points="78,41.4 77,40.5 73,39.3 72.8,41.7 75.1,41.8 "/>
        <polygon class="st0" points="65.4,32.9 68.2,31.8 65.6,30.4 "/>
        <polygon class="st0" points="68.5,26.6 66.6,24.8 65.7,27.2 64.5,27.9 68.4,29.1 "/>
        <polygon class="st0" points="43.5,14 43.6,12.9 42.6,14 41.8,15.1 43.5,15.2 "/>
        <polygon class="st0" points="49.1,13.7 47.9,13 47.2,14.5 46.4,16.1 47.6,15.6 "/>
        <polygon class="st0" points="52.7,14.6 52.8,12.9 50.3,13.9 51.5,13.9 "/>
        <path class="st2" d="M395.9,0.9h-31.2c-0.9,0-1.6,0.7-1.6,1.6v94.9c0,1.1,0.9,2,2,2h10.2c1.1,0,2-0.9,2-2V56.7h18.5c1.1,0,2-0.9,2-2 V44.4c0-1.1-0.9-2-2-2h-18.5V16.8c0-0.9,0.7-1.6,1.6-1.6h16.9c1.1,0,2-0.9,2-2V2.9C398,1.8,397,0.9,395.9,0.9z"/>
        <path class="st2" d="M277,59.8c5.7-3.2,7.8-5.9,7.8-21V18.2c0-10-8.1-18.2-18.2-18.2h-26.4c-0.9,0-1.6,0.7-1.6,1.6v94.9 c0,1.1,0.9,2,2,2h10.2c1.1,0,2-0.9,2-2v-33h10.3l7.7,33.4c0.2,1,1.1,1.7,2.2,1.7h10.4c0.6,0,1.2-0.3,1.6-0.8 c0.4-0.5,0.5-1.1,0.4-1.7L277,59.8z M270.4,43c0,3-2.5,5.5-5.5,5.5h-12V15.9c0-0.9,0.7-1.6,1.6-1.6h10.4c3,0,5.5,2.5,5.5,5.5V43z"/>
        <path class="st2" d="M441.5,60.7c5.7-3.2,7.8-5.9,7.8-21V19.1c0-10-8.1-18.2-18.2-18.2h-26.4c-0.9,0-1.6,0.7-1.6,1.6v94.9 c0,1.1,0.9,2,2,2h10.2c1.1,0,2-0.9,2-2v-33h10.3l7.7,33.4c0.2,1,1.1,1.7,2.2,1.7h10.4c0.6,0,1.2-0.3,1.6-0.8 c0.4-0.5,0.5-1.1,0.4-1.7L441.5,60.7z M434.9,43.9c0,3-2.5,5.5-5.5,5.5h-12V16.8c0-0.9,0.7-1.6,1.6-1.6h10.4c3,0,5.5,2.5,5.5,5.5 V43.9z"/>
        <path class="st2" d="M555.4,1.8c-0.4-0.5-1-0.9-1.7-0.9h-11.2c-1,0-1.8,0.6-2.1,1.5L531,31.5c-0.3,1-0.7,2.4-1,3.7 c-0.3-1.3-0.7-2.5-1.1-3.8l-9.4-29.1c-0.3-0.9-1.1-1.5-2.1-1.5h-11.2c-0.7,0-1.3,0.3-1.7,0.9c-0.4,0.5-0.5,1.2-0.2,1.9L522.2,53 c0.4,1.1,0.6,2.2,0.6,3.4v40.9c0,1.1,0.9,2,2,2h10.2c1.1,0,2-0.9,2-2V56.4c0-1.2,0.2-2.3,0.6-3.4l17.9-49.4 C555.8,3,555.7,2.3,555.4,1.8z"/>
        <path class="st2" d="M324.1,4.4c-0.5-2.6-2.8-4.4-5.4-4.4h-6.2c-2.6,0-4.9,1.8-5.4,4.4L288.2,96c-0.1,0.6,0,1.2,0.4,1.7 c0.4,0.5,1,0.8,1.6,0.8h10.7c1.1,0,2-0.8,2.2-1.8l3.5-18.1h18.2l3.5,18.1c0.2,1,1.1,1.8,2.2,1.8H341c0.6,0,1.2-0.3,1.6-0.8 c0.4-0.5,0.5-1.1,0.4-1.7L324.1,4.4z M309.2,64.3l0.2-1.3l6.1-37.6l6.1,37.6l0.2,1.3H309.2z"/>
        <path class="st2" d="M599.1,96.9L580.2,5.3c-0.5-2.6-2.8-4.4-5.4-4.4h-6.2c-2.6,0-4.9,1.8-5.4,4.4l-18.9,91.6 c-0.1,0.6,0,1.2,0.4,1.7c0.4,0.5,1,0.8,1.6,0.8H557c1.1,0,2-0.8,2.2-1.8l3.5-18.1h18.2l3.5,18.1c0.2,1,1.1,1.8,2.2,1.8h10.7 c0.6,0,1.2-0.3,1.6-0.8C599.1,98.2,599.2,97.5,599.1,96.9z M565.3,65.2l0.2-1.3l6.1-37.6l6.1,37.6l0.2,1.3H565.3z"/>
        <path class="st2" d="M232.4,0.2h-36.9c-1.1,0-2,0.9-2,2v10.2c0,1.1,0.9,2,2,2h11.3v82.1c0,1.1,0.9,2,2,2h0h10.2h0c1.1,0,2-0.9,2-2 V14.5h11.3c1.1,0,2-0.9,2-2V2.2C234.4,1.1,233.5,0.2,232.4,0.2z"/>
        <path class="st2" d="M186.5,0h-10.2c-1.1,0-2,0.9-2,2v94.4c0,1.1,0.9,2,2,2h10.2c1.1,0,2-0.9,2-2V2.1C188.6,0.9,187.7,0,186.5,0z"/>
        <path class="st2" d="M164,0.2h-10.2c-1.1,0-2,0.9-2,2v13.2v26.2h-18.9V15.4V2.2c0-1.1-0.9-2-2-2h-10.2c-1.1,0-2,0.9-2,2V31v65.6 c0,0.6,0.2,1.1,0.6,1.4c0.3,0.3,0.6,0.5,1,0.6l0.4,0h10.2c0.3,0,0.6-0.1,0.8-0.2c0.4-0.2,0.7-0.4,0.9-0.7c0.2-0.3,0.4-0.7,0.4-1.1 V56h18.9v40.6c0,0.4,0.1,0.8,0.4,1.1c0.3,0.4,0.8,0.8,1.3,0.9l0.4,0H164l0.4,0c0.4-0.1,0.8-0.3,1-0.6c0.4-0.4,0.6-0.9,0.6-1.4V31 V2.2C166,1.1,165.1,0.2,164,0.2z"/>
        <path class="st2" d="M499.6,2.6c0.3-0.8-0.3-1.7-1.2-1.7h-7.7c-0.5,0-1,0.3-1.1,0.8c-2.4-1-4.9-1.5-7.6-1.5h-6.3 c-11.1,0-20.2,9-20.2,20.2V80c0,4.3,1.4,8.3,3.7,11.5l-2.1,6.2c-0.3,0.8,0.3,1.7,1.2,1.7h7.7c0.5,0,1-0.3,1.2-0.9l0.1-0.3 c2.6,1.2,5.4,1.9,8.4,1.9h6.3c11.1,0,20.2-9,20.2-20.2V20.3c0-4.7-1.6-9-4.3-12.4L499.6,2.6z M469.7,21c0-3.6,2.9-6.5,6.5-6.5h5 c1.1,0,2.1,0.3,3.1,0.8l0.1,0.3l-14.7,43.6V21z M487.8,79.3c0,3.6-2.9,6.5-6.5,6.5h-5c-1.6,0-3.1-0.6-4.3-1.6l-0.1-0.3l15.9-47V79.3 z"/>
        <circle class="st2" cx="348" cy="50.1" r="6.1"/>

    </symbol>
</svg>
