iframe[id^="dakapo"] {
    height: 0;
}

.js-require-widget[data-external*="dakapo"][style*="none"]:first-child + .gridRow {
    margin-top: 0;
}

@include only(mobile) {
    .js-require-widget[data-external*="dakapo"][data-position="paywall"] {
        margin-left: -#{ygg-space(gutter)};
        margin-right: -#{ygg-space(gutter)};
    }
}
