// Basic Widget Definition
.polarisMarketing {
	@include ygg-ad;

	// Center content in ads
	text-align: center;

	> * {
		display: block; // Careful, there be <style> and <script> here
		margin-right: auto;
		margin-left: auto;
	}

	// Full width on mobile, center content inside ad containers
	@include only(mobile) {
		margin-left: -#{ygg-space(gutter)};
		margin-right: -#{ygg-space(gutter)};

		// Center inline/block content in ads
		// Two levels deep because Adtech containers
		> *,
		> * > * {
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}

		style,
		script {
			display: none;
		}
	}

	// Force fullwidth on native-ads (iframe), same as Aftenposten
	[class^="other_native"] iframe {
		width: 100% !important;
	}

	// AppNexus specific defaults
	[id^="board"] {
		min-height: 250px;
	}
}


// Outer left and right (desktop only)
@include only(desktop, root) {
	.outerAdLeft,
	.outerAdRight {
		margin: 0 auto -100px auto;
		position: relative;
		width: 180px;
		height: 100px;
		z-index: 10;

		.polarisMarketing {
			position: static;
			margin-top: 0;
			text-align: left;
		}

		// Stay below sticky header
		[style*="fixed"] {
			top: 64px !important;
		}

		// Stick to bottom if inline style says so
		[style*="position: fixed; bottom: 0px;"] {
			top: auto !important;
		}
	}

	.outerAdLeft {
		right: 595px;
	}

	.outerAdRight {
		left: 595px;
	}

	// Header specific (topboard)
	.ygg-header .polarisMarketing:not(:empty) {
		max-width: 980px;
		margin: 0 auto;
	}

	.ygg-content > .polarisMarketing:not(:empty),
	.ygg-content .gridUnit .polarisMarketing:not(:empty) {
		padding-top: 12px;
		margin-top: (ygg-space(stack));
		margin-bottom: (ygg-space(stack));
	}

	.ygg-content .gridRow.c64 .polarisMarketing:not(:empty) {
		margin-top: 0;
		padding-top: 0;
	}


	// Wallpaper with topboard horizontal offset (1010px wide, move 15px left)
	.is-wallpaper .polarisMarketing[id="topboard"],
	.is-horseshoe .polarisMarketing[id="topboard"] {
		left: -15px;
	}

	.polarisMarketing[id="wallpaper"] {
		height: 0;

		&::before {
			content: none; // No ad label on wallpaper background
		}
	}

	.is-wallpaper body[style*="fixed"],
	.is-horseshoe body[style*="fixed"] {
		background-position: center 64px !important; // Match height of topboard and skyskrapers
	}

	// Compensate for background image getting too close to article headline (wallpaper only)
	.art.is-wallpaper .ygg-content,
	.art.is-horseshoe .ygg-content {
		padding-top: ygg-space(stack);
	}
}



// Recurring ads in body text
.ygg-base-article .body > .polarisMarketing {
	@include only(desktop) {
		clear: both; // Prevent side-aligned images from stealing space
	}
}

.ygg-base-article .body > .polarisMarketing:not(:empty):not(:last-child) {
	@include only(mobile) {
		margin-top: u(6);
	}

	@include only(desktop) {
		margin-top: u(6);
	}
}

.ygg-base-article .body > .polarisMarketing:not(:empty):not(:last-child)::after {
	font-style: italic;
	position: absolute;

	[lang="nb"] & {
		content: "Saken fortsetter etter annonsen";
	}

	[lang="nn"] & {
		content: "Saka held fram etter annonsen";
	}

	@include only(mobile) {
		top: -#{u(3)};
		left: ygg-space(gutter);
	}

	@include only(desktop) {
		top: -#{u(4.5)};
		left: 0;
	}
}



// Debug - ?showAdParams=true
[id*="viewport"] .polarisMarketing.debug {
	background-color: ygg-color(error);
	color: #fff;
	line-height: 1.5;
	padding: ygg-space(y) ygg-space(gutter);
	text-align: left;

	// Reset inherit stuff
	strong {
		width: auto;
		margin: 0;
		display: initial;
		font-size: u(1);
	}

	&:before {
		content: "Debug: annonseplassering";
		top: -(u(1));
		left: ygg-space(gutter) !important;
		transform: none !important;
		color: ygg-color(error);
		font-weight: 700;
	}
}

// Make it readable in debug mode
[id="outer"] .debug {
	margin-bottom: ygg-space(stack);
}

// Fullscreen mobile
/* @include only(mobile, root) {
	html.is-fullscreen main > div:not(.fullscreen),
	html.is-fullscreen main > div:not(.fullscreen):not(.masterTheme),
	html.is-fullscreen main > div.masterTheme > div:not(.fullscreen) {
		z-index: 2;
		position: relative;
	}

	.polarisMarketing.fullscreen {
		height: 100vh !important;
		width: 100vw !important;
		overflow: visible;
		position: relative;
		z-index: 1;

		> div {
			display: block !important;
			position: fixed !important;
			width: inherit !important;
			height: inherit !important;
			top: 0;
			left: 0;
			overflow: hidden;
		}

		> div > div,
		> div > iframe {
			height: 100vh !important;
			width: 100vw !important;
			display: none;
		}

		&.in-view > div > div,
		&.in-view > div > iframe {
			display: block !important;
		}

		&::after,
		&::before {
			margin-right: -100%;
			margin-left: -100%;
			content: "";
			background-color: ygg-color(background);
			height: 300vh;
			z-index: 1;
			position: relative;
			display: block;
		}

		&::before {
			top: -300vh;
		}

		&::after {
			top: -200vh;
		}
	}
} */
