<svg style="display:none;">
    <symbol id="ygg-logo">
        <style>
            .st0 {
                fill: #ffffff;
            }
        </style>

        <path class="st0" d="M40.9,21.8L33,23.3c0.3-1.6,0.5-2.9,0.5-3.9c0-6.8-4.1-10.2-12.4-10.2c-6.5,0-9.8,2.3-9.8,7 c0,3.5,3.6,6.5,10.9,9.1c14.1,4.8,21.1,12,21.1,21.4c0,5.5-2,10-5.9,13.4c-3.9,3.4-9.2,5-15.7,5C7.2,65,0,59.4,0,48.2 c0-0.9,0.1-2,0.2-3.4L8.4,43c-0.6,2.5-0.9,4.6-0.9,6.5c0,7.3,4.2,10.9,12.5,10.9c6.7,0,10-2.6,10-7.8c0-3.9-4-7.3-12-10.2 C6.4,38,0.7,31.3,0.7,22c0-5.3,1.9-9.5,5.8-12.7c3.8-3.2,8.9-4.8,15.2-4.8C34.5,4.5,40.9,10.3,40.9,21.8z"/>
        <path class="st0" d="M89,64H73.3V32.2c0-3.2-0.9-4.8-2.7-4.8c-1.8,0-3.4,1.3-4.8,3.8c-1.3,2.6-2,5.6-2,9.1V64H48.2V20.7 c5.4,0,10.6-0.4,15.6-1.1v8.1c3.9-5.4,8.6-8.1,14.2-8.1c7.3,0,10.9,3.7,10.9,11.1V64z"/>
        <path class="st0" d="M139.4,62.4c-3.8,1.5-7.6,2.2-11.2,2.2c-5.4,0-8.7-1.7-9.9-5c-2.6,3.5-6.3,5.2-11.2,5.2 c-9.1,0-13.7-4.2-13.7-12.7c0-6.4,4.2-10.9,12.5-13.5c7.7-2.4,11.5-5.3,11.5-8.7c0-4.4-2.2-6.6-6.6-6.6c-5.1,0-7.6,2.1-7.6,6.4 c0,1.3,0.4,3.1,1.2,5.3l-7.8-1.5c-0.2-1.3-0.3-2.6-0.3-3.8c0-6.9,6.3-10.3,18.8-10.3c11.9,0,17.8,3.2,17.8,9.6v26.2 c0,2.7,0.9,4,2.6,4c0.5,0,1.3-0.3,2.4-0.9L139.4,62.4z M114.6,0c5.5,0,8.2,2.7,8.2,8.1c0,5.4-2.7,8.1-8.2,8.1 c-5.4,0-8.1-2.7-8.1-8.1C106.4,2.7,109.2,0,114.6,0z M117.2,38c-1,1.1-2.1,2-3.4,2.8c-3.2,1.9-4.8,5.1-4.8,9.5 c0,5.7,1.1,8.6,3.3,8.6c3.3,0,4.9-2.8,4.9-8.5V38z M114.6,4.7c-2.4,0-3.6,1.2-3.6,3.5c0,2.3,1.2,3.5,3.6,3.5c2.4,0,3.6-1.2,3.6-3.5 C118.2,5.8,117,4.7,114.6,4.7z"/>
        <path class="st0" d="M176,31.9l-7.6,1.3c0-6.5-3-9.7-9-9.7c-3.7,0-5.5,1.5-5.5,4.5c0,2.2,3.2,4.6,9.5,7.2c9.7,4,14.6,9,14.6,15.1 c0,9.7-6.2,14.6-18.6,14.6c-13.1,0-19.6-4.9-19.6-14.6l8.1-1.6c-0.1,0.9-0.2,1.8-0.2,2.7c0,2.5,1.1,4.7,3.1,6.6 c2.1,1.9,4.6,2.8,7.4,2.8c3.8,0,5.7-1.6,5.7-4.8c0-2.1-3-4.5-9.1-7.1c-9.2-3.9-13.8-9-13.8-15.2c0-4.1,1.8-7.4,5.3-10.1 c3.5-2.6,8-3.9,13.5-3.9C169.6,19.7,175,23.7,176,31.9z"/>
        <path class="st0" d="M224,64h-15.6V32.2c0-3.2-0.9-4.8-2.7-4.8c-1.8,0-3.4,1.3-4.8,3.8c-1.3,2.6-2,5.6-2,9.1V64h-15.6V20.7 c5.4,0,10.6-0.4,15.6-1.1v8.1c3.9-5.4,8.6-8.1,14.2-8.1c7.3,0,10.9,3.7,10.9,11.1V64z"/>
        <path class="st0" d="M231,64V20.8c4.9,0,10.1-0.4,15.6-1.2V64H231z M238.9,4c4.9,0,7.3,1.9,7.3,5.7c0,3.8-2.4,5.7-7.3,5.7 c-4.9,0-7.3-1.9-7.3-5.7C231.6,5.9,234,4,238.9,4z"/>
        <path class="st0" d="M294.3,64h-15.6V32.2c0-3.2-0.9-4.8-2.7-4.8c-1.8,0-3.4,1.3-4.8,3.8c-1.3,2.6-2,5.6-2,9.1V64h-15.6V20.7 c5.4,0,10.6-0.4,15.6-1.1v8.1c3.9-5.4,8.6-8.1,14.2-8.1c7.3,0,10.9,3.7,10.9,11.1V64z"/>
        <path class="st0" d="M330.3,21.2c7.3,3.1,10.9,7.6,10.9,13.6c0,3.9-1.8,7.3-5.5,10c-3.7,2.8-8.1,4.2-13.2,4.2c-2,0-4.7-0.3-8.1-0.8 c-2,1.1-3,2.3-3,3.4c0,1.6,1.2,2.4,3.6,2.4c0.6,0,1.9-0.1,3.8-0.2c4.8-0.3,8.3-0.5,10.5-0.5c10.4,0,15.6,3.9,15.6,11.8 c0,9.5-8.6,14.3-25.8,14.3c-12.8,0-19.3-2.7-19.3-8.1c0-3.1,2.6-5.2,7.8-6.3c-5.5-1.5-8.3-3.9-8.3-7.2c0-4.2,3.3-7.9,9.9-11.1 c-5.8-2.3-8.7-6.3-8.7-12c0-4.3,1.8-7.9,5.3-10.8c3.5-2.9,7.9-4.4,13.1-4.4c1.8,0,4.1,0.2,7,0.6c-0.1-1-0.2-1.8-0.2-2.4 c0-5.7,3-8.5,8.9-8.5c4.7,0,7.1,2,7.1,6c0,3-1.4,4.5-4.2,4.5c-0.9,0-2.1-0.3-3.3-0.9c-0.8-0.4-1.4-0.6-1.8-0.6 C330.9,18.1,330.3,19.1,330.3,21.2z M320.2,66.8c-7.3,0-10.9,1.4-10.9,4.2c0,2.8,3.5,4.2,10.6,4.2c8.2,0,12.3-1.6,12.3-4.7 C332.1,68,328.1,66.8,320.2,66.8z M320.6,23.8c-2.9,0-4.4,3.6-4.4,10.9c0,6.7,1.5,10,4.5,10c2.8,0,4.2-3,4.2-8.9 C324.9,27.8,323.5,23.8,320.6,23.8z"/>
        <path class="st0" d="M378.1,48.2l6.3,1.8c-0.7,10-6.5,15-17.7,15c-14.4,0-21.6-7.2-21.6-21.6c0-7,1.9-12.7,5.7-17.1 c3.8-4.5,8.7-6.7,14.7-6.7c12.5,0,18.7,8.1,18.7,24.2h-22.8c0,11.3,2.9,17,8.6,17c5.4,0,8.1-3.2,8.1-9.6 C378.1,50.3,378.1,49.3,378.1,48.2z M361.4,38.9h9.4c0-10.1-1.5-15.1-4.5-15.1c-2.7,0-4.3,3.7-4.6,11.2L361.4,38.9z"/>
        <path class="st0" d="M429.8,64h-15.6V32.2c0-3.2-0.9-4.8-2.7-4.8c-1.8,0-3.4,1.3-4.8,3.8c-1.3,2.6-2,5.6-2,9.1V64h-15.6V20.7 c5.4,0,10.6-0.4,15.6-1.1v8.1c3.9-5.4,8.6-8.1,14.2-8.1c7.3,0,10.9,3.7,10.9,11.1V64z"/>
    </symbol>
</svg>
