// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #af0737,
	);

// Local settings
$pub-settings: (
	ygg-lead-front-enabled: true,
	ygg-lead-section-enabled: true,
	);
