.sec.ygg-sc {

	[id="viewport"] {
		background-color: #fbf6eb;
	}

	.sc-section-grid {
		.article + .article {
			margin-top: ygg-space(stack);
		}

		.article {
			@include ygg-card();
			background-color: ygg-color(white) !important;
			position: relative;
		}

		.media {
			@include ygg-card-image(top, full);
		}

		@include only(mobile) {
			.text {
				@include ygg-card-text-container(top, full);
			}
		}

		@include only(desktop) {
			.text {
				@include ygg-card-text-container(top, full, none);
			}
		}

		.kicker {
			@include ygg-kicker(medium);
			font-style: normal;
		}

		.headline {
			@include ygg-heading(medium);
		}

		.headline a::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
		}

		a {
			color: ygg-color(black);
		}

		.lead {
			@include ygg-lead(medium);
		}
	}

	// Fancy grid
	// TODO: modernizr
	@supports (display: grid) {
		@include only(desktop) {
			.sc-section-grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: ygg-space(x);

				> :first-child {
					grid-column-start: 1;
					grid-column-end: span 3;
				}
			}
		}
		@include only(mobile) {
			@media (min-width: 670px) {
				.sc-section-grid {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-column-gap: ygg-space(x);

					> :first-child {
						grid-column-start: 1;
						grid-column-end: span 2;
					}
				}
			}
		}
	}

	// Ancient inline-block
	// TODO: modernizr
	@supports not (display: grid) {
		@include only(desktop) {
			.sc-section-grid {
				.article {
					display: inline-block;
					margin-left: ygg-space(x);
					vertical-align: top;
					width: calc((99% - (#{ygg-space(x)} * 2)) / 3);
				}

				> .article:first-child {
					margin-left: 0;
					width: 100%;
				}

				.article:nth-child(3n+2) {
					margin-left: 0;
				}
			}
		}

		@include only(mobile) {
			@media (min-width: 670px) {
				.sc-section-grid {
					.article {
						display: inline-block;
						vertical-align: top;
						width: calc(50% - #{ygg-space(x)});
					}

					> .article:first-child {
						width: 100%;
					}

					.article:nth-child(2n+3) {
						margin-left: ygg-space(x);
					}
				}
			}
		}
	}
}
