<svg style="display:none;">
	<symbol id="ygg-logo">
		<style>
			/* 0 0 432.06 156.44 */
			.st0 {
			fill: #babcbf;
			}

			.st1 {
			fill: #ffffff;
			}

			.st2 {
			fill: #c1342e;
			}
		</style>

		<path class="st0" d="M113.99,22.33c-5.68-11.28-12.46-18.61-17.05-18.61c-4.32,0-13.34,5.27-21.68,18.61 c-0.46,0.73-0.91,1.48-1.36,2.25l1.2,3.9c1.45-2.02,3.2-4.22,4.98-6.15c3.1-3.35,6.3-5.91,8.21-5.41c2.36,0.63,4.94,2.53,7.53,5.41 c9.23,10.3,18.55,33.17,18.55,55.5c0,34.86-24.71,41.63-28.42,41.63c-8.29,0-14.73-6.43-36.89-14.73c3.39-5.58,6.76-11,8.97-16.75 c18.44,0,23.85-1.69,31.3-6.76c2.54-1.69,5.59-3.9,8.97-6.09c-4.4-4.24-7.27-8.47-9.64-13.87c-4.74,4.74-9.31,8.12-13.71,10.15 c3.39,2.03,4.74,4.74,4.74,6.6c0,4.4-5.25,6.76-20.48,6.93c3.18-11.15,3.6-15.61,4.16-25.56c0.04-0.77,0.04-3.9-0.26-9.6 c-0.3-5.7-1.15-9.31-1.15-9.31c-1.08-7.03-3.06-13.06-5.54-18.14C48.82,6.77,36.47,0,30.63,0C21.32,0,0,12.01,0,33.67 c0,19.13,10.57,34.68,24.87,44.11c8.08,5.33,17.34,8.71,26.57,9.69c-1.52,6.25-2.88,9.3-6.76,16.07c-1.02-0.34-2.03-0.51-3.22-0.51 c-2.7,0-6.6,1.94-16.59,13.39c-0.65,0.74-1.32,1.53-2.03,2.35l2.03,1.52l0.01,0.01c3.55-4.23,6.26-6.09,8.8-6.09 c10.49,0,39.25,15.57,41.79,18.11c5.25-6.26,23.86-12.86,33.34-22.33c8.29-8.29,15.73-22.17,15.73-43.99 C124.53,49.7,119.84,33.93,113.99,22.33z M24.87,74.56C12.34,65.65,3.05,51.58,3.05,35.36c0-17.77,11-26.23,18.78-26.23 c4.67,0,12.54,4.11,19.32,13.19c6.99,9.36,12.82,23.99,12.82,44.84c0,3.72-0.68,11.67-1.86,17.42 C42.78,84.06,33.12,80.43,24.87,74.56z"/>
		<path class="st1" d="M176.45,83.99c0.08-7.02,2.11-17.81,8.85-17.81c6.19,0,7.68,7.23,7.68,17.81H176.45z M203.01,88.63 c0.24-15.22-7.21-27.09-18.1-27.09c-5.8,0-10.81,3.13-14.49,9.28c-3.29,5.5-5.09,12.52-5.09,19.53c0,15.76,9.4,25.79,20.22,25.79 c7.68,0,12.93-4.21,17.78-12.09l-1.88-2.27c-2.98,4.32-7.05,7.88-11.52,7.88c-8.23,0-13.32-11.01-13.32-21.04H203.01"/>
		<path class="st1" d="M219.84,73.09c2.2-2.81,5.17-5.07,8.15-5.07c7.6,0,8.54,12.95,8.54,20.94c0,7.66-1.49,21.37-8.7,21.37 c-3.13,0-6.19-1.84-7.99-5.18V73.09z M218.59,109.78c3.21,3.56,7.29,6.37,11.52,6.37c7.91,0,17.71-7.45,17.71-28.27 c0-13.6-5.41-26.33-16.3-26.33c-4.31,0-8.38,2.59-11.67,6.15V33.91L203,40.5v3.35c4.54,0.75,5.48,4.64,5.56,10.36v59.57l1.88,2.91 L218.59,109.78"/>
		<path class="st1" d="M267.08,33.91v70.58c0,6.37,2.67,7.02,5.02,7.02v3.35h-21.55v-3.35c2.82,0,5.25-0.43,5.25-8.85V54.2 c-0.08-5.72-1.02-9.6-5.56-10.36V40.5L267.08,33.91"/>
		<path class="st1" d="M298.57,103.74c-1.8,2.91-4.62,5.93-7.52,5.93c-3.68,0-5.48-3.78-5.48-8.63c0-10.25,6.74-13.81,13.01-14.78 V103.74z M309.86,79.35c0-4.97-0.08-9.82-3.6-13.81c-2.82-3.13-8.07-3.99-11.52-3.99c-13.32,0-17.95,7.77-17.95,13.06 c0,3.67,2.43,6.26,4.94,6.26c3.05,0,4.86-3.99,5.8-7.66c1.09-4.1,2.04-8.09,5.87-8.09c5.49,0,5.17,8.31,5.17,13.49v2.91 c-8.31,1.83-24.76,5.93-24.76,21.04c0,9.5,5.09,13.6,11.52,13.6c5.17,0,9.24-2.16,13.24-6.48c1.65,3.99,4.46,6.48,7.75,6.48 c3.29,0,6.82-2.81,8.7-6.48l-0.55-1.94c-0.63,0.32-1.33,0.65-1.96,0.65c-2.74,0-2.58-3.35-2.66-6.04V79.35"/>
		<path class="st1" d="M345.66,103.63c-2.04,3.34-3.99,6.04-7.44,6.04c-7.13,0-9.4-14.03-9.4-21.58c0-16.08,5.72-20.07,8.54-20.07 c2.66,0,6.35,2.7,8.3,5.18V103.63z M345.66,67.48c-3.13-3.34-6.97-5.94-10.97-5.94c-7.29,0-17.63,7.99-17.63,28.27 c0,14.78,6.51,26.33,17.63,26.33c4.23,0,8.07-2.16,10.97-6.37v7.02c4.78-1.3,9.79-1.51,17.08-1.94v-3.35 c-4.78-0.65-5.8-4.32-5.8-10.15V33.91l-17.32,5.94v3.35c4.86,0.43,6.03,4.32,6.03,10.47V67.48"/>
		<path class="st1" d="M373.92,83.99c0.08-7.02,2.11-17.81,8.85-17.81c6.19,0,7.68,7.23,7.68,17.81H373.92z M400.48,88.63 c0.24-15.22-7.21-27.09-18.1-27.09c-5.8,0-10.81,3.13-14.49,9.28c-3.29,5.5-5.09,12.52-5.09,19.53c0,15.76,9.4,25.79,20.21,25.79 c7.68,0,12.93-4.21,17.79-12.09l-1.88-2.27c-2.98,4.32-7.05,7.88-11.52,7.88c-8.23,0-13.32-11.01-13.32-21.04H400.48"/>
		<path class="st1" d="M402.44,67.48v-5.07c10.03-1.29,11.59-9.07,13.95-18.89h2.98v18.89h10.89v5.07h-11.05v33.13 c0,3.99,1.02,7.77,5.02,7.77c2.12,0,4.39-2.05,6.03-3.89l1.8,2.37c-2.98,5.29-8.3,9.28-13.08,9.28c-8.38,0-11.05-8.85-11.05-15 V67.48H402.44"/>
		<path class="st1" d="M62.61,35.86v3.56c-5.56,0.54-6.19,2.05-6.19,4.53c0,1.51,0.47,3.24,0.86,4.64L69.35,95.1l10.26-40.58 c0.55-2.37,1.33-4.86,1.33-7.34c0-5.5-3.05-7.44-6.5-7.77v-3.56h19.27v3.56c-4.86,1.51-7.13,2.37-10.58,17.05l-14.89,59.68h-6.58 l-15.9-60.97c-1.8-6.8-3.13-14.89-9.25-15.75v-3.56H62.61"/>
		<path class="st1" d="M134.3,88.52l8.54-11.22c1.1-1.4,3.76-4.96,3.76-7.12c0-3.35-2.58-3.78-4.47-3.99v-3.34h20.69v3.13 c-6.35,1.19-11.28,7.12-15.75,13.06l-0.94,1.4l11.05,21.91c2.43,4.86,3.76,7.55,8.15,9.17v3.35h-21.78v-3.35 c1.33-0.11,2.98-0.97,2.98-3.13c0-1.73-1.25-3.99-1.96-5.4l-6.58-12.84l-3.68,4.53v9.82c0,6.37,2.74,7.02,5.09,7.02v3.35h-21.55 v-3.35c2.82,0,5.17-0.43,5.17-8.85V54.2c0-5.72-1.02-9.6-5.56-10.36V40.5l16.84-6.58V88.52"/>
		<path class="st1" d="M93.56,114.85v-3.35c2.82,0,5.17-0.43,5.17-8.85V80.75c0-5.72-1.02-9.61-5.56-10.36v-3.34l16.85-6.58v44.03 c0.08,6.37,2.66,7.02,5.02,7.02v3.35H93.56z M103.82,33.91c3.68,0,6.58,4.1,6.58,9.07c0,5.07-2.9,9.07-6.58,9.07 c-3.6,0-6.58-3.99-6.58-9.07C97.24,38.02,100.22,33.91,103.82,33.91"/>
		<path d="M172.19,131.61v0.89c-1.92,0.13-2.13,0.51-2.13,1.13c0,0.38,0.17,0.81,0.3,1.16l4.16,11.63l3.54-10.15 c0.18-0.59,0.46-1.21,0.46-1.83c0-1.38-1.05-1.86-2.24-1.94v-0.89h6.64v0.89c-1.67,0.38-2.45,0.6-3.64,4.27l-5.13,14.92h-2.27 l-5.48-15.24c-0.62-1.7-1.08-3.72-3.19-3.94v-0.89H172.19"/>
		<path d="M198.15,144.81c0,2.52,1.76,5.26,4.59,5.26c1.54,0,2.94-0.89,3.97-1.97l0.65,0.57c-1.67,1.97-3.48,3.02-6.13,3.02 c-3.72,0-6.96-2.51-6.96-6.45c0-1.75,0.62-3.51,1.75-4.88c1.27-1.54,2.99-2.32,4.99-2.32c3.75,0,6.31,2.97,6.24,6.77H198.15z M203.79,143.65c0-2.65-0.52-4.45-2.64-4.45c-2.32,0-3.02,2.7-3.05,4.45H203.79"/>
		<path d="M233.79,142.17l-1.05,0.38c-1.27-1.54-3.22-3.45-5.34-3.45c-0.97,0-2.08,0.6-2.08,1.67c0,1.65,2.7,1.81,3.86,2 c2.43,0.4,5.23,1.27,5.23,4.26c0,1.48-0.62,2.78-1.62,3.62c-1.16,0.97-2.67,1.32-5.01,0.97c-0.54-0.08-1.05-0.27-1.59-0.27 c-0.87,0-1.73,0.16-2.48,0.54l-1.35-4.67l0.97-0.29c1.43,1.81,3.46,3.78,5.91,3.78c0.97,0,2.1-0.48,2.1-1.62 c0-1.59-1.86-2.03-3.1-2.29c-2.46-0.51-5.59-1.27-5.59-4.37c0-2.54,2.13-4.37,4.59-4.37c1.11,0,2.41,0.54,3.24,0.54 c0.7,0,1.43-0.35,2-0.81L233.79,142.17"/>
		<path d="M248.66,139.52v-1.27c3.45-0.32,3.99-2.26,4.8-4.72h1.03v4.72h3.75v1.27h-3.8v8.29c0,1,0.35,1.94,1.72,1.94 c0.73,0,1.51-0.51,2.08-0.97l0.62,0.59c-1.02,1.32-2.86,2.32-4.51,2.32c-2.89,0-3.8-2.21-3.8-3.75v-8.42H248.66"/>
		<path d="M277.17,153.85c0.03,1.59,0.92,1.75,1.73,1.75v0.83h-7.39v-0.83c0.97,0,1.7-0.11,1.78-2.21v-10.55 c-0.03-1.43-0.36-2.4-1.92-2.59v-0.84l5.8-1.65v2.02c1.06-1.11,2.51-1.75,4.02-1.75c3.73,0,5.59,3.18,5.59,6.61 c0,4.94-3.72,7.04-5.8,7.04c-1.43,0-2.67-0.65-3.81-1.46V153.85z M277.17,148.8c0.78,0.78,1.51,1.43,2.68,1.43 c2.56,0,3.05-3.83,3.05-5.75c0-1.81-0.43-4.83-2.81-4.83c-1.19,0-2.18,0.7-2.92,1.59V148.8"/>
		<path d="M299.13,145.05c0-4.67,3.97-7.01,7.29-7.01c4.42,0,6.59,3.45,6.59,6.45c0,4.13-2.78,7.2-6.96,7.2 C302.29,151.69,299.13,148.88,299.13,145.05z M303.02,144.97c0,1.99,0.43,5.66,3.1,5.66c2.62,0,3-3.75,3-5.66 c0-1.97-0.22-5.89-2.94-5.89C303.47,139.09,303.02,142.98,303.02,144.97"/>
		<path d="M339.65,142.17l-1.05,0.38c-1.27-1.54-3.21-3.45-5.35-3.45c-0.97,0-2.08,0.6-2.08,1.67c0,1.65,2.7,1.81,3.86,2 c2.43,0.4,5.23,1.27,5.23,4.26c0,1.48-0.62,2.78-1.62,3.62c-1.16,0.97-2.67,1.32-5.02,0.97c-0.54-0.08-1.05-0.27-1.59-0.27 c-0.87,0-1.73,0.16-2.49,0.54l-1.35-4.67l0.97-0.29c1.43,1.81,3.45,3.78,5.91,3.78c0.97,0,2.1-0.48,2.1-1.62 c0-1.59-1.86-2.03-3.1-2.29c-2.45-0.51-5.59-1.27-5.59-4.37c0-2.54,2.13-4.37,4.59-4.37c1.11,0,2.41,0.54,3.25,0.54 c0.69,0,1.43-0.35,1.99-0.81L339.65,142.17"/>
		<path d="M354.52,139.52v-1.27c3.46-0.32,4-2.26,4.81-4.72h1.03v4.72h3.75v1.27h-3.81v8.29c0,1,0.35,1.94,1.73,1.94 c0.73,0,1.51-0.51,2.08-0.97l0.62,0.59c-1.03,1.32-2.86,2.32-4.51,2.32c-2.89,0-3.8-2.21-3.8-3.75v-8.42H354.52"/>
		<path d="M381.74,144.81c0,2.52,1.75,5.26,4.59,5.26c1.53,0,2.94-0.89,3.96-1.97l0.65,0.57c-1.67,1.97-3.48,3.02-6.13,3.02 c-3.72,0-6.97-2.51-6.97-6.45c0-1.75,0.62-3.51,1.75-4.88c1.27-1.54,3-2.32,4.99-2.32c3.75,0,6.31,2.97,6.24,6.77H381.74z M387.38,143.65c0-2.65-0.51-4.45-2.64-4.45c-2.33,0-3.03,2.7-3.05,4.45H387.38"/>
		<path d="M411.15,148.78c0,1.59,0.92,1.75,1.73,1.75v0.84h-7.4v-0.84c0.97,0,1.78-0.11,1.78-2.21v-5.48c0-1.43-0.35-2.4-1.91-2.59 v-0.84l5.8-1.65v2.48c1.35-0.97,2.89-2.21,4.65-2.21c2.43,0,3.91,2.18,3.91,3.92v6.82c0.03,1.59,0.92,1.75,1.73,1.75v0.84h-7.39 v-0.84c0.97,0,1.78-0.11,1.78-2.21v-4.53c0-2.67-0.65-3.45-2.16-3.45c-1.01,0-1.89,0.67-2.52,1.43V148.78"/>
		<path class="st2" d="M175.1,82.64c0.08-7.02,2.11-17.81,8.85-17.81c6.19,0,7.68,7.23,7.68,17.81H175.1z M201.66,87.28 c0.24-15.22-7.21-27.09-18.1-27.09c-5.8,0-10.81,3.13-14.49,9.28c-3.29,5.5-5.09,12.52-5.09,19.53c0,15.76,9.4,25.79,20.21,25.79 c7.68,0,12.93-4.21,17.79-12.09l-1.88-2.27c-2.98,4.32-7.05,7.88-11.52,7.88c-8.23,0-13.32-11.01-13.32-21.04H201.66"/>
		<path class="st2" d="M218.49,71.74c2.19-2.81,5.17-5.07,8.15-5.07c7.6,0,8.54,12.95,8.54,20.94c0,7.66-1.49,21.37-8.7,21.37 c-3.13,0-6.19-1.84-7.99-5.18V71.74z M217.24,108.43c3.21,3.56,7.29,6.37,11.52,6.37c7.91,0,17.71-7.45,17.71-28.27 c0-13.6-5.41-26.33-16.3-26.33c-4.31,0-8.38,2.59-11.67,6.15V32.56l-16.84,6.58v3.34c4.54,0.75,5.48,4.64,5.56,10.36v59.57 l1.88,2.91L217.24,108.43"/>
		<path class="st2" d="M265.73,32.56v70.58c0,6.37,2.66,7.02,5.02,7.02v3.35h-21.55v-3.35c2.82,0,5.25-0.43,5.25-8.85V52.85 c-0.08-5.72-1.02-9.61-5.56-10.36v-3.34L265.73,32.56"/>
		<path class="st2" d="M297.23,102.39c-1.8,2.91-4.62,5.93-7.52,5.93c-3.68,0-5.48-3.78-5.48-8.63c0-10.25,6.74-13.81,13.01-14.78 V102.39z M308.51,78c0-4.97-0.08-9.82-3.6-13.81c-2.82-3.13-8.07-3.99-11.52-3.99c-13.32,0-17.95,7.77-17.95,13.06 c0,3.67,2.43,6.26,4.94,6.26c3.05,0,4.86-3.99,5.8-7.66c1.09-4.1,2.04-8.09,5.87-8.09c5.49,0,5.17,8.31,5.17,13.49v2.91 c-8.31,1.83-24.76,5.93-24.76,21.04c0,9.5,5.09,13.6,11.52,13.6c5.17,0,9.24-2.16,13.24-6.48c1.64,3.99,4.46,6.48,7.75,6.48 c3.29,0,6.82-2.81,8.7-6.48l-0.55-1.94c-0.63,0.32-1.33,0.65-1.96,0.65c-2.74,0-2.58-3.34-2.66-6.04V78"/>
		<path class="st2" d="M344.31,102.28c-2.04,3.34-3.99,6.04-7.44,6.04c-7.13,0-9.4-14.03-9.4-21.58c0-16.08,5.72-20.07,8.54-20.07 c2.66,0,6.35,2.7,8.3,5.18V102.28z M344.31,66.13c-3.13-3.34-6.97-5.93-10.97-5.93c-7.29,0-17.63,7.99-17.63,28.27 c0,14.78,6.51,26.33,17.63,26.33c4.23,0,8.07-2.16,10.97-6.37v7.02c4.78-1.3,9.79-1.51,17.08-1.94v-3.35 c-4.78-0.65-5.8-4.32-5.8-10.15V32.56l-17.32,5.94v3.35c4.86,0.43,6.03,4.32,6.03,10.47V66.13"/>
		<path class="st2" d="M372.57,82.64c0.08-7.02,2.12-17.81,8.85-17.81c6.19,0,7.68,7.23,7.68,17.81H372.57z M399.13,87.28 c0.24-15.22-7.21-27.09-18.1-27.09c-5.8,0-10.81,3.13-14.49,9.28c-3.29,5.5-5.09,12.52-5.09,19.53c0,15.76,9.4,25.79,20.21,25.79 c7.68,0,12.93-4.21,17.79-12.09l-1.88-2.27c-2.98,4.32-7.05,7.88-11.52,7.88c-8.23,0-13.32-11.01-13.32-21.04H399.13"/>
		<path class="st2" d="M401.09,66.13v-5.07c10.03-1.29,11.59-9.07,13.95-18.89h2.98v18.89h10.89v5.07h-11.05v33.13 c0,3.99,1.02,7.77,5.01,7.77c2.12,0,4.39-2.05,6.03-3.88l1.8,2.37c-2.98,5.29-8.3,9.28-13.08,9.28c-8.38,0-11.05-8.85-11.05-15 V66.13H401.09"/>
		<path d="M61.26,34.51v3.56c-5.56,0.54-6.19,2.05-6.19,4.53c0,1.51,0.47,3.24,0.86,4.64L68,93.75l10.26-40.58 c0.55-2.37,1.33-4.86,1.33-7.34c0-5.5-3.05-7.44-6.5-7.77v-3.56h19.27v3.56c-4.86,1.51-7.13,2.37-10.58,17.05L66.9,114.8h-6.58 l-15.9-60.97c-1.8-6.8-3.13-14.89-9.25-15.75v-3.56H61.26"/>
		<path class="st2" d="M132.95,87.17l8.54-11.22c1.1-1.4,3.76-4.96,3.76-7.12c0-3.35-2.58-3.78-4.47-3.99v-3.34h20.68v3.13 c-6.35,1.19-11.28,7.12-15.75,13.06l-0.94,1.4l11.05,21.91c2.43,4.86,3.76,7.55,8.15,9.17v3.35h-21.78v-3.35 c1.33-0.11,2.98-0.97,2.98-3.13c0-1.73-1.25-3.99-1.96-5.4l-6.58-12.84l-3.68,4.53v9.82c0,6.37,2.74,7.02,5.09,7.02v3.35h-21.55 v-3.35c2.82,0,5.17-0.43,5.17-8.85V52.85c0-5.72-1.02-9.61-5.56-10.36v-3.34l16.84-6.58V87.17"/>
		<path d="M92.21,113.5v-3.35c2.82,0,5.17-0.43,5.17-8.85V79.4c0-5.72-1.02-9.61-5.56-10.36V65.7l16.85-6.58v44.03 c0.08,6.37,2.66,7.02,5.01,7.02v3.35H92.21z M102.47,32.56c3.68,0,6.58,4.1,6.58,9.06c0,5.07-2.9,9.07-6.58,9.07 c-3.6,0-6.58-3.99-6.58-9.07C95.89,36.67,98.87,32.56,102.47,32.56"/>
	</symbol>
</svg>
