$editor: true;
@import "../../../yggdrasil/setup/mixins/typography";
@import "setup/fonts"; // Ugly shortcut for local font file

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

// Toolbar can't have position overwritten
.ctrlfreak-toolbar {
	position: absolute !important;
	margin-top: 0 !important;
}

// Disable word-breaks in editor altogether
.polarisStories.front .headline {
	@include ygg-word-wrap(reset);
}

// Display inline for nested inline objects. Span in editor.
.polarisStories.front .headline span span {
	display: inline !important;
}

// Hide the scrollbar
*::-webkit-scrollbar {
	width: 0;
	display: none;
}

#small {
	#content {
		width: 320px;
		margin-right: auto;
		margin-left: auto;
	}

	@import "mobile.editor.universitetsavisa";
}

#big {
	#content {
		width: 980px;
		margin-right: auto;
		margin-left: auto;
	}

	@import "desktop.editor.universitetsavisa";
}
