// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #194c85,
	);

// Local teaser styles
$pub-teasers:(
	"debatt":(
		background:       #008080,
		header:           scale-color(#005f5f, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
);

// Kicker in local color	

.polarisStories .kicker, .article-header .kicker {
	color: #1b4078 !important;
}