<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path class="st0" d="M0,11.6h5.8l2.1,17.7c0.5,4.8,1.3,9.5,1.5,14.4h0.2c0.2-4.9,0.9-9.6,1.5-14.4l2.1-17.7H19l-6.8,44.9H6.8L0,11.6 z"/>
        <path class="st0" d="M32,11.1c-4.8,0-8.7,3.9-8.7,8.7v28.4c0,4.8,3.9,8.7,8.7,8.7c4.8,0,8.7-3.9,8.7-8.7V19.9 C40.7,15.1,36.8,11.1,32,11.1z M34.9,50.7h-5.8V17.4h5.8V50.7z"/>
        <path class="st0" d="M46.5,0c1.6,0.1,3,0.7,4.1,1.7c1.1,1,1.7,2.5,1.7,4.1v50.7h-5.8V0z"/>
        <rect x="58.1" y="50.7" class="st0" width="5.8" height="5.8"/>
        <path class="st0" d="M69.8,11.6h11.6c3.2,0,5.8,2.6,5.8,5.8v39.1h-5.8V17.4h-5.8v39.1h-5.8V11.6z"/>
        <path class="st0" d="M101.7,11.1c-4.8,0-8.7,3.9-8.7,8.7v28.4c0,4.8,3.9,8.7,8.7,8.7c4.8,0,8.7-3.9,8.7-8.7V19.9 C110.4,15.1,106.5,11.1,101.7,11.1z M104.6,50.7h-5.8V17.4h5.8V50.7z"/>
    </symbol>
</svg>
