.article-header {
	@include only(mobile) {
		padding-bottom: u(9/8);
	}

	@include only(desktop) {
		padding-bottom: u(3);
	}

	// Article headings
	.kicker {
		@include ygg-kicker(article);
	}

	.title {
		@include ygg-heading(article);
	}

	.lead {
		@include ygg-lead(article);
	}

	@include only(desktop) {
		.kicker,
		.title {
			margin-right: 100px;
			margin-left: 100px;
		}

		.lead {
			margin-right: 100px;
			margin-bottom: ygg-space(stack);
			margin-left: 100px;
		}
	}


	// Top relation
	> .media {
		@include only(mobile) {
			margin: u(1) -#{ygg-space(gutter)};
		}

		@include only(desktop) {
			margin-top: u(2.5);
			margin-bottom: u(1.5);
		}
	}
}
