.article-footer {
	clear: both;
	margin-top: u(2);

	> *:not(:first-child) {
		margin-top: ygg-space(stack);
	}

	@include only(desktop) {
		margin-bottom: u(3);
		min-height: 1px; // Margin-bottom fix if footer is empty
	}



	// Articles from same section
	.more-from-section {
		margin-top: u(3);
		margin-bottom: u(3);

		.sectionTitle::before {
			content: none;
		}
	}
}
