// Article body

@include only(desktop) {
    .article-body {
        margin-right: 100px;
        margin-left: 100px;
    }

    // Netboard 1
    .article-body > .polarisMarketing:first-of-type {
        float: right;
        margin-right: -100px;
        margin-left: ygg-space(x)*2;
    }
}

.article-body .body {
    @include only(mobile) {
        font-size: u(1); // Compensate for <div>s inside .body p putting following paragraph outside <p>
        line-height: 1.5;
    }

    @include only(desktop) {
        font-size: u(1.25); // Compensate for <div>s inside .body p putting following paragraph outside <p>
        line-height: 1.5;
        margin-top: ygg-space(stack);
    }

    > * + * {
        margin-top: u(1.5);
        margin-bottom: u(1);
    }

    > p {
        line-height: 1.5;

        @include only(mobile) {
            font-size: u(1);
        }

        @include only(desktop) {
            font-size: u(1.25);
        }
    }

    a {
        color: ygg-color(primary);
        text-decoration: underline;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6, {
        font-family: ygg-font(headline);
        font-weight: bold;
        line-height: 1.3;

        @include only(mobile) {
            font-size: u(1.5);
            margin-top: u(2);
        }

        @include only(desktop) {
            font-size: u(2);
            margin-top: u(3);
        }
    }

    > ul,
    > ol {
        margin-left: u(3);

        * + * {
            margin-top: u(1/2);
        }
    }

    > ul { list-style: square outside; }

    > ol { list-style: decimal outside; }

    // Tables
    table {
        background-color: ygg-color(white);
        border: 1px solid ygg-color(gray-light);
        border-collapse: collapse;
        font-family: ygg-font(system);
        font-size: u(7/8);
        width: 100%;

        @include only(mobile) {
            display: block;
            overflow-x: auto;
        }

        tbody {
            display: table-row-group;
        }

        tr:nth-child(2n+1) {
            background-color: rgba(ygg-color(gray-light), 0.35);
        }

        th,
        td {
            padding: u(1/4) u(1/2);
            text-align: left;
        }

        th {
            background-color: ygg-color(gray-light);
            font-weight: 700;
            border-right: 1px solid ygg-color(white);
        }

        td {
            border-right: 1px solid ygg-color(gray-light);
            border-bottom: 1px solid ygg-color(gray-light);
        }
    }

    // Add additional space to inline factboxes - kommentert ut pga for mye luft mellom faktaboksene.
    > .factbox {
        /* margin-top: u(2);
        margin-bottom: u(2); */
    }

    // HTML content in body text is always full width
    > .media.html {
        @include only(desktop) {
            width: 100%;
        }
    }

    // Articles as body relations
    > .article:not(.factbox) {
        @include ygg-card();
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        margin-bottom: 0; // Because Escenic inserts <br> above
        margin-top: 0; // Because Escenic inserts <br> below

        &::before {
            @include ygg-small-text;
            content: "Les også:";
            position: absolute;

            @include only(mobile) {
                top: -#{u(1)};
            }

            @include only(desktop) {
                left: -#{ygg-space(x)};
                top: ygg-space(y);
                transform: translateX(-100%);
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .media.image {		@include ygg-card-image(left, medium); }
        .media + .inner {	@include ygg-card-text-container(left, medium); vertical-align: top; }
        .inner {			@include ygg-card-text-container(top, full); }
        .kicker {           display: none; }
        .headline {			@include ygg-heading(medium); }
        .lead {				display: none; }
        .storyLinks {		display: none; }
    }

    // Paid content articles as body relations
    @if map-get($ygg-settings, ygg-paid-icon-enabled) == true {
        > .article.payed {
            @include ygg-paywall(stories);
        }
    }

    // 100% sport exception for liveblog in iframe
    > .media.html > iframe[src*="live-api-prod.schibsted.tech/sport/entries?liveblog"] {
        @include only(mobile) {
            display: block;
            margin: 0 -#{ygg-space(gutter)};
            min-width: 100vw;
            width: auto;
        }
    }
}

@at-root .ygg-base-article:not(.feature) .article-body .body {
    // Add additional space to inline media
    @include only(mobile) {
        > .media {
            margin-top: u(2);
            margin-bottom: u(2);
        }
    }

    @include only(desktop) {
        > .media.image.default {
            margin-top: u(2);
            margin-bottom: u(2);
        }
    }

    // Images and videos go full width on mobile
    @include only(mobile) {
        > .media.image,
        > .media.video {
            margin-left: -#{ygg-space(gutter)};
            margin-right: -#{ygg-space(gutter)};
        }
    }
}
