[id="cxense-recommendations"] {
    @include only(desktop) {
        margin: ygg-space(stack) 100px;
    }

    .header {
        h5 {
            @include ygg-small-text;
            color: ygg-color(primary);
            display: inline-block;
            font-weight: 700;
            position: relative;

            @include only(mobile) {
                margin-top: ygg-space(y);
            }

            @include only(desktop) {
                padding-bottom: ygg-space(y);

                // Generate a line
                &::before {
                    content: "";
                    border-top: 2px solid ygg-color(gray-light);
                    display: block;
                    height: 0;
                    width: u(8);
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    .cxStories {
        display: flex;
        flex-flow: row wrap;
    }

    .article {
        @include ygg-card;
        margin-top: ygg-space(x-small);

        @include only(mobile) {
            flex: 1 0 calc(50% - #{ygg-space(x-small)});

            &:nth-child(2n + 2) {
                margin-left: ygg-space(x-small);
            }
        }

        @include only(desktop) {
            flex: 0 calc((100% - #{ygg-space(x-small)} * 2) / 3);

            &:nth-child(3n + 2),
            &:nth-child(3n + 3) {
                margin-left: ygg-space(x-small);
            }
        }

        @include only(mobile) {
			@include ygg-card();
		}
    }

    .media.image {
        @include ygg-card-image(top, full);
    }

    .text {
		@include ygg-card-text-container(top, full);
		max-width: 100%;
    }

    .breakingTitle {
		@include ygg-breaking(medium);
	}

	.kicker {
		@include ygg-kicker(medium);
	}

    .headline {
        @include ygg-word-wrap;
        @include ygg-heading(medium);

        @include only(mobile) {
            font-size: 90%;
        }
    }

    @if map-get($ygg-settings, ygg-lead-front-enabled) == false {
		.lead {
			display: none !important;
		}
	}

	@include only(desktop) {
		a:hover > .text .headline span {
			text-decoration: underline;
		}
	}

    a {
        color: inherit;
        display: flex;
		align-items: flex-start;
		flex-flow: column wrap;
    }

    [id="cxense-more"] {
        margin: ygg-space(stack) 0;
        text-align: center;
    }

    .inner {
        @include ygg-button(default);
    }
}
