.factbox {
	@include ygg-card(padding);
	font-family: ygg-font(system);
	transition: ygg-transition(medium);

	// When using fact fields in article
	&.aside {
		@include only(mobile) {
			margin-top: ygg-space(stack);
		}

		@include only(desktop) {
			clear: right;
			float: right;
			margin-top: ygg-space(stack);
			margin-right: -100px;
			margin-bottom: ygg-space(stack);
			margin-left: ygg-space(x)*2;
			width: 380px;
		}
	}

	.factTitle {
		@include ygg-card-header(big, nested);
		cursor: pointer;
	}

	// Fields from wysiwyg
	.factBody {

		// To be animated on trigger
		max-height: 0;
		overflow: hidden;
		transition: ygg-transition(medium);

		> * + * {
			margin-top: u(1);
			margin-bottom: u(1);
		}

		> * > a {
			@include ygg-underline(ygg-color(white));
			color: ygg-color(primary);
		}

		p {
			font-size: u(6/8);
			line-height: 1.5;
		}

		.media img {
			width: 100%;
		}

		h2 {
			font-size: u(9/8);
			line-height: 1.25;
			margin-top: u(2);
			margin-bottom: -(u(1/2));
		}

		ul,
		ol {
			margin-left: u(2);

			* + * {
				margin-top: u(1/2);
			}
		}

		ul { list-style: square outside; }

		ol { list-style: decimal outside; }

		li {
			font-size: u(7/8);
			line-height: 1.5;
		}
	}

	// Text from list array
	.factList {

		// To be animated on trigger
		max-height: 0;
		overflow: hidden;
		transition: ygg-transition(medium);

		li {
			font-size: u(6/8);
			padding: ygg-space(y-small) 0;
			color: ygg-color(gray);

			+ li {
				border-top: 1px solid ygg-color(gray-light);
			}
		}
	}

	// Triggers (from javascript)
	.expand {
		@include ygg-button(small-text, gray);
		float: right;
		transition: ygg-transition(medium);


		&::before {
			content: "Vis fakta ";
		}
		&::after {
			@include ygg-icon(caret, 8px);
			content: "";
		}
	}

	.minimize {
		@include ygg-button(small-text, gray);
		margin-top: u(1);
		text-align: center;
		display: none;
		opacity: 0;

		&::before {
			content: "Skjul fakta ";
		}
		&::after {
			@include ygg-icon(caret, 8px);
			content: "";
			transform: rotate(180deg);
		}
	}

	// States (from javascript)
	&.minimized {
		// Remove double padding
		padding-bottom: 0;
	}

	&.maximized {

		.expand {
			&::before {
				content: "Skjul fakta ";
			}
			&::after {
				transform: rotate(180deg);
			}
		}

		.minimize {
			display: block;
			max-height: 100px;
			opacity: 1;
		}
		.factBody,
		.factList {
			max-height: 2000px;
		}
	}

}
