// Home section label
.sectionTitle {
	@include ygg-small-text;
	color: ygg-color(primary);
	display: inline-block;
	font-weight: 700;
	position: relative;

	@include only(mobile) {
		margin-top: ygg-space(y);
	}

	@include only(desktop) {
		padding-bottom: ygg-space(y);

		// Generate a line
		&::before {
			content: "";
			border-top: 2px solid ygg-color(gray-light);
			display: block;
			height: 0;
			width: u(8);
			position: absolute;
			bottom: 0;
		}
	}
}
