.media {
	.caption {
		@include only(mobile) {
			font-size: u(7/8);
		}

		@include only(desktop) {
			font-size: u(1);
		}

		@include ygg-card(padding, full);
		font-family: ygg-font(system);
		color: ygg-color(gray);
		line-height: 1.25;
	}

	.imageKicker {
		font-weight: bold;

		&::after {
			content: " ";
		}
	}

	.photographer {
		@include only(mobile) {
			font-size: u(5/8);
		}

		@include only(desktop) {
			font-size: u(6/8);
		}

		font-weight: bold;
		text-transform: uppercase;

		&::before {
			content: " ";
		}
	}
}

// Image sizing and alignment from Escenic
@include only(desktop, root) {
	.body > .media {

		// Side aligned image = fixed width
		&.right,
		&.left {
			margin-top: u(1/2);
			width: u(20);
			clear: none;
		}

		&.right {
			margin-left: u(1.5);
			float: right;
		}

		&.left {
			margin-right: u(1.5);
			float: left;
		}

		// Unless.. Frimerke
		&.mini,
		&.mini.right {
			float: right;
			margin-top: 0;
			margin-left: u(1.5);
			width: u(8);

			&.left {
				float: left;
				margin-left: 0;
				margin-right: u(1.5);
				width: u(8);
			}
		}

		&.html iframe {
			width: 100%;
		}
	}

	// If an h2 precedes a side aligned image
	.body > h2 + .media.left,
	.body > h2 + .media.right,
	.body > h2 + .media.mini {
		margin-top: ygg-space(stack);
	}
}
