.article-quote {
	margin-bottom: ygg-space(stack);

	@include only(desktop) {
		clear: right;
		float: right;
		margin-top: ygg-space(stack);
		margin-right: -100px;
		margin-left: ygg-space(x)*2;
		width: 380px;
	}

	p {
		background-color: ygg-color(gray-light);
		border-radius: u(1/2);
		color: ygg-color(gray);
		font-family: ygg-font(headline);
		font-weight: 700;
		line-height: 1.25;
		position: relative;
		quotes: "“" "”" "‘" "’";

		@include only(desktop) {
			font-size: u(1.5);
			padding: u(1) u(1.5);
		}

		@include only(mobile) {
			font-size: u(1.25);
			padding: ygg-space(y) ygg-space(x);
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
			border-left: u(1/2) solid transparent;
			border-right: u(1/2) solid transparent;
			border-top: u(1) solid ygg-color(gray-light);
			position: absolute;
			bottom: 0;
			left: u(3);
			transform: translateY(100%);
		}
	}

	.source {
		@include ygg-small-text;
		display: block;
		margin-top: u(1.5);
		margin-right: ygg-space(x);
		margin-left: ygg-space(x);

		&::before {
			content: "— ";
		}
	}
}
