// Lead relations
.lead-relations {
	margin-top: ygg-space(stack);

	@include only(desktop) {
		float: right;
		margin-right: -100px;
		margin-left: ygg-space(x)*2;
		width: 580px; // Align with netboard_1
	}

	> * + * {
		margin-top: ygg-space(stack);
	}
}

// Side relations
.side-relations {
	margin-top: ygg-space(stack);

	@include only(desktop) {
		clear: right;
		float: right;
		margin-right: -100px;
		margin-left: ygg-space(x)*2;
		width: 380px;
		margin-bottom: ygg-space(stack);
	}

	> * + * {
		margin-top: ygg-space(stack);
	}
}

// Side relations (articles only)
.side-relations-stories {
    @include only(mobile) {
        @include ygg-card(padding);
        margin-top: ygg-space(stack);
    }

    @include only(desktop) {
        display: flex;
        flex-flow: row wrap;
    }

    .header {
        width: 100%;

        h5 {
            @include ygg-small-text;
            color: ygg-color(primary);
            display: inline-block;
            font-weight: 700;
            position: relative;

            @include only(desktop) {
                padding-bottom: ygg-space(y);

                // Generate a line
                &::before {
                    content: "";
                    border-top: 2px solid ygg-color(gray-light);
                    display: block;
                    height: 0;
                    width: u(8);
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    @include only(desktop) {
        margin: ygg-space(stack) 0;
    }

	.article {
        margin-top: ygg-space(x-small);
        position: relative;

        &:hover .headline {
            text-decoration: underline;
        }

        a {
            display: block;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        @include only(mobile) {
            display: flex;
            flex-flow: row nowrap;
        }

        @include only(desktop) {
            @include ygg-card;
            flex: 0 calc((100% - #{ygg-space(x-small)} * 2) / 3);
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;

            &:nth-of-type(3n),
            &:nth-of-type(3n + 1) {
                margin-left: ygg-space(x-small);
            }
        }
    }

    @include only(mobile) {
        .article + .article {
            border-top: 1px solid ygg-color(gray-ui);
            padding-top: ygg-space(x-small);
        }
    }

    .image {
        @include only(mobile) {
            @include ygg-card-image(left, small);
        }

        @include only(desktop) {
            @include ygg-card-image(top, full);
        }
    }

    .inner {
        @include only(mobile) {
            @include ygg-card-text-container(left, small, nested);

            &:first-child {
                margin-left: 4rem;
            }
        }

        @include only(desktop) {
            @include ygg-card-text-container(top, full);
        }
    }

    .headline {
        @include ygg-word-wrap;
        @include ygg-heading(medium);

        a {
            color: inherit;
        }
    }

    .breakingTitle,
    .kicker,
    .lead {
        display: none;
    }
}
