.ygg-review-meta {
	@include ygg-card(padding);
	margin-top: ygg-space(stack);
	padding-left: calc(#{ygg-space(x)} + 1.5rem + #{ygg-space(x)}); // Spacing + icon width (see .scoreX below)
	position: relative;

	// Below netboard_1 on desktop
	@include only(desktop) {
		clear: right;
		float: right;
		margin-right: -100px;
		margin-left: ygg-space(x)*2;
		width: 380px;
		margin-bottom: ygg-space(stack);
	}


	// The dice
	.score {
		font-size: 0;
		position: absolute;
		left: ygg-space(x);

		&[class^="score"] {
			vertical-align: top;
		}

		&.score1 { @include ygg-icon(score1, 1.5rem); }
		&.score2 { @include ygg-icon(score2, 1.5rem); }
		&.score3 { @include ygg-icon(score3, 1.5rem); }
		&.score4 { @include ygg-icon(score4, 1.5rem); }
		&.score5 { @include ygg-icon(score5, 1.5rem); }
		&.score6 { @include ygg-icon(score6, 1.5rem); }
	}


	// Headlines
	.reviewTitle {
		@include only(desktop) {
			@include ygg-heading(big);
		}

		@include only(mobile) {
			@include ygg-heading(medium);
		}
	}

	.reviewSubTitle {
		@include only(desktop) {
			@include ygg-lead(medium);
		}

		@include only(mobile) {
			@include ygg-lead(medium);
		}
	}


	// Most fields
	.allFields {
		font-family: ygg-font(system);
		border-top: 1px solid ygg-color(gray-light);
		border-bottom: 1px solid ygg-color(gray-light);
		margin-top: ygg-space(stack);
		margin-bottom: ygg-space(stack);
		padding-top: ygg-space(stack);
		padding-bottom: ygg-space(stack);

		@include only(mobile) {
			font-size: u(7/8);
		}

		> * + * {
			margin-top: ygg-space(y-small);
		}

		// Generate, then and that.
		li {
			&:after { content: ", "; }
			&:nth-last-child(2):after { content: " og " ; }
			&:last-child:after { content: "." ; }
		}

		// Generating stuff
		& > *::before {
			@include ygg-small-text;
			display: block;
			font-weight: 700;
			padding-right: 0.4em;
		}

		// Generating text
		p.reviewPublisher:before {       content: "Utgiver:";           }
		p.movieDirectors:before {        content: "Regissør:";          }
		ul.movieDirectors:before {       content: "Regissører:";        }
		p.movieActors:before {           content: "Skuespiller:";       }
		ul.movieActors:before {          content: "Skuespillere:";      }
		p.movieGenres:before {           content: "Sjanger:";           }
		ul.movieGenres:before {          content: "Sjangre:";           }
		.movieSubCategory:before {       content: "Type:";              }
		.movieAgeLimit:before {          content: "Aldersgrense:";      }
		.movieRuntime:before {           content: "Spilletid:";         }
		.movieNationality:before {       content: "Land:";              }
		.movieSummary:before {           content: "Sammendrag:";        }
		.musicSubCategory:before {       content: "Type:";              }
		.musicType:before {              content: "Format:";            }
		p.musicArtists:before {          content: "Artist:";            }
		ul.musicArtists:before {         content: "Artister:";          }
		p.musicGenres:before {           content: "Sjanger:";           }
		ul.musicGenres:before {          content: "Sjangre:";           }
		.musicTracks:before {            content: "Spor:";              }
		p.gamePlatforms:before {         content: "Plattform:";         }
		ul.gamePlatforms:before {        content: "Plattformer:";       }
		p.gameGenres:before {            content: "Sjanger:";           }
		ul.gameGenres:before {           content: "Sjangre:";           }
		.gamePlaytime:before {           content: "Spilletid:";         }
		.gameAgeLimit:before {           content: "Anb. Aldersgrense:"; }
		p.bookGenres:before {            content: "Sjanger:";           }
		ul.bookGenres:before {           content: "Sjangre:";           }
		p.bookAuthors:before {           content: "Forfatter:";         }
		ul.bookAuthors:before {          content: "Forfattere:";        }
		.bookTranslator:before {         content: "Oversetter:";        }
		.bookPages:before {              content: "Ant. sider:";        }
		.bookIsbn:before {               content: "ISBN:";              }
		p.concertArtists:before {        content: "Artist:";            }
		ul.concertArtists:before {       content: "Artister:";          }
		.concertLocation:before {        content: "Sted:";              }
		p.concertGenres:before {         content: "Sjanger:";           }
		ul.concertGenres:before {        content: "Sjangre:";           }
		.concertSpectators:before {      content: "Publikum:";          }
		.concertConductor:before {       content: "Dirigent:";          }
		.stageLocation:before {          content: "Sted:";              }
		p.stageDirectors:before {        content: "Regissør:";          }
		ul.stageDirectors:before {       content: "Regissører:";        }
		p.stageGenres:before {           content: "Sjanger:";           }
		ul.stageGenres:before {          content: "Sjangre:";           }
		.stageWriters:before {           content: "Manus:";             }
		p.stageActors:before {           content: "Skuespiller:";       }
		ul.stageActors:before {          content: "Skuespillere:";      }
		.stageChoreographs:before {      content: "Koreografi:";        }
		.exhibitionLocation:before {     content: "Sted:";              }
		.exhibitionDatetime:before {     content: "Når:";               }
		p.exhibitionArtists:before {     content: "Kunstner:";          }
		ul.exhibitionArtists:before {    content: "Kunstnere:";         }
		p.exhibitionGenres:before {      content: "Sjanger:";           }
		ul.exhibitionGenres:before {     content: "Sjangre:";           }
		.exhibitionTechnique:before {    content: "Teknikk:";           }
		.restaurantGenres:before {       content: "Type:";              }
		.restaurantNationality:before {  content: "Nasjonalitet:";      }
		.restaurantOpeningHours:before { content: "Åpningstid:";        }
		.restaurantLocation:before {     content: "Adresse:";           }
		.miscellaneousType:before {      content: "Type:";              }
	}

	// The good and the bad
	.reviewPositive,
	.reviewNegative {
		line-height: 1.5;
		margin-top: ygg-space(stack);
		position: relative;

		@include only(mobile) {
			font-size: u(7/8);
		}
	}

	.reviewPositive::before {
		content: "";
		@include ygg-icon(plus, 1rem);
		position: absolute;
		top: 0.25em;
		left: -#{ygg-space(x)*2};
	}

	.reviewNegative::before {
		content: "";
		@include ygg-icon(minus, 1rem);
		position: absolute;
		top: 0.25em;
		left: -#{ygg-space(x)*2};
	}
}

