// Polaris share buttons
.pm-share-buttons {
	box-shadow: 0 0 2px 0 ygg-color(gray-light);
	display: inline-flex;
	flex-flow: row nowrap;
	overflow: hidden;
	vertical-align: bottom;

	@include only(mobile) {
		margin-bottom: ygg-space(stack);
	}

	@include only(desktop) {
		margin-top: u(1);
	}

	.share-link {
		display: block;
		flex: 0 0 auto;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			transition: all 120ms;
		}
	}

	// Icons are inline SVG, just set the size and color icon/background as needed.
	.share-icon {
		display: block;
		width: 50px;
		height: 40px;

		&.facebook {
			background-color: ygg-color(facebook);

			.icon-shape {
				fill: ygg-color(white);
			}
		}

		&.twitter {
			background-color: ygg-color(twitter);

			.icon-shape {
				fill: ygg-color(white);
			}
		}

		&.email {
			background-color: ygg-color(white);
		}
	}

	// Shrink the icons slightly
	.icon-shape {
		transform-origin: 50% 50%;
		transform: scale(0.5);
		transition: all 120ms;
	}

	// Hover fluff
	.share-link:hover .icon-shape {
		transform: scale(0.6);
	}

	.share-link:hover::before {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
}
