// Align with body text and comments on desktop
div.tags {
	@include only(desktop) {
		margin-right: 100px;
		margin-left: 100px;
	}
}

// Setting element type as there are two elements called .tags
div.tags::before {
	@include ygg-small-text(bottom);
	display: block;
	content: "Utforsk tema:";
	font-weight: bold;
}

.tagLabel {
	display: none;
}

ul.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	@include ygg-button(pill);
	margin-right: u(1/2);
	margin-bottom: u(1/2);

	a {
		color: inherit;
		text-decoration: none;
	}
}
