&.ygg-video-article {
	@include only(mobile) {
		> * + .article-header {
			margin-top: ygg-space(stack);
		}

		.article-header {
			> .media {
				margin-top: 0;
			}

			.title {
				font-size: 1.5rem;
				line-height: 1.25;
				margin-right: 0;
				margin-left: 0;
			}

			.lead {
				font-size: 1rem;
				line-height: 1.5;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	@include only(desktop) {
		> * + .article-header {
			margin-top: ygg-space(stack);
		}

		.article-header {
			> .media {
				margin-top: 0;
			}

			.title {
				font-size: 2.5rem;
				margin-right: 0;
				margin-left: 0;
			}

			.lead {
				font-size: 1.25rem;
				line-height: 1.5;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	.more-video-content {
		> .more-video-headline {
			@include ygg-small-text;
			margin-bottom: ygg-space(y);
		}

		.video-grid {
			@include only(mobile) {
				.video + .video {
					margin-top: ygg-space(x-small);
				}
			}

			@include only(desktop) {
				display: flex;
				flex-flow: row wrap;

				.video {
					flex: 0 0 calc((100% - (#{ygg-space(x-small)} * 3)) / 4);
					margin-left: ygg-space(x-small);
					margin-bottom: ygg-space(x-small);
				}

				.video:first-child,
				.video:nth-child(4n+4) {
					margin-left: 0;
				}

				.video:nth-child(-n+3) {
					flex: 0 0 calc((100% - (#{ygg-space(x-small)} * 2)) / 3);
				}
			}
		}

		.article {
			@include ygg-card();

			> a {
				display: flex;
				align-items: flex-start;
				flex-flow: column wrap;
			}

			a {
				color: inherit;
				text-decoration: none;
			}

			.media {
				@include ygg-card-image(top, full);

				.ratio {
					background-color: ygg-color(black);
				}
			}

			.text {
				@include ygg-card-text-container(top, full);
				max-width: 100%;
			}

			.headline {
				@include ygg-word-wrap;
				@include ygg-heading(small);
			}

			.lead {
				display: none;
			}

			@include only(desktop) {
				a:hover > .text .headline span {
					text-decoration: underline;
				}

				a .media img {
					transition: all 240ms ease-in-out;
				}

				a:hover .media img {
					opacity: 0.5;
					transform: scale(1.05);
				}
			}
		}
	}
}

.vplayer ~ ul {
	font-size: 0;
	margin-top: ygg-space(y);

	@include only(mobile) {
		padding-right: ygg-space(gutter);
		padding-left: ygg-space(gutter);
	}

	li {
		@include ygg-button(pill);
		background-color: ygg-color(gray);
		color: ygg-color(white);
		margin-right: u(1/4);
		margin-bottom: u(1/4);
	}

	a {
		color: inherit;
	}
}
