// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #000,
	);


// Custom subscription sync in header modal and paywall. 

.ygg-base-article {
	.connectAbo {
		margin-bottom: 25px; 
		border-bottom: 1px solid silver; 
		padding-bottom: 25px;
		.login-link {
			text-decoration: none !important;
		}
	}
}

.ygg-modal {
	.connectAbo {

	.login-link {
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		background-color: #000;
		border: 2px solid #000;
		font-family: Segoe UI,Roboto,San Francisco,Helvetica,Arial,sans-serif;
		font-weight: 700;
		padding: 0.75rem 1rem;
		font-size: 1rem;
		color: #fff!important;
		text-decoration: none;
	}

	.login-link[disabled="true"] {	
		background-color: #fff !important;
		border-color: #e4e8eb !important;
		color: #e4e8eb !important;
	}

	.login {
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		border-bottom: 1px solid #807c7c;
	}
	.heading {
		display: block;
    	font-weight: bold;
	}
	
	.info {
		padding-bottom: 1.5rem;
		margin-left: 1rem;
		margin-right: 1rem;
		color: #807c7c;
		line-height: 1.5em;
		text-align: left;
	}
}
}
