<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path class="st0" d="M688.7,97.5V53.9c0-20.1-11.3-31.5-29.3-31.5c-8.3,0-16,2.4-22.3,7.1l-4-6.1L615,24.5v73.1h25.6V48 c2.5-2.9,6.9-4.6,11.4-4.6c7.1,0,10.8,3.1,10.8,10.5v43.6H688.7z"/>
        <path class="st0" d="M612.6,57.2c0-22.5-13.5-34.8-35.3-34.8c-26,0-38.2,15.6-38.2,37.9c0,24,13.7,38.5,42.9,38.5 c11.1,0,21.2-1.9,28.5-5.1l-2.9-18.5c-7.6,2-14.9,2.9-22.4,2.9c-11.7,0-18.2-2.9-19.4-10.9H612C612.3,64.4,612.6,60.5,612.6,57.2z M565.1,52.4c1-7,4-10.6,12.4-10.6c7.5,0,11.6,3.6,11.8,10.6H565.1z"/>
        <path class="st0" d="M519.6,74.4L499,73.7c-3-0.1-4.3-1-4.3-2.4c0-0.8,0.4-1.8,1.2-2.4c3.1,0.5,6.5,0.6,9.9,0.6 c23.6,0,32.7-9.3,32.7-23.2c0-2.2-0.2-4.2-0.7-6.1l8.1-5.9l-5.1-11.4L527,26.6c-6.3-3.1-14.1-4.1-21.2-4.1 c-24.3,0-32.9,10.5-32.9,23.7c0,8.1,3.3,13.6,8.3,17.2c-6.7,3.3-9.5,8.4-9.5,13.5s2.3,8.8,5.4,11.3c-3.4,2.9-5.2,6.6-5.2,10.8 c0,11.3,9.9,20.1,34.6,20.1c27.8,0,40-9.8,40-25.4C546.5,82.2,539.1,75.1,519.6,74.4z M506,40.1c5.9,0,7.9,1.8,7.9,6.6 c0,5.1-1.9,6.6-8.7,6.6c-4.6,0-7.2-1.4-7.2-6.6C498.1,42,500,40.1,506,40.1z M505.9,101.9c-9,0-12.5-1.6-12.5-5.4 c0-1.1,0.5-2.3,1.6-3.4l20.5,0.8c7.1,0.4,8.7,1.2,8.7,3.5C524.1,100.2,520.7,101.9,505.9,101.9z"/>
        <path class="st0" d="M467.9,97.5V53.9c0-20.1-11.3-31.5-29.3-31.5c-8.3,0-16,2.4-22.3,7.1l-4-6.1l-18.1,1.1v73.1H420V48 c2.5-2.9,6.9-4.6,11.4-4.6c7.1,0,10.8,3.1,10.8,10.5v43.6H467.9z"/>
        <path class="st0" d="M389.7,9.4c0-6.1-4-9.4-13.8-9.4s-14,3.3-14,9.4c0,6.9,4.2,9.2,14,9.2C385.8,18.5,389.7,15.4,389.7,9.4"/>
        <polygon class="st0" points="388.9,97.5 388.9,23.5 362.6,24.7 362.6,97.5 "/>
        <polygon class="st0" points="357.9,97.5 357.9,4 332.1,5.3 332.1,97.5 "/>
        <path class="st0" d="M292.7,22.5c-11.7,0-21.3,1.7-30.2,5.1l2.2,18.5c8.1-2.8,13.5-4,23.3-4c10.2,0,13.8,3.3,13.8,8.2v2.2 c-4-1-8.8-1.6-14.6-1.6c-19,0-29.7,10.1-29.7,23.1c0,16.3,9.4,24.8,25.6,24.8c9,0,16.5-2.8,22.1-7.7l1.9,6.2h19.6V53.8 C326.8,33.8,318.9,22.5,292.7,22.5z M301.8,73.9c0,3.9-5.4,6.6-11.2,6.6c-5.4,0-9.1-1.9-9.1-6.9c0-4.7,3.3-7.1,10.4-7.1 c4.3,0,7.8,0.6,9.8,1.2v6.2H301.8z"/>
        <path class="st0" d="M227.8,5.3v13.4l0.4,9.6l-0.2,0.2c-5.1-3.7-11.4-6.1-18.9-6.1c-21.1,0-31.9,15.5-31.9,38 c0,25.3,10.7,38.6,32,38.6c9.9,0,16.5-3,21.9-7.8l2.3,6.1h20.4V4L227.8,5.3z M227.8,75.4c-1,2.5-5.4,4.9-11.1,4.9 c-10.4,0-12.9-4.9-12.9-18.9c0-13.4,3.4-17.9,12.8-17.9c5.2,0,9.2,1.9,11.2,4.6V75.4z"/>
        <path class="st0" d="M143.2,22.5c-7.8,0-15.4,2.5-21.3,7.2l-5.1-6.3l-18,1.1v92.8h26V103l-0.4-9.8l0.3-0.1 c5.2,4.3,11.4,5.7,18.3,5.7c19,0,32.2-12.9,32.2-38.3C175.2,33.7,164.5,22.5,143.2,22.5z M136,79.3c-5.1,0-9.2-1.9-11.2-4.9V48.3 c2-3,6.6-4.8,11.4-4.8c9.3,0,12.5,4,12.5,17.5C148.7,76.1,143.7,79.3,136,79.3z"/>
        <path class="st0" d="M47.7,5.8C14,5.8,0,22.9,0,52.4s14.2,46.8,47.7,46.8c33.7,0,47.6-17,47.6-46.8C95.2,22.9,81.4,5.8,47.7,5.8z M47.7,76.5c-13.6,0-17.9-5.7-17.9-24.2c0-18.3,4.3-23.7,17.9-23.7c14,0,17.9,5.3,17.9,23.7S61.3,76.5,47.7,76.5z"/>
    </symbol>
</svg>
