// Widget is broken, styles are for backwards-compatibility
.polarisList {
	.smallHeader {
		@include ygg-heading(mini);
	}

	li {
		border-bottom: 1px solid rgba(ygg-color(black), 0.15);
		line-height: 1.25;
		position: relative;

		&:last-child {
			border-bottom: none;
		}

		&::before {
			content: "";
			width: u(1/3);
			height: u(1/3);
			background-color: ygg-color(gray);
			position: absolute;
			top: 1em;
			left: 0;
			transform: rotate(-90deg);
		}
	}

	li a {
		display: block;
		color: ygg-color(black);
		padding-top: u(1/2);
		padding-bottom: u(1/2);
		text-indent: ygg-space(x);

		&:hover {
			text-decoration: underline;
		}
	}
}
