<svg style="display:none;">
	<symbol id="ygg-logo">
		<style>
			/* 0 0 573.07 93.98 */
			.st0 {
				fill: #0078C0;
			}
		</style>

		<path class="st0" d="M82.03,64.35c0,2.12-1.72,3.83-3.83,3.83c-2.12,0-3.83-1.72-3.83-3.83V29.58c0-2.12,1.72-3.83,3.83-3.83 c2.12,0,3.83,1.72,3.83,3.83V64.35L82.03,64.35z M83.61,16.49H72.78c-5.48,0-9.92,4.44-9.92,9.92v43.75c0,5.48,4.44,9.92,9.92,9.92 h10.83c5.48,0,9.92-4.44,9.92-9.92V26.41C93.53,20.93,89.09,16.49,83.61,16.49"/>
		<path class="st0" d="M275.75,63.63v6.53c0,5.48,4.44,9.92,9.92,9.92h7.92c5.48,0,9.92-4.44,9.92-9.92V59.32 c0-3.98-1.64-5.43-2.7-7.08c-1.8-2.8-9.26-12.38-11.95-15.93c-2.69-3.55-2.54-4.58-2.37-8.23c0.07-1.45,0.74-1.99,3.2-2.04 c3.88-0.07,4.45,0.51,5.24,1.51c0.94,1.2,1.57,2.59,2.66,4.52c0.91,1.61,1.11,2.42,3.78,2.19c1.14-0.1,1.3-1.18,1.3-1.18v-7.51 c0-5.48-3.59-9.07-9.07-9.07h-7.92c-5.48,0-9.92,4.44-9.92,9.92v5.38c0,1.94,0.31,3.76,0.95,4.84c0.65,1.08,13.89,19.91,14.32,20.56 c0.43,0.65,0.86,2.32,0.86,3.61c0,1.29,0,3.82,0,4.89c0,1.08-1.12,2.71-3.23,3.12c-5.76,1.13-7.48-2.77-8.4-5.38 C279.64,61.72,275.71,61.01,275.75,63.63"/>
		<path class="st0" d="M261.23,37.91c0,5.68-8.63,9.12-8.63,7.4V27.32c0.09-1.81,8.63-1.03,8.63,4.53V37.91L261.23,37.91z M270.58,26.41c0-5.48-4.44-9.92-9.92-9.92H250.4c-5.48,0-9.92,4.44-9.92,9.92v43.75c0,5.48,4.44,9.92,9.92,9.92h10.26 c5.48,0,9.92-4.44,9.92-9.92c0,0,0-5.43,0-6.33c0-3.13-4.95-2.72-5.85-0.78c-1.63,3.56-1.56,5.77-8.09,5.4 c-3.87-0.22-4.22-2.24-4.22-3.53c0-1.29,0-6.97,0-6.97s0-0.78,4.82-3.1c4.82-2.32,9.8-5.46,11.36-6.97 c1.76-1.71,1.89-4.56,1.89-5.16C270.5,42.12,270.58,26.41,270.58,26.41"/>
		<path class="st0" d="M449.59,37.91c0,5.68-8.63,9.12-8.63,7.4V27.32c0.09-1.81,8.63-1.03,8.63,4.53V37.91L449.59,37.91z M458.94,26.41c0-5.48-4.44-9.92-9.92-9.92h-10.26c-5.48,0-9.92,4.44-9.92,9.92v43.75c0,5.48,4.44,9.92,9.92,9.92h10.26 c5.48,0,9.92-4.44,9.92-9.92c0,0,0-5.43,0-6.33c0-3.13-4.95-2.72-5.85-0.78c-1.63,3.56-1.55,5.77-8.09,5.4 c-3.87-0.22-4.22-2.24-4.22-3.53c0-1.29,0-6.97,0-6.97s0-0.78,4.82-3.1c4.82-2.32,9.8-5.46,11.36-6.97 c1.76-1.71,1.89-4.56,1.89-5.16C458.86,42.12,458.94,26.41,458.94,26.41"/>
		<path class="st0" d="M563.72,37.91c0,5.68-8.63,9.12-8.63,7.4V27.32c0.09-1.81,8.63-1.03,8.63,4.53V37.91L563.72,37.91z M573.07,26.41c0-5.48-4.44-9.92-9.92-9.92h-10.26c-5.48,0-9.92,4.44-9.92,9.92v43.75c0,5.48,4.44,9.92,9.92,9.92h10.26 c5.48,0,9.92-4.44,9.92-9.92c0,0,0-5.43,0-6.33c0-3.13-4.95-2.72-5.85-0.78c-1.63,3.56-1.56,5.77-8.09,5.4 c-3.87-0.22-4.22-2.24-4.22-3.53c0-1.29,0-6.97,0-6.97s0-0.78,4.82-3.1c4.82-2.32,9.8-5.46,11.36-6.97 c1.76-1.71,1.89-4.56,1.89-5.16C572.99,42.12,573.07,26.41,573.07,26.41"/>
		<path class="st0" d="M185.81,37.91c0,5.68-8.63,9.12-8.63,7.4V27.32c0.09-1.81,8.63-1.03,8.63,4.53V37.91L185.81,37.91z M195.16,26.41c0-5.48-4.44-9.92-9.92-9.92h-10.26c-5.48,0-9.92,4.44-9.92,9.92v43.75c0,5.48,4.44,9.92,9.92,9.92h10.26 c5.48,0,9.92-4.44,9.92-9.92c0,0,0-5.43,0-6.33c0-3.13-4.95-2.72-5.85-0.78c-1.63,3.56-1.56,5.77-8.09,5.4 c-3.87-0.22-4.22-2.24-4.22-3.53c0-1.29,0-6.97,0-6.97s0-0.78,4.82-3.1c4.82-2.32,9.8-5.46,11.36-6.97 c1.76-1.71,1.89-4.56,1.89-5.16C195.08,42.12,195.16,26.41,195.16,26.41"/>
		<path class="st0" d="M56.32,10.85c0,0.31-0.25,0.57-0.57,0.57h-11.5c-0.31,0-0.57-0.25-0.57-0.57V0.57c0-0.31,0.25-0.57,0.57-0.57 h11.5c0.31,0,0.57,0.25,0.57,0.57V10.85"/>
		<path class="st0" d="M141.58,67.79c-4.67-0.95-3.66-5.49-3.66-5.49s0-27.49,0-29.76c0-2.27,0.19-4.41,3.91-4.04 c2.09,0.21,3.65,1.98,4.61,3.49v33.05C145.58,66.66,144.09,68.29,141.58,67.79L141.58,67.79z M160.58,74.99l0.06,0l-3.18-2.63V1.42 c0-0.31-0.25-0.57-0.57-0.57h-3.5c-0.04-0.01-0.09-0.03-0.13-0.03h-9.87c-0.47,0-0.85,0.38-0.85,0.85v1.08c0,0.34,0.2,1.57,1.4,2.54 c1.18,0.96,2.47,1.72,2.51,1.74v17.78c-2.25-2.69-5.09-5.03-7-6.28c-2.21-1.45-4.86-1.83-7.78-0.99c-3.17,1.66-5.33,4.97-5.33,8.8 v43.75c0,5.48,4.44,9.92,9.92,9.92h1.44c2.74,0,5.22-1.11,7.02-2.91l0.06-0.08c0.06,0.13,0.13,0.28,0.25,0.48 c0.52,0.89,0.92,1.7,1.47,2.17c0.56,0.47,1.41,0.37,1.41,0.37h11.88c0.72,0,1.31-0.62,1.31-1.2v-2.93 C161.1,75.58,160.89,75.22,160.58,74.99"/>
		<path class="st0" d="M405.52,67.79c-4.67-0.95-3.66-5.49-3.66-5.49s0-27.49,0-29.76c0-2.27,0.19-4.41,3.91-4.04 c2.09,0.21,3.65,1.98,4.61,3.49v33.05C409.51,66.66,408.02,68.29,405.52,67.79L405.52,67.79z M424.51,74.99l0.06,0l-3.18-2.63V1.42 c0-0.31-0.25-0.57-0.57-0.57h-3.5c-0.04-0.01-0.09-0.03-0.13-0.03h-9.87c-0.47,0-0.85,0.38-0.85,0.85v1.08c0,0.34,0.2,1.57,1.4,2.54 c1.18,0.96,2.46,1.72,2.51,1.74v17.78c-2.25-2.69-5.1-5.03-7-6.28c-2.21-1.45-4.86-1.83-7.78-0.99c-3.17,1.66-5.33,4.97-5.33,8.8 v43.75c0,5.48,4.44,9.92,9.92,9.92h1.44c2.74,0,5.22-1.11,7.02-2.91l0.06-0.08c0.06,0.13,0.13,0.28,0.25,0.48 c0.51,0.89,0.91,1.7,1.47,2.17c0.56,0.47,1.41,0.37,1.41,0.37h11.88c0.72,0,1.31-0.62,1.31-1.2v-2.93 C425.03,75.58,424.82,75.22,424.51,74.99"/>
		<path class="st0" d="M520.11,67.86c-4.67-0.95-3.66-5.49-3.66-5.49s0-27.49,0-29.76c0-2.27,0.19-4.42,3.91-4.04 c2.09,0.21,3.65,1.98,4.61,3.49v33.05C524.11,66.74,522.61,68.37,520.11,67.86L520.11,67.86z M539.1,75.06l0.06,0l-3.18-2.63V1.5 c0-0.31-0.25-0.57-0.57-0.57h-3.5c-0.04-0.01-0.09-0.03-0.13-0.03h-9.87c-0.47,0-0.85,0.38-0.85,0.85v1.08c0,0.34,0.2,1.57,1.4,2.54 c1.18,0.96,2.46,1.72,2.5,1.74v17.78c-2.24-2.69-5.09-5.03-7-6.28c-2.21-1.45-4.86-1.83-7.77-0.99c-3.17,1.66-5.33,4.97-5.33,8.8 v43.75c0,5.48,4.44,9.92,9.92,9.92h1.44c2.74,0,5.22-1.11,7.02-2.91l0.06-0.08c0.06,0.13,0.13,0.28,0.25,0.49 c0.49,0.85,1.26,1.97,1.44,2.14c0.07,0.24,0.28,0.42,0.54,0.42h9.87c0.03,0,0.06-0.01,0.09-0.02h2.82c0.72,0,1.31-0.62,1.31-1.2V76 C539.63,75.65,539.42,75.3,539.1,75.06"/>
		<path class="st0" d="M382.45,10.85c0,0.31-0.25,0.57-0.57,0.57h-11.5c-0.31,0-0.57-0.25-0.57-0.57V0.57c0-0.31,0.25-0.57,0.57-0.57 h11.5c0.31,0,0.57,0.25,0.57,0.57V10.85"/>
		<path class="st0" d="M61.02,77.33c0,0-3.52-4.97-3.79-5.35c-0.97-1.36-1.28-1.75-1.28-3.77V17.08c0-0.31-0.25-0.57-0.57-0.57H45.5 c-0.08,0-0.16,0.02-0.23,0.05h-3.4c-0.47,0-0.85,0.38-0.85,0.85v1.08c0,0.34,0.2,1.57,1.4,2.54c1.18,0.96,2.47,1.72,2.51,1.74V68.3 c0,0-0.03,2.91,0.75,4.17c0.55,0.9,4.16,5.56,4.85,6.4c1.36,1.65,1.36,4.85-0.68,4.95c-2.31,0.11-4.36-1.49-5.3-2.29 c-1.16-0.99-1.17,0.62-1.17,0.62s0,7.67,0,8.37c0,0.7-0.13,1.44,0.7,1.97c2.08,1.33,7.12,1.49,7.12,1.49s2.04,0,3.65,0 c6.56,0,6.81-5.8,6.81-5.8s0-6.9,0-7.51C61.68,78.33,61.02,77.33,61.02,77.33"/>
		<path class="st0" d="M385.2,75.06l0.06,0l-3.17-2.62V17.08c0-0.31-0.25-0.57-0.57-0.57h-9.87c-0.08,0-0.16,0.02-0.23,0.05h-3.07 c-0.47,0-0.85,0.38-0.85,0.85v1.08c0,0.34,0.2,1.57,1.4,2.54c0.84,0.68,1.73,1.26,2.19,1.54V72.4l-3.15,2.6 c-0.36,0.23-0.6,0.62-0.6,0.99v2.93c0,0.58,0.59,1.2,1.31,1.2h15.78c0.72,0,1.31-0.62,1.31-1.2V76 C385.72,75.65,385.51,75.3,385.2,75.06"/>
		<path class="st0" d="M121.33,29.8c0,0,0-9.42,0-10.93c0-1.51-1.28-2.15-1.28-2.15c-2.04-0.81-4.42,0-6.22,0.87 c-1.61,0.78-4.5,3.16-5.11,3.68h-0.05l-0.02-2.77v-1.08c0-0.47-0.38-0.85-0.85-0.85h-9.87c-0.47,0-0.85,0.38-0.85,0.85v1.08 c0,0.33,0.2,1.57,1.4,2.54c1.2,0.97,1.95,1.75,1.95,1.75h0v49.75l-2.99,2.47c-0.36,0.23-0.6,0.62-0.6,0.99v2.93 c0,0.58,0.59,1.2,1.31,1.2h2.85c0,0,0,0,0,0h9.87c0,0,0,0,0,0h3.05c0.72,0,1.31-0.62,1.31-1.2V76c0-0.34-0.21-0.7-0.52-0.93l0.06,0 l-3.33-2.75V30.09c1.09-1.51,1.75-1.37,3.2-1.21c1.57,0.17,4.19,2.33,4.19,2.33C121.74,32.6,121.33,29.8,121.33,29.8"/>
		<path class="st0" d="M236.4,75.06l0.06,0l-3.23-2.67V26.03c0.02-1.14-0.05-4.89-1.92-6.75c-4.14-4.14-10.34-1.78-12.47-0.61 c-2.02,1.11-4.48,3.35-5.74,4.29v-5.79c0-0.34-0.25-0.61-0.57-0.61h-9.88c0,0-0.01,0-0.01,0h-2.91c-0.47,0-0.85,0.38-0.85,0.85v1.08 c0,0.33,0.2,1.57,1.4,2.54c0.9,0.73,1.54,1.34,1.8,1.6v49.82l-3.08,2.54c-0.36,0.23-0.6,0.62-0.6,0.99v2.93 c0,0.58,0.59,1.2,1.31,1.2h2.93c0,0,0,0,0,0h9.88c0,0,0,0,0,0h2.97c0.72,0,1.31-0.62,1.31-1.2V76c0-0.34-0.21-0.7-0.52-0.93l0.06,0 l-3.25-2.68V35.66c0.34-2.87,1.47-5.42,5.15-5.61c2.51-0.13,3.55,1.06,3.96,2.23v40.17l-3.1,2.56c-0.36,0.23-0.6,0.62-0.6,0.99v2.93 c0,0.58,0.59,1.2,1.31,1.2h2.95h0h9.87h0h2.95c0.72,0,1.31-0.62,1.31-1.2V76C236.92,75.65,236.71,75.3,236.4,75.06"/>
		<path class="st0" d="M500.02,75.06l0.06,0l-3.24-2.68V26.01c0.02-1.17-0.07-4.88-1.92-6.73c-4.14-4.14-10.33-1.78-12.47-0.61 c-2.02,1.11-4.48,3.35-5.74,4.29v-5.79c0-0.34-0.26-0.61-0.57-0.61h-9.88c0,0-0.01,0-0.01,0h-2.92c-0.47,0-0.85,0.38-0.85,0.85v1.08 c0,0.33,0.2,1.57,1.4,2.54c0.9,0.72,1.54,1.34,1.8,1.6v49.82l-3.08,2.55c-0.36,0.23-0.6,0.62-0.6,0.99v2.93 c0,0.58,0.58,1.2,1.31,1.2h2.94h0h9.88c0,0,0,0,0,0h2.96c0.72,0,1.31-0.62,1.31-1.2V76c0-0.34-0.21-0.7-0.52-0.93l0.06,0l-3.24-2.68 V35.67c0.33-2.87,1.47-5.42,5.15-5.62c2.51-0.13,3.55,1.06,3.96,2.23v40.18l-3.08,2.55c-0.36,0.23-0.6,0.62-0.6,0.99v2.93 c0,0.58,0.58,1.2,1.31,1.2h2.93c0,0,0,0,0,0h9.88c0,0,0,0,0,0h2.96c0.72,0,1.31-0.62,1.31-1.2V76 C500.54,75.65,500.33,75.3,500.02,75.06"/>
		<path class="st0" d="M36.17,0.03h-7.04c-0.02,0-0.04-0.01-0.05-0.01h-11.3c-0.01,0-0.02-0.01-0.04-0.01h-6.89c0,0,0,0-0.01,0H0.86 C0.39,0.01,0,0.42,0,0.93v1.73c0,0.36,0.2,1.27,1.42,2.32c1.12,0.97,3.79,2.47,4.21,3.59v62.83H5.6l-4.7,3.24 c-0.46,0.25-0.77,0.66-0.77,1.06v3.13c0,0.63,0.75,1.29,1.68,1.29h4.3c0.03,0.01,0.06,0.02,0.09,0.02h11.53 c0.03,0,0.06-0.01,0.09-0.02h4.23c0.93,0,1.68-0.66,1.68-1.29V75.7c0-0.37-0.27-0.75-0.67-1l0.07,0l-4.78-3.3H18.3V40.12 c0.32-1.2,1.06-0.99,1.06-0.99h7.92l5.11,3.52c0.25,0.39,0.66,0.66,1.06,0.66h1.58c0.63,0,1.29-0.65,1.29-1.44V24.53 c0-0.79-0.66-1.44-1.29-1.44h-1.58c-0.37,0-0.75,0.23-1,0.58l0-0.06l-5.23,3.63h-7.86c0,0-0.73,0.14-1.06-0.89V12.91 c0.32-1.2,1.06-0.99,1.06-0.99h5.77c0.73,0.18,1.09,0.58,1.74,1.05l4.82,4.07c0.46,0.34,0.85,0.62,1.34,0.66h3.13 c0.63,0,1.29-0.64,1.29-1.44V1.47C37.45,0.68,36.79,0.03,36.17,0.03"/>
		<path class="st0" d="M362.44,0.03h-5.91l-6.99-0.02l0,0h-6.89c0,0,0,0-0.01,0h-9.97c-0.02,0-0.04,0.01-0.07,0.02l-1.6,0h-5.91 c-0.63,0-1.29,0.6-1.29,1.34V15.2c0,0.74,0.66,1.35,1.29,1.35h1.01c0.49-0.04,1.42-0.43,2.19-1.2c0,0,4.55-5.42,5.84-5.42 c1.63,0,1.73,0,1.73,0s1.41,0.35,1.58,1.66v59.82h-0.03l-4.69,3.24c-0.46,0.25-0.77,0.66-0.77,1.06v3.13c0,0.63,0.75,1.29,1.68,1.29 h4.28c0.03,0.01,0.06,0.02,0.09,0.02h11.53c0.03,0,0.06-0.01,0.09-0.02h4.2c0.92,0,1.68-0.66,1.68-1.29V75.7 c0-0.37-0.27-0.75-0.67-1l0.07,0l-4.77-3.3h-0.03V11.42c0.26-1.18,1.56-1.5,1.56-1.5s0.11,0,1.73,0c1.29,0,5.84,5.42,5.84,5.42 c0.77,0.77,1.7,1.16,2.19,1.2h1.01c0.62,0,1.29-0.6,1.29-1.35V1.38C363.73,0.63,363.07,0.03,362.44,0.03"/>
	</symbol>
</svg>
