// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #c2352e,
	);

// Local settings
$pub-settings: (
	ygg-header-default: false,
	ygg-footer-default: false,
	ygg-header-logo-enlarge: true
	);

// Local teaser styles
$pub-teasers:(
	"hodd":(
		background:       #1d4278,
		header:           scale-color(#1d4278, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"dimna":(
		background:       #007211,
		header:           scale-color(#005c1a, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
	),
	);
