<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #007dc5; }
            .st1 { fill: #e31b22; }
            .st2 { fill-rule: evenodd; clip-rule: evenodd; fill: #f6ba18; }
            .st3 { fill-rule: evenodd; clip-rule: evenodd; fill: #1a4276; }
            .st4 { fill-rule: evenodd; clip-rule: evenodd; fill: #a31e22; }
            .st5 { fill: #ffffff; stroke: #000000; stroke-width: 0.5664; }
        </style>

        <rect y="106.7" class="st0" width="492.1" height="19.3"/>
        <path class="st1" d="M0,69.3c6.7,6.3,16.6,10.7,25.2,10.7c5.4,0,12.7-2,12.7-9.7C37.9,53.5,1.3,57,1.3,26.4c0-7.8,3.4-15.3,8.9-19.8 C16.3,1.6,23.7,0,31.1,0C37.8,0,45,1.4,51.2,4.1v16c-5-3.7-10.9-6.4-16.9-6.4c-4.7,0-10.4,2.3-10.4,8.7c0,6.6,7,9.2,11.4,11.3 c5.8,2.9,11.2,5.5,16,10.2c5.8,5.7,8.9,11.9,8.9,20.6c0,8.9-3.2,16.8-9.6,22.1c-7.1,5.9-14.8,7.1-23.3,7.1c-7.9,0-15.8-1.6-23.3-4.9 L0,69.3z"/>
        <path class="st1" d="M68.4,47.8h-7.2v-8.2c10.3-0.8,18.6-9.8,19.6-19.8H89v17.1h13.3v14.6h-0.4c-3.2-3.7-4.9-3.5-9.9-3.5h-3v22.3 c0,4.3-0.1,7.4,3.7,9.9c2.9,1.9,6.3,2,9.6,2.2l-5.3,10.2c-3.1,0.2-6.3,0.8-9.4,0.8c-4.9,0-11.1-1.3-14.9-4.7 c-4.5-4.1-4.3-9.8-4.3-15.4V47.8z"/>
        <path class="st1" d="M157.8,89.6c-5.7,2.5-12.4,3.7-18.8,3.7c-8.1,0-17.2-1-23.9-5.9C107.5,82,104.3,73,104.3,64 c0-16.7,12.7-28.8,29.3-28.8c18.9,0,28,10.9,28.3,29.3h-37c0,10.3,6.9,17.7,17.6,17.7c6.7,0,14.1-3,20.1-6.1L157.8,89.6z M141.5,54.4c0-4.7-2.3-8.7-8-8.7c-5.3,0-8.1,3.9-8.7,8.7H141.5z"/>
        <path class="st1" d="M179.7,36.8c3.2,0,5.9-0.4,8.1-1.8h0.4v43.6c0,5.5-0.4,9,4.2,12.8v0.4h-29v-0.4c4.5-3.8,4.2-7.3,4.2-12.8V49.9 c0-5.6,0.4-9.1-4.1-12.8v-0.4H179.7z"/>
        <path class="st1" d="M220.4,41.6c3.5-4.4,8.6-6.3,14.7-6.3c6.5,0,12.4,1.7,16.8,6.8c4.4,5.1,4.1,10.5,4.1,16.8v19.7 c0,5.6-0.4,9.1,4.2,12.8v0.4h-29v-0.4c4.5-3.7,4.2-7.2,4.2-12.8V58.4c0-2.6,0-5.4-1.7-7.6c-1.3-2.1-3.7-3.3-6.2-3.3 c-2,0-4.2,1.1-5.4,2.7c-1.8,2.3-1.7,5.6-1.7,8.2v20.2c0,5.6-0.4,9.1,4.2,12.8v0.4h-29v-0.4c4.5-3.7,4.2-7.2,4.2-12.8V49.9 c0-5.5,0.4-9-4.2-12.8v-0.4h16c2.9,0,5.4-0.5,8.5-1.8h0.4V41.6z"/>
        <path class="st1" d="M288.5,60.5l9.6-11c1.7-1.9,3.7-3.6,3.7-6.2c0-2.7-2.3-5.1-4.4-6.1v-0.4h27.6v0.4l-18.5,20.5l15.8,24.6 c2.3,3.6,4.5,7,8,9.1v0.4c-6.8,0-13.7,0.6-20.5,0.6c-5.5,0-7.6-3.6-10.2-7.9l-11-18.2v12.2c0,5.6-0.2,9.1,4.2,12.9v0.4h-29v-0.4 c4.5-3.8,4.1-7.3,4.2-12.9V15.2c-0.1-5.5,0.4-9-4.2-12.8V2.1h16.6c2.9,0,5.5-0.6,7.9-1.9h0.4V60.5z"/>
        <path class="st1" d="M345.7,36.8c3.6,0,6.2-0.1,9-1.8h0.4v53.9c0,8,0.8,16.2-6.8,21.3c-6.1,3.9-15.4,6.9-22.8,6.8l0.6-0.6 c8.6-9.2,8.4-11.6,8.4-23.8V53.8c0-6.2,0.8-12.9-5-16.6v-0.4H345.7z M332.7,23.4c0-6.5,4.8-11.8,11.3-11.8c6.2,0,11.2,5.1,11.2,11.2 c0,6.6-5.3,11.6-11.7,11.6C337.7,34.4,332.7,29.2,332.7,23.4"/>
        <path class="st1" d="M413.7,89.6c-5.7,2.5-12.4,3.7-18.8,3.7c-8.1,0-17.2-1-23.9-5.9C363.4,82,360.2,73,360.2,64 c0-16.7,12.7-28.8,29.3-28.8c18.9,0,28,10.9,28.3,29.3h-37c0,10.3,6.9,17.7,17.6,17.7c6.7,0,14.1-3,20.1-6.1L413.7,89.6z M397.4,54.4c0-4.7-2.3-8.7-8-8.7c-5.3,0-8.1,3.9-8.7,8.7H397.4z"/>
        <path class="st1" d="M444.5,43.7c1.8-5.5,6.8-8.5,12.9-8.5l4.4,0.4v14.6c-2-0.5-4.2-1-6.2-1c-3.6,0-6.9,1.3-9.4,4.1 c-2,2.3-1.7,4.3-1.7,7.3v18c0,5.5-0.4,9.1,4.1,12.8v0.4h-28.8v-0.4c4.4-3.7,4.1-7.2,4.1-12.8V49.9c0-5.5,0.4-9.1-4.1-12.8v-0.4h16.7 c2.7,0,5.4-0.5,7.6-1.8h0.4V43.7z"/>
        <path class="st2" d="M223.4,2.8c2-0.1,3.6,0.6,4.6,1.5c0.6,0.5,1,1,1.4,1.7c0.4,0.7,0.6,1.4,0.7,2.3c0.1,1-0.2,1.8-0.5,2.5 c-0.3,0.7-0.8,1.3-1.3,1.8c-0.5,0.5-1.1,0.9-1.8,1.2c-0.7,0.3-1.5,0.5-2.5,0.6c-2,0.1-3.6-0.6-4.6-1.5c-0.6-0.5-1-1-1.4-1.7 c-0.4-0.7-0.6-1.4-0.7-2.3c-0.1-1,0.2-1.9,0.5-2.5c0.3-0.7,0.7-1.3,1.3-1.8c0.9-0.8,2.1-1.5,3.6-1.7C222.9,2.8,223.1,2.8,223.4,2.8"/>
        <path class="st3" d="M234.6,15c0.6,0,1.5,0,2.2,0h4.4c0.7,0,1.3,0.2,1.6,0.6c0.1,0.1,0.2,0.2,0.2,0.5c0,0.5-0.4,0.8-0.7,0.9 c-0.4,0.2-0.9,0.3-1.4,0.3c-0.6,0-1.1,0-1.7,0h-1.7c-1.1,0-2.3,0-3.3,0.1c-0.5,0.1-1,0.1-1.4,0.3c-0.4,0.2-0.6,0.6-0.6,1.1 c0.1,0.5,0.6,0.7,1,0.8c0.3,0.1,0.6,0.1,0.9,0.1c1.4,0.1,2.7,0,4.1,0.2c0.6,0.1,1.2,0.2,1.7,0.4c1,0.4,1.9,0.9,2.1,2.1 c0.1,0.6,0,1.3-0.3,1.8c-0.2,0.5-0.6,0.8-0.9,1.1c-0.8,0.6-1.8,1-3,1.2c-2.4,0.4-5.2,0.3-8.1,0.3h-1.1c-0.4,0-0.7,0-1,0 c-0.6-0.1-1.2-0.3-1.3-0.8c-0.1-0.3,0-0.6,0.1-0.8c0.2-0.3,0.6-0.5,1-0.6c0.2-0.1,0.4-0.1,0.7-0.1c0.2,0,0.5,0,0.8,0 c1,0,2.1,0,3.2,0c1,0,2.1,0,3.1-0.1c0.5,0,0.9-0.1,1.3-0.3c0.3-0.2,0.6-0.5,0.6-1c0-0.5-0.6-0.8-1-0.9c-0.8-0.2-1.9-0.2-2.9-0.2 c-0.5,0-1-0.1-1.5-0.1c-0.9-0.1-1.8-0.3-2.5-0.6c-0.7-0.3-1.4-0.7-1.7-1.4c-0.4-0.8-0.2-1.8,0.2-2.5c0.4-0.6,1-1.1,1.7-1.5 c0.7-0.3,1.5-0.6,2.4-0.7C232.6,15,233.6,15,234.6,15C234.6,15,234.6,15,234.6,15"/>
        <path class="st4" d="M136.2,19.8c2.3-1.2,4.5-2.4,6.8-3.7c0.7-0.4,1.5-0.9,2.7-0.8c0.5,0,1,0.2,1.3,0.4c0.4,0.2,0.7,0.5,0.8,0.9 c0.2,0.5-0.1,1-0.3,1.3c-0.3,0.3-0.7,0.5-1.1,0.7c-1.5,0.8-3,1.7-4.6,2.5c0.1,0.1,0.2,0.1,0.2,0.2c1.3,0.8,2.5,1.6,3.8,2.4 c0.4,0.2,0.7,0.4,0.9,0.8c0.2,0.5,0.1,1-0.2,1.3c-0.2,0.3-0.6,0.5-0.9,0.7c-0.4,0.2-0.8,0.4-1.2,0.4c-0.5,0.1-1.1,0-1.5-0.1 c-0.4-0.1-0.7-0.4-1.1-0.6c-2-1.3-4.1-2.5-6.1-3.8c-0.1,1-0.2,1.9-0.4,2.8c-0.1,0.9-0.9,1.3-1.7,1.5c-0.5,0.1-0.9,0.2-1.5,0.2 c-0.5,0-0.9-0.2-1.3-0.4c-0.4-0.2-0.7-0.4-0.8-0.8c-0.1-0.2,0-0.5,0-0.7c0.3-2.6,0.7-5.2,1-7.8c0-0.3,0.1-0.5,0.1-0.7 c0.1-0.6,0.6-1,1.2-1.2c0.4-0.2,0.8-0.3,1.3-0.3c0.7,0,1.2,0.1,1.7,0.3c0.5,0.2,0.9,0.5,1,1c0,0.3,0,0.6-0.1,0.9 C136.4,18.1,136.3,18.9,136.2,19.8"/>
        <path class="st3" d="M222.8,15C222.8,15,222.8,15,222.8,15c0.6-0.1,1.2,0.1,1.7,0.3c0.5,0.2,0.9,0.5,1,1c0,0.2,0,0.4,0,0.6 c-0.3,2.5-0.6,4.9-0.9,7.5c0,0.4-0.1,0.8-0.2,1.1c-0.2,0.5-0.7,0.8-1.2,1.1c-0.5,0.2-1.2,0.4-2,0.3c-0.3,0-0.6-0.1-0.9-0.2 c-0.5-0.2-1-0.5-1.1-1.2c0-0.3,0.1-0.6,0.1-1c0.3-2.3,0.6-4.6,0.9-7c0-0.3,0.1-0.7,0.1-1c0.1-0.5,0.5-0.8,0.9-1 c0.2-0.1,0.4-0.2,0.7-0.3C222.2,15.1,222.5,15,222.8,15"/>
        <path class="st4" d="M99.1,15c0.5,0,1.1,0,1.5,0.2c0.4,0.1,0.8,0.4,1,0.7c0.3,0.4,0.1,1,0.1,1.4c-0.1,1-0.2,1.9-0.4,3 c-0.1,0.5-0.2,1-0.1,1.6c0.2,1.5,1.1,2.3,2.5,2.6c0.5,0.1,1,0.1,1.6,0.1c1.1,0,2.3,0,3.5,0c0.3,0,0.6,0,0.8,0c0.2,0,0.5,0.1,0.6,0.2 c0.4,0.2,0.7,0.5,0.6,1c-0.1,0.4-0.6,0.6-0.9,0.8c-0.2,0.1-0.4,0.1-0.7,0.2c-0.3,0-0.5,0-0.8,0h-3.5c-1.2,0-2.4,0-3.3-0.1 c-1-0.1-1.9-0.4-2.6-0.8c-0.8-0.4-1.4-0.8-2-1.5c-0.5-0.6-0.9-1.4-1-2.4c0-0.6,0-1.1,0.1-1.6c0.2-1.2,0.3-2.5,0.5-3.8 c0.1-0.7,0.5-1.1,1.1-1.4c0.2-0.1,0.4-0.2,0.6-0.2C98.6,15.1,98.8,15.1,99.1,15"/>
        <path class="st4" d="M161.1,19L161.1,19c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.5-0.4-0.9-0.5c-0.4-0.1-0.9-0.1-1.3-0.1h-5.6 c-0.5,0-0.9,0-1.3-0.1c-0.4-0.1-0.7-0.3-0.8-0.5c-0.2-0.5,0.1-0.9,0.4-1.1c0.2-0.1,0.4-0.2,0.6-0.2c0.2-0.1,0.5-0.1,0.7-0.2 c0.2,0,0.4,0,0.5,0h7.7c0.4,0,0.7,0,1,0c0.9,0.1,1.7,0.3,2.4,0.7c0.9,0.4,1.7,1.1,1.8,2.3c0,0.3,0,0.6-0.1,0.9 c-0.2,1.5-0.4,3-0.6,4.5c-0.1,0.6-0.1,1.2-0.2,1.8c-0.1,0.6-0.4,0.9-0.9,1.2c-0.4,0.3-1,0.4-1.5,0.5c-0.7,0.1-1.3,0-1.8-0.2 c-0.4-0.2-0.9-0.5-1-1c0-0.3,0-0.6,0.1-0.9c0.1-0.6,0.1-1.2,0.2-1.9c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.6-0.5-1-0.5c-0.2,0-0.3,0-0.5,0 H156c-0.4,0-0.7,0-1,0c-0.6,0.1-1.1,0.4-1.2,0.8c0,0.1,0,0.3-0.1,0.5c0,0.3-0.1,0.6-0.1,0.9c0,0.2-0.1,0.4,0,0.6 c0.1,0.3,0.5,0.5,0.9,0.6c0.4,0.1,1,0.1,1.5,0.1c0.5,0,1,0,1.5,0.1c0.4,0.1,0.8,0.3,1,0.5c0.1,0.2,0.2,0.5,0.1,0.7 c-0.2,0.5-0.7,0.7-1.2,0.8c-0.5,0.1-1.2,0.1-1.9,0.1h-2c-0.3,0-0.7,0-1,0c-0.9-0.1-1.7-0.3-2.4-0.6c-0.5-0.2-0.9-0.5-1.2-0.8 c-0.3-0.3-0.6-0.8-0.6-1.3c0-0.3,0-0.6,0-0.9c0-0.3,0.1-0.6,0.1-0.9c0.2-1.1,0.8-1.8,1.6-2.3c0.4-0.3,0.9-0.5,1.4-0.6 c0.5-0.2,1-0.3,1.6-0.4c0.6-0.1,1.3-0.1,1.9-0.1H161.1z"/>
        <path class="st4" d="M170.9,15c0.5,0,1.1,0,1.5,0.2c0.4,0.1,0.8,0.4,1,0.7c0.3,0.4,0.1,1,0.1,1.4c-0.1,1-0.2,1.9-0.4,3 c-0.1,0.5-0.2,1-0.1,1.6c0.1,1.5,1.1,2.3,2.5,2.6c0.5,0.1,1,0.1,1.6,0.1c1.1,0,2.3,0,3.4,0c0.3,0,0.6,0,0.8,0c0.2,0,0.5,0.1,0.6,0.2 c0.4,0.2,0.7,0.5,0.6,1c-0.1,0.4-0.6,0.6-0.9,0.8c-0.2,0.1-0.4,0.1-0.7,0.2c-0.3,0-0.5,0-0.8,0h-3.5c-1.2,0-2.4,0-3.3-0.1 c-1-0.1-1.9-0.4-2.6-0.8c-0.8-0.4-1.4-0.8-2-1.5c-0.5-0.6-0.9-1.4-1-2.4c0-0.6,0-1.1,0.1-1.6c0.2-1.2,0.3-2.5,0.5-3.8 c0.1-0.7,0.5-1.1,1.1-1.4c0.2-0.1,0.4-0.2,0.6-0.2C170.3,15.1,170.6,15.1,170.9,15"/>
        <path class="st3" d="M195.8,19L195.8,19c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.5-0.4-0.9-0.5c-0.4-0.1-0.9-0.1-1.3-0.1h-5.6 c-0.5,0-0.9,0-1.3-0.1c-0.4-0.1-0.7-0.3-0.8-0.5c-0.2-0.5,0.1-0.9,0.4-1.1c0.2-0.1,0.4-0.2,0.6-0.2c0.2-0.1,0.4-0.1,0.7-0.2 c0.2,0,0.4,0,0.5,0h7.7c0.4,0,0.7,0,1,0c0.9,0.1,1.7,0.3,2.4,0.7c0.9,0.4,1.7,1.1,1.8,2.3c0,0.3,0,0.6-0.1,0.9 c-0.2,1.5-0.4,3-0.6,4.5c-0.1,0.6-0.1,1.2-0.2,1.8c-0.1,0.6-0.4,0.9-0.9,1.2c-0.4,0.3-1,0.4-1.5,0.5c-0.7,0.1-1.3,0-1.8-0.2 c-0.4-0.2-0.9-0.5-1-1c-0.1-0.3,0-0.6,0.1-0.9c0.1-0.6,0.1-1.2,0.2-1.9c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.6-0.5-1-0.5 c-0.2,0-0.3,0-0.5,0h-3.1c-0.4,0-0.7,0-1,0c-0.6,0.1-1.1,0.4-1.2,0.8c0,0.1,0,0.3-0.1,0.5c0,0.3-0.1,0.6-0.1,0.9 c0,0.2-0.1,0.4,0,0.6c0.1,0.3,0.5,0.5,0.9,0.6c0.4,0.1,1,0.1,1.5,0.1c0.5,0,1,0,1.5,0.1c0.4,0.1,0.8,0.3,1,0.5 c0.1,0.2,0.2,0.5,0.1,0.7c-0.2,0.5-0.6,0.7-1.2,0.8c-0.5,0.1-1.2,0.1-1.9,0.1h-2c-0.3,0-0.7,0-1,0c-0.9-0.1-1.7-0.3-2.4-0.6 c-0.4-0.2-0.9-0.5-1.2-0.8c-0.3-0.3-0.6-0.8-0.6-1.3c0-0.3,0-0.6,0-0.9c0-0.3,0.1-0.6,0.1-0.9c0.2-1.1,0.8-1.8,1.6-2.3 c0.4-0.3,0.9-0.5,1.4-0.6c0.5-0.2,1-0.3,1.6-0.4c0.6-0.1,1.3-0.1,1.9-0.1H195.8z"/>
        <path class="st3" d="M210.6,20.7c0.1-0.1,0.2-0.2,0.3-0.3c0.6-0.8,1.2-1.5,1.8-2.4c0.5-0.7,1-1.3,1.6-2c0.2-0.2,0.4-0.4,0.6-0.6 c0.5-0.3,1.2-0.5,2-0.4c0.4,0,0.7,0.1,1,0.2c0.6,0.2,1.1,0.5,1.2,1.1c0.1,0.3,0,0.7-0.2,1c-0.1,0.2-0.3,0.5-0.5,0.7 c-1.6,2-3.1,4-4.7,6c-0.3,0.4-0.7,0.9-1,1.4c-0.2,0.2-0.3,0.5-0.5,0.7c-0.4,0.4-0.9,0.7-1.6,0.8c-0.4,0-0.8,0-1.2,0 c-0.7,0-1.3-0.3-1.6-0.8c-0.1-0.2-0.3-0.5-0.4-0.8c-0.9-1.8-1.8-3.6-2.7-5.3c-0.4-0.7-0.8-1.5-1.2-2.3c-0.1-0.3-0.3-0.5-0.3-0.8 c0-0.7,0.4-1.1,0.9-1.4c0.5-0.3,1.1-0.5,1.8-0.6c1-0.1,1.8,0.2,2.2,0.7c0.1,0.2,0.2,0.4,0.3,0.6C209.1,17.8,209.8,19.3,210.6,20.7"/>
        <path class="st3" d="M256.1,19L256.1,19c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.5-0.4-0.9-0.5c-0.4-0.1-0.9-0.1-1.3-0.1h-5.6 c-0.5,0-0.9,0-1.3-0.1c-0.4-0.1-0.7-0.3-0.8-0.5c-0.2-0.5,0.1-0.9,0.4-1.1c0.2-0.1,0.4-0.2,0.6-0.2c0.2-0.1,0.4-0.1,0.7-0.2 c0.2,0,0.4,0,0.5,0h7.7c0.4,0,0.7,0,1,0c1,0.1,1.7,0.3,2.4,0.7c0.9,0.4,1.7,1.1,1.8,2.3c0,0.3,0,0.6-0.1,0.9c-0.2,1.5-0.4,3-0.6,4.5 c-0.1,0.6-0.1,1.2-0.2,1.8c-0.1,0.6-0.4,0.9-0.9,1.2c-0.4,0.3-1,0.4-1.5,0.5c-0.7,0.1-1.3,0-1.8-0.2c-0.4-0.2-0.9-0.5-1-1 c-0.1-0.3,0-0.6,0.1-0.9c0.1-0.6,0.2-1.2,0.2-1.9c0-0.4,0.2-0.9,0-1.2c-0.2-0.3-0.6-0.5-1-0.5c-0.2,0-0.3,0-0.5,0H251 c-0.4,0-0.7,0-1,0c-0.6,0.1-1.1,0.4-1.2,0.8c0,0.1,0,0.3-0.1,0.5c0,0.3-0.1,0.6-0.1,0.9c0,0.2-0.1,0.4,0,0.6 c0.1,0.3,0.5,0.5,0.9,0.6c0.4,0.1,1,0.1,1.5,0.1c0.5,0,1,0,1.5,0.1c0.4,0.1,0.8,0.3,1,0.5c0.2,0.2,0.2,0.5,0.1,0.7 c-0.2,0.5-0.6,0.7-1.2,0.8c-0.5,0.1-1.2,0.1-1.9,0.1h-2c-0.3,0-0.7,0-1,0c-0.9-0.1-1.7-0.3-2.4-0.6c-0.5-0.2-0.8-0.5-1.2-0.8 c-0.3-0.3-0.6-0.8-0.6-1.3c0-0.3,0-0.6,0-0.9c0-0.3,0.1-0.6,0.1-0.9c0.2-1.1,0.8-1.8,1.6-2.3c0.4-0.3,0.9-0.5,1.4-0.6 c0.5-0.2,1-0.3,1.6-0.4c0.6-0.1,1.3-0.1,1.9-0.1H256.1z"/>
        <path class="st4" d="M129.5,17.9c-0.1-1.1-0.9-1.7-1.6-2.1c-0.8-0.4-1.8-0.7-3-0.7h-5.7c-0.6,0-1.3,0-1.9,0c-0.3,0-0.6,0-0.9,0.1 c-0.8,0.1-1.5,0.4-2.1,0.7c-1,0.5-1.9,1.3-2.1,2.5c0,0.3-0.1,0.5-0.1,0.8c-0.1,1.1-0.3,2.2-0.4,3.3c-0.1,0.5-0.2,1.1-0.1,1.7 c0.1,1,0.8,1.7,1.6,2.1c0.8,0.4,1.8,0.7,3,0.7c1.9,0,3.8,0,5.7,0c0.6,0,1.3,0,1.9,0c1.2-0.1,2.1-0.4,3-0.8c0.8-0.4,1.5-1,1.9-1.8 c0.1-0.2,0.2-0.4,0.2-0.7c0-0.3,0.1-0.5,0.1-0.8c0.2-1.4,0.3-2.7,0.5-4.1C129.5,18.4,129.5,18.2,129.5,17.9 M124.3,18.7 c-0.2,1.4-0.4,2.9-0.6,4.4c0,0.3-0.1,0.6-0.2,0.9c-0.2,0.4-0.7,0.6-1.2,0.7c-0.3,0-0.6,0-0.9,0h-2.8c-0.3,0-0.6,0-0.9-0.1 c-0.4-0.1-0.9-0.3-1-0.7c-0.1-0.2,0-0.5,0-0.8c0.2-1.6,0.4-3.2,0.6-4.9c0-0.2,0-0.3,0.1-0.4c0.2-0.3,0.4-0.5,0.8-0.6 c0.2-0.1,0.3-0.1,0.5-0.1c0.5,0,1,0,1.5,0h1.5c0.5,0,1.1-0.1,1.5,0c0.4,0.1,0.9,0.3,0.9,0.7C124.4,18.2,124.3,18.5,124.3,18.7"/>
        <path class="st5" d="M475.2,100c-0.8,1.9-3.6,6.4-6.1,9.2c-2.1,2.3-6,5.8-7.6,5.8c-0.6,0-0.9-0.3-1-0.9v-0.5c0-3.3,3.5-9,7-12.7 c2.4-2.5,3.7-3,4.7-3C473.4,97.8,474.4,98.3,475.2,100z M473.8,95.2c-3.7,0-7.9,1.6-12.6,5c-6.4,4.8-10.6,12.1-10.6,15.5 c0,1.9,2.1,3.6,4.3,3.6c5.2,0,11.9-4.6,16.1-9.2h0.3l-2.1,4.5c-0.4,0.9-0.8,1.8-0.8,2.5c0,0.9,0.9,2.3,2.8,2.3 c4.9,0,11-3.2,14.1-6.8c0.1-0.8-0.6-1.3-1.3-1.3c-2.2,1.9-5.7,3.6-6.6,3.6c-0.5,0-0.4-0.5-0.1-1.2c2.7-6.5,5.8-12.9,8.5-18.4 c-0.4-0.6-1.4-1.2-2.6-1.5c-0.8-0.2-1.8-0.4-2.6-0.4c-0.8,0-1.5,0.2-1.9,0.4l-1.6,2.7C475.9,95.7,474.5,95.2,473.8,95.2z M446.1,94.4c-2.9,0-5.5,1-7.6,2.4c-2.1,1.5-4,3.8-4,6.4c0,2.1,1.3,4,3.5,5.9l2.3,2c1.4,1.2,2.1,2.2,2.1,3c0,0.9-1.1,1.7-2.4,1.7 c-1.4,0-2.8-0.6-5.6-3c-0.8-0.7-1.4-1.3-2.2-1.3c-1.8,0-3.5,1.5-3.5,3.4c0,2.9,3.7,4.5,7,4.5c3.4,0,6.4-0.9,8.8-2.6 c2.7-1.8,4.2-4.1,4.2-6.5c0-2-1.1-3.8-3.6-5.9l-2.7-2.3c-1.4-1.2-1.8-2-1.8-2.6c0-0.8,0.8-1.5,1.8-1.5c1.4,0,2.8,0.6,5.6,3.3 c0.4,0.4,1,0.8,1.6,0.8c1.1,0,3.3-0.8,3.3-3C453,96.4,449.9,94.4,446.1,94.4z M422.9,86.5c0,1.9,1.6,3.3,4.2,3.3 c3.3,0,5.4-2.2,5.4-4.7c0-2.2-1.6-3.4-4-3.4C425.2,81.6,422.9,83.9,422.9,86.5z M427.7,99.5c0.4-0.9,0.9-2,0.9-2.6 c0-1.3-1.7-2.6-3.3-2.6c-3.7,0-10.4,2.9-14.2,6.7c-0.3,0.5,0.3,1.3,1.1,1.4c1.1-0.9,5.1-3.3,6.3-3.3c0.4,0,0.4,0.3,0.1,0.8 l-7.4,14.5c-0.6,1.2-0.8,1.9-0.8,2.5c0,0.7,1.4,2.3,3.3,2.3c5.8,0,12.1-3.9,14.8-6.9c0.2-0.8-0.5-1.4-1.3-1.4 c-1.8,1.4-5.7,3.7-6.6,3.7c-0.5,0-0.6-0.3-0.3-0.9L427.7,99.5z M393.2,94.4c-6.1,0-12,4.2-13.9,7.2c0.1,0.5,0.7,0.9,1.4,0.9 c1.6-1.3,4.5-3.4,5.9-3.4c0.8,0,0.6,1,0.1,2l-4.2,9.4c-0.8,2-1.1,3.6-1.1,4.7c0,1.4,1.5,4,4.5,4c2.8,0,6-0.5,11.5-4.1 c6.6-4.4,12.3-12,12.3-16.5c0-2-0.6-4.4-4-4.4c-2.5,0-4.2,1.2-4.3,3.6c0.5,0.9,0.6,2.7,0.6,4.3c0,1.9-1.6,6.1-3.5,8.5 c-2.6,3-5.4,4.3-6.6,4.3c-1.2,0-1.6-1-1.6-1.6c0-0.6,0.4-2.1,1.1-3.7l3.9-8.6c0.6-1.4,1.1-2.8,1.1-3.7 C396.6,96,395.5,94.4,393.2,94.4z M367.9,100c-0.8,1.9-3.6,6.4-6.2,9.2c-2.1,2.3-6,5.8-7.6,5.8c-0.6,0-0.9-0.3-1-0.9v-0.5 c0-3.3,3.5-9,7-12.7c2.4-2.5,3.7-3,4.7-3C366.1,97.8,367.1,98.3,367.9,100z M366.5,95.2c-3.7,0-7.9,1.6-12.6,5 c-6.4,4.8-10.6,12.1-10.6,15.5c0,1.9,2.1,3.6,4.3,3.6c5.2,0,11.9-4.6,16.1-9.2h0.3l-2.1,4.5c-0.4,0.9-0.8,1.8-0.8,2.5 c0,0.9,0.9,2.3,2.8,2.3c4.9,0,11-3.2,14.1-6.8c0.1-0.8-0.6-1.3-1.3-1.3c-2.2,1.9-5.7,3.6-6.6,3.6c-0.5,0-0.4-0.5-0.1-1.2 c2.7-6.5,5.8-12.9,8.5-18.4c-0.4-0.6-1.4-1.2-2.6-1.5c-0.8-0.2-1.8-0.4-2.6-0.4c-0.8,0-1.5,0.2-1.9,0.4l-1.6,2.7 C368.6,95.7,367.2,95.2,366.5,95.2z"/>
    </symbol>
</svg>
