// Easing
$cubic-bezier:             cubic-bezier(0.7, 0, 0.3, 1);
$bounce:                   cubic-bezier(0.235, 0.11, 0.265, 1.55);


// Transitions
$ygg-transitions:(
	short:                 all 180ms $cubic-bezier,
	medium:                all 360ms $cubic-bezier,
	long:                  all 440ms $cubic-bezier
	);