// Kölörs
/// @group colors-and-styles
$ygg-colors:(
	primary:               #6db8c6,
	background:            #f2f5f5,
	white:                 #fff,
	gray-ui:               #e2e2e2,
	gray-light:            #e4e8eb,
	gray:                  #807c7c,
	gray-dark:             #7c7e80,
	black:                 #08151c,
	info:                  #6db8c6,
	warning:               #dfb406,
	error:                 #e04e4e,
	success:               #59bb46,
	native-ad:             #817a66,
	native-ad-label:       #ffbb00,
	native-ad-background:  #fff5da,
	facebook:              #3b5999,
	twitter:               #55acee
	);
