// Icööööönsahhh
// Position refers to offset position in the sprite graphic
$ygg-icons:(
	menu:(
		width:             32px,
		height:            18px,
		position:          1
		),
	close:(
		width:             32px,
		height:            18px,
		position:          2
		),
	search:(
		width:             32px,
		height:            31px,
		position:          3
		),
	caret:(
		width:             32px,
		height:            26px,
		position:          4
		),
	plus:(
		width:             32px,
		height:            32px,
		position:          5
		),
	minus:(
		width:             32px,
		height:            32px,
		position:          6
		),
	spid:(
		width:             32px,
		height:            13.621px,
		position:          7
		),
	paywall:(
		width:             32px,
		height:            32px,
		position:          8
		),
	meatballs:(
		width:             32px,
		height:            8px,
		position:          9
		),
	gallery:(
		width:             32px,
		height:            22px,
		position:          10
		),
	menu-neg:(
		width:             32px,
		height:            18px,
		position:          11
		),
	close-neg:(
		width:             32px,
		height:            18px,
		position:          12
		),
	search-neg:(
		width:             32px,
		height:            31px,
		position:          13
		),
	caret-neg:(
		width:             32px,
		height:            26px,
		position:          14
		),
	plus-neg:(
		width:             32px,
		height:            32px,
		position:          15
		),
	minus-neg:(
		width:             32px,
		height:            32px,
		position:          16
		),
	spid-neg:(
		width:             32px,
		height:            13.621px,
		position:          17
		),
	paywall-neg:(
		width:             32px,
		height:            32px,
		position:          18
		),
	meatballs-neg:(
		width:             32px,
		height:            8px,
		position:          19
		),
	gallery-neg:(
		width:             32px,
		height:            22px,
		position:          20
		),
	score6:(
		width:             32px,
		height:            32px,
		position:          21
		),
	score5:(
		width:             32px,
		height:            32px,
		position:          22
		),
	score4:(
		width:             32px,
		height:            32px,
		position:          23
		),
	score3:(
		width:             32px,
		height:            32px,
		position:          24
		),
	score2:(
		width:             32px,
		height:            32px,
		position:          25
		),
	score1:(
		width:             32px,
		height:            32px,
		position:          26
		),
	score0:(
		width:             32px,
		height:            32px,
		position:          27
		),
	facebook:(
		width:             32px,
		height:            32px,
		position:          28
		),
	twitter:(
		width:             32px,
		height:            32px,
		position:          29
		),
	googleplus:(
		width:             32px,
		height:            32px,
		position:          30
		),
	instagram:(
		width:             32px,
		height:            32px,
		position:          31
		),
	youtube:(
		width:             32px,
		height:            32px,
		position:          32
		),
	rss:(
		width:             32px,
		height:            32px,
		position:          33
		),
	email:(
		width:             32px,
		height:            32px,
		position:          34
		),
	linkedin:(
		width:             32px,
		height:            32px,
		position:          35
		)
	);
