/// Side aligned image widths
$ygg-image-widths:(
	mobile:(
		medium:                5.625rem, // 90px
		small:                 4rem,     // 64px
		),
	desktop:(
		big:                   17.8rem,  // 280px
		medium:                5.625rem, // 90px
		small:                 4rem,     // 64px
		),
	);
