// Päths to files'n'földers
$ygg-paths:(
	fonts:                 "https://static.polarismedia.no/skins/prod/publication/yggdrasil/fonts/",
	gfx:                   "https://static.polarismedia.no/skins/prod/publication/yggdrasil/gfx/",
	js:                    "https://static.polarismedia.no/skins/prod/publication/yggdrasil/js/"
	);
