// Moar space plz
$ygg-spaces:(
	mobile:(
		gutter:                u(1.25),
		stack:                 u(1),
		x:                     u(1),
		x-small:               u(6/8),
		y:                     u(6/8),
		y-small:               u(1/2)
		),
	desktop:(
		gutter:                u(1.25),
		stack:                 u(1.5),
		x:                     u(1),
		x-small:               u(6/8),
		y:                     u(6/8),
		y-small:               u(1/2)
		),
	);
