// Teaser styles
/// @group colors-and-styles
$ygg-teasers:(
	"lokal": (
		background:       ygg-color(primary),
		header:           scale-color(ygg-color(primary), $lightness: -20%),
		header-text:      ygg-color(white),
		breaking:         ygg-color(white),
		kicker:           ygg-color(white),
		headline:         ygg-color(white),
		lead:             ygg-color(white),
		border:           rgba(255, 255, 255, 0.1),
		bullet:           ygg-color(white),
		tip:              ygg-color(white)
		),
	"svart": (
		background:       ygg-color(black),
		header:           #000,
		header-text:      ygg-color(white),
		breaking:         ygg-color(error),
		kicker:           ygg-color(error),
		headline:         ygg-color(white),
		lead:             ygg-color(gray-light),
		border:           rgba(255, 255, 255, 0.1),
		bullet:           ygg-color(error),
		tip:              ygg-color(white)
		),
	"rosa": (
		background:       #ffdaee,
		header:           #ffc8e6,
		kicker:           ygg-color(black),
		tip:              ygg-color(black)
		),
	"gul": (
		background:       #feffb3,
		header:           #fdff86,
		kicker:           ygg-color(black),
		tip:              ygg-color(black)
		),
	"beige": (
		background:       #e2dbc8,
		header:           #d6caaa,
		header-text:      #5a574f,
		kicker:           #76736c,
		headline:         #5a574f,
		border:           rgba(0, 0, 0, 0.1)
		),
	"aske": (
		background:       #bcbcbd,
		header:           #d2d2d2,
		kicker:           ygg-color(black)
		),
	"egghvit": (
		background:       #ebe9e5
		),
	"rød": (
		background:       #9f1f15,
		header:           #791109,
		header-text:      ygg-color(white),
		kicker:           ygg-color(white),
		headline:         ygg-color(white),
		lead:             ygg-color(white),
		border:           rgba(255, 255, 255, 0.1),
		)
	);

// Legacy
.polarisStories.front .storyTheme.kursiv, .theme_debatt, .theme_meninger {
	.headline {
		font-style: italic;
		font-weight: 400;
    }

    .article:not(.kursiv) .headline {
        font-style: normal;
		font-weight: 700;
    }
}

.theme_debatt, .theme_meninger {
	.headline {
		font-style: italic;
		font-weight: 700 !important;
	}
}

.section_debatt .article-header h1.title, .section_debatt .article-header h1.title, .section_meninger .article-header h1.title, .section_meninger .article-header h1.title {
	font-style: italic;
	font-weight: 700 !important;
}



.polarisStories.front .theme_debatt, .polarisStories.front .theme_meninger {
	.headline {
		font-style: italic;
		font-weight: 400 !important;
	}
}
