/// All ur fonts r belong to us
/// @group typography
$ygg-fonts:(
	system:                #{"Segoe UI", "Roboto", "San Francisco", Helvetica, Arial, sans-serif},
	headline:              #{"Lora", "Callibri", serif},
	copy:                  #{"Lora", "Callibri", serif},
	feature-headline:      #{"Raleway", Helvetica, Arial, sans-serif}
	);


// All heading sizes
/// @group typography
$ygg-headings:(
	mobile:(
		article:(
			font-size:         u(2),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(6/8)
            ),
        feature:(
            font-family:       ygg-font(feature-headline),
            font-size:         u(2.5),
            font-weight:       900,
            margin-bottom:     u(1.5),
            text-align:        center
        ),
		card:(
			font-size:         u(6/8),
			line-height:       1.05
			),
		big:(
			font-size:         u(1.5),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		medium:(
			font-size:         u(9/8),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		small:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		mini:(
			font-size:         u(7/8),
			line-height:       1.1
			),
		),
	desktop:(
		article:(
			font-size:         u(4.5),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1.5)
            ),
        feature:(
            font-family:       ygg-font(feature-headline),
            font-weight:       900,
            margin-bottom:     u(1.5),
            text-align:        left
        ),
		card:(
			font-size:         u(1),
			line-height:       1.05
			),
		big:(
			font-size:         u(1.5),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		medium:(
			font-size:         u(1.25),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		small:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			),
		mini:(
			font-size:         u(7/8),
			line-height:       1.1
			),
		),
	);


// All kicker sizes
/// @group typography
$ygg-kickers:(
	mobile:(
		article:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/2),
			color:             ygg-color(gray)
			),
		big:(
			font-size:         u(7/8),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/2)
			),
		medium:(
			font-size:         u(6/8),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/4)
			),
		small:(
			font-size:         u(6/8),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/4)
			)
		),
	desktop:(
		article:(
			font-size:         u(1.5),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/2),
			color:             ygg-color(gray)
			),
		big:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/2)
			),
		medium:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/4)
			),
		small:(
			font-size:         u(1),
			line-height:       1.1,
			letter-spacing:    -0.025em,
			margin-bottom:     u(1/4)
			)
		),
	);


// All kicker sizes
/// @group typography
$ygg-leads:(
	mobile:(
		article:(
			font-size:         u(10/8),
			line-height:       1.25,
			font-style:        italic
            ),
        feature:(
            font-style:        normal,
            font-weight:       400
        ),
		big:(
			font-size:         u(7/8),
			line-height:       1.25,
			color:             ygg-color(black),
			margin-top:        u(1/2)
			),
		medium:(
			font-size:         u(7/8),
			line-height:       1.25,
			color:             ygg-color(black),
			margin-top:        u(1/2)
			),
		small:(
			font-size:         u(7/8),
			color:             ygg-color(black),
			line-height:       1.25
			)
		),
	desktop:(
		article:(
			font-size:         u(2),
			line-height:       1.25,
			font-style:        italic
            ),
        feature:(
            font-style:        normal,
            font-weight:       700
            ),
		big:(
			font-size:         u(1),
			line-height:       1.25,
			color:             ygg-color(black),
			margin-top:        u(1/2)
			),
		medium:(
			font-size:         u(1),
			line-height:       1.25,
			color:             ygg-color(black),
			margin-top:        u(1/2)
			),
		small:(
			font-size:         u(1),
			color:             ygg-color(black),
			line-height:       1.25
			)
		),
	);


// All breaking news sizes
/// @group typography
$ygg-breakings:(
	mobile:(
		master:(
			font-size:         u(1),
			line-height:       1.1
			),
		big:(
			font-size:         u(7/8),
			line-height:       1.1
			),
		medium:(
			font-size:         u(6/8),
			line-height:       1.1
			)
		),
	desktop:(
		master:(
			font-size:         u(1),
			line-height:       1.1
			),
		big:(
			font-size:         u(1),
			line-height:       1.1
			),
		medium:(
			font-size:         u(1),
			line-height:       1.1
			)
		),
	);
