// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #0077c0,
	);

// Local settings
$pub-settings: (
	ygg-fonts-enabled: false,
	ygg-lead-front-enabled: true,
	ygg-lead-section-enabled: true,
	);

// Local article heading overrides
$pub-headings: (
	mobile:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	desktop:(
		article:(
			letter-spacing:    0,
			),
		big:(
			letter-spacing:    0,
			),
		medium:(
			letter-spacing:    0,
			),
		small:(
			letter-spacing:    0,
			),
		),
	);

// Local fonts
$pub-fonts: (
	headline: #{"Guardian Headline", serif},
	copy:     #{"Guardian Headline", serif},
	);
