.ygg-breaking-news {
	@include ygg-card(null, full);
	background-color: ygg-color(black);
	margin-top: -#{ygg-space(stack)}; // Hug the header
	position: relative;

	// Compensate for gutter on mobile, same width as the header above
	@include only(mobile) {
		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
	}

	// space between breaking news and outer ads
	@include only(desktop) {
		margin-bottom: ygg-space(stack);
	}

	.article {
		// Stian Blip
		// @include ygg-lol
		// This is the blip, animation is further down in this document
		&::before {
			content: "";
			display: block;
			background-color: ygg-color(error);
			border-radius: 50%;
			width: ygg-space(x-small);
			height: ygg-space(x-small);
			position: absolute;
			left: ygg-space(gutter);
			top: 50%;
			animation: breaking-news-blip 3s infinite;
			animation-timing-function: $cubic-bezier;
			transform: scale(1) translateY(-50%);
			transform-origin: 50% 0;
		}

		@include only(mobile) {
			padding: u(1) ygg-space(gutter) u(1) (ygg-space(gutter) * 2.5); // Extra left padding for the blip
		}

		// Center and limit to 980px
		@include only(desktop) {
			max-width: 980px;
			margin-right: auto;
			margin-left: auto;
			padding: u(1) ygg-space(gutter) u(1) (ygg-space(gutter) * 2.5); // Extra left padding for the blip
			position: relative;
			transform: translateX(-(ygg-space(gutter) * 2.5)); // Left-align with logo
		}
	}

	.article > a {
		display: inline-block;
		color: ygg-color(white);
	}

	// Hide everything except kicker and headline
	.breakingTitle,
	.date,
	.slideshow-count,
	.lead,
	.overlay,
	.storyLinks {
		display: none;
	}

	.kicker {
		@include ygg-kicker(medium);
		color: ygg-color(error);
	}

	.headline {
		@include ygg-heading(medium);

		@include only(desktop) {
			font-size: 2.25rem;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}


// THE BLIP
@keyframes breaking-news-blip {
	from {
		border: 4px solid transparent;
		opacity: 1;
	}
	to {
		border: 4px solid ygg-color(black);
		opacity: 0;
		transform: scale(2.5) translateY(-50%);
	}
}
