// Score in teaser view
.polarisStories .score {
	margin-left: u(1/4);

	&[class^="score"] {
		color: transparent;
		display: inline-block !important;
		text-indent: 0;
		vertical-align: middle;
		transform: scale(0.65);
		transform-origin: bottom left;
		vertical-align: text-top;
	}

	&.score1 { @include ygg-icon(score1, 1em); }
	&.score2 { @include ygg-icon(score2, 1em); }
	&.score3 { @include ygg-icon(score3, 1em); }
	&.score4 { @include ygg-icon(score4, 1em); }
	&.score5 { @include ygg-icon(score5, 1em); }
	&.score6 { @include ygg-icon(score6, 1em); }
}
