.polarisStories.front {
	color: ygg-color(black);

	// Widget title
	> .header {
		border-bottom: 4px solid ygg-color(gray-light);
		padding-bottom: ygg-space(y-small);

		h5 {
			@include ygg-small-heading;
		}
	}

	// Stacking
	@include only(desktop) {
		&:not(:first-child) {
			margin-top: ygg-space(x);
		}
	}

	// All direct decending articles should be a card
	> .article {
		@include only(mobile) {
			@include ygg-card();
		}
	}

	// The content is wrapped in an anchor
	.article > a {
		display: flex;
		align-items: flex-start;
		flex-flow: column wrap;
	}

	// Everything is wrapped in an a, so but we need different colors
	a {
		color: inherit;
		text-decoration: none;
	}

	.overlay {
		display: block;
		font-size: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;

		.label {
			@include ygg-small-text;
			background-color: scale-color(ygg-color(primary), $lightness: -20%);
			color: ygg-color(white);
			font-weight: 700;
			line-height: u(1.25);
			display: inline-block;
			padding-right: u(1/4);
			padding-left: u(1/4);
		}
	}

	@include only(mobile) {
		&.medium .overlay {
			top: ygg-space(y-small);
			bottom: auto;
			left: -#{u(1/2)};

			.label {
				line-height: 1.5;
			}
		}
	}

	.media.image {
		@include ygg-card-image(top, full);
	}

	// Make sure headlines wrap in IE
	.text {
		max-width: 100%;

		@include only(mobile) {
			@include ygg-card-text-container(top, full);
		}

		@include only(desktop) {
			@include ygg-card-text-container(top, full, none);
		}
	}

	.breakingTitle {
		@include ygg-breaking(big);
	}

	.kicker {
		@include ygg-kicker(big);
	}

	// All headline prefixes should have a color
	.prefix {
		color: ygg-color(gray);

		&::after {
			content: " ";
		}
	}

	// Long words breaks the flexness (Marve... Flexness?)
	.headline {
		@include ygg-word-wrap;
		@include ygg-heading(big);
	}

	.lead {
		@include ygg-lead(big);
	}

	// Lead text or not
	@if map-get($ygg-settings, ygg-lead-front-enabled) == false {
		.lead {
			display: none !important;
		}
	}

	// Hoverhint on desktop
	@include only(desktop) {
		a:hover > .text .headline span {
			text-decoration: underline; // TODO ygg-underline(), only works on inline text
		}
	}

	// If article has custom tip text
	.tip {
		@include ygg-small-text;
		padding-top: ygg-space(y-small);
	}


	// Related articles flexfix (row -> column)
	.article:not(.complex) .relatedArticles .gridRow {
		flex-direction: column;

		.gridUnit {
			margin-left: 0;
		}
	}

	@include only(mobile) {
		.complex .relatedArticles .article > a {
			flex-direction: row;
		}
	}

	// Related articles as complex
	.complex {
		.relatedArticles {
			margin-top: ygg-space(y-small);
			border-top: 1px solid ygg-color(gray-ui);
			padding-top: ygg-space(y-small);

			@include only(mobile) {
				padding-bottom: ygg-space(y-small);

				.gridRow {
					flex-direction: column;
				}

				* + .gridUnit {
					padding-top: ygg-space(y-small);
					border-top: 1px solid ygg-color(gray-ui);
					margin-top: ygg-space(y-small);
					margin-left: 0;
				}
			}

			.article {
				border-top: none;
				padding-top: 0;
				padding-bottom: 0;

				@include only(desktop) {
					flex-flow: column nowrap;
				}

				.text {
					@include only(mobile) {
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				.headline {
					@include only(mobile) {
						font-size: 0.875rem !important;
					}

					@include only(desktop) {
						font-size: 1.25rem !important;
					}
				}

				a {
					display: block;
				}

				// Let paid icon fall in place after title
				.headline a {
					display: inline;
				}
			}

			.media {
				flex: 0 0 auto;
			}

			.media:hover + .inner a {
				text-decoration: underline;
			}
		}

		&.storyTheme {
			.relatedArticles {
				border-top: none;
				padding-top: 0;
				padding-right: ygg-space(x-small);
				padding-left: ygg-space(x-small);

				@include only(mobile) {
					.article {
						padding-right: 0;
						padding-left: 0;
					}

					* + .gridUnit {
						padding-top: 0;
						margin-top: ygg-space(stack);
						border-top: none;
					}
				}

				@include only(desktop) {
					.article .text {
						padding-right: 0;
						padding-left: 0;
					}
				}
			}
		}
	}

	// Related article as a bullet list
	.relatedArticles ul a {
		@include ygg-heading(mini);

		@include only(mobile) {
			@include ygg-card-block(padding-small);
		}

		@include only(desktop) {
			@include ygg-card-block(padding-small, nogutter);
			border-top: none;
		}

		$bullet-width: u(1/4) !global; // Equals 4px

		display: block;

		&::before {
			content: "";
			display: inline-block;
			width: $bullet-width;
			height: $bullet-width;
			margin-right: u(1/2);
			background: ygg-color(black);
			vertical-align: middle;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.storyTheme .relatedArticles ul a {
		padding-right: ygg-space(x-small);
		padding-left: ygg-space(x-small);
	}

	// Related article as stories
	.relatedArticles .article {
		display: flex;

		& > a {
			width: 100%;
		}

		.kicker {        @include ygg-kicker(small); }
		.headline {
			font-size: map-deep-get($ygg-headings, $ygg-device, small, font-size) !important; // TODO Fix a better workaround
		}

		.headline a:hover { text-decoration: underline; }

		@include only(mobile) {
			@include ygg-card-block(padding-small);

			.media.image {   @include ygg-card-image(left, small); }
			.text {          @include ygg-card-text-container(top, full); }
			.media + .text { @include ygg-card-text-container(left, medium, nested); }
		}

		@include only(desktop) {
			@include ygg-card-block(padding-small, nogutter);

			.media.image {   @include ygg-card-image(top, full); }
		}
	}

	// Medium stories
	&.medium {
		.article > a {
			flex-flow: row wrap;
		}

		.breakingTitle {	@include ygg-breaking(medium); }
		.media.image {		@include ygg-card-image(left, medium); }
		.kicker {			@include ygg-kicker(medium); }
		.headline {			@include ygg-heading(medium); }
		.lead {				@include ygg-lead(medium); }

		@include only(mobile) {
			.text {				@include ygg-card-text-container(top, full); }
			.media + .text {	@include ygg-card-text-container(left, medium); }
		}

		@include only(desktop) {
			.text {				@include ygg-card-text-container(top, full, nested); }
			.media + .text {	@include ygg-card-text-container(left, medium, nested); }
		}
	}

	// Side-aligned images on desktop (Stella Polaris 2 + 3)
	&.side {
		@include only(desktop) {
			.article > a {
				flex-flow: row wrap;
			}

			.breakingTitle {	@include ygg-breaking(big); }
			.kicker {			@include ygg-kicker(big); }
			.headline {			@include ygg-heading(big); }
			.lead {				@include ygg-lead(big); }

			.media {
				margin-right: ygg-space(x);
			}

			.media.medium {
				width: 50%;

				& + .text {
					width: calc(100% - 50% - #{ygg-space(x)});
				}
			}

			.media.medium + .text .headline {
				font-size: 64px;
			}

			.media.large {
				width: 70%;

				& + .text {
					width: calc(100% - 70% - #{ygg-space(x)});
				}
			}

			.media.large + .text .headline {
				font-size: 38px;
			}
		}
	}

	// Control headline size in list of articles besides netboard ad (desktop)
	.c64 &.list {
		.headline {
			font-size: u(1.25);
		}

		.headline [class^="t"] {
			font-size: 100%;
		}
	}
}

// Master theme (redefine all outer paddings to match the gutter)
// Applies to ALL master themes unable to scope. Hence relies on polarisStories.front
.masterTheme {
	@include only(mobile) {
		margin-left: -#{ygg-space(gutter)};
		margin-right: -#{ygg-space(gutter)};

		.polarisStories.front.big .text {				@include ygg-card-text-container(top, full, full); }
		.polarisStories.front.medium > .article > a {		@include ygg-card-block(padding); }
	}

	@include only(desktop) {
		padding: u(1.25) ygg-space(gutter);

		.polarisStories.front.big .media + .text {      @include ygg-card-text-container(top, full, none); } // No side padding, we already have grid margins
	}

	.polarisStories.front.medium  a > .text { 			@include ygg-card-text-container(top, full, nested); }
	.polarisStories.front.medium  a > .media + .text { 	@include ygg-card-text-container(left, medium, nested); }
	.polarisStories.front .relatedArticles .article { 	@include ygg-card-block(padding); }

	.polarisStories.front .relatedArticles ul a {
		$tab-size: (  ygg-space(gutter) + $bullet-width + ygg-space(x-small) );
		// padding-left: $tab-size;
	}

	// Give kicker/title some top margin if there is a breaking title
	.polarisStories.front.medium .breakingTitle ~ .text {
		padding-top: ygg-space(y-small);
	}
}

.sectionHeader {
	border-bottom: 4px solid ygg-color(black);
	font-family: ygg-font(system);
	font-weight: bold;
	line-height: 1.2;
	padding: ygg-space(y-small) ygg-space(gutter);
	text-transform: uppercase;

	@include only(desktop) {
		font-size: u(1.5);
		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
	}

	.masterTheme & {
		padding: ygg-space(y-small) ygg-space(gutter);
	}

	.ygg-content > & {
		padding: ygg-space(y-small) ygg-space(x);
	}

	& + .polarisStories {
		margin-top: 0; // Remove margin below master floor title
	}
}

@include only(desktop, root) {
	.masterTheme .sectionHeader {
		margin-top: -20px;
		margin-bottom: 20px; // Because "grid harmony"
	}

	// Space between floor header and content because "grid harmony"
	.ygg-content > .sectionHeader + .gridRow {
		margin-top: 20px;
	}

	// Compensate for backdrop on master floors
	.ygg-content > .masterTheme + .gridRow {
		margin-top: ygg-space(stack) * 2;
	}

	// This is typically a master floor inside draug-x
	.gridRow .masterTheme {
		margin-bottom: ygg-space(stack);
	}
}
