// CSS for "polaris stories widget" that uses "ygg listcard" as a teaser.
// [] show box should not be selected
// Use square images

.polarisStories.listcard {
	font-size: 0;
	color: ygg-color(black);
	@include ygg-card();

	h5 {
		@include ygg-card-header;
	}

	// Each article should be a card block
	.article {
		@include ygg-card-block(padding);
	}

	// Hide accidental polls
	.poll {
		display: none;
	}

	// The media element needs to align to the top with the text-container
	.media {
		vertical-align: top;
	}

	.overlay {
		display: block;
		font-size: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	// Everything is wrapped in an a, so but we need different colors
	a {
		display: flex;
		align-items: flex-start;
		color: inherit;
		text-decoration: none;
	}

	// Fields
	.media.image   { @include ygg-card-image(left, small); }
	.media + .text { @include ygg-card-text-container(left, small, nested); }
	.text          { @include ygg-card-text-container(top, full, nested); }
	.headline      { @include ygg-heading(small); }
}

