.polarisStories.notis {
	color: ygg-color(black);

	.article {
		margin-bottom: ygg-space(stack);

		@include only(mobile) {
			border-top: 1px solid ygg-color(gray-light);
			padding-top: ygg-space(stack);
			margin-top: ygg-space(stack);
		}
	}

	// The content is wrapped in an anchor
	.article > a {
		display: flex;
		align-items: flex-start;
	}

	// Everything is wrapped in an a, so but we need different colors
	a {
		color: inherit;
		text-decoration: none;
	}

	.overlay {
		display: none;
	}

	.text {
		@include only(mobile) {
			border-left: 4px solid ygg-color(primary);
			padding-left: calc(#{ygg-space(x)} - 4px);
		}

		width: 100%; // Make sure headlines wrap in IE
	}

	.kicker {
		@include ygg-kicker(medium);
	}

	// All headline prefixes should have a color
	.prefix {
		color: ygg-color(gray);
	}

	// Long words breaks the flexness (Marve... Flexness?)
	.headline {
		@include ygg-heading(medium);
		@include ygg-word-wrap;

		span {
			display: inline-block;
		}
	}

	// Hoverhint on desktop
	@include only(desktop) {
		a:hover > .text .headline {
			text-decoration: underline; // TODO ygg-underline(), only works on inline text
		}
	}

	.lead {
		@include ygg-lead(medium);
	}

	// If article has custom tip text
	.tip {
		@include ygg-small-text;
		padding-top: ygg-space(y-small);
	}
}
