@if map-get($ygg-settings, ygg-paid-icon-enabled) == true {

	// Articles as stories
	.payed {
		@include ygg-paywall(stories);
	}

	// Related articles as list
	.relatedArticles li.payed {
		@include ygg-paywall(list);
	}

	// Related articles as stories
	// Custom because these articles doesn't have the .overlay element inside .media
	.relatedArticles .payed .headline a::after {
		content: "";
		@include ygg-icon(paywall, 0.65em);
	}

	.polarisRelatedContents.stories .payed .headline a::after {
		content: "";
		background-color: ygg-color(primary);
		margin-left: 0.25em;
		@include ygg-icon(paywall, 0.65em);
	}

	// Avoid double paid icon in complex related articles (no custom teaser markup)
	.complex .relatedArticles .payed .headline a::after {
		content: none;
	}
}
