.polarisStories.sectionlist {
	color: ygg-color(black);

	> * + * {
		margin-top: ygg-space(stack);
	}

	// Widget title
	> .header h5 {
		@include ygg-card-header;
	}

	// All direct decending articles should be a card
	> .article {
		@include ygg-card();
	}

	// The content is wrapped in an a
	.article > a {
		display: flex;
		align-items: flex-start;
	}

	// The media element needs to align to the top with the text-container
	.media {
		vertical-align: top;
	}

	// Everything is wrapped in an a, so but we need different colors
	a {
		color: inherit;
		text-decoration: none;
	}

	// Hover indicator
	@include only(desktop) {
		a:hover .headline {
			text-decoration: underline;
		}
	}

	// Lead text or not
	@if map-get($ygg-settings, ygg-lead-section-enabled) == false {
		.lead {
			display: none !important;
		}
	}

	// Use medium ygg-fields
	.breakingTitle {	       @include ygg-breaking(medium); }
	.kicker {			       @include ygg-kicker(medium); }
	.headline {			       @include ygg-heading(medium); }
	.lead {				       @include ygg-lead(medium); }

	@include only(desktop) {
		.kicker {			   @include ygg-kicker(big); }
		.headline {			   @include ygg-heading(big); }
		.lead {				   @include ygg-lead(big); }
	}

	// Exception for sponsored content
	// TODO: is the :not(.sc) really necessary???
	&:not(.sc) {
		@include only(mobile) {
			.media.image {         @include ygg-card-image(left, medium); }
			.text {                @include ygg-card-text-container(top, full); }
			.media.image + .text { @include ygg-card-text-container(left, medium); }
		}

		@include only(desktop) {
			.media.image {         @include ygg-card-image(right, big); }
			.text {                @include ygg-card-text-container(top, full); }
			.media.image + .text { @include ygg-card-text-container(left, big); }
		}
	}
}



// Vanilla support
// TODO make it better
@include only(desktop) {
	.polarisStories.sectionlist.vanilla > .article,
	.polarisStories.sectionlist.vanilla > .content > .article {
		display: flex;
		flex-flow: row nowrap;
	}

	.polarisStories.sectionlist.vanilla .media.image.small {
		order: 1;
		flex-basis: 80px;
	}

	.polarisStories.sectionlist.vanilla .media.image.medium {
		order: 1;
		flex-basis: 180px;
	}

	.polarisStories.sectionlist.vanilla .inner {
		order: 2;
	}

	.polarisStories.sectionlist.vanilla .storyLinks {
		display: none;
	}

	.polarisStories.sectionlist.box {
		> .content {
			background-color: ygg-color(gray-light);
			border-right: 1px solid #c5c5c5;
			border-bottom: 1px solid #c5c5c5;
			border-left: 1px solid #c5c5c5;
			margin-top: 0;
			padding: ygg-space(y) ygg-space(x);
		}

		> .content .article + .article {
			border-top: 1px solid #c5c5c5;
			padding-top: ygg-space(y);
		}
	}
}
