// Articles
// All styles in $ygg-teasers
@each $teaser, $styles in $ygg-teasers {
	.#{$teaser} { @include ygg-teaser(#{$teaser}, article); }
}


// Master floors
// All styles in $ygg-teasers
.masterTheme {
	.article {
		box-shadow: none !important;
	}

	@each $teaser, $styles in $ygg-teasers {
		&.#{$teaser} { @include ygg-teaser(#{$teaser}, master); }
	}
}


// Limit master floors to 980px on desktop screens
@include only(desktop, root) {
	.ygg-content > .masterTheme,
	.ygg-content > .sectionHeader {
		max-width: 980px;
		margin-right: auto;
		margin-left: auto;
	}
}
