.polarisStories.timeline {
	color: ygg-color(black);

	> .article {
		border-bottom: 1px solid ygg-color(gray-light);
	}

	// Widget title
	> .date {
		@include ygg-card-header;
		display: inline-block;
	}

	> .article + .date {
		margin-top: ygg-space(stack);
	}

	// All direct decending articles should be a card
	> .article {
		@include ygg-card(padding);
		box-shadow: none;
		position: relative;

		@include only(desktop) {
			padding-left: u(4);

			// Faux left border
			&::before {
				content: "";
				background-color: ygg-color(primary);
				left: 0;
				position: absolute;
				top: -1px;
				bottom: 0;
				width: 1px;
			}
		}
	}

	// The content is wrapped in an a
	.article > a {
		display: flex;

		@include only(mobile) {
			align-items: flex-start;
		}

		@include only(desktop) {
			align-items: flex-end;
		}
	}

	// The media element needs to align to the top with the text-container
	.media {
		vertical-align: top;
	}

	// Everything is wrapped in an a, so but we need different colors
	a {
		color: inherit;
		text-decoration: none;
	}

	// Hover indicator
	@include only(desktop) {
		a:hover .headline {
			text-decoration: underline;
		}
	}

	// Lead text or not
	@if map-get($ygg-settings, ygg-lead-section-enabled) == false {
		.lead {
			display: none !important;
		}
	}

	// Use medium ygg-fields
	.breakingTitle {	       @include ygg-breaking(medium); }
	.kicker {			       @include ygg-kicker(medium); }
	.headline {			       @include ygg-heading(medium); }
	.lead {				       @include ygg-lead(medium); }

	.published-time {
		@include ygg-small-text;

		@include only(mobile) {
			position: absolute;
			top: ygg-space(y);
			right: ygg-space(x);
		}

		@include only(desktop) {
			position: absolute;
			left: 0;
			padding-left: ygg-space(x);

			// Timeline dots
			&::before {
				content: "";
				background-color: ygg-color(primary);
				border-radius: 50%;
				border: 2px solid ygg-color(background);
				display: block;
				height: u(3/4);
				width: u(3/4);
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	@include only(desktop) {
		.article a:hover .published-time::before {
			transform: translate(-50%, -50%) scale(1.5);
		}

		.kicker {			   @include ygg-kicker(big); }
		.headline {			   @include ygg-heading(big); }
		.lead {				   @include ygg-lead(big); }
	}

	// Exception for sponsored content
	// TODO: is the :not(.sc) really necessary???
	&:not(.sc) {
		@include only(mobile) {
			.media.image {         @include ygg-card-image(left, medium); }
			.text {                @include ygg-card-text-container(top, full); padding-top: (ygg-space(y) * 2); }
			.media.image + .text { @include ygg-card-text-container(left, medium); padding-top: (ygg-space(y) * 2); }
		}

		@include only(desktop) {
			.media.image {         @include ygg-card-image(right, medium); }
			.text {                @include ygg-card-text-container(top, full); }
			.media.image + .text { @include ygg-card-text-container(left, medium); }
		}
	}
}
