<svg style="display:none;">
	<symbol id="ygg-logo">
		<style type="text/css">
			.st0 { fill: #ffffff; }
		</style>

		<path class="st0" d="M113.62,16.93l-4.02,1.01c-7.88,2.01-9.89,3.85-20.44,32.85l-23.29,64.01H45.25L13.91,24.63 c-1.34-3.52-2.85-5.36-7.04-6.2L0.5,16.93L0,10.05h49.94l-0.5,6.87l-6.54,1.01c-6.87,1.01-6.2,3.85-1.51,17.76l20.61,61h2.18 l17.26-50.77c6.87-20.95,5.03-27.15-2.68-28.32l-5.03-0.67l-0.5-6.87h40.89L113.62,16.93z"/>
		<path class="st0" d="M118.48,114.79l0.5-6.54l3.85-0.5c4.02-0.34,5.7-1.17,5.7-3.18V64.35c0-10.56-1.34-12.07-7.21-13.57l-3.35-1.01 l0.17-5.19l30-8.21v68.37c0,1.68,1.01,2.68,6.37,3.02l3.69,0.5l0.5,6.54H118.48z M136.91,24.8c-7.21,0-11.9-5.7-11.9-12.4 S129.7,0,136.91,0s12.07,5.7,12.07,12.4S144.12,24.8,136.91,24.8z"/>
		<path class="st0" d="M249.85,54.29l0.34-13.07h-24.3c-5.87-2.85-13.07-4.86-21.28-4.86c-21.28,0-32.51,13.41-32.51,28.49 c0,12.9,7.04,19.94,15.42,23.63c0,0-0.34,0.17-0.34,0.84c-8.38,2.51-14.91,9.72-14.91,16.93c0,6.37,4.69,11.9,11.73,14.08v0.67 c-9.55,3.52-16.42,8.71-16.42,18.77c0,11.9,12.57,19.44,31.5,19.44c27.82,0,46.25-14.58,46.25-32.17 c0-13.74-10.89-23.29-24.97-23.29c-6.03,0-14.08,0.5-20.95,0.5c-6.87,0-10.56-2.68-10.56-7.54c0-2.51,3.18-5.36,5.03-6.37 c2.85,0.67,6.2,1.01,9.38,1.01c20.11,0,33.18-11.9,33.18-28.82c0-4.69-1.51-8.04-3.02-10.22v-0.84L249.85,54.29z M191.04,121.83 c14.58,0,22.12-0.34,26.64,0.5c8.38,1.17,11.73,5.36,11.73,12.57c0,9.05-9.38,16.25-22.12,16.25c-14.24,0-23.13-7.21-23.13-16.76 C184.17,127.52,188.86,123.17,191.04,121.83z M212.65,81.78c-2.01,2.01-5.03,2.85-8.55,2.85c-2.51,0-5.03-1.01-6.87-2.85 c-3.69-3.69-5.7-10.22-5.7-18.94c0-13.07,5.03-19.77,13.07-19.77c2.85,0,5.36,1.17,7.37,3.35c3.52,3.52,5.36,9.72,5.36,18.27 C217.35,72.89,215.84,78.59,212.65,81.78z"/>
		<path class="st0" d="M336.83,54.29l0.34-13.07h-24.3c-5.87-2.85-13.07-4.86-21.28-4.86c-21.28,0-32.51,13.41-32.51,28.49 c0,12.9,7.04,19.94,15.42,23.63c0,0-0.34,0.17-0.34,0.84c-8.38,2.51-14.91,9.72-14.91,16.93c0,6.37,4.69,11.9,11.73,14.08v0.67 c-9.55,3.52-16.42,8.71-16.42,18.77c0,11.9,12.57,19.44,31.5,19.44c27.82,0,46.25-14.58,46.25-32.17 c0-13.74-10.89-23.29-24.97-23.29c-6.03,0-14.08,0.5-20.95,0.5c-6.87,0-10.56-2.68-10.56-7.54c0-2.51,3.18-5.36,5.03-6.37 c2.85,0.67,6.2,1.01,9.38,1.01c20.11,0,33.18-11.9,33.18-28.82c0-4.69-1.51-8.04-3.02-10.22v-0.84L336.83,54.29z M278.01,121.83 c14.58,0,22.12-0.34,26.64,0.5c8.38,1.17,11.73,5.36,11.73,12.57c0,9.05-9.38,16.25-22.12,16.25c-14.24,0-23.13-7.21-23.13-16.76 C271.14,127.52,275.83,123.17,278.01,121.83z M299.62,81.78c-2.01,2.01-5.03,2.85-8.55,2.85c-2.51,0-5.03-1.01-6.87-2.85 c-3.69-3.69-5.7-10.22-5.7-18.94c0-13.07,5.03-19.77,13.07-19.77c2.85,0,5.36,1.17,7.37,3.35c3.52,3.52,5.36,9.72,5.36,18.27 C304.32,72.89,302.81,78.59,299.62,81.78z"/>
		<path class="st0" d="M419.78,100.04c-3.35,2.68-5.87,4.19-7.88,4.19c-3.18,0-4.36-2.01-4.19-7.21l1.17-27.65 c1.17-25.14-8.21-33.01-26.31-33.01c-17.6,0-37.2,12.57-37.2,22.45c0,4.86,4.36,8.55,10.22,8.55c6.03,0,9.89-4.53,9.89-8.71 c0-5.36-4.19-8.38-4.19-9.22c0-1.01,5.87-3.18,11.56-3.18c10.56,0,16.76,6.2,16.59,20.61v1.34c-29.33,7.37-43.4,15.42-43.4,29.33 c0,12.4,9.72,19.77,20.61,19.77c9.05,0,15.59-5.87,21.95-13.57h0.84c0.5,10.06,6.7,13.91,13.41,13.91c6.87,0,14.41-6.03,19.61-13.24 L419.78,100.04z M388.44,97.19c-3.35,3.52-7.88,6.37-12.4,6.37c-6.03,0-11.4-3.69-11.4-10.72c0-6.87,4.53-13.07,24.47-18.6 L388.44,97.19z"/>
	</symbol>
</svg>
