<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path class="st0" d="M44.4,25.9L44.2,5.5H0v96h20.4V64.4h20.1l0.1-19.7H20.4V25.9H44.4L44.4,25.9z M98.3,62.6 c0-31.7-8.4-40.7-26.5-40.7c-17.9,0-26.8,9-26.8,40.7c0,32.1,8.7,40.6,26.6,40.6C89.8,103.2,98.3,94.7,98.3,62.6L98.3,62.6z M65,62.7C65,41.9,66.7,39,71.8,39c5,0,6.7,2.9,6.7,23.7c0,20.6-1.7,23.7-6.5,23.7C66.8,86.4,65,83.6,65,62.7L65,62.7z M141.9,77.3 c0-25.2-23.2-21.1-23.2-31.9c0-3.3,2-5.2,6.3-5.2c3.7,0,8.8,0.9,12.9,2.8l1.3-17.3c-4-2-9.3-3.6-15.4-3.6 c-15.9,0-23.3,11.1-23.3,24.1c0,25.6,23.7,21.2,23.7,32.4c0,4-2.3,6.5-7.3,6.5c-4.4,0-10-1.4-14-3.7l-1.2,17.5 c4.2,2.7,10.4,4.1,16.3,4.1C134.8,103,141.9,94,141.9,77.3L141.9,77.3z M194.7,101.5v-54c0-17-7.7-25.6-19.1-25.6 c-5.5,0-10.9,2.3-14.7,6.3l-2-5.6l-14.5,0.9v78.1h19.3v-58c1-2.2,3.5-3.6,6-3.6c3.7,0,5.6,1.8,5.6,7.6v54H194.7L194.7,101.5z M232.7,101.5h14.7V52.4c0-22.5-7-30.2-25.2-30.2c-6.8,0-14.2,1.4-19.6,4.5l1.4,17c5-2.6,9.1-3.7,14.5-3.7c7.3,0,9.7,2.8,9.7,9.5 v3.7c-2.3-0.9-5-1.4-8.7-1.4c-12.2,0-20.9,9.3-20.9,24.8c0,18,7.8,26.1,18.8,26.1c5.9,0,10.5-2.4,13.6-7.3l0.4,0.1L232.7,101.5 L232.7,101.5z M228.2,78.5c0,4.6-2.7,7.2-5.8,7.2c-3.6,0-5.6-2.4-5.6-9.2c0-6.9,2.2-10,6.7-10c2.3,0,3.7,0.6,4.7,1.2V78.5 L228.2,78.5z M253.5,49.8v15.4h28.3V49.8H253.5L253.5,49.8z M333.2,25.9l-0.3-20.4h-44.2v96h20.4V64.4h20.1l0.1-19.7h-20.2V25.9 H333.2L333.2,25.9z M386.4,62.6c0-31.7-8.4-40.7-26.5-40.7c-17.9,0-26.8,9-26.8,40.7c0,32.1,8.7,40.6,26.6,40.6 C378,103.2,386.4,94.7,386.4,62.6L386.4,62.6z M353.1,62.7c0-20.9,1.7-23.7,6.8-23.7c5,0,6.7,2.9,6.7,23.7 c0,20.6-1.7,23.7-6.5,23.7C354.9,86.4,353.1,83.6,353.1,62.7L353.1,62.7z M409.4,101.5V0L390,0.9v100.6H409.4L409.4,101.5z M434.4,0l-19.3,0.9v100.6h19.3V68.4h5.4l8.3,33.2h20.1L456,58.6l11.9-35.5h-19.8l-8.4,28.2h-5.2V0L434.4,0z M497,102.7 c7.3,0,14.3-1.8,18.6-3.7l-1.9-17.2c-4.1,2-9,3.2-14.2,3.2c-9.5,0-12.7-3.7-13.3-16h30.5c0.3-3.8,0.5-7.7,0.5-11.5 c0-26.1-8.3-35.3-24.8-35.3c-17.9,0-26,11.9-26,39.3C466.3,90,475.4,102.7,497,102.7L497,102.7z M486,54 c0.4-12.2,1.9-14.6,6.7-14.6c4.1,0,6.1,2.8,6.3,14.6H486L486,54z M553.4,38.9V23.2h-10.9V4.7l-15.2,1.7L524,23.2h-5.9v15.7h5v41.2 c0,14.3,6.4,22.5,19.2,22.5c4.1,0,8.3-0.9,10-2L551.7,85c-0.9,0.3-2.4,0.5-3.7,0.5c-3.6,0-5.4-1.7-5.4-5.8V38.9H553.4L553.4,38.9z"/>
    </symbol>
</svg>
