<svg style="display:none;">
    <symbol id="ygg-logo">

        <style type="text/css">
            .st0 { fill: #de3040; }
            .st1 { fill-rule: evenodd; clip-rule: evenodd; fill: #ffffff; }
            .st2 { fill: #ffffff; }
        </style>

        <path id="circle" class="st0" d="M325.6,9.9c0-5.5-4.2-9.9-9.5-9.9c-5.2,0-9.5,4.4-9.5,9.9c0,5.5,4.2,9.9,9.5,9.9 C321.4,19.8,325.6,15.4,325.6,9.9"/>
        <path id="f" class="st1" d="M51.6,0.9V17H19.4c0,5.1,0,10.4,0,15.5c8.8,0.3,19.5,0.1,29.6,0.1v16.1H19.4v35.5 c-4.8,0.1-14.6,0-19.4,0v-82C0,0.6,0.1,1,0.8,0.9H51.6z"/>
        <path id="r_1_" class="st1" d="M76.5,33.5v-7.6H58.3v57.9h18.2V44.9c5.2-2.3,13.9-3.5,20.7-1.7V25.9C87.6,23.7,81.2,30.6,76.5,33.5"/>
        <path id="a" class="st1" d="M150.1,31.4c-8.8-10.2-30.2-7.5-45.2-4.7c-0.5,2.6,0.6,10-0.4,14.4c8.9-2.9,31.3-9.5,31.7,4.7 c-13.2,1.6-24,0.5-31.7,8c-10.5,10.3-3.6,30.4,11.4,31.7c9.8,0.9,15.3-3.9,20.3-7.2v5.5c5.9-0.3,13,0.6,18.2-0.4 C150.7,66.3,159.3,42,150.1,31.4z M136.1,68.6c-3.6,4.6-15.5,6.5-17.8,0.4c-3.5-9.4,8.1-12.4,17.8-12.3V68.6z"/>
        <path id="m" class="st1" d="M207.6,25.4c-9-5.3-21,0.7-26.2,5.1V25h-18.2v58.8h18.2v-41c2.9-2.7,9.9-5,13.5-2.5 c3.6,2.5,3,13.1,3,20.3v23.3H216v-41c2.9-2.7,9.8-5,13.5-2.5c3.8,2.5,3,13.1,3,20.3v23.3h18.2c-2-18.3,5-46.8-5.9-56.6 c-9.1-8.3-25.2-1-30.9,5.9C212.1,29.9,210.5,27.2,207.6,25.4"/>
        <path id="i_1_" class="st1" d="M306.9,24.6c-1,18.7-0.1,39.3-0.4,58.8h18.2V24.6H306.9z"/>
        <path id="t" class="st1" d="M263.9,8c4.8,0.1,13.6,0.1,18.1,0.1v16.5h17.3v13.5h-16.9c0,0.5-1.4,22,2.2,29c2.9,5.8,9.7,3.4,14.3,1.8 c1,3.8,0.1,9.4,0.4,14c-11.3,2.3-23.9,3.5-30-3.6c-7.6-8.8-4.2-27-5.4-41.6c-1.7,0.1-5.8,0-7.3,0V24.6c2.3,0,5,0,7.3,0 C264,19.6,263.7,13.4,263.9,8"/>
        <path id="d_1_" class="st1" d="M370.7,1.3v24.5c-4.2-1.9-6.4-3.4-10.6-3.8c-34.3-3.7-37.5,59.1-8.9,62.1c9.7,1,14.2-4.1,19.4-6.8 v5.1h18.6V1.3H370.7z M370.7,66c-5.8,3.8-14.1,4.7-17.8-0.8c-5.1-7.7-2.3-24,4.7-27.5c3.4-1.7,8.9-1.4,13.1,0.4V66z"/>
        <path id="i" class="st2" d="M315.6,14.9c-0.1,0.3-0.3,1-0.3,1.3c0,0.2,0.1,0.4,0.3,0.4c0.6,0,1.5-1.3,1.9-1.8l0.4,0.2 c-0.9,1.4-2.3,3.3-4.2,3.3c-0.9,0-1.8-0.6-1.8-1.6c0-0.5,0.2-1,0.3-1.5l1.8-5.3c0.1-0.4,0.4-1.2,0.4-1.5c0-0.6-0.6-0.8-1.1-0.8h-0.3 l0.1-0.5l4.6-0.7h0.5L315.6,14.9z M317.7,0.7c1,0,1.9,0.8,1.8,1.8s-0.9,1.8-1.9,1.8c-1,0-1.9-0.8-1.8-1.8 C315.8,1.5,316.6,0.7,317.7,0.7"/>
        <path id="n" class="st2" d="M331.1,12.4L331.1,12.4c1-1.7,2.9-5.4,4.8-5.4c0.8,0,1.3,0.8,1.3,1.8c0,0.6-0.2,1.4-0.4,1.9l-1.2,4.7 c-0.1,0.2-0.2,0.9-0.2,1.2c0,0.2,0.1,0.3,0.2,0.3c0.4,0,1-1.2,1.3-1.6l0.4,0.3c-0.7,1.4-1.8,3.1-3.2,3.1c-0.7,0-1.3-0.5-1.3-1.4 c0-0.6,0.2-1.3,0.3-1.9l1.2-4.7c0.1-0.2,0.2-0.8,0.2-1c0-0.2-0.1-0.3-0.3-0.3c-1.1,0-3.4,4.5-3.7,5.8l-0.9,3.4h-2.5l2.1-8 c0.1-0.4,0.3-1.2,0.3-1.5c0-0.6-0.5-0.8-0.8-0.8h-0.2l0.1-0.5l3.6-0.7h0.4L331.1,12.4z"/>
        <path id="o" class="st2" d="M341.5,18.8c-1.7,0-2.8-1.4-2.8-3.5c0.1-4,3-8.3,6.4-8.3c1.7,0,2.8,1.4,2.8,3.5 C347.8,14.5,344.8,18.8,341.5,18.8 M344.6,7.7c-1.9,0-3.4,7.3-3.5,8.8c0,1,0.4,1.7,0.9,1.7c1.8,0,3.4-6.8,3.4-9.1 C345.5,8.4,345.3,7.7,344.6,7.7"/>
        <path id="r" class="st2" d="M351.8,13.9L351.8,13.9C354,8,354.9,7,355.9,7c0.7,0,0.9,0.7,0.9,1.4c0,0.8-0.4,2.5-1.2,2.5 c-0.7,0-0.6-1.1-1-1.1c-0.7,0-2.4,3.2-3.4,8.6h-2.4l1.9-8.5c0.1-0.4,0.1-0.6,0.1-1c0-0.6-0.5-0.8-0.8-0.8h-0.2l0.1-0.5l3.3-0.7h0.4 L351.8,13.9z"/>
        <path id="d" class="st2" d="M363.8,15.4c-0.1,0.4-0.3,0.9-0.3,1.3c0,0.2,0.1,0.4,0.3,0.4c0.4,0,1.1-1.1,1.3-1.5l0.3,0.2 c-0.7,1.5-1.7,3.1-3.2,3.1c-0.7,0-1.2-0.5-1.2-1.4c0-0.7,0.2-1.7,0.6-2.8l0-0.1c-0.7,1.5-2,4.3-3.6,4.3c-1.3,0-1.7-1.6-1.7-3 c0.1-3.9,3-8.8,5.5-8.8c0.6,0,1,0.4,1.3,0.9l0.8-3.1c0.1-0.4,0.3-1.2,0.3-1.5c0-0.6-0.5-0.8-0.8-0.8h-0.2l0.1-0.5l3.6-0.7h0.4 L363.8,15.4z M359.6,16.5c1.2,0,3.3-5.2,3.3-7.3c0-0.6-0.1-1.5-0.7-1.5c-1.5,0-3.1,5.6-3.1,7.6C359,15.7,359.1,16.5,359.6,16.5"/>

    </symbol>
</svg>
