// Owl carousel core styles
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		touch-action: pan-Y;
	}

	.owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		transform: translate3d(0px, 0px, 0px);
	}

	.owl-controls .owl-nav .owl-prev,
	.owl-controls .owl-nav .owl-next,
	.owl-controls .owl-dot {
		cursor: hand;
		user-select: none;
	}

	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	.owl-refresh .owl-item {
		display: none;
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}

	.owl-item img {
		display: block;
		width: 100%;
		transform-style: preserve-3d;
	}

	&.owl-text-select-on .owl-item {
		user-select: auto;
	}

	.owl-grab {
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	// No Js
	.no-js & {
		display: block;
	}

	// Auto height plugin
	.owl-height {
		transition: height 500ms ease-in-out;
	}

	// Lazy load plugin
	.owl-item .owl-lazy {
		opacity: 0;
		transition: opacity 400ms ease;
	}

	.owl-item img {
		transform-style: preserve-3d;
	}

	// Animate plugin
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}

	.fadeOut {
		animation-name: fadeOut;
	}

	@-webkit-keyframes fadeOut {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

// Custom styles
.owl-carousel {
	margin-bottom: ygg-space(stack);

	.owl-item {
		@include ygg-card;
	}

	// Caption text on each slide
	.caption {
		@include ygg-card(padding, full);
		background-color: ygg-color(black);
		font-family: ygg-font(system);
		color: ygg-color(gray-light);
		font-size: u(7/8);
		line-height: 1.25;
	}

	.photographer {
		color: ygg-color(gray);
		font-size: u(5/8);
		font-weight: bold;
		text-transform: uppercase;

		&::before {
			content: " ";
		}
	}

	// "Forrige" and "Neste" navigation labels
	.owl-nav {
		display: flex;
		font-family: ygg-font(system);
		justify-content: center;
		margin-top: ygg-space(y);

		> * {
			@include ygg-button(pill);
			text-transform: capitalize;
		}

		.owl-prev::before {
			content: "← ";
		}

		.owl-next {
			margin-left: ygg-space(x-small);

			&::after {
				content: " →";
			}
		}
	}

	// Slide index dots (also clickable)
	.owl-dots {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: ygg-space(y);

		.owl-dot {
			border: 1px solid ygg-color(gray);
			border-radius: 50%;
			cursor: pointer;
			flex: 0 0 auto;
			margin-top: ygg-space(y-small);
			margin-left: ygg-space(x-small);
			width: u(1/2);
			height: u(1/2);
			transition: transform 180ms ease-in-out;

			&.active {
				background-color: ygg-color(gray);
				transform: scale(1.5);
			}
		}
	}
}

// Letterboxing
.owl-carousel {
	.owl-height,
	.item {
		height: auto !important;
	}

	.item {
		background-color: ygg-color(gray-light);
	}

	img {
		width: auto !important;
		max-width: 100% !important;
		margin-right: auto !important;
		margin-left: auto !important;

		@include only(mobile) {
			max-height: 250px !important;
		}

		@include only(desktop) {
			max-height: 551px !important;
		}
	}
}
