// Basic HTML formatting inside articles
.polarisCode.html.tekst {
	line-height: 1.5;

	> * + * {
		margin-top: u(1.5);
		margin-bottom: u(1);
	}

	> p {
		line-height: 1.5;

		@include only(mobile) {
			font-size: u(1);
		}

		@include only(desktop) {
			font-size: u(1.25);
		}
	}

	a {
		color: ygg-color(primary);
		text-decoration: underline;
	}

	> h2,
	> h3 {
		font-weight: bold;
		line-height: 1.3;

		@include only(mobile) {
			font-size: u(1.5);
			margin-top: u(2);
		}

		@include only(desktop) {
			font-size: u(2);
			margin-top: u(3);
		}
	}

	> ul,
	> ol {
		margin-left: u(3);

		* + * {
			margin-top: u(1/2);
		}
	}

	> ul { list-style: square outside; }

	> ol { list-style: decimal outside; }
}

@include only(mobile, root) {
	.polarisCode.iframe {
		overflow-x: scroll;
	}
}
