// Only overrides for feature article
.article-header {
	padding-bottom: u(3);

	// Center header content (except top relation/image)
	@include only(desktop) {
		.inner {
			max-width: 980px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	// Article headings
	.kicker {
		color: ygg-color(black);

		@include only(desktop) {
			text-align: left;
		}
	}

	.title {
		@include ygg-heading(feature);
	}

	.lead {
		@include ygg-lead(feature);
	}

	// Reset margins from base article
	@include only(desktop) {
		.kicker,
		.title,
		.lead {
			margin-right: 0;
			margin-left: 0;
		}
	}

	// Stack byline and dates sideways on big screens
	@include only(desktop) {
		.byline {
			display: flex;
			flex-flow: row wrap;
		}

		.profile {
			flex-basis: percentage(1/3);
			padding-right: ygg-space(x);
			margin-bottom: ygg-space(y-small);
		}

		.profile + .profile {
			border-top: none;
			border-left: 1px solid ygg-color(gray-light);
			padding-left: ygg-space(x);
		}

		.profile:nth-child(3n+1) {
			border-left: none;
			padding-left: 0;
			margin-left: 0;
		}
	}

	// Published and modified dates
	.dateline {
		@include only(mobile) {
			margin: u(1) 0 u(3);
		}

		// Simplify feature dateline on bigger screen
		@include only(desktop) {
			margin: u(1) 0;

			span {
				display: inline;
			}

			&::before {
				content: none;
			}
		}

		// Hide modified date on feature articles
		.modified {
			display: none;
		}
	}

	// Top relation in gutter
	> .media {
		@include only(mobile) {
			margin: -#{ygg-space(stack)} -#{ygg-space(gutter)} u(1);
		}

		@include only(desktop) {
			margin-top: 0;
		}
	}
}
