// Only overrides for feature article
.article-body {

	@include only(desktop) {
		max-width: 45em;
		margin-right: auto;
		margin-left: auto;
	}

	> h2,
	> h3 {
		font-family: ygg-font(feature-headline);
		font-weight: 900;
	}

	@include only(mobile) {
		.body,
		.body > p {
			font-size: u(9/8);

		}
	}

    // Sci-fi hotness in Safari/Chrome on iOS
	@supports (initial-letter: 3) or (-webkit-initial-letter: 3) {
		> p:first-of-type:first-letter {
			-webkit-initial-letter: 3 3;
			initial-letter: 3 3; // 3 lines tall, sunken 3 lines into the paragraph
			margin-right: u(1/4);
			font-family: ygg-font(feature-headline);
			font-weight: 900;
		}
	}

	// Or just use an oldschool drop cap
	@supports not ((initial-letter: 3) or (-webkit-initial-letter: 3)) {
		> p:first-of-type:first-letter {
			float: left;
			font-size: 500%;
			line-height: 0.9;
			padding-right: 0.1em;
			font-family: ygg-font(feature-headline);
			font-weight: 900;
		}
	}
}
