// Article byline for feature template
.byline {
        margin-top: 1rem;
	a {
		color: inherit;
		text-decoration: none;
	}

	.profile {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
        padding: ygg-space(y-small) 0;

		// Only visible border between the elements
		+ .profile {
			border-top: 1px solid ygg-color(gray-light);
		}

		// OR if the story is missing a top attachment
		@at-root .article-header .dateline + .byline .profile:first-child {
			border-top: 1px solid ygg-color(gray-light);
        }
	}

	// The profie image
	.profileImage {
		flex: 0 0 u(3);
        margin-right: ygg-space(x);
	}

	img {
		width: 100%;
		border-radius: 50%;
	}

	.profileImage + .profileData {
		flex: 0 0 calc(100% - (#{u(3)} + #{ygg-space(x)}));
	}

	.profileData {
		max-width: 100%;
		overflow: hidden;

		* {
			max-width: 100%;
		}
	}

	// Profile data
	.name {
		@include ygg-small-heading();
	}

	// Missing space between first and last name
	.firstName::after {
		content: " ";
	}

	// Email and phone number fields
	.mobile, .email {
		@include ygg-small-text();

		// Hide labels (telefon, epost)
		span {
			display: none;
		}
	}

	.email {
		text-transform: none;
	}

	// Prevent over-the-top e-mail addresses from breaking out
	.email a {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
