// Published and modified dates for feature template
.dateline {
	margin: u(1) 0;
	position: relative;

	@include only(mobile) {
        padding-top: u(1);
        margin: 0 !important;
	}

	@include only(desktop) {
        padding-bottom: u(1);
        padding-top: u(1);
        border-top: 2px solid ygg-color(gray-light);
	}

	// Generate a line
	&::before {
		content: "";
		border-top: 2px solid ygg-color(gray-light);
		display: block;
		height: 0;
		width: 100%;
		position: absolute;
		top: 0;

		@include only(desktop) {
			top: auto;
			bottom: 0;
		}
	}

	time {
		@include ygg-small-text;
		display: block;

		@include only(desktop) {
			&.modified {
				margin-top: ygg-space(y);
			}
		}
	}

	span {
		font-weight: bold;

		@include only(desktop) {
			display: block;
		}
	}

    // "Artikkelen er mer enn tohundreogfemti år gammel"
    .age {
		@include ygg-small-text;
		font-size: 0.7rem;
		background-color: ygg-color(white);
		display: inline-block !important;
		border: 1px solid ygg-color(warning);
		font-weight: 400;
		color: ygg-color(gray);
		margin-top: ygg-space(y);
		padding: 6px 8px;
	}
}
