@mixin aligned-image-margins($position: null) {

    // Use on left-aligned images
    // @include aligned-image-margins(left);
    @if ($position == left) {
        @include only(mobile) {
            margin: u(1) u(1) u(1) 0;
        }

        @include only(desktop) {
            margin: u(1) u(2) u(1) 0;
        }
    }

    // Use on right-aligned images
    // @include aligned-image-margins(right);
    @if ($position == right) {
        @include only(mobile) {
            margin: u(1) 0 u(1) u(1);
        }

        @include only(desktop) {
            margin: u(1) 0 u(1) u(2);
        }
    }
}

.media {
    .caption {
        @include only(mobile) {
            font-size: u(7/8);
        }

        @include only(desktop) {
            font-size: u(1);
        }

        @include ygg-card(padding, full);
        font-family: ygg-font(system);
        color: ygg-color(gray);
        line-height: 1.25;
    }

    .imageKicker {
        font-weight: bold;

        &::after {
            content: " ";
        }
    }

    .photographer {
        @include only(mobile) {
            font-size: u(5/8);
        }

        @include only(desktop) {
            font-size: u(6/8);
        }

        font-weight: bold;
        text-transform: uppercase;

        &::before {
            content: " ";
        }
    }
}

// Image sizing and alignment from Cue/Escenic
.body > .media {
    margin-top: u(2.5);
    margin-bottom: u(2.5);

    // Presentation: "Standard"
    // Alignment: "Venstre", "Høyre"
    &.left {
        float: left;
        clear: left;
        width: 60%;
        @include aligned-image-margins(left);
    }

    &.right {
        float: right;
        clear: right;
        width: 60%;
        @include aligned-image-margins(right);
    }

    // Presentation: "Frimerke"
    &.mini {
        width: u(8);

        // Alignment: "Høyre" (forced default)
        clear: right;
        float: right;
        @include aligned-image-margins(right);

        // Alignment: "Venstre"
        &.left {
            clear: left;
            float: left;
            @include aligned-image-margins(left);
        }
    }

    // Presentation: "Liten bredde"
    &.small {
        width: 40%;

        // Alignment: "Høyre" (forced default)
        clear: right;
        float: right;
        @include aligned-image-margins(right);

        // Alignment: "Venstre"
        &.left {
            clear: left;
            float: left;
            @include aligned-image-margins(left);
        }
    }

    // Presentation: "Medium bredde"
    &.medium {
        width: 60%;

        // Alignment: "Høyre" (forced default)
        float: right;
        clear: right;
        @include aligned-image-margins(right);

        // Alignment: "Venstre"
        &.left {
            float: left;
            clear: left;
            @include aligned-image-margins(left);
        }

        // Alignment: "Senter"
        &.center {
            float: none;
            width: 100%;
            margin: u(1) 0;
        }
    }

    // Presentation: "Stor bredde/Full bredde"
    &.large:not(.left):not(.right),
    &.full:not(.left):not(.right) {
        @include only(mobile) {
            margin-left: -(ygg-space(gutter));
            margin-right: -(ygg-space(gutter));
        }

        @include only(desktop) {
            margin-left: -(ygg-space(gutter));
            margin-right: -(ygg-space(gutter));

            @media (min-width: 1200px) {
                margin-left: -(u(5));
                margin-right: -(u(5));
            }
        }
    }

    // Presentation: "Dobbel størrelse"
    &.mega {
        .caption {
            padding-left: ygg-space(gutter);
            padding-right: ygg-space(gutter);
        }

        @include only(mobile) {
            margin-left: -(ygg-space(gutter));
            margin-right: -(ygg-space(gutter));
        }

        @include only(desktop) {
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);

            img {
                width: 100%;
            }
        }
    }

    // Presentation: "Dobbel størrelse (fiksert)"
    &.bgfixed {
        @include only(mobile) {
            .parallax {
                background: transparent !important;
            }
        }

        @include only(desktop) {
            .parallax {
                background-size: 100% auto;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                height: 50vw;

                @media (max-aspect-ratio: 1/1) {
                    height: 75vw;
                    background-size: auto 100%;
                }
            }

            img {
                display: none;
            }
        }
    }
}

// If an h2 precedes a side aligned image
.body > h2 + .media.left,
.body > h2 + .media.right,
.body > h2 + .media.mini {
    margin-top: ygg-space(stack);
}
