.ygg-debate-wrap {
	border-top: 2px solid ygg-color(gray-light);
	padding-top: ygg-space(stack);
	border-bottom: 2px solid ygg-color(gray-light);

	// Easy there, fella!
	* {
		max-width: 100% !important;
	}

	// Debate rules
	.html {
		font-family: ygg-font(system);
		line-height: 1.5;
		font-size: u(7/8);
		margin-bottom: ygg-space(stack);

		@include only(desktop) {
			border-right: 1px solid ygg-color(gray-light);
			padding-right: ygg-space(x);
		}

		* {
			color: ygg-color(black);
		}

		a {
			text-decoration: underline;
		}

		> * + * {
			margin-top: u(1);
		}

		// Hide debate rules if comments are disabled in article
		&:only-child {
			display: none;
		}
	}

	.ygg-debate {
		min-width: 1px; // Because flexbox thinks content decides min-width also outside of boundaries
	}

	@include only(desktop) {
		display: flex;
		flex-flow: row nowrap;

		// Width fails in IE11
		iframe {
			width: 100% !important;
		}

		// Fullwidth Facebook if no custom HTML (debate rules)
		.ygg-debate:only-child {
			flex: 0 0 780px;
			margin-right: 100px;
			margin-left: 100px;
		}

		// Debate rules
		> .html {
			flex: 0 0 percentage(4/10);
		}

		// Facebook content
		> .html + .ygg-debate {
			flex: 1 1 percentage(6/10);
			margin-left: ygg-space(x);
		}

	}
}

