// Based on BrandStudio article template on adressa.no
.ygg-sc.art {

	@import "ygg-base-article/sharing";

	@include only(desktop) {
		body {
			padding-top: 0;
		}

		[id="outer"] {
			margin-top: 0;
		}

		.ygg-content > * {
			max-width: none;
			margin-right: 0;
			margin-left: 0;
		}
	}

	[id="viewport"] {
		padding: 0;
	}

	// Header content
	.ygg-header {
		align-items: center;
		background-color: ygg-color(native-ad);
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 0;
		padding: ygg-space(y) ygg-space(gutter);
		position: relative;

		// Prevent "scrolljump" when sticky header kicks in
		@at-root .ygg-sc.ygg-header-sticky .ygg-header {
			margin-bottom: 55px; // Height of .client-info bar + margin
		}

		// Scroll anchor
		a[id="top"] {
			position: absolute;
			top: 0;
			visibility: hidden;
		}

		.content-label {
			color: ygg-color(white);
			display: inline-block;
			font-weight: 700;
			order: 2;
		}

		// Logo (snippet)
		.branding {
			max-width: 40%;
			order: 1;
		}
	}

	// Sub-header content
	.client-info {
		@include ygg-small-text;
		align-items: center;
		background-color: scale-color(ygg-color(native-ad), $lightness: 75%);
		color: ygg-color(native-ad);
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: ygg-space(y) ygg-space(gutter);

		// Sticky bar with client-info when scrolling down
		@at-root .ygg-sc.ygg-header-sticky.art .client-info {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
			position: fixed;
			top: 0;
			max-width: 100%;
			width: 100%;
			z-index: 200;
		}

		.clientUrl {
			color: ygg-color(native-ad);
			font-weight: 700;

			&::after {
				content: "→";
			}
		}
	}

	// Center header content on desktop
	@include only(desktop) {
		.ygg-header,
		.client-info {
			max-width: 980px;
			margin-right: auto;
			margin-left: auto;
			position: relative;

			&::before {
				content: "";
				display: block;
				background-color: inherit;
				position: absolute;
				top: 0;
				right: -1000px;
				bottom: 0;
				left: -1000px;
				z-index: -1;
			}
		}
	}


	// Main content
	.client-cover-image {
		margin-top: 0;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		.caption {
			background-color: ygg-color(white);
			color: ygg-color(native-ad);
			font-size: u(6/8);
			padding: ygg-space(y-small) ygg-space(gutter);
		}
	}

	.ygg-content {
		.client-content {
			max-width: 980px;
			padding: u(3) ygg-space(gutter) 0;

			@include only(desktop) {
				margin-right: auto;
				margin-left: auto;
			}
		}

		.title {
			@include ygg-heading(article);
			font-family: ygg-font(system);
			@include ygg-ad(compact);

			&::before {
				left: 0;
				letter-spacing: 0;
			}
		}

		.byline {
			@include ygg-small-text(both);
		}

		.dateline {
			position: relative;
			margin: ygg-space(stack) 0;
			padding-top: ygg-space(stack);

			@include only(desktop) {
				width: 680px;
				margin-right: auto;
				margin-left: auto;
			}

			// Generate a line
			&::before {
				content: "";
				border-top: 2px solid scale-color(ygg-color(native-ad), $lightness: 80%);
				display: block;
				height: 0;
				width: 100%;
				position: absolute;
				top: 0;
			}

			time {
				@include ygg-small-text;
				display: block;
			}

			span {
				font-weight: bold;
			}
		}

		.sidebar {
			@include only(desktop) {
				float: left;
				text-align: center;
				width: 100px;
			}
		}

		.client-logo img {
			@include only(mobile) {
				max-height: 250px;
				margin-right: auto;
				margin-left: auto;
				width: auto;
				max-width: 100%;
			}

			@include only(desktop) {
				max-width: 100%;
				height: auto;
			}
		}

		.client-logo .caption {
			display: none;
		}

		.pm-share-buttons {
			@include only(desktop) {
				flex-flow: column nowrap;
				margin-top: ygg-space(stack);
			}
		}

		.lead {
			@include ygg-lead(article);
			font-family: ygg-font(system);
			font-style: normal;
			margin-top: u(2);
			margin-bottom: u(2);
		}

		.body {
			margin-top: ygg-space(stack);

			@include only(mobile) {
				font-size: u(1);
				line-height: 1.5;
			}

			@include only(desktop) {
				font-size: u(9/8);
				line-height: 1.5;
				margin-right: auto;
				margin-left: auto;
				width: 680px;
			}

			> * + * {
				margin-top: u(1);
				margin-bottom: u(1);
			}

			> p {
				@include only(mobile) {
					font-size: u(1);
					line-height: 1.5;
				}

				@include only(desktop) {
					font-size: u(9/8);
					line-height: 1.5;
				}
			}

			a {
				color: ygg-color(native-ad);
				text-decoration: underline;
			}

			> h2,
			> h3 {
				font-weight: bold;
				line-height: 1.3;
				margin-top: u(2);

				@include only(mobile) {
					font-size: u(10/8);
				}

				@include only(desktop) {
					font-size: u(1.5);
				}
			}

			> ul,
			> ol {
				margin-left: u(3);

				* + * {
					margin-top: u(1/2);
				}
			}

			> ul { list-style: square outside; }

			> ol { list-style: decimal outside; }

			> * > li {
				font-size: u(1);
				line-height: 1.5;
			}

			.caption {
				background-color: ygg-color(white);
				color: ygg-color(native-ad);
				padding: ygg-space(y-small) ygg-space(gutter);
			}

			// Add additional space to inline media (and factboxes)
			> .media,
			> .factbox {
				margin-top: u(2);
				margin-bottom: u(2);
			}

			// Images and videos go full width
			> .media.image,
			> .media.video {
				margin-left: -#{ygg-space(gutter)};
				margin-right: -#{ygg-space(gutter)};
			}
		}

		.na-byline {
			@include only(desktop) {
				margin-top: u(3);
				margin-right: auto;
				margin-left: auto;
				width: 680px;
			}
		}

		.na-disclaimer {
			@include ygg-alert(info);
			line-height: 1.5;
			margin-top: u(3);
			margin-bottom: u(3);
			text-transform: none;

			@include only(mobile) {
				font-size: u(7/8);
				padding: ygg-space(y) ygg-space(x);
			}

			@include only(desktop) {
				width: 680px;
				margin-right: auto;
				margin-left: auto;
				font-size: u(1);
				padding: ygg-space(stack) ygg-space(x);
			}

			& > * {
				margin-bottom: ygg-space(stack);
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}


		.links {
			margin: ygg-space(stack)*2 0 0;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;

			li:first-child {
				margin-right: ygg-space(x);
			}

			.button {
				@include ygg-button(default, native-ad);
			}
		}
	}


	// Footer content
	.ygg-footer {
		margin-right: 0;
		margin-left: 0;

		@include only(desktop) {
			> *:not(.branding) {
				max-width: 980px;
				margin-right: auto;
				margin-left: auto;
			}
		}

		h2 {
			text-align: center;
			margin-bottom: ygg-space(stack);
		}

		.disclaimer-text,
		.disclaimer-cookies {
			color: ygg-color(white);
			line-height: 1.5;
			margin-top: ygg-space(stack);
			text-align: center;

			@include only(mobile) {
				font-size: u(7/8);
			}

			@include only(desktop) {
				font-size: u(9/8);
			}
		}

		a {
			color: ygg-color(white);
			text-decoration: underline;
		}
	}
}
