// TODO: Extract feature article styles to a standalone stylesheet
html:not(.salesposter) .ygg-base-article.feature {
	font-family: ygg-font(copy);
	max-width: none;

	// Same as base article, but with a few overrides
	@import "ygg-feature-article/article-header";
	@import "ygg-feature-article/article-body";
	@import "ygg-feature-article/article-footer";
	@import "ygg-feature-article/media";
	@import "ygg-feature-article/feature-byline";
	@import "ygg-feature-article/feature-timeanddate";
}
