<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
        .st0 { fill: #00adee; }
        .st1 { fill: #a00c10; }
        .st2 { fill: #c9171e; }
        .st3 { fill: #ffffff; stroke: #a6a6a6; stroke-width: 0.3; }
        .st4 { fill: #ffffff; }
        .st5 { fill: none; }
    </style>

    <path class="st0" d="M25.2,53.9"/>
    <path class="st1" d="M43.4,6.7c-2.8,2.4-5,5.8-6.4,9.1L22.2,57.5c1.9,0.4,3.8,0.6,5.8,0.6c1.9,0,3.7-0.2,5.5-0.5 c2.6-7.6,5.2-15.2,7.7-22.5l6.9,0c2.4-0.3,2.5-2.1,3-3.6c-2.7,0-5.8,0-8.8,0c2.4-5.9,4.5-13.9,7.6-18.8 C48.1,10.3,45.9,8.3,43.4,6.7z"/>
    <path class="st2" d="M51.1,31.4c-0.5,1.4-0.6,3.3-3,3.6l-6.9,0c-2.5,7.3-5.1,15-7.7,22.5C46.3,55,56,43.7,56,30.1 c0-6.6-2.3-12.7-6.1-17.5c-3.1,4.9-5.1,13-7.6,18.8C45.3,31.5,48.4,31.4,51.1,31.4z"/>
    <path class="st2" d="M43.4,6.7C39,3.8,33.7,2.1,28.1,2.1C12.6,2,0,14.5,0,30c0,13.5,9.5,24.8,22.2,27.4L37,15.7 C38.4,12.5,40.5,9.1,43.4,6.7z M27.2,34.2L23,34.3c-1.4,3.3-2.4,5.4-3.7,9.7c-0.1,1.1,2.4,1.1,3.4,0.8c0.4-0.2,0.9-0.7,1.4-1 c0.6,1.5-0.5,2.9-2.9,4.5c1.2-1.1-4.6,4.6-11.2-1.1c-2.1-5.5,1.1-10.5,2.9-16.1L19.5,14c2.2,1.1,2.4,5.3,2.9,6.5 c1.6,2.9,1.8,2.2,4.3,3.5c-0.6,2-2,5-2.9,7.1c2.3,0,4,0,6.6-0.1C29.8,32.2,29.4,34.2,27.2,34.2z"/>
    <path class="st1" d="M26.7,24c-2.5-1.3-2.7-0.6-4.3-3.5c-0.5-1.2-0.8-5.4-2.9-6.5l-6.6,17.2c-1.8,5.6-5,10.7-2.9,16.1 c6.6,5.7,12.4,0,11.2,1.1c2.4-1.7,3.5-3,2.9-4.5c-0.5,0.2-1,0.7-1.4,1c-1,0.3-3.5,0.3-3.4-0.8c1.3-4.4,2.3-6.5,3.7-9.7l4.2-0.1 c2.2,0,2.6-2,3.2-3.2c-2.6,0.1-4.3,0.1-6.6,0.1C24.7,29,26.1,26.1,26.7,24z"/>
    <path class="st3" d="M55.2,5.3c-0.4-3.3-2.5-5.2-7.1-5.1C41.6,0.9,36.9,7,34.5,12.6L18.7,57.4l-1.8,4.7l11.4,0 c3.6-10,7.1-20.4,10.4-30.2l6.9,0c2.4-0.3,2.5-2.1,3-3.6c-2.7,0-5.8,0-8.8,0C43,20.8,45.5,9.6,50.3,6.2c2.8-2.6,3.8,1.5,4.5,1.1 C54.8,7.4,55.3,7.8,55.2,5.3z"/>
    <path class="st3" d="M20,17.4c1.6,2.9,1.8,2.2,4.3,3.5c-0.6,2-2,4.9-2.9,7.1c2.3,0,4,0,6.6-0.1c-0.6,1.2-1.1,3.1-3.2,3.2l-4.2,0.1 c-1.4,3.3-2.4,5.4-3.7,9.7c-0.1,1.1,2.4,1.1,3.4,0.8c0.4-0.2,0.9-0.7,1.4-1c0.6,1.5-0.5,2.9-2.9,4.5c1.2-1.1-4.6,4.6-11.2-1.1 c-2.1-5.5,1.1-10.5,2.9-16.1L17,10.9C19.2,12,19.4,16.2,20,17.4z"/>
    <path class="st4" d="M76.3,36.9l-5.8,18.9l-10,0L75.9,5.3l24.2,0l-3.7,12l-14.2,0l-2.5,8.2l10.9,0l-3.5,11.3L76.3,36.9z"/>
    <path class="st4" d="M118.6,37.4c-3.5,11.4-12,19.2-19.6,19.2c-7.6,0-11.3-7.8-7.9-19.2c3.7-12.1,12-19.9,19.8-19.9 C118.8,17.5,122.3,25.3,118.6,37.4z M101.7,36.9c-3.1,10.1-1.7,10.8,0.1,10.8c1.8,0,3.6-0.7,6.7-10.8c1.1-3.6,3.1-10.2-0.3-10.2 C104.9,26.7,102.8,33.3,101.7,36.9z"/>
    <path class="st4" d="M125.4,55.9l-9.7,0l15.5-50.5l9.7,0L125.4,55.9z"/>
    <path class="st4" d="M156.2,31.3L157,56l-10.1,0l-0.1-15.1l-3.9,4.7l-3.2,10.4l-9.7,0l15.5-50.5l9.7,0l-8.3,27.2l3.4-4.2l9-10.2 l8.4,0L156.2,31.3z"/>
    <path class="st4" d="M187.8,43.4c-4.3,9.1-11,13.3-16.9,13.3c-3.7,0-6.9-1.2-8.6-4.9c-1.6-3.6-1.4-8.8,0.2-14.1 c1.6-5.1,4.6-10.6,8-14.2c3.8-4,8.1-5.8,11.7-5.8c8.3,0,10.9,8.1,7.1,20.5l-0.6,2l-16.7,0c-1.4,4-1.3,7,1.6,7 c2.2,0,3.8-1.3,5.2-4.6L187.8,43.4z M181.3,32.7c1.1-3.7,1.2-6.5-1.5-6.5c-2.5,0-4.5,3-5.5,6.5L181.3,32.7z"/>
    <path class="st4" d="M203.5,5.2l9.7,0l-5.3,17.4h0.1c2.5-3.8,5.1-5.2,8-5.2c7,0,6.3,10.1,3.5,19.1c-3.2,10.5-9.1,20-16.9,20 c-3.3,0-5.6-1.8-6.2-5.9c-1.1,1.6-2,3.4-2.9,5.2l-5.5,0L203.5,5.2z M202.3,40.8c-0.9,2.9-1.8,6.6,0.8,6.6c3.3,0,5.3-6.7,6.4-10.3 c1.1-3.6,3.3-10.3-0.2-10.3c-0.9,0-1.8,0.7-2.6,1.7c-1.1,1.3-1.3,2.4-1.8,4L202.3,40.8z"/>
    <path class="st4" d="M321,43.3c-4.3,9.1-11,13.3-16.9,13.3c-3.7,0-6.9-1.2-8.6-4.9c-1.6-3.6-1.4-8.8,0.2-14.1 c1.6-5.1,4.6-10.6,8-14.2c3.8-4,8.1-5.8,11.7-5.8c8.3,0,10.9,8.1,7.1,20.5l-0.6,2l-16.7,0c-1.4,4-1.3,7,1.6,7 c2.2,0,3.8-1.3,5.2-4.6L321,43.3z M314.5,32.6c1.1-3.7,1.2-6.5-1.5-6.5c-2.5,0-4.5,3-5.5,6.5L314.5,32.6z"/>
    <path class="st5" d="M244.9,44.2c-0.7,2.4,0,3.5,1.5,3.5c3.7,0,5.1-4.6,6.4-8.8l0.2-0.7C250.6,38.5,246.3,39.6,244.9,44.2z"/>
    <path class="st4" d="M264.9,20.7c0-0.1-0.1-0.1-0.1-0.2c-1.7-2.5-5.2-3-8-3.1c-4.2,0-9,1.4-13,6c-1.3,1.5-2.5,3.4-3.6,5.8l8.5,1.3 c1.3-3.2,3.2-4.2,5.1-4.2c2.3,0,2.5,1.3,1.5,4.7l-0.1,0.3c-3.4,0.3-6.9,0.9-10.5,2.3c-4,1.6-8.3,5.6-10.1,11.5 c-2.3,7.5,0.6,11.3,5.2,11.3c3.4,0,6.7-1.6,10-6c-0.5,1.8-1,3.5-1.3,5.2l9.3,0c0.1-2.7,0.9-5.4,1.7-8.2l4-13.2 C265.2,29,267.1,24.1,264.9,20.7z M252.8,38.9c-1.3,4.1-2.7,8.8-6.4,8.8c-1.5,0-2.2-1-1.5-3.5c1.4-4.6,5.6-5.7,8.1-6L252.8,38.9z"/>
    <path class="st4" d="M343.1,18.3L347,5.8l-2.1,0.1l-6.5,0.3l-1.5,4.1l-2.9,7.9l-4.1,0l-2.9,9.6l3.6,0L326.3,42 c-1.2,4-2.4,7.7-1.4,10.8c1,3.1,3.1,4.3,5.8,3.8l6.1-1.1L340,45c-1,0.4-2.1,0.7-3,0.7c-2.3,0-1.4-2.1-0.6-4.9l4-13l4.9,0l2.9-9.6 L343.1,18.3z"/>
    <path class="st5" d="M282.9,26.6c-1.7,0-3,1.7-4,4c-0.9,2.1-2,4.9-2.6,7c-1,3.3-2.7,9.2,0.4,9.2c1,0,1.8-0.7,2.7-1.9 c1.2-1.6,1.5-2.9,2-4.8l2.3-7.6c0.5-1.5,1-3.2,0.8-4.4C284.4,27.1,283.7,26.6,282.9,26.6z"/>
    <path class="st4" d="M292.1,5.3l-1.7,5.6l-1.9,6.2l-1.3,4.2c-0.6-1.7-1.6-3-3.1-3.5c-0.5-0.2-1.1-0.3-1.7-0.3 c-1.5,0-2.9,0.4-4.3,1.1c-5.4,2.9-9.4,10.9-11.7,18.6c-2.8,9.3-3.4,19.4,3.8,19.4c3.1,0,5.7-1.6,8.4-5.7h0.1l-1.5,5l9.2,0 l12.3-40.1l1.9-6.2l1.3-4.2L292.1,5.3z M283.8,32.5l-2.3,7.6c-0.6,1.8-0.9,3.2-2,4.8c-0.9,1.3-1.8,1.9-2.7,1.9 c-3,0-1.4-5.9-0.4-9.2c0.6-2.1,1.7-4.9,2.6-7c1-2.3,2.2-4,4-4c0.8,0,1.5,0.5,1.7,1.5C284.8,29.2,284.3,31,283.8,32.5z"/>
    <polygon class="st4" points="233,5.2 217.6,55.7 227.3,55.7 236.8,24.6 237.6,22 238.7,18.4 240.5,12.5 242.1,7.3 242.7,5.2 "/>
</symbol>
</svg>
