// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #0077b3,
	);

$pub-settings: (
	ygg-lead-front-enabled: true,
	ygg-lead-section-enabled: true
	);
