<svg style="display:none;">
    <symbol id="ygg-logo">
        <style>
            .st0 {
                fill: #ec1c24;
            }
            .st1 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #ec1c24;
            }
        </style>

        <path class="st0" d="M0,1.3c11,0,14.5,0,25.5,0l11.7,74.7L48.3,1.6h25.4L52.2,136.4c-0.3,0-31.8,0-31.8,0L0,1.3"/>
        <path class="st1" d="M110.7,53.7c2.3,0,4.1,0.8,4.1,4.5v11.3c0,0-0.1,0-7.9,0V58.1C106.9,54.6,107.9,53.7,110.7,53.7 M104.6,31.1 h13.6c13.3,0,22.7,12.9,22.7,22.8v33.9h-36.3c0,4.7,0,5.3,0,10.2c0,9-1.8,18.1,5.7,18.1c6.8,0,5.7-9.9,5.7-17h25 c0,0,0.3,13.8-1.1,19.3c-1.7,6.4-7.1,18.1-23.8,18.1h-10.2c-15.2,0-26.1-14.4-26.1-27.2V53.4C79.7,42.6,89.4,31.1,104.6,31.1z"/>
        <path class="st0" d="M219.4,53.9v6.8l-21.7,0c0-5.4-2.6-10.2-8.9-10.2c-6.5,0-7.9,2.8-7.9,6.8c0,10.3,42,22.5,42,43.6v7.7 c0,20.2-14.7,28.1-32.9,28.1c-31.3,0-36.3-17.3-36.3-23.8v-11.3h26.1c0,8.4,2.5,13.6,9.1,13.6c1,0,7.9,0,7.9-7.9 c0-15-40.8-19.6-40.8-45.2v-5.9c0-5.3,4.1-26.6,31.5-26.6C220.9,29.5,219.3,53.8,219.4,53.9"/>
        <path class="st0" d="M265.5,15.3v15.4h15.9v22.1h-15.9v54.2c0,7.3,9.2,7.9,14.7,7.9v21.6h-21.6c-20,0-17.8-26.7-17.7-43.1l0.1-40.6 h-9.5l0-22.1l7.8,0V15.2L265.5,15.3"/>
        <rect x="294.2" y="1.1" class="st0" width="27.2" height="135.1"/>
        <path class="st1" d="M364.5,87.9h0.7c2.3,0,4.2,1.9,4.2,4.2v15.5c0,2.3-1.9,4.2-4.2,4.2h-0.7c-2.3,0-4.2-1.9-4.2-4.2V92.1 C360.3,89.8,362.2,87.9,364.5,87.9 M358,30.1h14.7c14.6,0,23.8,11.8,23.8,23.8v81.2h-26.8l-0.1-5.2c-3.9,2.7-9.7,6.8-17.4,6.8 c-13.5,0-19.3-10.2-19.3-15.9V89c0-0.1,1.6-20.4,36.3-20.4V57.3c0-3.2-1.2-5.7-4.5-5.7c-5.2,0-4.4,6.1-4.5,9.1h-22.7 C336.8,42.4,343.1,30.1,358,30.1z"/>
        <path class="st0" d="M454.3,30.5c11,0,17.6,14.3,17.6,19.9v85.9H446l0-77.1c0-3.7-2.3-5.7-5.6-5.7c-3.5,0-4.8,5.1-4.8,5.1l0,77.5 h-27.2V30.5h27.2V39C438.6,37.6,437,30.5,454.3,30.5"/>
        <path class="st1" d="M514,52.7h2.6c2.3,0,4.2,1.9,4.2,4.2v54.3c0,2.3-1.9,4.2-4.2,4.2H514c-2.3,0-4.2-1.9-4.2-4.2V56.9 C509.8,54.6,511.7,52.7,514,52.7 M545,0v135.2l-24.1,0.1v-5.7c-7.6,6.8-9.6,7.1-17.8,7.1c-11.5,0-19.3-10.8-19.3-19.3V49.3 c0-5,7.6-18.1,20.4-18.1c6.7,0,14.6,2.3,17,6.8V0H545z"/>
        <path class="st0" d="M623.2,53.9v6.8l-21.7,0c0-5.4-2.6-10.2-8.9-10.2c-6.5,0-7.9,2.8-7.9,6.8c0,10.3,42,22.5,42,43.6v7.7 c0,20.2-14.7,28.1-32.9,28.1c-31.3,0-36.3-17.3-36.3-23.8v-11.3h26.1c0,8.4,2.5,13.6,9.1,13.6c1,0,7.9,0,7.9-7.9 c0-15-40.8-19.6-40.8-45.2v-5.9c0-5.3,4.1-26.6,31.5-26.6C624.8,29.5,623.2,53.8,623.2,53.9"/>
        <path class="st0" d="M684.1,30.5c11,0,17.6,14.3,17.6,19.9v85.9h-25.9l0-77.1c0-3.7-2.3-5.7-5.6-5.7c-3.5,0-4.8,5.1-4.8,5.1l0,77.5 h-27.2V30.5h27.2V39C668.3,37.6,666.8,30.5,684.1,30.5"/>
        <path class="st0" d="M741.3,30.3c0,0.2,5.8,43.4,9.1,47.6l6.8-47.6h25v4.5l-25,122.2c-8.7,0-18,0-23.8,0l4.5-19.3L714.1,34.8v-4.5 H741.3"/>
        <path class="st0" d="M828.2,15.3v15.4H844v22.1h-15.9v54.2c0,7.3,9.2,7.9,14.7,7.9v21.6h-21.6c-20,0-17.8-26.7-17.7-43.1l0.2-40.6 h-9.5l0-22.1l7.8,0V15.2L828.2,15.3"/>
        <path class="st0" d="M890.4,15.3v15.4h15.9v22.1h-15.9v54.2c0,7.3,9.2,7.9,14.7,7.9v21.6h-21.6c-20,0-17.8-26.7-17.7-43.1l0.1-40.6 h-9.5l0-22.1l7.8,0V15.2L890.4,15.3"/>
</symbol>
</svg>
