<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path id="o" class="st0" d="M177.8,32.8c-0.1-3.7-3.1-6.6-6.8-6.6c0,0,0,0-0.1,0c-3.7,0-6.7,3-6.8,6.6c0,0.1,0,0.2,0,0.2 c0,3.8,3,6.8,6.8,6.8c0,0,0,0,0.1,0c3.8,0,6.8-3.1,6.8-6.8C177.8,33,177.8,32.9,177.8,32.8z M171,37.2 C170.9,37.2,170.9,37.2,171,37.2c-2.3,0-4.2-1.9-4.2-4.2c0-0.1,0-0.2,0-0.2c0.1-2.2,1.9-3.9,4.1-3.9c0,0,0,0,0.1,0 c2.2,0,4,1.7,4.1,3.9c0,0.1,0,0.2,0,0.2C175.1,35.4,173.3,37.2,171,37.2z"/>
        <path id="n_1_" class="st0" d="M155,26.3C155,26.3,155,26.3,155,26.3c-3.7,0-6.7,3-6.8,6.6v0.5v6.6h2.7v-1.4v-5.7h0 c0.1-2.2,1.9-3.9,4.1-3.9c0,0,0,0,0.1,0c2.2,0,4,1.7,4.1,3.9h0v0c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2v5.3v1.4h2.7v-6.4v-0.7h0 C161.7,29.2,158.7,26.3,155,26.3z"/>
        <circle id="dot" class="st0" cx="144.7" cy="38.6" r="1.3"/>
        <path id="t_1_" class="st0" d="M130.7,26.8c0-0.2,0-0.3,0-0.4v-7.6h7.9v-5.1h-0.5h-7.4V0h-5.2v26.3h0c0,0.1,0,0.3,0,0.4 c0,7.2,5.8,13.1,13.1,13.2v-5.2C134.2,34.8,130.7,31.2,130.7,26.8z"/>
        <path id="t" class="st0" d="M113.1,26.8c0-0.2,0-0.3,0-0.4v-7.6h7.9v-5.1h-0.5h-7.4V0h-5.2v26.3h0c0,0.1,0,0.3,0,0.4 c0,7.2,5.8,13.1,13.1,13.2v-5.2C116.6,34.8,113.1,31.2,113.1,26.8z"/>
        <path id="e" class="st0" d="M91,34.8c0,0-0.1,0-0.1,0c-4.4-0.1-7.9-3.6-7.9-8c0-0.2,0-0.3,0-0.4c0.2-4.2,3.7-7.5,7.9-7.6 c0,0,0.1,0,0.1,0c2.3,0,4.3,0.9,5.8,2.5l-3.7,1.5l-2.2,0.9l-4.1,1.7c-0.1,0.3-0.1,0.6-0.1,1c0,1.6,0.9,3,2.2,3.7l2.1-0.9l4.1-1.7 l2.7-1.1l1.2-0.5l4.9-2c-0.4-1.7-1.1-3.3-2.1-4.6c-2.4-3.4-6.3-5.6-10.7-5.6c0,0-0.1,0-0.1,0c-7.1,0.1-12.8,5.7-13.1,12.7 c0,0.1,0,0.3,0,0.4c0,7.2,5.8,13.1,13.1,13.2c0,0,0.1,0,0.1,0c3.9,0,7.4-1.7,9.8-4.4L97,32.1C95.5,33.8,93.4,34.8,91,34.8z"/>
        <path id="n" class="st0" d="M73.6,26.4c-0.2-7.1-6-12.7-13.2-12.7c0,0-0.1,0-0.1,0c-7.1,0.1-12.8,5.7-13.1,12.7c0,0.1,0,0.3,0,0.4 c0,0.1,0,0.3,0,0.4v12.7h5.2v-2.7V26.4h0c0.2-4.2,3.7-7.5,7.9-7.6c0,0,0.1,0,0.1,0c4.3,0,7.8,3.4,8,7.6c0,0,0,0.1,0,0.1v0.7v10.1 v2.6h5.2V27.7c0-0.3,0-0.6,0-0.9C73.6,26.7,73.6,26.5,73.6,26.4z"/>
        <path id="b" class="st0" d="M43.4,26.4c-0.2-7.1-6-12.7-13.2-12.7c0,0-0.1,0-0.1,0v0h-0.5h-3.7v0.7v4.5h4.2c0,0,0.1,0,0.1,0 c4.3,0,7.8,3.3,8,7.6h0c0,0.1,0,0.3,0,0.4c0,4.4-3.6,8-8,8c0,0-0.1,0-0.1,0c-4.4-0.1-7.9-3.6-7.9-8c0-0.2,0-0.3,0-0.4v-10V0H17v26.3 h0c0,0.1,0,0.3,0,0.4C17,34,22.8,39.9,30.1,40c0,0,0.1,0,0.1,0c7.3,0,13.2-5.9,13.2-13.2C43.4,26.6,43.4,26.5,43.4,26.4L43.4,26.4z"/>
        <path id="r" class="st0" d="M0.1,26.4L0.1,26.4L0,39.9h5.3v-2.6v-10v-0.9c0,0,0,0,0,0c0.2-4.2,3.7-7.5,7.9-7.6v-5.2 C6.1,13.7,0.3,19.3,0.1,26.4z"/>
    </symbol>
</svg>
