html {
	font-size: 16px; // One rem to rule them all
	position: relative;
}

body {
	font-family: ygg-font(system);
	background-color: ygg-color(background);

	// Offset for sticky header on desktop
	@include only(desktop) {
		// padding-top: calc(#{ygg-space(stack)} + 64px);
		padding-top: 64px;
	}
}

[id="viewport"] {
	overflow: hidden; // Make sure off-canvas modal content stays hidden

	.device_tablet & {
		width: 1024px;
	}

	// Use negative gutter margins for full width
	@include only(mobile) {
		padding-left: ygg-space(gutter);
		padding-right: ygg-space(gutter);
		max-width: 45em;
		margin-right: auto;
		margin-left: auto;
	}

	// Because ads
	@include only(desktop) {
		min-width: 980px;
	}
}

[id="outer"] {
	@include only(desktop) {
		margin-top: ygg-space(stack);
	}
}

// Avoid code widgets (iframe & html) escaping boundaries
.widgetPolarisCode.iframe,
.widgetPolarisCode.html {
	overflow: hidden;
	max-width: 100%;
}

// Stack direct descenders in the general content area
// and direct descenders in the front content area
.ygg-content > * + * {
	margin-top: ygg-space(x)*2;
}

@include editor() {
	@at-root [ng-app] #small pl-template + pl-template {
		margin-top: ygg-space(x)*2;
	}

	@at-root [ng-app] #small pl-template > * + * {
		margin-top: ygg-space(x)*2;
	}
}

.ygg-content > .c64 {
	padding-top: 12px;
}

.polarisStories.front > * + * {
	margin-top: ygg-space(stack);
}

// Make sure content is tall enough for outer left/right ads, and then some
@include only(desktop) {
	.ygg-content {
		min-height: 250px; // Prevent skyskraper from overlapping footer on short pages
		padding-top: ygg-space(x);
		position: relative; // So that background doesn't "underlap" topboard with transparent background

		// Because wallpaper background images
		&::before {
			content: "";
			background-color: ygg-color(background);
			display: block;
			width: 1010px;
			position: absolute;
			// top: 104px; // Match topboard and skyscrapers
			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
		}
	}
}

// Stick to the grid on desktop
@include only(desktop, root) {
	.ygg-content > * {
		max-width: 980px;
		margin-right: auto;
		margin-left: auto;
	}
}

// Hide 1x1 px tracker, it generates unwanted stacking space
img[id="unispring-tp"] {
	display: none !important;
}

// Hide root-level iframe (unknown garbage source)
body > iframe {
	display: none !important;
}
