/// Modular scaling/sizing of elements
/// @author Jonas Nilsson
/// @param {Int} $factor [1] - Multiply $unit with $factor
/// @example
/// article p {
///	  font-size: u(1);
/// }
@function u($factor: 1) {
	@return $unit * $factor;
}


/// Fetch nested keys
/// @author Hugo Giraudel
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to fetch
/// @return {*}
@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}

	@return $map;
}


/// Merge multidimensional maps non-destructively.
/// @author Zsolt Pentz - github.com/pentzzsolt
/// @param {Map} $map1 Map source
/// @param {Map} $map2 Map source
/// @example
/// $ygg-headings: map-deep-merge($ygg-headings, $pub-headings);
@function map-deep-merge($parent-map, $child-map) {
	$result: $parent-map;
	@each $key, $value in $child-map {
		@if (not map-has-key($result, $key)) or (type-of(map-get($result, $key)) != type-of($value)) or (not (type-of(map-get($result, $key)) == map and type-of($value) == map)) {
			$result: map-merge($result, ($key: $value));
		}
		@else {
			$result: map-merge($result, ($key: map-deep-merge(map-get($result, $key), $value)));
		}
	}
	@return $result;
}


/// Test if map got all '$keys' nested with each others
/// @author Hugo Giraudel
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to test
/// @return {Bool}
@function map-has-nested-keys($map, $keys...) {
	@each $key in $keys {
		@if not map-has-key($map, $key) {
			@return false;
		}
		$map: map-get($map, $key);
	}

	@return true;
}


/// Use to add space between elements
/// @author Jonas Nilsson
/// @param {String} $key in $ygg-spaces
/// @example
/// .polarisStories .media {
///	  margin-right: ygg-space(y-small);
/// }
@function ygg-space($key) {
	@if variable-exists(ygg-spaces) {
		// TODO find a way to check this
		// @if map-has-key($ygg-spaces, $ygg-device, $key) {
			@return map-deep-get($ygg-spaces, $ygg-device, $key);
		// }

		@warn "Unknown '#{$key}' in $ygg-spaces.";
		@return null;
	}
}


/// Declare for family
/// @author Jonas Nilsson
/// @param {String} $key in $ygg-fonts
/// @group Typography
/// @example
/// body {
///	  font-family: ygg-font(system);
/// }
@function ygg-font($key) {
	@if variable-exists(ygg-fonts) {
		@if map-has-key($ygg-fonts, $key) {
			@return map-get($ygg-fonts, $key);
		}

		@warn "Unknown '#{$key}' in $ygg-fonts.";
		@return null;
	}
}


/// Define image size for side aligned images
/// @author Jonas Nilsson
/// @param {String} $key in $ygg-spaces
/// @example
/// .polarisStories .media {
///	  width: ygg-image-width(medium);
/// }
@function ygg-image-width($key) {

	@if variable-exists(ygg-image-widths) {

		// TODO Find a way to check if key exists
		// @if map-has-key($ygg-image-widths, $key) {
			@return map-deep-get($ygg-image-widths, $ygg-device, $key);
		// }

		@warn "Unknown '#{$key}' in $ygg-image-widths.";
		@return null;
	}
}


/// Get teh color
/// @author Jonas Nilsson
/// @param {String} $key in $ygg-colors
/// @group colors-and-styles
/// @example
/// form.error .validation-status {
///	  color: ygg-color(error);
/// }
@function ygg-color($key) {
	@if variable-exists(ygg-colors) {
		@if map-has-key($ygg-colors, $key) {
			@return map-get($ygg-colors, $key);
		}

		@warn "Unknown '#{$key}' in $ygg-colors.";
		@return null;
	}
}


/// Get URL for gfx, js, fonts etc.
/// @author Ørjan Aare Jørgensen
/// @param {String} $key in $ygg-paths
/// @example
/// .grog {
///	  background: url(ygg-path(gfx) + "elaine-marley.jpg");
/// }
@function ygg-path($key) {
	@if variable-exists(ygg-paths) {
		@if map-has-key($ygg-paths, $key) {
			@return map-get($ygg-paths, $key);
		}

		@warn "Unknown '#{$key}' in $ygg-paths.";
		@return null;
	}
}


/// Transition
/// @author Jonas Nilsson
/// @param {String} $key in $ygg-transitions
/// @example
/// .factbox .expand {
///	  transition: ygg-transition(short);
/// }
@function ygg-transition($key) {
	@if variable-exists(ygg-transitions) {
		@if map-has-key($ygg-transitions, $key) {
			@return map-get($ygg-transitions, $key);
		}

		@warn "Unknown '#{$key}' in $ygg-transitions.";
		@return null;
	}
}