$grid-width:				980px;
$grid-column-count:			10;
$grid-margin:				20px;
$grid-splits:				5;
$grid-column-width:			($grid-width - ($grid-margin * $grid-column-count) + $grid-margin) / $grid-column-count;
$grid-lines:				true;
$grid-lines-full:			false;
$grid-lines-between-rows:	true;
$grid-lines-color:          ygg-color(gray-ui);
$grid-margin-master:		20px;
$grid-margin-complex:		ygg-space(x-small);

// Grid rows flex
.gridRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    > * + .gridUnit {
        margin-left: $grid-margin;

        @if $grid-lines {
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: $grid-lines-color;
                width: 1px;
                height: 100%;
                left: -($grid-margin-master/2);

                @if $grid-lines-full {
                    bottom: -(ygg-space(y)/2);
                    top: -(ygg-space(y)/2);
                    height: auto;
                }
            }
        }
    }

    .gridUnit {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include editor() {
            overflow: hidden; // Prevent scaling beyond grid boundaries in CtrlFreak
        }

        @if ($grid-lines) {
            min-height: 100%;
        }

        // Global spacing
        > * + * {
            margin-top: ygg-space(y);
        }

        @if $grid-lines {
            > * + * {
                margin-top: ygg-space(x)*2;

                &::before {
                    content: "";
                    display: block;
                    background: $grid-lines-color;
                    height: 1px;
                    margin-bottom: ygg-space(x);

                    @if $grid-lines-full {
                        margin-left: -(ygg-space(x) / 2);
                        margin-right: -(ygg-space(x) / 2);
                    }

                    @include editor() {
                        @include only(mobile) {
                            @at-root [ng-app] #small pl-template + pl-template {
                                margin-top: ygg-space(x)*2;
                            }
                        }

                        @include only(desktop) {
                            @at-root [ng-app] #big pl-template + pl-template {
                                margin-top: ygg-space(x)*2;
                            }
                        }
                    }
                }
            }

            > .widget + .gridRow {
                padding-top: ygg-space(y) / 2;
                border-top: 1px solid $grid-lines-color;
            }

            @if $grid-lines-full {

                &:last-child > * + *::before {
                    margin-right: 0;
                }

                &:first-child > * + *::before {
                    margin-left: 0;
                }
            }
        }
    }

    @if $grid-lines {
        @if $grid-lines-between-rows {
            @at-root .ygg-content > * + *:not(.polarisMarketing) {
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: $grid-lines-color;
                    height: 1px;
                    width: 100%;
                    top: -(ygg-space(x));
                    left: 0;
                }
            }

            @include editor() {
                @include only(mobile) {
                    @at-root #small pl-template + pl-template::before,
                    #small pl-template > * + *::before {
                        content: "";
                        display: block;
                        position: absolute;
                        background: $grid-lines-color;
                        height: 1px;
                        width: 100%;
                        top: -(ygg-space(x));
                        left: 0;
                    }
                }

                @include only(desktop) {
                    @at-root [ng-app] #big pl-template + pl-template::before,
                    #big pl-template > * + *::before {
                        content: "";
                        display: block;
                        position: absolute;
                        background: $grid-lines-color;
                        height: 1px;
                        width: 100%;
                        top: -(ygg-space(x));
                        left: 0;
                    }
                }
            }
        }
    }
}

// Spans
@for $i from 1 through $grid-column-count {
    .span#{$i} {
        flex-basis: ($grid-column-width * $i) + ($grid-margin * ($i - 1));
    }
}

// Splits
@for $i from 1 through $grid-splits {
    .split#{$i} {
        flex-basis: calc(100% / #{$i});
    }
}

* + [class*="split"] {
    margin-left: $grid-margin;
}


// Redefine grid inside master and complex
.masterTheme,
.complex {
    * + .gridUnit::before,
    .gridUnit > * + *::before {
        display: none;
    }
}

.masterTheme * + .gridUnit {
    margin-left: $grid-margin-master;
    flex-grow: 1;
}

.masterTheme .gridRow .gridUnit>.widget+.gridRow {
    padding-top: $grid-margin-master;
    border-top: 0;
}

.masterTheme .gridUnit > * + * {
    margin-top: $grid-margin-master;
}

.complex * + .gridUnit {
    margin-left: $grid-margin-complex;
}


// Faux split 3 (automatic list bug, self is excluded but not replaced when using 3 widgets)
@if ($ygg-device == desktop or $ygg-device == tablet) {
    .polarisStories.front.big.faux-split3 {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 0;
        margin-left: 0;

        // Column left-margin on all except first column
        > *:not(:first-child) {
            margin-left: $grid-margin;
            margin-top: 0;
        }

        > * {
            flex-basis: ($grid-width - ($grid-margin * 2)) / 3;
            flex-grow: 0;
            flex-shrink: 0;
            min-width: 1px; // Because words longer than container width might cause trouble otherwise.
        }

        > .article::before {
            content: "";
            display: block;
            border-top: 1px solid #c5c5c5;
            padding-bottom: ygg-space(y);
        }

        // TODO sometimes a fourth article appears... fix in widget plz kk thx m8
        > *:nth-child(4) {
            display: none;
        }
    }
}
