// Hide stuff
.hidden {
	display: none !important;
	visibility: hidden !important;
}


// Default headline scaling classes [textsize1-textSize10]
// This is overengineering of the vanilla scale
@if (map-get($ygg-settings, ygg-font-default-scaling) == true) {
	@if ($ygg-device == desktop) {

		$size: 64; // Max headline size (initially)

		@for $i from 10 through 1 {
			.textSize#{$i} .polarisStories.front .headline {
				font-size: #{$size}px;

				// Decrease to 91% of previous size and round down
				$size: floor($size * 91 / 100);
			}
		}
	}
}


// Custom headline scaling classes from Escenic [t50-t200]
@if (map-get($ygg-settings, ygg-font-custom-scaling) == true) {
	@if ($ygg-device == desktop) {

		// Make sure the line-height scales proportionally with the font-sizes
		.headline [class^="t"] {
			display: block;
		}

		$i: 50; // Start at 50

		@while $i <= 200 { // Stop at 200
			.t#{$i} {
				font-size: #{$i}#{"%"}; // Example: .t95 { font-size: 95% }
			}

			$i: $i + 5; // Increment with +5 each time
		}
	}
}
