/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	text-size-adjust: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

a {
	text-decoration: none;
}

// Make it possible to style the shadow DOM elements in <use> (i.e. header logo)
svg path {
	fill: inherit;
	stroke: inherit;
}

input,
textarea,
button {
	appearance: none;
	background-color: transparent;
	font-size: 100%;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

input,
textarea,
select {
	font-family: ygg-font(system);
	font-size: u(1);
}

// TODO: ØRJAN FØRR FAEN. RESET ALT SAMMEN. INPUTGREIER HAR MARGINS. Æ BLI LOKO. :)
