// The unit
$unit:                         1rem;  // 16px


// The settings
$ygg-settings:(
	ygg-fonts-enabled:         true,  // Use default fonts for headlines and text in editorial content.
	ygg-feature-fonts-enabled: true,  // Use default fonts for headlines and text in feature content.
	ygg-header-default:        true,  // Use default header with white logo on colored background.
	ygg-footer-default:        true,  // Use default footer with white text on dark background.
	ygg-font-default-scaling:  true,  // Use default scaling of front page titles on desktop.
	ygg-font-custom-scaling:   true,  // Enable custom scaling of front page titles.
	ygg-lead-front-enabled:    false, // Show lead text on front page.
	ygg-lead-section-enabled:  false, // Show lead text on section page.
	ygg-paid-icon-enabled:     true,  // Show paid content icon
	ygg-header-logo-enlarge:   false  // Upscale logo as much as possible
	);


// The other stuff
@import "variables/animation";
@import "variables/colors";
@import "variables/icons";
@import "variables/images";
@import "variables/paths";
@import "variables/spacing";
@import "variables/typography";
