@font-face {
	font-family: "Guardian Headline";
	src: url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Semibold-Web.eot");
	src: url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Semibold-Web.eot?#iefix") format("embedded-opentype"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Semibold-Web.woff") format("woff"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Semibold-Web.ttf") format("truetype"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Semibold-Web.svg#Guardian Headline") format("svg");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Guardian Headline";
	src: url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Regular-Web.eot");
	src: url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Regular-Web.eot?#iefix") format("embedded-opentype"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Regular-Web.woff") format("woff"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Regular-Web.ttf") format("truetype"),
	url("https://static.polarismedia.no/skins/prod/group/lokalavisene/fonts/GuardianEgyp-Regular-Web.svg#Guardian Headline") format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

.art .ygg-base-article .article-header .lead {
	font-style: normal;
}
