<svg style="display:none;">
    <symbol id="ygg-logo">
        <style>
            /* 0 0 380 69.84 */
            .smp_svglogo { fill: #fff; }
        </style>

        <path class="smp_svglogo" fill="#fff" d="M36.48,13.14A4.21,4.21,0,0,0,33.3,14.8a81.38,81.38,0,0,0-6,10.14c-.36-.26-4.23-3.24-5.51-4.32-5-4.12-8.1-6.71-8.1-10.1A6.46,6.46,0,0,1,16,5.33c.87,1.28,4.16,5.57,8.12,5.57C27,10.9,30.44,8,31.42,7l-.67-1c-4.37,2.2-9.09-4.3-9.85-6L15.39,3.87C11.09,6.85,8,10.59,8,15.07c0,3,1.12,6.56,6.61,10.79,3.44,2.67,6.44,4.95,9,6.9-1.36,2.62-2.75,5.06-4,7.1A15.43,15.43,0,0,0,9.48,35.51,9.2,9.2,0,0,0,0,44.39c0,.21,0,.41,0,.62a8.7,8.7,0,0,0,8.66,8.62c3.76,0,5.91-2.62,8.4-7l7.12,7,5.33-5.08c1.48-1.26,6.72-6,6.72-10.82,0-5.84-3.47-8.82-7.77-12a63.65,63.65,0,0,1,4.47-7.82,4,4,0,0,0,3.65,2.8,3.83,3.83,0,0,0,0-7.64Zm-27.81,39a5.42,5.42,0,0,1-5.45-5.38c0-.13,0-.26,0-.39a5.29,5.29,0,0,1,5.13-5.09c3.29,0,5.8,2.8,7.39,4.3C14.74,47.09,12.59,52.17,8.67,52.17ZM28,47.7l-7.52-6.9c1.23-2.06,2.64-4.48,4-7.17a24.51,24.51,0,0,1,5.08,5c1.3,2.33,2,5.4-1.54,9.14Z"/>
        <path class="smp_svglogo" fill="#fff" d="M38.77,25.64l1.79-1.25a3.34,3.34,0,0,1,1.7,3.15V47.09A6.3,6.3,0,0,0,47,53.81l9-6.27v1.57a5.49,5.49,0,0,0,3.13,4.52l7.5-5.24-.76-1.14L64,48.57a2.85,2.85,0,0,1-1.18-2.24V27.59a5.68,5.68,0,0,1,1.9-4.48l-5.24-3.74-5.26,3.76a5.63,5.63,0,0,1,1.9,4.48V45.79l-4.9,3.36A3.8,3.8,0,0,1,49,45.7v-21a7,7,0,0,0-3.34-5.31l-6.27,4.48-1.32.87Z"/>
        <path class="smp_svglogo" fill="#fff" d="M95,47.4l-1.91,1.3a3.36,3.36,0,0,1-1.59-3.15V26a6.49,6.49,0,0,0-4.77-6.72l-9,6.27V24.12a5.56,5.56,0,0,0-3.18-4.75l-7.53,5.15.79,1.14,1.85-1.3a2.83,2.83,0,0,1,1.19,2.24V48.3a6.94,6.94,0,0,0,3.34,5.33l6.07-4.23a4.24,4.24,0,0,1-2.71-3.85V27.25l5.26-3.65a4.48,4.48,0,0,1,1.92,3.83v21a7,7,0,0,0,3.3,5.22l6.24-4.34,1.39-1Z"/>
        <path class="smp_svglogo" fill="#fff" d="M123,47.4l-1.91,1.3a3.35,3.35,0,0,1-1.65-3.15V26a6.5,6.5,0,0,0-4.77-6.72l-9.07,6.27V24.12a5.55,5.55,0,0,0-2.91-4.75l-7.59,5.15.78,1.14,1.84-1.3A2.88,2.88,0,0,1,99,26.6V48.3a6.91,6.91,0,0,0,3.33,5.33l6-4.32a4.24,4.24,0,0,1-2.71-3.85V27.25l5.24-3.65a4.33,4.33,0,0,1,1.9,3.83v21a7,7,0,0,0,3.38,5.22l6.25-4.34,1.37-1Z"/>
        <path class="smp_svglogo" fill="#fff" d="M379.28,47.4l-1.9,1.3a3.36,3.36,0,0,1-1.68-3.15V26a6.49,6.49,0,0,0-4.77-6.72l-9.07,6.27V24.12a5.53,5.53,0,0,0-3-4.75l-7.5,5.15.76,1.14,1.86-1.3a2.83,2.83,0,0,1,1.19,2.24V48.3a6.94,6.94,0,0,0,3.34,5.33l6.18-4.23A4.3,4.3,0,0,1,362,45.55V27.25l5.27-3.65a4.33,4.33,0,0,1,1.9,3.83v21a7,7,0,0,0,3.22,5.22l6.27-4.34,1.37-1Z"/>
        <path class="smp_svglogo" fill="#fff" d="M164.83,47.4,163,48.66a3.39,3.39,0,0,1-1.72-3.16V25.93a6.21,6.21,0,0,0-4.86-6.56l-9,6.16v-1c0-4.26-4.77-5.15-4.77-5.15l-8.95,6.2V24.16a5.54,5.54,0,0,0-3.12-4.79l-7.5,5.15.76,1.14,1.86-1.14A2.83,2.83,0,0,1,127,26.76V48.48a6.92,6.92,0,0,0,3.34,5.31l6-4.33a4.24,4.24,0,0,1-2.71-3.85V27.25l5.24-3.65a4.78,4.78,0,0,1,1.94,3.88v18h0a4.08,4.08,0,0,1-1.58,3.27l4.92,5h0l4.93-5a4.16,4.16,0,0,1-1.55-3.27V27.3l5.26-3.7a3.81,3.81,0,0,1,1.91,3.76v21A6.91,6.91,0,0,0,158,53.63l6.27-4.34,1.3-.9Z"/>
        <path class="smp_svglogo" fill="#fff" d="M188.7,26.94A5.52,5.52,0,0,0,186.91,23l1.82-3.14-.92-.6-1.79,3a14.76,14.76,0,0,0-8.33-2.91h-1.28l-8.26,5.69V46a5.89,5.89,0,0,0,1.74,4.14l-1.72,3,1,.6L170.79,51a13.7,13.7,0,0,0,7.9,2.62h1.84l8.17-5.78Zm-13.83-5.13h.94A5.66,5.66,0,0,1,181.94,27a3.7,3.7,0,0,1,0,.47v1.81l-7.09,12.28Zm7,28v1.44h-1.32a5.36,5.36,0,0,1-5.71-5q0-.3,0-.6V43.87L182,31.62v4.77h0Z"/>
        <path class="smp_svglogo" fill="#fff" d="M208.36,19.3l-6.29,4.48A5.43,5.43,0,0,0,199,19.37l-7.41,5.15.79,1.12,1.92-1.34c.9.6,1,2.23,1,2.95V45.16a9.5,9.5,0,0,0,4.84,8.47l7.41-5.22-.79-1L204.54,49a3.76,3.76,0,0,1-2.38-4V25.5l1.59-1.09a7,7,0,0,1,2.85,6.07l5.57-4S213,22.66,208.36,19.3Z"/>
        <path class="smp_svglogo" fill="#fff" d="M252.75,53.81l8.37-6v-21c0-6.32-4.84-7.28-4.84-7.28l-8.95,6.14V24a5.24,5.24,0,0,0-3.05-4.48l-7.52,5,.78,1.14,1.88-1.32c1,.67,1.1,2.44,1.1,3.22V50a18.2,18.2,0,0,0-3.87,2.71l.64.89a16.41,16.41,0,0,1,3.23-1.3V69.84l6.72-3V51.68A7.53,7.53,0,0,1,252.75,53.81Zm-5.47-26.87,4.95-3.41c1.25.54,2.24,1.8,2.24,4.71V48.39a10.83,10.83,0,0,0-3.92-.9,16.61,16.61,0,0,0-3.22.34Z"/>
        <path class="smp_svglogo" fill="#fff" d="M275.83,19.37h-1.25l-8.26,5.69V46c0,5.24,6.71,7.68,10.52,7.68h1.84l8.17-5.78v-21C286.85,22.28,280.18,19.37,275.83,19.37Zm4.26,17V51.26h-1.3a5.33,5.33,0,0,1-5.7-4.93,4.7,4.7,0,0,1,0-.65V21.81h1A5.67,5.67,0,0,1,280.18,27c0,.16,0,.31,0,.47v9Z"/>
        <path class="smp_svglogo" fill="#fff" d="M325.5,49.15a3.76,3.76,0,0,1-2.35-4v-20h4.18l2-3.4h-6.24V13.17h-.9a22.84,22.84,0,0,1-9.49,11.19v.83h3.69v20a9.52,9.52,0,0,0,4.84,8.47l7.41-5.22-.78-1Z"/>
        <path class="smp_svglogo" fill="#fff" d="M345.47,49.15a7.23,7.23,0,0,1-7.64-6.8,6.28,6.28,0,0,1,0-1L343,37.8l4.48-3.23a7.41,7.41,0,0,0,2.1-5.24c0-9.31-10.14-10-10.14-10l-8.29,5.73V43.89c0,8.26,10.42,9.83,10.42,9.83l6.71-4.91-.78-1.14Zm-7.63-26.44c4.47,0,5.46,4.47,5.46,9A10.32,10.32,0,0,1,342.18,37l-4.34,2.93Z"/>
        <path class="smp_svglogo" fill="#fff" d="M234.83,36.05c0-3.42-6-4.81-7.32-5.17L233.71,20l-1.12-.67-1.9,3.29a8.26,8.26,0,0,1-4.7-3.29l-10.8,4.3v9.09c0,2.08,3,5.06,6.72,5.15l-9,15.2,1,.61,1.26-2.08a23.44,23.44,0,0,1,3.13-.25,11.3,11.3,0,0,1,6.72,2.24l9.45-6.72S234.83,38,234.83,36.05Zm-13.43-4.7v-8.2a12.5,12.5,0,0,0,7.27,3l-4.12,7.21C224,33.27,221.4,32.74,221.4,31.35Zm6.71,17.53a10.86,10.86,0,0,0-6.22-1.77,11.39,11.39,0,0,0-4.14.59l6.89-12c1.46,0,3.41,1.14,3.41,3Z"/>
        <path class="smp_svglogo" fill="#fff" d="M311.17,36.05c0-3.42-6-4.81-7.33-5.17L310.11,20l-1.07-.6-1.9,3.29a8.33,8.33,0,0,1-4.73-3.29l-10.79,4.3v9.09c0,2.08,3,5.06,6.72,5.15l-8.83,15.2,1,.61,1.25-2.09a24,24,0,0,1,3.16-.24,11.17,11.17,0,0,1,6.72,2.24L311.12,47Zm-13.44-4.7v-8.2a12.78,12.78,0,0,0,7.28,3l-4.12,7.21c-.45,0-3.07-.58-3.07-2Zm6.72,17.53a11,11,0,0,0-6.25-1.77,11.42,11.42,0,0,0-4.14.59l7-12c1.45,0,3.4,1.14,3.4,3Z"/>
    </symbol>
</svg>






