<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

		<polygon class="st0" points="77.2,1.49 77.2,16.85 39.61,16.85 39.61,94 23.3,94 23.3,16.85 0,16.85 0,1.49 "/>
		<path class="st0" d="M46.15,49.4c0-7.89,6.63-14.32,14.79-14.32H77.2v15.44H62.17V94H46.15V49.4z"/>
		<path class="st0" d="M128.39,35.08h-8.68l-1.88,2.66c0,0-3.44-2.66-8.06-2.66H95.85c-8.15,0-14.79,6.42-14.79,14.31v30.53 c0,1.97,0.65,4.98,1.83,6.5L77.84,94h8.21l1.64-2.42c0,0,3.96,2.42,8.15,2.42h13.93c8.15,0,14.79-6.32,14.79-14.08V49.39 c0-1.98-0.47-4.66-1.69-6.25L128.39,35.08z M97.09,50.53h11.42L97.09,68.58V50.53z M108.53,78.57h-10.7l10.7-16.15V78.57z"/>
		<path class="st0" d="M167.78,35.71c3.81,2.1,5.81,5.2,5.81,12.35V94h-16.03V52.59l-11.45,7.94V94h-16.03V35.08h16.03v7.93l5.53-4.68 C156.75,34,163.28,33.23,167.78,35.71z"/>
		<path class="st0" d="M206.65,1.49v33.59h-12.69c-8.15,0-14.79,6.37-14.79,14.21v30.52c0,7.82,6.63,14.19,14.79,14.19h13.93 c8.15,0,14.79-6.36,14.79-14.19V1.49H206.65z M206.66,78.57h-11.45V50.53h11.45V78.57z"/>
		<path class="st0" d="M263.42,72.15c4.42,0,8.41-3.13,8.41-7.9V49.4c0-7.89-6.64-14.32-14.79-14.32h-13.93 c-8.15,0-14.79,6.42-14.79,14.32v30.53c0,7.76,6.63,14.08,14.79,14.08h26.93V78.57h-25.69v-6.42H263.42z M244.35,56.93v-6.4h11.45 v6.4H244.35z"/>
		<path class="st0" d="M277.2,49.4c0-7.89,6.64-14.32,14.79-14.32h16.77v15.44h-15.53V94H277.2V49.4z"/>
		<rect x="304.81" y="62.64" class="st0" width="18.06" height="15.43"/>
		<path class="st0" d="M374.46,0.79c0,0-28.18,10.86-28.18,10.86c-8.76,3.79-11.1,9.67-11.1,18.07v5.36h-11.49v15.45h11.49V94h16.03 V50.53h19.31V94h16.03V8.42C386.55,0.92,380.26-1.41,374.46,0.79z M370.52,35.08h-19.31v-5.26c0-2.05,0.41-3.64,2.83-4.65 l16.48-6.36V35.08z"/>
		<path class="st0" d="M437.58,35.08v39.96c0,2.13-0.93,4.19-2.55,5.64l-15.13,13.07c-3.14,2.81-7.99,2.77-11.06-0.11l-14.28-12.89 c-1.54-1.44-2.42-3.46-2.42-5.53V35.08h16.03v36.89l6.39,5.98l6.99-6.28v-36.6H437.58z"/>
		<rect x="443.13" y="35.08" class="st0" width="16.03" height="58.92"/>
		<rect x="443.12" y="15.43" class="st0" width="16.04" height="15.43"/>
		<path class="st0" d="M464.14,58.69v-8.37c0-9.4,6.16-15.24,16.08-15.24h24.68v15.44h-24.67v6.4h12.04 c10.07,0,13.64,7.07,13.64,13.14v10.71c0,6.39-4.02,13.22-15.32,13.22h-24.73V78.57h23.98v-6.42h-11.96 C469.27,72.15,464.14,67.12,464.14,58.69z"/>
		<path class="st0" d="M539.4,35.08c9.61,0,14.9,5.39,14.9,15.16L554.31,94h-28.95c-11.03,0-14.94-7.43-14.94-13.8l0-10.49 c0-6.38,4.7-12.78,13.68-12.78h14.16v-6.4h-27.03V35.08H539.4z M525.96,72.15v6.42h12.25l0-6.42H525.96z"/>
    </symbol>
</svg>
