.ygg-footer {
	@if map-get($ygg-settings, ygg-footer-default) == true {
		background-color: ygg-color(black);
		color: ygg-color(gray-light);

		a {
			color: ygg-color(white);
		}
	}

	@else {
		background-color: ygg-color(white);
		color: ygg-color(gray);

		a {
			color: ygg-color(black);
		}
	}

	margin-top: u(3);
	padding: u(3) ygg-space(gutter) u(6);
	text-align: center;

	@include only(mobile) {
		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
	}

	// Stacking
	.footer-block {
		margin-top: u(3);

		@include only(desktop) {
			max-width: 32em;
			margin-right: auto;
			margin-left: auto;
		}
	}


	// Branding block
	// Just the logo actually
	.branding {
		max-height: 4rem;
		margin-right: auto;
		margin-left: auto;

		@include only(mobile) {
			max-width: 50%;
		}

		@include only(desktop) {
			max-width: 280px;
		}

		a {
			display: inline-block;
		}
	}

	// Logo
	.logo {
		height: u(3);
		max-width: 100%;
	}


	// Channels block
	.channels {
		.ygg-channels {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.channel {
			background-color: ygg-color(gray-light);
			position: relative; // For positioning the icons
			flex: 0 1 15%;
			max-width: 3em;
			margin-left: ygg-space(x-small); // Grid-like margins
			margin-bottom: ygg-space(x-small); // Grid-like margins

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			display: block;
			font-size: 0;
			padding-top: 100%;
		}

		// Define the icons
		.icon-facebook   { @include ygg-icon(facebook);   }
		.icon-twitter    { @include ygg-icon(twitter);    }
		.icon-instagram  { @include ygg-icon(instagram);  }
		.icon-youtube    { @include ygg-icon(youtube);    }
		.icon-linkedin   { @include ygg-icon(linkedin);   }
		.icon-googleplus { @include ygg-icon(googleplus); }
		.icon-rss        { @include ygg-icon(rss);        }
		.icon-email      { @include ygg-icon(email);      }

		[class^="icon-"] {
			width: 100%;
			height: 0;
			padding-top: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}


	// Action block
	// Magic button below logo that converts everyone to do whatever
	.action-link {
		@include ygg-button(default, success);
	}


	// Credits block
	// List of roles with names for each newspaper
	.credits {
		line-height: 1.5;

		.role {
			font-size: u(1);
			text-transform: uppercase;
		}

		.name {
			@if map-get($ygg-settings, ygg-footer-default) == true {
				color: ygg-color(white);
			}

			@else {
				color: ygg-color(black);
			}

			font-family: ygg-font(headline);
			font-weight: bold;

			& + .role {
				margin-top: ygg-space(y);
			}
		}
	}


	// Info block
	// List of contact information, e-mails, phone numbers etc.
	.info {
		line-height: 1.5;

		.title {
			font-size: u(1);
		}

		.description {
			@if map-get($ygg-settings, ygg-footer-default) == true {
				color: ygg-color(white);
			}

			@else {
				color: ygg-color(black);
			}

			font-weight: bold;

			& + .title {
				margin-top: u(1.5);
			}
		}
	}


	// Disclaimer block
	// Standardized text for legal purposes
	.disclaimer {
		font-size: u(7/8);
		line-height: 1.5;

		& > * {
			margin-top: ygg-space(y);
		}
	}

	// Insert symbol for "Redaktøransvar" before disclaimers
	.disclaimer-cookies:after {
		background-image: url("https://static.polarismedia.no/skins/prod/global/gfx/redaktoransvar.png");
		background-size: 140px 140px;
		display: block;
		width: 140px;
		height: 140px;
		margin-top: 20px;
		content: "";
		margin-left: auto;
		margin-right: auto;
	}

	// Nice links
	.credits a,
	.info a,
	.disclaimer a {
		@if map-get($ygg-settings, ygg-footer-default) == true {
			@include ygg-underline(ygg-color(black));
		}

		@else {
			@include ygg-underline(ygg-color(white));
		}
	}


	// News tip form block
	.tip-form {

		// Override default card styles
		.ygg-tip-form {
			@if map-get($ygg-settings, ygg-footer-default) == true {
				background-color: ygg-color(black);
				color: ygg-color(white);

				.headline {
					color: ygg-color(white);
				}

				.labelText {
					color: ygg-color(white);
				}
			}

			@else {
				background-color: ygg-color(white);
				color: ygg-color(black);

				.headline {
					color: ygg-color(black);
				}

				.labelText {
					color: ygg-color(black);
				}
			}

			box-shadow: none;
			padding: 0;
		}

		.headline {
			@include ygg-heading(medium);
			background-color: transparent;
		}

		.polarisForm input[type="text"],
		.polarisForm input[type="email"],
		.polarisForm input[type="number"],
		[name="tip-text"] {
			@if map-get($ygg-settings, ygg-footer-default) == true {
				background-color: ygg-color(black) !important;
				color: ygg-color(white);
			}

			@else {
				background-color: ygg-color(white) !important;
				color: ygg-color(black);
			}

			border: 2px solid ygg-color(gray);
			border-bottom-width: 2px;

			@include only(mobile) {
				text-align: center;
			}

			@include only(desktop) {
				text-align: left;
			}

			&:focus {
				border-color: ygg-color(primary);
			}
		}

		.polarisForm .formError:not(:empty),
		.polarisForm .response:not(:empty) {
			background-color: ygg-color(error);
			color: ygg-color(white);
		}
	}
}
