// TODO: Form is buggy. Widget needs some tender lovin' care.
.polarisForm {
	@include ygg-card(padding);

	// Form text
	.headline {
		@include ygg-card-header(default, nested);
	}

	.lead,
	.body {
		margin-top: ygg-space(stack);
	}

	.lead {
		font-weight: 700;
	}

	.body {
		h1, h2, h3, h4, h5, h6 {
			font-size: 120%;
			font-weight: 700;
			margin-top: 1.5em;
			margin-bottom: 1.5em !important;
		}

		a {
			color: ygg-color(primary);
			text-decoration: underline;
		}

		> * {
			margin-bottom: ygg-space(y);
		}
	}

	// Form fields
	.formTextWrapper + .formContainer {
		margin-top: u(2);
	}

	label {
		display: block;
		margin-top: ygg-space(y);
		text-indent: ygg-space(x);
	}

	.labelText {
		@include ygg-small-text;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="number"] {
		@include ygg-input(text);
	}

	textarea {
		@include ygg-input(textarea);
	}

	.submit {
		@include ygg-button(default, primary);
	}

	// Validation
	:not(.required) .labelText::after {
		content: " (valgfritt)";
	}

	.required .labelText::after {
		content: " ***";
		color: ygg-color(error);
	}

	.required.failure {
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="number"],
		textarea {
			border-bottom-color: ygg-color(error);
		}

		.validationStatus {
			@include ygg-small-text;
			color: ygg-color(error);

			&::before {
				content: "*** ";
			}
		}
	}

	.required.success {
		.validationStatus {
			display: none;
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="number"],
		textarea {
			border-bottom-color: ygg-color(success);
		}
	}

	.formError,
	.response {
		transition: ygg-transition(short);
	}

	.formError:not(:empty),
	.response:not(:empty) {
		@include ygg-alert(error);
		margin-top: ygg-space(stack);
	}

	.captcha {
		margin-top: ygg-space(stack);

		* + * {
			margin-top: u(1/2);
		}

		[id="recaptcha_image"] {
			max-width: 100% !important;
		}

		img {
			display: block;
			height: auto;
			max-width: 100%;
			text-indent: 0;
		}

		.recaptcha_options {
			@include ygg-small-text;

			&,
			* {
				text-indent: 0;
			}

			li {
				display: inline-block;
			}

			li + li {
				margin-left: ygg-space(x);
			}
		}

		a {
			color: ygg-color(white);
			text-decoration: underline;
		}

		.validationStatus {
			display: block;
			margin-top: ygg-space(stack);
			margin-bottom: ygg-space(stack);
		}
	}

	.submit {
		margin-top: ygg-space(stack);
	}
}
