/*
** When a reader hits the wall
** https://url/to/article.ece?auth=denied
*/


.salesposter {

    [class="hidden"] {
        display: none !important;
    }

    // SPiD widget
    .polarisSpid {
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        line-height: 1.25;
        font-family: ygg-font(system);
        font-size: 16px;
        margin-top: ygg-space(stack);
        margin-bottom: ygg-space(stack);
        padding-top: ygg-space(stack);
        padding-bottom: ygg-space(stack);
        position: relative;

        // The fade
        &::before {
            content: "";
            background-image: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, ygg-color(background) 75%);
            display: block;
            margin-top: -200px;
            margin-right: -50vw;
            margin-left: -50vw;
            height: 200px;
            width: 100vw;
            position: absolute;
            top: -1px;
            right: 50%;
            left: 50%;
        }

        .text {
            display: block;
            font-size: 16px;
        }

        .login,
        .logout {
            margin-top: ygg-space(stack);
        }

        .login-link:not([href*="opprettbruker?"]),
        .logout-link {
            @include ygg-button;
            color: #fff !important;
        }

        a:not([id*="spidBtn"]) {
            text-decoration: underline;
            color: ygg-color(primary);
        }
    }

    .x480 .polarisSpid {
        text-align: center;
    }

    // User is logged out
    [id="spidBtn-notLoggedState"] {
        .heading {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 0.1em;
        }

        .register {
            color: ygg-color(gray-dark);
            display: block;
            margin-top: ygg-space(stack);
            display: none;
        }
    }

    .x980 [id="spidBtn-notLoggedState"] {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .login {
            align-self: center;
            text-align: right;
            margin-top: 0;
            margin-left: ygg-space(x);
        }

        .login-link {
            white-space: nowrap;
        }
    }

    // User is logged in but has no paid access
    [id="spidBtn-loggedState-noAccess"] {
        .user {
            display: block;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 1em;
        }

        .why {
            margin-top: 1em;

            span {
                display: block;
            }
        }

        .links {

            li:first-child {
                display: none; // "Sjekk min Schibsted-konto"
            }
        }

        .schibsted-info {
            margin-top: ygg-space(y);
            display: none;

            .headline {
                display: block;
                font-size: 18px;
                font-weight: 700;
            }

            span {
                display: block;
            }
        }

        .login {
            display: none;
        }

        .login-link {
            display: block;
            margin-top: 1em;
        }
    }
    .x480 [id="spidBtn-loggedState-noAccess"] {
        display: flex;
        flex-flow: column nowrap;

        .name {
            display: block;
        }

        .info {
            order: 1;
        }

        .logout {
            order: 2;
        }

        .why {
            font-size: 90%;
            order: 3;
        }
    }

    .x980 [id="spidBtn-loggedState-noAccess"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: ygg-space(y-small) (ygg-space(x) * 2);
        position: relative;

        .info {
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            text-align: center;

            .name {
                display: block;
            }
        }

        .why {
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
            margin-top: 0;
            place-self: center;
            text-align: center;
        }

        .links {
            margin-top: 1em;
        }

        .logout {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 1px;
            background-color: #c0c0c0;
        }
    }

    // User needs to log in again + accept user terms
    [id="spidBtn-notLoggedState-noConnection"] {
        .headline {
            display: block;
            font-size: 18px;
            font-weight: 700;
        }
    }

    // Remove default top margin on Dakapo widget
    .x980 .js-require-widget[data-position="paywall"] {
        margin-top: 0;
    }
}
