<svg style="display:none;">
    <symbol id="ygg-logo">
        <style type="text/css">
            .st0 { fill: #ffffff; }
        </style>

        <path class="st0" d="M361.26,22.1V3.51L341.5,5.2l-4.03,16.9h-8.84v18.07h7.54v37.18c0,15.6,8.19,25.61,25.61,25.61 c6.24,0,12.22-1.04,15.08-2.47l-1.3-17.42c-1.43,0.52-4.16,0.91-6.11,0.91c-5.72,0-8.19-2.21-8.19-7.28V40.17h16.51V22.1H361.26z"/>
        <path class="st0" d="M62.79,50.31v-0.26c7.8-3.51,12.74-10.01,12.74-20.54c0-15.34-11.18-25.35-33.67-25.35H0v97.5h41.73 c26,0,37.05-11.05,37.05-28.73C78.78,61.23,73.32,53.56,62.79,50.31z M26.13,26.13h14.69c6.37,0,8.71,1.95,8.71,8.06 c0,6.24-2.21,8.58-8.45,8.58H26.13V26.13z M42.12,80.21H26.13V61.88h15.6c7.41,0,9.88,2.6,9.88,9.1 C51.61,78.26,49.01,80.21,42.12,80.21z"/>
        <path class="st0" d="M300.56,103.09c10.4,0,20.15-1.95,26.78-4.81l-2.73-19.24c-6.76,2.21-13.78,3.25-20.93,3.25 c-11.7,0-17.42-3.64-18.46-13.26h43.55c0.39-3.25,0.65-7.54,0.65-11.18c0-25.09-12.61-37.05-33.8-37.05 c-24.96,0-36.4,15.21-36.4,40.56C259.22,88.27,272.22,103.09,300.56,103.09z M295.75,40.69c6.89,0,10.53,3.51,10.79,12.61H284.7 C285.48,43.68,288.21,40.69,295.75,40.69z"/>
        <polygon class="st0" points="82.42,101.66 107.77,101.66 107.77,0 82.42,1.17 "/>
        <path class="st0" d="M145.73,20.8c-10.66,0-20.15,1.69-28.34,5.2l1.95,18.98c7.54-2.73,12.74-4.03,21.71-4.03 c9.75,0,13.13,3.25,13.13,9.1v2.86c-3.77-1.04-8.06-1.69-13.39-1.69c-17.81,0-28.34,10.53-28.34,25.09 c0,17.81,9.36,26.65,24.83,26.65c8.45,0,15.47-2.86,20.67-7.8l1.82,6.5h19.24v-48.1C179.01,31.59,170.82,20.8,145.73,20.8z M154.18,76.83c0,4.29-4.68,7.28-10.01,7.28c-5.07,0-8.32-2.34-8.32-8.06c0-5.72,3.12-8.45,9.75-8.45c3.9,0,6.76,0.65,8.58,1.17 V76.83z"/>
        <path class="st0" d="M235.95,101.66h19.5V0l-24.96,1.17v14.95l0.26,10.4l-0.26,0.26c-4.94-4.03-11.05-6.11-17.68-6.11 c-19.5,0-29.9,14.95-29.9,40.82c0,28.34,10.53,41.73,30.42,41.73c8.97,0,15.34-2.86,20.41-7.8L235.95,101.66z M230.49,78.52 c-1.56,2.73-4.94,5.2-10.01,5.2c-9.23,0-11.7-4.42-11.7-21.32c0-15.73,3.12-20.28,11.57-20.28c4.55,0,8.19,1.95,10.14,4.42V78.52z"/>
    </symbol>
</svg>
