<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="1761.000000pt" height="380.000000pt" viewBox="0 0 1761.000000 380.000000"
 preserveAspectRatio="xMidYMid meet">
 <symbol id="ygg-logo"></symbol>
<g transform="translate(0.000000,380.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M7745 3508 c-241 -10 -471 -49 -702 -120 l-103 -31 0 -344 0 -343
214 0 214 0 28 48 c41 70 134 156 206 190 171 82 369 64 466 -42 59 -64 77
-121 77 -246 0 -99 -2 -110 -32 -171 -61 -124 -179 -231 -498 -455 -414 -290
-584 -462 -700 -707 -78 -165 -87 -216 -92 -509 l-5 -258 1056 0 1056 0 0 420
0 420 -250 0 -250 0 -5 -22 c-3 -13 -16 -75 -28 -138 l-23 -115 -423 -3 -422
-2 7 22 c26 87 143 213 294 320 52 37 178 115 280 174 451 262 635 410 750
604 108 181 146 418 105 655 -38 216 -160 398 -339 504 -198 118 -483 166
-881 149z"/>
<path d="M10172 3368 c-43 -57 -325 -426 -625 -820 l-547 -718 0 -290 0 -290
610 0 610 0 0 -87 c0 -105 -22 -162 -72 -193 -27 -16 -50 -20 -130 -20 l-98 0
0 -215 0 -215 690 0 690 0 0 215 0 215 -92 0 c-76 0 -99 4 -126 20 -50 31 -72
88 -72 193 l0 87 145 0 145 0 0 240 0 240 -145 0 -145 0 0 870 0 870 -379 0
-380 0 -79 -102z m58 -1143 l0 -495 -370 0 c-203 0 -370 3 -370 6 0 6 733 984
738 984 1 0 2 -223 2 -495z"/>
<path d="M14070 2778 c-229 -15 -453 -106 -635 -257 -63 -52 -74 -52 -75 4 0
42 -25 129 -47 168 -32 54 -46 56 -515 56 l-428 1 0 -235 0 -235 84 0 c70 0
88 -3 111 -22 55 -43 55 -40 55 -644 0 -499 -2 -560 -17 -591 -25 -54 -65 -73
-150 -73 l-73 0 0 -215 0 -215 605 0 605 0 0 215 0 215 -110 0 -110 0 0 600 0
599 38 10 c132 33 200 42 313 42 151 0 215 -28 253 -110 20 -45 21 -60 24
-593 l3 -548 -110 0 -111 0 0 -215 0 -215 585 0 585 0 0 215 0 215 -59 0 c-44
0 -65 5 -85 21 -58 46 -56 22 -56 721 0 515 -3 656 -14 710 -60 280 -275 402
-666 376z"/>
<path d="M16035 2778 c-364 -21 -710 -205 -894 -476 -251 -371 -269 -905 -42
-1297 64 -111 235 -282 349 -349 230 -134 442 -182 760 -173 155 4 204 10 288
31 435 109 714 375 821 785 31 118 43 379 24 511 -57 388 -260 675 -596 841
-212 105 -428 143 -710 127z m238 -515 c50 -15 122 -65 163 -111 76 -86 131
-254 142 -432 24 -379 -72 -648 -265 -738 -52 -24 -70 -27 -163 -27 -95 0
-110 3 -163 28 -114 57 -196 170 -238 334 -42 164 -42 431 1 596 74 286 283
426 523 350z"/>
<path d="M11745 1213 c-117 -42 -200 -129 -236 -246 -56 -180 27 -365 199
-445 51 -24 69 -27 167 -27 102 0 115 2 175 31 80 38 145 101 179 174 23 48
26 68 26 160 0 96 -2 110 -29 163 -37 71 -109 140 -184 175 -76 35 -220 42
-297 15z"/>
</g>
</symbol>
</svg>

<a href="http://www.mn24.no/">
    <svg class="logo" viewBox="0 0 170.2 44" preserveAspectRatio="xMinYMid">
        <use xlink:href="#ygg-logo" x="0" y="0" />
    </svg>
</a>