@font-face {
    font-family: "Coranto 2";
    src: url("../fonts/coranto-2-regular.woff2") format("woff2"),
    url("../fonts/coranto-2-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Coranto 2";
    src: url("../fonts/coranto-2-italic.woff2") format("woff2"),
    url("../fonts/coranto-2-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Coranto 2";
    src: url("../fonts/coranto-2-bold.woff2") format("woff2"),
    url("../fonts/coranto-2-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Coranto 2";
    src: url("../fonts/coranto-2-bold-italic.woff2") format("woff2"),
    url("../fonts/coranto-2-bold-italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
