// Poll - extends "cards"

.poll {
	@include ygg-card(padding);

	[id="poll_options"] {
		text-align: center;
		padding-bottom: ygg-space(y);
	}

	// Question

	.smallHeader {
		@include ygg-heading(medium);
		color: ygg-color(gray);
		font-style: italic;
		line-height: 1.5;
		padding: ygg-space(y) ygg-space(x);

		&::before { content: open-quote;  }
		&::after  { content: close-quote; }
	}


	// Answers

	label {
		@include ygg-input(radio-buttonify);
		display: flex;
		padding: 0;
		transform: scale(0.9);
		transition: transform 260ms;
		transition-timing-function: $bounce;
		text-align: left;

		&:first-of-type {
			margin-top: ygg-space(y);
		}

		&:last-of-type {
			margin-bottom: ygg-space(y);
		}

		&.selected {
			background-color: ygg-color(primary);
			border-color: ygg-color(primary);
			color: ygg-color(white);
			transform: scale(1);
		}
	}

	label + label {
		margin-top: ygg-space(y-small);
	}


	.submit {
		@include ygg-button();
	}

	.results {
		@include ygg-button(outline);
	}

	.selected .score {
		background: ygg-color(primary);
	}

	.labelText {
		align-self: center;
		display: block;
		padding: ygg-space(y) ygg-space(x);
	}

	input[type=submit] + input[type=submit] {
		margin-left: u(1/2);
	}

	// Result

	li {
		position: relative;

		&:first-of-type {
			margin-top: ygg-space(y);
		}

		& + li {
			margin-top: ygg-space(y-small);
		}
	}

	.optionValue {
		display: inline-block;
		padding-right: u(2);
		@include ygg-lead(medium);
	}

	.percentage {
		position: absolute;
		right: 0;
		text-align: right;
		bottom: u(1);
		@include ygg-small-text;
	}

	.bar {
		background-color: transparentize(black, 0.95);
		height: u(5/8);
		margin-top: u(1/4);
	}

	.score {
		background: ygg-color(primary);
		height: u(5/8);

		// Todo: fix scoping for review/dice/score
		margin-left: 0 !important;
		transform: none !important;
	}

	.totalVotes {
		@include ygg-small-text(both);
	}

	// Has images

	.hasImages {

		label {
			min-height: ygg-image-width(small);
		}

		.bar {
			margin-left: ygg-image-width(small) + ygg-space(x-small);
		}

		li {
			min-height: ygg-image-width(small);
		}

		.optionValue {
			display: block;
			padding: u(1/4) u(2) u(1/4) 0;
		}

		// Just for better alignment
		.percentage {
			margin-top: -(u(1));
			top: u(1.5);
		}
	}


	// Image
	.media {
		width: ygg-image-width(small) !important;
		height: ygg-image-width(small) !important;
		display: block;
		flex-basis: auto !important;
	}


	// Helpers
	.processing {
		@include ygg-small-text;
		margin-bottom: ygg-space(y);
		text-align: center;
	}

	.js-error {
		@include ygg-small-text(both);
		display: none;
		font-weight: bold;
		color: ygg-color(error);
	}

}
