// Start the madness
.section_search {

	// Search box
	form.gsc-search-box,
	table.gsc-search-box {
		margin-bottom: 0;
	}

	.gsc-input-box {
		border: none;
		height: auto;

		tr {
			display: block;
			width: 100%;
		}

		td {
			padding: 0;
		}

		.gsib_a {
			width: 100%;
			display: block;
		}

		.gsib_b {
			display: none;
		}
	}

	.gsc-search-box-tools .gsc-search-box {
		tr {
			display: block;
			width: 100%;
		}

		.gsc-input {
			padding-right: 0;
			display: block;
			width: 100%;
		}

		[id="gsc-i-id1"]::-webkit-input-placeholder {
			@include only(mobile) {
				font-size: u(1) !important;
			}

			@include only(desktop) {
				font-size: u(1.25) !important;
			}
		}

		input.gsc-input {
			background-color: #f2f5f5 !important;
			background-image: none !important;
			border-bottom: 2px solid #7c7e80 !important;
			color: #08151c !important;
			text-indent: 0 !important;
			transition: all 180ms cubic-bezier(0.7, 0, 0.3, 1) !important;
			width: 100% !important;

			@include only(mobile) {
				padding: 0.5rem 0.75rem !important;
			}

			@include only(desktop) {
				padding: 1rem !important;
				font-size: u(1.25);
			}

			&:focus {
				background-color: #fff !important;
				border-color: ygg-color(primary) !important;
				outline: 0 !important;
			}
		}
	}

	.gsc-search-button,
	.gsc-clear-button {
		display: none;
	}


	// Search results
	.gsc-control-cse {
		@include ygg-card;
	}

	.gcsc-branding + .gsc-result,
	.gsc-expansionArea > * {
		border-top: 1px solid ygg-color(gray-light) !important;
		padding-top: ygg-space(stack) !important;
		margin-top: ygg-space(stack) !important;
	}

	.gsc-result {
		border-right: none !important;
		border-bottom: none !important;
		border-left: none !important;
	}

	.gsc-table-result {
		margin-top: ygg-space(y);
	}

	.gsc-webResult.gsc-result {
		background-color: transparent !important;
		padding-bottom: 0 !important;
	}

	.gsc-thumbnail-inside,
	.gsc-url-top {
		padding-right: 0;
		padding-left: 0;
	}

	.gsc-control-cse .gsc-table-result {
		font-family: ygg-font(system);
	}

	.gs-webResult div.gs-visibleUrl {
		color: ygg-color(gray);
		margin-top: u(1/4);
		padding-bottom: 0;
	}

	.gs-title {
		@include ygg-heading(big);
		height: auto !important;

		* {
			color: ygg-color(black) !important;
			font-size: u(1.25) !important;
		}
	}

	.gs-snippet {
		@include ygg-lead(big);
		margin-top: 0;
	}

	.gsc-cursor {
		display: block !important;
		text-align: center;

		.gsc-cursor-page {
			color: ygg-color(gray) !important;
		}

		.gsc-cursor-current-page {
			color: ygg-color(black) !important;
		}
	}
}
