// Fonts
@import "setup/fonts";
@if variable-exists(pub-fonts)    { $ygg-fonts:    map-deep-merge($ygg-fonts, $pub-fonts); }

// Colors, settings & headings
@if variable-exists(pub-colors)   { $ygg-colors:   map-deep-merge($ygg-colors, $pub-colors); }
@if variable-exists(pub-settings) { $ygg-settings: map-deep-merge($ygg-settings, $pub-settings); }
@if variable-exists(pub-headings) { $ygg-headings: map-deep-merge($ygg-headings, $pub-headings); }
@if variable-exists(pub-leads)    { $ygg-leads: map-deep-merge($ygg-leads, $pub-leads); }

// Teaser styles
@import "setup/variables/teaser-styles";
@import "setup/mixins/teaser-styles";
@if variable-exists(pub-teasers)  { $ygg-teasers:  map-deep-merge($ygg-teasers, $pub-teasers); }
