.media.compare {
	z-index: 100;
	overflow: visible;
}

.compare-images {
	font-size: 0;
	position: relative;
	height: 100%;
	touch-action: none;
	-webkit-touch-callout: none;
	user-select: none;

	&:hover {
		cursor: col-resize;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}

	.after-image,
	.before-image {
		z-index: 0;
		height: 100%;
	}

	.after-image {
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;

		&:before {
			background-color: #fff;
			content: "";
			height: 100%;
			left: 100%;
			transform: translateX(-50%);
			top: 0;
			position: absolute;
			width: 4px;
		}

		&:after {
			background-color: #fff;
			content: "";
			position: absolute;
			top: 50%;
			left: 100%;
			width: u(1/2);
			height: u(4);
			transform: translate(-50%, -50%);
		}

		img {
			display: none !important;
		}
	}
}
