.media {
	position: relative;
}

.media:not(.video) {
	img {
		display: block;
		max-width: 100%;
	}

	.ratio {
		height: 0;
		overflow: hidden;
		position: relative;
		background-color: ygg-color(gray-light);

		img {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
		}

		&[style*="padding-top:0%"] {
			padding-top: percentage(9/16) !important;
		}
	}


	// Video indicator
	.hasVideo &::before,
	.hasVideo &::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.hasVideo &::before {
		@include ygg-icon(caret-neg, 24px);
		transform: translate(-50%, -50%) rotate(-90deg);
		z-index: 20;
	}


	// Youtube
	// Responsive video
	&.youtube,
	&.video {
		.ratio {
			position: relative;
			padding-top: percentage(9/16);
			width: 100% !important;
			height: 0 !important;
		}

		iframe {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			width: 100%;
			height: 100%;
		}
	}


	// HTML
	// Make sure fullwidth (video iframe embed from Vimeo etc.)
	&.html iframe {
		min-width: 100%;
	}


	// Slideshow indicator
	.slideshow-count {
		position: absolute;
		background-color: ygg-color(white);
		@include ygg-small-text;
		padding: u(1/4);
		bottom: 0;
		right: 0;
		z-index: 1;

		&::before {
			content: "";
			margin-right: u(1/4);

			@include only(mobile) {
				@include ygg-icon(gallery, u(1/2));
			}

			@include only(desktop) {
				@include ygg-icon(gallery, u(1));
			}
		}
	}
}


// Control image zoom container
@include only(desktop, root) {
	[id="imageZoomContainer"] {
		position: absolute;

		.zoomImage img {
			box-shadow: 0 0 u(1) rgba(0, 0, 0, 0.35);
		}

		.closeZoomImage {
			background-color: ygg-color(white);
			cursor: pointer;
			padding: u(3/4);
			position: absolute;

			&::before {
				content: "";
				@include ygg-icon(close, u(2));
			}
		}
	}
}
