// Quiz - Only desktop
@include only(desktop) {
    .polarisQuiz {
        position: relative;
        width: 980px;
        margin-bottom: u(3);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        background: ygg-color(white);
        
        input[type=text] {
            width: 100%;
            background: ygg-color(gray-light);
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid ygg-color(gray);
        }
        .labelText {
            font-weight: bold;
            margin-bottom: 0.5rem;
            display: block;
        }
        .validationStatus {
            background: ygg-color(error);
            padding: 0.75rem 1rem;
            margin-top: 0.2rem;
            margin-bottom: 1rem;
            display: block;
            color: ygg-color(white);
        }

        .button {
            font-size: 14px;
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;
            text-align: center;
            z-index: 100;
            position: relative;
            padding: 12px 24px;
            background: ygg-color(primary);
            color: #fff;
            border-bottom: 2px solid rgba(ygg-color(black), 0.2);
            margin-top: 8px;
            display: block;
            &:hover {
                background: rgba(ygg-color(black), 0.8);
            }
        }

        .frame {
            overflow: hidden;
            border-radius: 2px;

            .background {
                background: #f1f1f1;
                width: 500px;
                height: 480px;
                float: left;
            }
        }

        .media {
            width: 480px;
            height: 480px;
            float: left;
        }

        .stage {
            position: absolute;
            top: 0;
        }

        .scrollable {
            position: relative;
            overflow: hidden;
            width: 980px;
            height: 480px;
            border-radius: 2px;
        }

        .items {
            position: absolute;
            height: 20000em;
        }

        .item {
            display: table;
            height: 480px;
            padding-left: 480px;

            .media {
                position: absolute;
                left: 0;
            }
        }

        .cell {
            display: table-cell;
            vertical-align: middle;
            width: 500px;
            height: 480px;
        }

        .counter {
            display: block;
            margin-bottom: u(2);
            font-weight: bold;
            color: coco-color(text-gray);
        }

        .content {
            margin: 0 auto;
            width: 280px;
        }

        .answerContainer {
            width: 280px;
            height: 320px;
            padding: 80px 110px;
            overflow: auto;
            box-sizing: content-box;
        }

        .correctAnswers {

            li {
                padding-bottom: 12px;
                border-bottom: 2px dotted #ccc;
                margin-bottom: 8px;

                &:last-child {
                    padding: 0;
                    border: 0 none;
                    margin-bottom: u(1);
                }

            }

            .smallHeader {
                font-size: 18px;
                margin-bottom: 6px;
            }

            p {
                font-size: 14px;
            }

            .correct {
                color: green;
            }

            .wrong {
                color: red;
                text-decoration: line-through;
            }

            span {
                font-weight: bold;
            }

        }

        .kicker {
            color: #999;
        }

        .title {
            font-size: 52px;
            line-height: 1.075;
            margin-bottom: u(1);
        }

        .question .smallHeader,
        .feedback .smallHeader {
            font-size: u(1);
            line-height: 1.25;
            padding-bottom: u(1/2);
            border-bottom: 2px dotted #ccc;
            margin-bottom: 12px;
        }

        .question .button {
            display: block;
            margin-bottom: 6px;
            transition: all 200ms;

        
        }

        .registration .smallHeader {
            font-size: 18px;
            margin-bottom: u(1/2);

            label span {
                display: block;
                text-transform: uppercase;
                font-weight: bold;
            }

            .text {
                margin-bottom: u(1/2);
            }
        }

        #recaptcha_image {
            margin: u(1) 0;
        }

        .recaptcha_options {
            font-size: 0;

            li {
                display: inline-block;
                font-size: u(7/8);
                margin: u(1/2) u(1/2) 0 0;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    padding: u(1/4);
                    background-color: rgba(255, 255, 255, 0.65);
                    display: block;
                }
            }
        }



        .captcha {
            &,
            & * {
                max-width: 100%;
                text-align: left;
            }

            #recaptcha_image {
                margin: u(1/2) 0;
            }
        }

    }
} 


// OLD SKOOL SHIT. ØRJAN OG JONAS. HELT BAJS.
@include only(mobile) {
  
    .polarisQuiz {
        position: relative;
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        &::after {
            content: "";
            display: block;
            clear: both !important;
        }
        .answerContainer {
            padding: 15px;
        }
        .no-image .media.image {
            display: none !important;
        }
        .no-image .questionMeta {
            width: 100% !important;
        }
        // Scrollable responsive fix
        .scrollable {
            position: relative;
            width: 100%;
            max-width: 640px;

            .item img {
                width: 100%;
                height: auto;
            }
        }

        .frame {
            height: 0;
            .media img {
                width: 100%;
            }
        }

        .stage .items {
            width: 200000em;
            position: absolute;
            clear: both;

            .item {
                background-color: ygg-color(gray-light);
                display: block;
                float: left;
                /* padding: u(1); */
                max-width: 640px !important;
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }

        // Headers
        .questionHeader {
            background-color: ygg-color(black);
            padding: 1rem 1.5rem;
            &::after {
                content: "";
                display: table;
                clear: both;
            }
            .image {
                padding-right: 10px;
                padding-left: 10px;
            }
            .questionMeta {
                color: ygg-color(gray-light);

                .counter {
                    color: ygg-color(gray-light);
                    font-size: u(1/2);
                    text-transform: uppercase;
                }

                .smallHeader {
                    font-size: u(1.1);
                    padding-right: 30px;
                    line-height: 1.2em;
                    margin-top: 0.2rem;

                    span {
                        color: ygg-color(primary);
                        display: block;
                        font-size: 0.6em;
                    }
                }
            }
        }

        // General content
        .content {
            padding: u(1);
            text-align: center;
        }
        .question .content {
            position: relative;
            background: #fff !important;
        }

        // Buttons
        .button {
            font-size: 0.875rem;
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;
            text-align: center;
            z-index: 100;
            margin-bottom: 1rem;
            position: relative;
            padding: 0.75rem 1.5rem;
            background: #fff;
            box-shadow: 0 0 2px 0 #e2e2e2;
            border-bottom: 2px solid #e2e2e2;
            line-height: 1.25;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            min-width: 45%;
            text-transform: none;
                &:hover {
                    background: ygg-color(primary);
                    color: ygg-color(white);
                }

            &.fb-share-button {
                display: inline-block;
                background-color: #3b5998;
                background-image: none;
                color: #fff;
            }
        }

        // Splash screen
        .splash {
            background-color: transparent !important;
            position: relative;
            text-align: center;
            .content {
                background: transparent !important;
            }
            .media {
                height: 0;
                overflow: visible;
                padding-top: 100%; // For square image, change when switching to default 16:9


                &:before {
                    content: "";
                    background-color: rgba(0, 0, 0, 0.65);
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }

            .cell {
                position: absolute;
                top: 0;
                text-align: center;
                padding-bottom: 0 !important;
                width: 100%;
                
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .kicker,
                .lead {
                    color: ygg-color(gray-light);
                }
                .splash.lead {
                    color: ygg-color(white);
                }

                .lead {
                    line-height: 1.5;
                    margin-bottom: u(10/8);
                }

                .title {
                    border-top: 1px solid ygg-color(gray-light);
                    border-bottom: 1px solid ygg-color(gray-light);
                    color: #fff;
                    font-family: Georgia, serif;
                    font-style: italic;
                    font-size: u(2);
                    line-height: (28/24);
                    margin: u(10/8) 0;
                    padding: u(10/8) 0;
                    
                }
            }

            .start {
                background-image: none;
                background-color: ygg-color(primary);
                /* color: ygg-color(gray); */
                font-size: u(10/8);
                margin-top: u(1.5);
                text-transform: uppercase;
                box-shadow: none;
            }
        }
      
        // Questions
        .question,
        .feedback,
        .registration,
        .challengeFriendQuiz {

            .questionHeader {

                .media {
                    float: left;
                    width: percentage(1/3);

                    img {
                        border-radius: 50%;
                        border: 2px solid ygg-color(gray-light);
                    }
                }

                .questionMeta {
                    float: right;
                    
                    width: percentage(2/3);
                }
            }

            .cell {
                background-color: #fff;
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }

        // Results
        .feedback,
        .registration,
        .challengeFriendQuiz {

            .questionHeader {
                background-color: ygg-color(gray-light);

                .smallHeader {
                    color: ygg-color(black);
                }
                h5.smallHeader {
                    font-weight: bold;
                }

                .media {
                    width: percentage(1/4);
                }

                .questionMeta {
                    width: percentage(3/4);
                }
            }

            .content {
                padding-top: u(1) * 3;

                .smallHeader {
                    margin: u(1) 0;
                }
            }
        }

        // Submit your result
        .registration,
        .challengeFriendQuiz {

            .content {
                text-align: left;
            }
        }

        // Show correct and wrong answers
        
        .correctAnswers {

            li {
                padding-bottom: 12px;
                border-bottom: 2px dotted #ccc;
                margin-bottom: 8px;

                &:last-child {
                    padding: 0;
                    border: 0 none;
                    margin-bottom: u(1);
                }

            }

            .smallHeader {
                font-size: 18px;
                margin-bottom: 6px;
            }

            p {
                font-size: 14px;
            }

            .correct {
                color: green;
            }

            .wrong {
                color: red;
                text-decoration: line-through;
            }

            span {
                font-weight: bold;
            }
        }

        // Challenge a friend
        .challengeFriendQuiz {
            label {
                display: block;

                & + label {
                    margin-top: u(1);
                }
            }

            .labelText {
                display: block;
                font-weight: 700;
                margin-bottom: u(1/2);
            }

            .text {
                background-color: ygg-color(gray-light);
                border-radius: 2px;
                border: 1px solid ygg-color(gray-light);
                font-size: inherit;
                padding: u(1/2) u(6/8);
                width: calc(100% - #{u(6/8)*2});
            }

            .validationStatus {
                &[class*="error"] {
                    color: red;
                    font-size: u(6/8);
                }
            }

            .submit {
                margin-top: u(1);
            }
        }
    }

    // Captcha in quiz-form (challenge a friend)
    .polarisQuiz .captcha {
        margin-top: u(1.5);

        label {
            font-weight: 700;
        }

        input[type="text"] {
            background-color: ygg-color(gray-light);
            border-radius: 2px;
            border: 1px solid ygg-color(gray-light);
            font-size: inherit;
            padding: u(1/2) u(6/8);
        }

        &,
        & * {
            max-width: 100%;
            text-align: left;
        }

        * + * {
            margin-top: u(1/2);
        }

        .recaptcha_input {
            margin-top: u(1.5);
        }

        .recaptcha_options {
            font-size: 0;

            li {
                display: inline-block;
                font-size: u(6/8);

                & + li {
                    margin-left: u(1.5);
                }
            }
        }
    }
}