.ygg-base-article {
    .shortnews {
        max-width: 750px;
        margin: 0 auto;
        margin-top: 2rem;
    
        h2.deeplink-header {
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 2rem;
            display: block;
            font-weight: bold;
    
            span {
                position: relative;
                padding: 10px 0 5px!important;
    
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background: ygg-color(primary);
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 4px;
                }
            } 
        }
        
        .polarisMarketing {
            margin-top: 2rem;
            margin-bottom: 4rem;
            text-align: center;
        }
    
        article.live-post {
            position: relative;
            display: flex;
            padding-bottom: 2rem;
            margin-bottom: 0.5rem;
    
            
    
            .article.news {
                display: flex;
                flex-flow: row nowrap;
                border: 1px solid #e2e2e2;
                border-bottom: 3px solid #e2e2e2;
                background-color: ygg-color(white);
                position: relative;
                max-width: 600px;
    
                h3.headline {
                    font-size: 1.34em;
                }
    
                .media {
                    overflow: hidden;
                    position: static;
                    flex: 0 0 160px;
    
                    a {
                        color: coco-color(primary);
                        text-decoration: underline;
                    }
                    img {
                        object-fit: cover !important;
                        object-position: 50% 50% !important;
                        width: auto !important;
                        height: auto !important;
                        margin: 0 !important;
                        max-height: 1000px !important;
                        max-width: 100% !important;
                        min-height: 100%;
                    }
                }
    
                .inner {
                    flex: 0 0 calc(100% - 160px);
                }
    
                .text {
                    padding: 1rem;
                    .headline {
    
                     a {
                        color: #1a1a1a;
                        }
                    
                    
                    }
                    .lead {
                        margin-bottom: 0;
                        display: none;
                    }
                }
                
            }
            
    
            &.luckyfirst {
                .live-post-header {
                    padding-right: 0;
                    time {
                        span.time {
                            left: 20px;
                            top: -21px;
                        }
                        span.date-remark {
                            top: -19px;
                            left: 65px;
                            &::before {
                                content: " – ";
                            }
                        }
                    }
                    &::after {
                        left: 0 !important;
                        top: -20px !important;
                    }    
                }
                padding-bottom: 0;
                margin-bottom: 3rem;
                .live-content {
                    border-radius: 2px;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                }
                &::before {
                    content: "" !important;
                    display: none !important;
                }
                
                
            }
    
            .modified {
                display: none;
            }
    
            .shortnews-main-image {
                margin-bottom: 1rem;
            }
            &:nth-last-child(1) {
                padding-bottom: 0;
            }
            &::before {
                content: "";
                display: block;
                width: 1px;
                position: absolute;
                top: 20px;
                left: 50px;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.1);
                transition: top 0.3s 0;
            }
            
            .live-post-header {
                padding-right: 5em;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: auto;
                    left: 45px;
                    background-color: ygg-color(primary);
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    z-index: 1;
                }
                .dateline {
                    &::before {
                        display: none !important;
                    }
                }
                
                time {
                    position: relative;
                    span {
                        position: absolute;
                    }
                    .label {
                        display: none;
                    }
                    .date-remark {
                        color: rgba(0, 0, 0, 0.4);
                        font-weight: normal;
                        font-size: 0.8em;
                        top: 20px;
                        white-space: nowrap;
                    }
                }
            }
            
            .live-content {
                background: #fff;
                padding: 2.5rem;
                width: 100%;
                a {
                    color: ygg-color(primary);
                    text-decoration: underline;
                }
            }
            &.live-post-post { 
                .live-content h1 {
                font-weight: 700;
                color: ygg-color(black);
                font-size: 1.8em;
                margin-bottom: 1rem;
                }
    
                .live-content p {
                font-size: 1em;
                line-height: 1.4rem;
                margin: 1.111111111111111em 0;
                &.caption {
                    margin-top: 0;
                    background: ygg-color(background);
                    padding: 0.8rem;
                    color: #777;
                    font-size: 13px;
                    line-height: 1.5;
                }
                }
                .live-author .live-fullname {
                display: inline-block;
                line-height: 1.0625em;
                font-weight: 400;
                color: #777;   
                }
                .live-author .live-fullname>div:before, .live-author .profile .name:before {
                display: inline;
                content: "Av: ";
                color: #777;
                }
            }
            &.luckyfirst {
                h1.title {
                    font-size: 2.4em;
                }
                
                padding-bottom: 0;
                margin-bottom: 3rem;
            }
            .live-author {
                display: block!important;
                float: none;
                position: absolute!important;
                right: 5px;
                font-size: 0.8em;
                top: -20px;
                margin: 0 0 0.625em;
                .live-avatar-wrapper {
                    display: none;
                }
                a {
                    color: #777;
                }
            }
            time {
                color: #000!important;
                font-weight: 700;
            }
            .profileImage {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .ygg-base-article {
        .shortnews {
            margin-top: 2.5rem;
            
            .twitter-tweet
                { 
                    width: 100% !important;
                }
    
            h2.deeplink-header {
                margin-left: -15px;
                margin-bottom: 3rem;
                text-align: center;
            }
    
            article.live-post {
                padding-bottom: 2.5rem;
                margin-bottom: 1.7rem;
                &:nth-last-child(1) {
                    padding-bottom: 0;
                }
    
                .article.news {
                    display: block;
                    .media {
                        overflow: hidden;
                        position: static;
                        flex: 0 0 100%;
        
                        a {
                            color: ygg-color(primary);
                            text-decoration: underline;
                        }
                        img {
                            width: 100% !important;
                        }
                    }
        
                    .inner {
                        flex: 0 0 calc(100% - 160px);
                    }
                }
                &.luckyfirst {
                    .live-post-header {
                        padding-right: 0em;
                    }
                    time {
                        span.time {
                            top: -20px !important;
                        }
                    }
    
                }
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    position: absolute;
                    top: -5px;
                    left: 1px;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: top 0.3s 0;
                }
                
                .live-post-header {
                    padding-right: 1em;
                    &::after {
                        right: auto;
                        left: -5px;
                        top: -21px;
                    }
                    .dateline {
                        position: absolute;
                        top: -25px;
                        left: -15px;
                    }
                    time {
                        position: relative;
                        font-size: 0.9em;
                        span {
                            position: absolute;
                            top: -21px;
                            left: 18px;
                        }
                        .label {
                            display: none;
                        }
                        .date-remark {
                            top: -20px;
                            white-space: nowrap;
                            left: 60px; 
                            &::before {
                                content: " – ";
                            }
                        }
                        
                    }
                }
                
                .live-content {
                    background: #fff;
                    padding: 1rem;
                    width: 100%;
                }
                &.live-post-post { 
                    .live-content h1 {
                    font-size: 2em;
                    }
     
                }
                
                
            }
        }
    }
    
  }

  // Style for shortnews-box for frontpage. 

  .shortnews-newsbox {
      background: #FFF;

      .article {
          &:nth-last-child(1) {
                border-bottom: none;
            }
      }
      .content {
          padding: 1rem;
            margin-top: 0 !important;
            &::before {
                display: none !important;
            }
      }
      &.mostread {
          ul {
              li {
                padding: 0.8em 0;
                border-bottom: 1px solid #e2e2e2;
                  a {
                    color: ygg-color(black);
                    font-family: ygg-font(headline);
                    line-height: 1.4em;
                    &::before {
                        content: "";
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background: ygg-color(primary);
                        display: inline-block;
                        margin-right: 0.333em;
                        margin-bottom: 0.03em;
                    }
                  }
              }
          }
      }

    .header {
        font-size: 1em;
        border-bottom: 1px solid #e2e2e2;
        font-family: ygg-font(headline);
        font-weight: bold;
        display: block;
        position: relative;
        padding: 1rem;

            &::before {
                content: "";
                display: block;
                position: absolute;
                background: ygg-color(primary);
                top: -2px;
                left: 0;
                right: 0;
                height: 4px;
            }
         
    }

    ul {
        list-style: none;
        li {
            &:nth-last-child() {
                border-bottom: none;
            }
            /* padding: 0 0.8em; */

            .shortnews-article {
                padding: 0.8em 0;
                border-bottom: 1px solid #e2e2e2;

            a {
                color: #101010;
                text-decoration: none;
                h3 {
                    font-family: ygg-font(headline);
                    line-height: 1.4em;
                }
            }

            time {
                display: block;
                margin-bottom: 0.3rem;
                font-weight: 400;
                font-size: 0.8em;
                color: ygg-color(gray);

                &::before {
                    content: "";
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    background: ygg-color(primary);
                    display: inline-block;
                    margin-right: 0.333em;
                    margin-bottom: 0.03em;
                }
            }
        }
        }
    }
}