.media.video {
	font-family: ygg-font(system);
	position: relative;
}

.media.video .vplayer {
	height: 0;
	padding-top: percentage(9/16); // 16:9 ratio padding
	position: relative;
}

.media.video .jwplayer {
	position: absolute;
	top: 0;
}

.jw-error {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.jw-error.jw-title {
	height: 100%;
}

.media.video iframe,
.media.video .video-poster {
	background-color: ygg-color(black);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.media.video .video-poster::before {
	width: 64px;
	height: 64px;
	background-color: ygg-color(white);
	border: 4pc solid ygg-color(primary);
	border-radius: 50%;
	font-size: 9px;
	text-align: center;
	line-height: 64px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.jw-skin-svp-default.jw-skin-seven .jw-display-icon-container{
	background: ygg-color(primary) !important;
}

.jw-skin-svp-default.jw-skin-seven .jw-button-color:hover {
	color: ygg-color(gray-light) !important;
}

.jw-skin-svp-default.jw-skin-seven  .jw-button-color:hover:before {
	text-shadow: 0 0 10px ygg-color(gray-light) !important;
}

.pulse-play-button::before {
	background: ygg-color(primary) !important;
	width: 64px !important;
	height: 64px !important;
	font-size: 2vw !important;
	line-height: 64px !important;
	padding: 1vw !important;
}

.jw-skin-svp-default.jw-skin-seven .jw-progress {
	background: ygg-color(primary);
}

// Error handling
.jw-error,
.jw-state-error {
	background: linear-gradient(to top, #232526, #414345);
}

.svp-player-error {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: linear-gradient(to top, #232526, #414345);
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.svp-player-poster {
		left: -5px;
		top: -5px;
		right: -5px;
		bottom: -5px;
		filter: blur(2px);
	}

	.svp-player-message {
		height: 100%;
	}

	.svp-player-message:before {
		content: "!";
		display: inline-block;
		width: 33px;
		height: 33px;
		line-height: 30px;
		font-size: 25px;
		text-align: center;
		border-radius: 100%;
		border: solid 2px #fff;
		box-sizing: border-box;
		text-indent: -1px;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		left: 20px;
	}

	&.svp-player-error-hasImage .svp-player-message {
		background: rgba(99, 99, 99, 0.5);
	}

	.jw-preview {
		display: none !important;
	}
}

.jw-error .jw-title,
.jw-error .jw-icon-container,
.jw-state-error .jw-title,
.jw-state-error .jw-icon-container,
.svp-player-error .jw-controls,
.svp-player-error .pulse-adplayer-skin {
	display: none;
}
