<svg style="display:none;">
    <symbol id="ygg-logo">
    <style>
        .cls-1{fill:#fff;}
    </style>
    <path class="cls-1" d="M170.3,26.2h-6.5V18.8H152.2v7.4h-8.8L161.1.9H148.4L128.9,28v8h22.9v8.3h12V36h6.5Zm-62.2,8.3,8.1-7.5c6.2-5.7,7.4-9.6,7.4-13.8,0-8.1-6.9-13.2-16.8-13.2s-14.7,3.6-18,9.1l9.1,5a8.8,8.8,0,0,1,7.7-4.2c3.8,0,5.6,1.7,5.6,4.5s-.5,3.8-3.9,7L91,36.6v7.7h33.8V34.5ZM60.4,44.3H72.7V10.6H86V.9H47.1v9.7H60.4ZM29.3.9V24L10.1.9H0V44.3H12V21.1L31.2,44.3H41.3V.9Z"/>
    </symbol>
</svg>

<a href="http://www.nt24.no/">
    <svg class="logo" viewBox="0 0 170.2 44" preserveAspectRatio="xMinYMid">
        <use xlink:href="#ygg-logo" x="0" y="0" />
    </svg>
</a>