.ygg-tax-front {
	@include ygg-card(padding);

	.tax-header {
		@include ygg-card-header(big, nested);
		background-color: ygg-color(black);

		a {
			color: ygg-color(white);
		}

		.title {
			font-size: u(1.5);
		}

		.subtitle,
		.tax-year {
			font-size: u(1);
			color: ygg-color(gray);
		}
	}

	.taxSearch > * + * {
		margin-top: ygg-space(stack);
	}

	.label {
		display: block;
		margin-top: ygg-space(stack);
	}

	.labelText {
		@include ygg-small-text;
		display: block;
	}

	.select {
		@include ygg-input(select);
	}

	.tax-footer {
		text-align: center;
	}

	.button {
		@include ygg-button;
	}

	// Because override in article body text (HTML hack)
	.ygg-base-article .article-body .body & {
		.tax-header a {
			color: #fff;
			text-decoration: none;
		}

		.button {
			color: #fff;
			text-decoration: none;
		}
	}
}
