// Title
.taxCode h1 {
	@include ygg-heading(big);
	margin-top: u(2);
	margin-bottom: u(2);
}


// Tabs navigation
.taxTabs {
	@include only(mobile) {
		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
	}

	.tabs {
		border-bottom: 4px solid ygg-color(black);
		display: flex;
		align-content: stretch;

		li {
			display: flex;
			flex: 1 0 calc(#{percentage(1/3)} - #{u(1/4)});
			margin-left: u(1/4);
			position: relative;

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			background-color: ygg-color(gray);
			color: #fff;
			display: block;
			width: 100%;
			font-size: u(7/8);
			font-weight: bold;
			margin-bottom: u(1/4);
			padding: ygg-space(y-small) ygg-space(x-small);
			text-transform: uppercase;
		}

		.current a {
			background-color: ygg-color(primary);
			margin-bottom: 0;
		}
	}
}


// Tables
.tabPanes {
	@include ygg-card(padding);

	@include only(mobile) {
		margin-right: -#{ygg-space(gutter)};
		margin-left: -#{ygg-space(gutter)};
	}
}

.taxTable,
tbody {
	display: block;
}

.taxTable {
	a {
		color: ygg-color(black);
	}

	tr:first-child {
		height: 0px;
		overflow: hidden;
		padding: 0;
		border: none;
	}

	tr {
		display: block;
		position: relative;
		padding: 0.5rem 0 0.5rem 2rem;
		border-bottom: 1px solid ygg-color(gray-light);

		@include only(mobile) {
			margin-right: -#{ygg-space(gutter)};
		}
	}

	tr:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	tr:nth-of-type(odd) {
		background: ygg-color(background);
	}

	td {
		display: inline;
	}

	.index {
		font-size: u(6/8);
		color: ygg-color(gray);
		position: absolute;
		left: calc(#{ygg-space(gutter)} - 0.5em);
		top: u(7/8);
	}

	.name {
		line-height: 1.5;
		font-weight: bold;
		margin-right: ygg-space(x-small);
	}

	.birth {
		color: ygg-color(gray);
		white-space: pre;

		&::before {
			content: "(";
		}

		&::after {
			content: ") \A";
		}
	}

	.income:before {
		content: "\A";
	}

	.income:before,
	.wealth:before,
	.tax:before,
	.municipal:before {
		color: ygg-color(gray);
		display: inline-block;
		float: left;
		font-size: u(6/8);
		text-align: left;
		text-transform: uppercase;
		width: 5rem;
	}

	.income:before {
		content: "Inntekt";
	}

	.wealth:before {
		content: "Formue";
	}

	.tax:before {
		content: "Skatt";
	}

	.municipal:before {
		content: "Bosted";
	}


	.income,
	.wealth,
	.tax,
	.municipal {
		line-height: 1.5rem;
		display: block;
		text-align: right;
		width: 90%;
		border-top: 1px solid ygg-color(gray-light);
	}

	.income {
		border-top: 0;
	}
}

// Toggle more names
.taxTabs .tableNav {
	border-bottom: 2px solid #f1f1f1;
	margin-bottom: ygg-space(stack);
	padding-top: ygg-space(y);
	padding-bottom: ygg-space(y);
	text-align: center;

	&:empty {
		padding: 0;
		border-bottom: 0 none;
	}

	a {
		@include ygg-button(default, primary);
	}
}


// Counties and municipals
.taxCounties {
	h2 {
		@include ygg-heading(big);
		margin-top: u(2);
		margin-bottom: u(2);
	}


	// Counties
	.counties {
		margin-bottom: ygg-space(stack);
	}

	.counties h3 {
		@include ygg-heading(medium);
		margin-bottom: ygg-space(stack);

		a {
			color: inherit;
		}
	}

	.counties > li + li {
		margin-top: ygg-space(stack);
	}


	// Toggle more counties
	.toggleCounties {
		@include ygg-button(default, primary);
		margin-bottom: u(2);
	}

	.countyMenu {
		margin-top: u(2);
		display: flex;
		flex-wrap: wrap;
		line-height: 1.5;

		li {
			margin-right: u(1/2);
			margin-bottom: u(1/2);
		}

		a {
			@include ygg-button(pill, black);
			font-weight: 700;
		}
	}

	// Municipals within each county
	.counties .municipals {
		display: flex;
		flex-wrap: wrap;
		line-height: 1.5;
	}

	.counties .municipals li {
		flex: 1 0 50%;

		&::before {
			content: "";
			width: u(1/4);
			height: u(1/4);
			background-color: ygg-color(gray);
			display: inline-block;
			margin-right: ygg-space(x-small);
			vertical-align: middle;
		}

		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}
