<svg style="display:none;">
	<symbol id="ygg-logo">
		<style type="text/css">
			.st0 { fill: #ffffff; }
		</style>

		<path class="st0" d="M86.3,27c-4.1,6.4-10.8,16.5-10.8,16.5c-2.9,2.3-8.5-0.6-8.6-4.6c-0.1-3.5,4.6-10,1.7-12.4 c-3.8-3.2-13.8-4-21.3-0.7c-3.9,2.3-8.7,6.1-9.3,12c-0.1,7.1,0.1,18,4.4,21.3C48.9,63,61,44.5,68.6,48.7c5.3,3.2-2.9,13-4.2,19.6 c-1.6,6.1-3.9,18-7,17.3C51.9,83.9,49,75.2,43,74.4c-6.5,2.7-5.5,8.9-4.4,19.3c2.4,9.2,13.9,6.8,18.4,11.3c1.8,1.8,3.1,5.3,1.3,10.4 c-4.8,7.5-15.3-1.3-23.3-1.6c-11.7-0.6-28.2,8.1-33.1,3.5c-2.1-3.5-2.1-7.2,0.5-10.4c7-5.1,10.7-12.5,12.5-20.9 c1.7-12.4,1.5-26.5,0.5-39.3c-0.3-3.6-0.2-6.5-1.4-9.8C10.6,31.4-5.1,22.7,1.7,14.5c0.7-1.2,1.6-1.9,3.2-2.5 c3.3-2.5,46.2,0.4,71.2-2.5c3.8-0.9,8-7.4,13.3-9.2c4.7-1.8,12.3,5.7,9.1,10.3C98.5,10.6,90.2,20.9,86.3,27z"/>
		<path class="st0" d="M157.7,28.6c-2.6-2.2-5.6-5.1-5.6-8.4c2.9-13.1,23.4-7.5,35.2-9.6c3.5-0.6,7.5,1.2,9.1,5 c1.9,11.8-12.8,13.6-15.5,23.9c-5.1,22.1-8.6,50,10.4,62.5c6,4,13.5-3.5,16-10c7.1-18.6,8.7-47.7-4-63.3c-1.6-2-4.1-3.5-5.1-6.1 c-0.8-8.7,3.3-10.6,8.7-10.9c5.8-0.3,12.4,0.3,17.4-1.2c3.9-1.2,7.5-2.4,10.9,0c0,0,4.4,2.8,3.6,6.9c-0.6,3-5.5,5.9-8.4,10.6 c-1.5,2.4-1.2,4.4-1,5.3c0.3,1.5,0.7,2.9,2.1,6.7c5.3,14.1,14.6,46.7-1.8,62.1c-12.3,11.8-27.2,18.3-43.8,16.2 c-27.2-3.4-35.2-22.4-36.3-28.3c-2.1-21.8,8.4-34.2,11.5-54.9C162,32.6,159.7,30.4,157.7,28.6z"/>
		<path class="st0" d="M151.3,19.3c0,0-4.7,5.8-7.9,9.6c-1.1,1.3-1.6,3.2-2,3.8c-0.7,1.1-1.5,58.4-7,70.1c-5,10.7-15,13.7-24.9,14.3 c0,0-3.9,0.3-7.8-1.4c-4.7-2-4.8,0.2-4.8,0.2c0.2,1.9,1.4,5.3,1.4,7.8c0.1,3.5-1.1,6.8-4.5,7.9c0,0-4.3,1.4-6.7-3.5 c-1.6-3.3-10.8-27.4-13.7-43.8c-0.8-3.3,2.6-6.1,4.7-6.6c6.5-1.3,10.8,12.5,18.4,18c2.3,2.6,7.2,3.7,9.8,2.7 c11.2-6.6,7.3-22.5,8.1-35.2l-3-33.7c-0.3-3.9-14.5-7.2-9.8-15.7c1.4-2.3,4.4-3.2,8.2-3.3c11.6,1.2,19.4,1.9,30.9-0.6 c4.2-0.7,9.4-0.6,11.2,4C152.1,15.2,151.7,18.2,151.3,19.3z"/>
		<path class="st0" d="M412.5,21.6c0.1-0.8,0.5-2.8,1.2-5.5c1.1-4,6.8-7.3,9.5-5.3c4.4,2.6,7.8,11,11.1,17 c5.3,9.7,10.6,19.4,17.1,28.6c4.7,6.6,6.4,9.1,11.2,14.3c1.7,1.9,2.9,0.4,3.5-2c1.2-4,1.3-8.2,1.5-12.8c0.3-7.2-0.1-15.7-1.9-22.7 c-3.3-6.5-14.4-6.3-20.5-9.2c-2.5-1.2-4-4.1-3.1-9c0.4-1.7,1.6-4,3.7-4.8c1.7-0.4,3.5-0.2,4.9-0.1c15.6,1.3,24.1,2.1,42.8-2.3 c2.6-0.4,4.7,2.3,5.5,4.9c2.1,6.3-4,8.8-7.4,11c-3.5,1.9-6.9,3.3-8.5,9.5c-1.9,14.9-1.5,29.9-1.7,45.1c-0.1,8.1-0.2,16.2-1.1,24.4 c-1,4.9-4,9.1-8.7,10c-2.6,0.1-5.7-0.7-7.7-2.2c-15.1-8.3-23.3-23.2-35.2-38.3c-2.1-2.3-2.3-0.4-2.3,1.3c-0.6,6.9-0.5,14.1,0.2,21.8 c3.4,11,24,0,19.3,17.3c-7,9.5-17.3-0.1-26.5,1c-8.6,0.9-23.6,5.1-25.8,1.3c-2.3-3.9-0.3-6.5,1-8.3c1.2-1.9,13.8-9.3,15.6-14.7 C414.7,69.4,408.7,43.6,412.5,21.6"/>
		<path class="st0" d="M343.8,101c-6.3-6.4-18.9-18.2-20.5-28.5c-2.6-19.3,11.5-38.9,24.8-52.2c0,0,5.9-5.3,10.5-8.3 c4.2-2.8,7.3-3.8,7.3-3.8c6.5-2.5,13.3,1.8,18.3,5.7c3.2,1.9,5.8,0.9,8.5-2.3c3.9-3.8,7.3-10.4,14.3-8.4c6.4,5,1.8,12.3-0.4,16.3 c-4.7,7.8-12.9,18.5-16.3,19.2c-5.4,0.8-7.1-5-9.6-9.2c-1.3-1.7-2.1-2.7-4.6-4.2c-5.2-2.9-11,1.4-13.9,4.5c-3.4,4.7-8.1,11.9-8.1,20 c0.1,3.5,2.4,6.6,5.5,8.4c10.4,1.3,9.9-12.2,15.3-17c2.1-2,4.4-3.2,8-1.1c4.3,4.8,2.1,10.3,0.9,16c-0.8,3.7-0.5,7.2,0.9,11.1 c1.3,3.4,1.3,7.8,0.5,11c-1.3,2.6-3.3,3.5-6.7,2.6c-5.9-3.3-10.4-8.2-17.7-8.2c-4.6-0.4-7.2,8.5-4.8,14c1,4.6,4.4,9.8,8.6,11.8 c14.7,3.7,19.5-15.8,30.8-18.5c1.1-0.3,3-0.4,3.8,1.3c1.8,3.9-1.3,8.7-3.6,12.8c-2.3,4.1-4.8,7.8-6.4,10.9 c-3.7,7.3-9.5,22.8-13.8,24.1c-3.3,1-5.6,1-7.6-1.4c-2-2.5,0.3-8.7,1.3-12.4C360.1,115.7,350.1,107.4,343.8,101z"/>
		<path class="st0" d="M339.3,7.2c-11.5,1.5-22.3,4.4-34.3,3.1c-1.9-0.4-5.3-1.2-7.7-1.1c-4.4,1.2-6.3,6.9-5.5,11 c1.8,2.9,3.4,2.9,5.5,4.9c1.3,1.9,0.9,4.2-0.3,6.2c-3.3,6.2-9.6,15.3-18.1,19.6c-1.2,0.9-3.1,1.2-4.8-0.1c-1.2-2.3-1-8.7-0.5-13.7 c0.2-2.3,0.6-4.6,1.2-6.5c0.7-2,0.9-3.1,2.7-3.8c6.5-2.9,13.1-2.3,12.1-11.5c-1.3-3.2-3.4-4.5-5.9-4.8c-4.6-0.6-9.8,1.5-15.1,1.9 c-6.7,0.6-12.3-1.5-17.3-0.7c-2.5,0.4-4.7,1.9-6.6,6.2c-0.3,1.7-0.1,3.4,0.5,4.3c8.4,8.7,4.2,23.4,6.3,35.5l0,33.7 c-2.6,9.8-13.3,8.4-18.3,15.3c-2,3-0.8,9.7,3.8,9.1c15.7-2.3,27.5,0.8,46.5,0.2c6.7-0.2,7.3-5,7.7-7.7c0.3-1.8-0.2-3.8-0.3-5.6 c10.4,8.9,23.1,17,37.2,11.8c4.4-1.7,11.1-7.9,7.7-12.7c-3.4-4.7-9.8-0.3-14.4-3.7c-11.2-8.3-18.6-31.5-32.3-34.3 c13.3-6.2,30.6-34.6,38.5-38.9c2.4-1.6,5.5-2.7,8.6-3.9c2.1-0.2,4.3-0.9,6.4-4.9C345.9,11,341.7,7.6,339.3,7.2z M287.9,99.5 c0,0-3.5-1.3-8.3-2c-2.6-0.6-4.2-1.9-5.1-3.6c-1.4-3.8-1.3-9-0.8-12.9C273.6,81.1,280.3,90.4,287.9,99.5z"/>
	</symbol>
</svg>
