// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #e10031,
	);

// Local settings
$pub-settings: (
	ygg-paid-icon-enabled: false
	);

// Local teaser styles
$pub-teasers:(
	"naBlå":(
		background:       #4766ae,
		header:           scale-color(#4766ae, $lightness: -10%),
		header-text:      #fff,
		headline:         #fff,
		kicker:           #fff,
		lead:             #fff,
		),
	"naLysBlå":(
		background:       #dee9f4,
		header:           scale-color(#dee9f4, $lightness: 10%),
		),
	"naOrange":(
		background:       #eeb960,
		header:           scale-color(#eeb960, $lightness: 10%)
		),
	"naLilla":(
		background:       #aea4b7,
		header:           scale-color(#aea4b7, $lightness: 10%)
		),
	"naGrønn":(
		background:       #9fc992,
		header:           scale-color(#9fc992, $lightness: 10%)
		)
	);
