/*
Publico Text
- Roman
- Italic
- Semibold
- Semibold italic
- Bold
- Bold italic

Publico Headline
- Extrabold
- Extrabold italic
*/

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Roman.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Roman.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Italic.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Italic.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Semibold.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Semibold.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-SemiboldItalic.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-SemiboldItalic.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Bold.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-Bold.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: PublicoText;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-BoldItalic.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoText-BoldItalic.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: PublicoHeadline;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoHeadline-Extrabold.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoHeadline-Extrabold.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: PublicoHeadline;
    src: url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoHeadline-ExtraboldItalic.woff") format("woff"),
    url("https://static.polarismedia.no/skins/prod/publication/smp/fonts/Publico/PublicoHeadline-ExtraboldItalic.woff2") format("woff2");
    font-display: fallback;
    font-stretch: normal;
    font-style: italic;
    font-weight: 800;
}
