// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #004f9f,
	);

// Local settings
$pub-settings: (
    ygg-fonts-enabled: false,
    ygg-feature-fonts-enabled: false,
    );

// Local fonts
$pub-fonts: (
	headline: #{PublicoText, serif},
    copy: #{PublicoText, "Times New Roman", Times, serif},
	feature-headline: #{PublicoHeadline, serif},
	);

// Local article heading overrides
$pub-headings: (
	mobile:(
		article:(
			letter-spacing: 0,
            ),
        feature:(
            font-family: #{PublicoHeadline, serif},
            font-weight: 800,
            text-align: center,
            ),
		big:(
			letter-spacing: 0,
			),
		medium:(
			letter-spacing: 0,
			),
		small:(
			letter-spacing: 0,
			),
		),
	desktop:(
		article:(
			letter-spacing: 0,
            ),
        feature:(
            font-family: #{PublicoHeadline, serif},
            font-weight: 800,
            text-align: left,
            ),
		big:(
			letter-spacing: 0,
			),
		medium:(
			letter-spacing: 0,
			),
		small:(
			letter-spacing: 0,
			),
		),
    );

$pub-leads:(
    mobile:(
        feature:(
            font-family: #{PublicoText, serif},
            font-style: italic,
            font-weight: 600,
        )
    ),
    desktop:(
        feature:(
            font-family: #{PublicoText, serif},
            font-style: italic,
            font-weight: 600,
        )
    )
);


// Mindre linjeavstand i meny

.ygg-modal .menu-secondary .menu-item {
    line-height: 1 !important;
}