// Local settings and overrides
// Match structures with Yggdrasil _variables.scss

// Local colors
$pub-colors: (
	primary: #007dc5,
	);

// Local settings
$pub-settings: (
	ygg-header-default: false,
	ygg-footer-default: false,
	ygg-lead-front-enabled: true,
	ygg-lead-section-enabled: true,
	ygg-header-logo-enlarge: true
	);
