.ygg-sc-master .article,
.article.kjoptogbetalt,
.sc-section-grid .article.external {
    background-color: scale-color(ygg-color(native-ad-label), $lightness: 80%) !important;

    .polarisStories & .text {
        padding-right: ygg-space(x) !important;
        padding-left: ygg-space(x) !important;
    }

    .kicker,
    .headline,
    .lead {
        font-family: ygg-font(system) !important; // != Editorial font
    }

    // Label all articles with "Annonsørinnhold"
    .media::before {
        content: "Annonsørinnhold";
        background-color: ygg-color(native-ad-label);
        color: ygg-color(white);
        font-size: u(6/8);
        font-weight: 700;
        line-height: 1.5;
        padding: 0 u(1/4);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        // Smaller label on medium sized articles
        .medium & {
            font-size: u(5/8);
            padding: 0;
            left: 0;
            text-align: right;
            transform: none;
        }
    }
}

.ygg-sc-master .polarisStories .text,
.sc-section-grid .article.external .text {
    padding-right: ygg-space(x) !important;
    padding-left: ygg-space(x) !important;
}
