// Master floor
.ygg-sc-master {
	padding: 0;

	// Change kicker color
	.polarisStories.front .kicker {
		color: ygg-color(native-ad);
	}

	.sectionHeader {
		background: #fff;
		border-bottom: 4px solid ygg-color(native-ad-label);
		color: ygg-color(native-ad);
		padding: ygg-space(y-small) ygg-space(gutter);
	}
}
