.ygg-sc-recentlist {
	background-color: ygg-color(native-ad-background);
	align-content: flex-start;
	display: flex;
	flex-flow: column wrap;
	padding-top: u(2) !important;

	@include only(desktop) {
		height: 10em;
	}

	@include only(mobile) {
		padding-bottom: u(2);
	}

	.header {
		@include ygg-button(default, native-ad-label);
		background-color: ygg-color(native-ad-label);
		color: ygg-color(white);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;

		@include only(desktop) {
			padding: 0 ygg-space(x-small);
		}

		@include only(mobile) {
			padding: 0 ygg-space(gutter);
		}
	}

	.article {
		position: relative;

		@include only(desktop) {
			margin: 0 ygg-space(x);
			width: calc(100% / 3 - (#{ygg-space(x) * 2}));
		}

		@include only(mobile) {
			margin: 0 ygg-space(gutter);
			width: auto;
		}
	}

	.kicker {
		display: none !important;
	}

	.headline span[class*="t"] {
		font-size: u(1) !important;
	}

	.headline a {
		color: ygg-color(native-ad);
		border-bottom: 1px solid ygg-color(native-ad-label);
		padding: u(1/2) 0;
		display: block;
		padding-left: ygg-space(x);
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;

		&::before {
			content: "\25a0";
			background-color: transparent;
			color: ygg-color(native-ad-label);
			font-size: 0.5em;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover {
			color: ygg-color(native-ad-label);
		}
	}
}

